<div class="grid-row row-content">
  <section>
    <h2><%= current_user.provider_id %> Service Option Assignments</h2>

    <%= form_tag(service_option_assignments_path, method: :delete, class: "service-option-assignment-form", id: "delete-service-option-assignments-form") do %>
      <fieldset>
        <table id="service-option-assignments" class="tablesorter">
          <thead>
            <tr>
              <th class="align-c"><input type="checkbox" name="checkall" class="checkall" data-group="service_option_assignment[]" /></th>
              <th>Service Implementation</th>
              <th>Collection</th>
              <th>Short Name</th>
              <th>Version ID</th>
              <th>Granules Only?</th>
              <th>Service Option</th>
            </tr>
          </thead>
          <tbody>
            <% if @assignments.any? %>
              <% @assignments.each do |assignment| %>
                <tr>
                  <td class="align-c">
                    <%= check_box_tag('service_option_assignment[]', assignment.fetch('Guid'), false, id: "service_option_assignment_#{assignment.fetch('Guid')}") %>
                  </td>
                  <td><%= link_to assignment.fetch('ServiceEntry', {})['Name'], service_entry_path(assignment['ServiceEntryGuid']), target: '_blank' %></td>
                  <td>
                    <%= link_to assignment.fetch('CatalogItem', {}).fetch('umm', {}).fetch('entry-title', ''), collection_path(assignment.fetch('CatalogItem', {}).fetch('meta', {}).fetch('concept-id', nil)), target: '_blank' %>
                  </td>
                  <td><%= assignment.fetch('CatalogItem', {}).fetch('umm', {}).fetch('short-name', '') %></td>
                  <td><%= assignment.fetch('CatalogItem', {}).fetch('umm', {}).fetch('version-id', '') %></td>
                  <td><%= assignment['AppliesOnlyToGranules'] == 'true' ? 'Yes' : 'No' %></td>
                  <td><%= link_to assignment.fetch('ServiceOption', {})['Name'], service_option_path(assignment['ServiceOptionDefinitionGuid']), target: '_blank' %></td>
                </tr>
              <% end %>
            <% else %>
              <tr class="no-assignments-message">
                <td colspan="7">No assignments found for the selected service entries.</td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="7">Select one or more service option assignments.</th>
            </tr>
          </tfoot>
        </table>
      </fieldset>

      <% if policy(:service_option_assignment).destroy? %>
      <fieldset>
        <%= link_to 'Delete Selected Assignments', '#delete-assignments-modal', class: 'eui-btn eui-btn--red display-modal' %>

        <div id='delete-assignments-modal' class="eui-modal-content">
          <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
          <p>Are you sure you want to delete the selected service option assignments?</p>
          <p>
            <a href="javascript:void(0)" class="eui-btn modal-close">No</a>
            <%= submit_tag 'Yes', class: 'eui-btn--blue spinner'%>
          </p>
        </div>
      </fieldset>
      <% end %>

    <% end %>
  </section>
</div>
