<div class="row row-content">
  <section>
    <h2><%= current_user.provider_id %> Service Option Assignments</h2>

    <%= form_tag(service_option_assignments_path, method: :delete, class: "service-option-form", id: "delete-service-option-assignments-form") do %>
      <fieldset>
        <table id="service-option-assignments">
          <thead>
            <tr>
              <th>Service Implementation</th>
              <th>Collection</th>
              <th>Short Name</th>
              <th>Version ID</th>
              <th>Granules Only?</th>
              <th>Option Definition</th>
            </tr>
          </thead>
          <tbody>
            <% if @assignments.any? %>
              <% @assignments.each do |assignment| %>
                <tr>
                  <td><%= link_to assignment.fetch('ServiceEntry', {})['Name'], service_entry_path(assignment['ServiceEntryGuid']), target: '_blank' %></td>
                  <% if assignment['CatalogItem'] %>
                  <td>
                    <%= link_to assignment.fetch('CatalogItem', {}).fetch('umm', {}).fetch('entry-title', ''), collection_path(assignment.fetch('CatalogItem', {}).fetch('meta', {}).fetch('concept-id', nil)), target: '_blank' %>
                  </td>
                  <td><%= assignment.fetch('CatalogItem', {}).fetch('umm', {}).fetch('short-name', '') %></td>
                  <td><%= assignment.fetch('CatalogItem', {}).fetch('umm', {}).fetch('version-id', '') %></td>
                  <% else %>
                  <td colspan=3><%= assignment['CatalogItemGuid'] %></td>
                  <% end %>
                  <td><%= assignment['AppliesOnlyToGranules'] == 'true' ? 'Yes' : 'No' %></td>
                  <td><%= link_to assignment.fetch('ServiceOption', {})['Name'], service_option_path(assignment['ServiceOptionDefinitionGuid']), target: '_blank' %></td>
                </tr>
              <% end %>
            <% else %>
              <tr class="no-assignments-message">
                <td colspan="6">No assignments found for the selected service entries.</td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="6">Select one or more service entries.</th>
            </tr>
          </tfoot>
        </table>
      </fieldset>
    <% end %>
  </section>
</div>
