<main class="internal">
  <header>
    <div class="content">
      <div class="breadcrumb">
        <ol>
          <li><%= link_to 'Dashboard', dashboard_path %></li>
          <li><%= link_to @collection['EntryTitle'] || 'New Collection', collection_path %></li>
          <li>Revision History</li>
        </ol>
      </div>
      <h2><%= @collection['EntryTitle'] || 'New Collection' %></h2>
    </div>
  </header>
  <div class="row row-content">
    <section class="heading-group">
      <h3>Revision History</h3>
      <p>
        <button type="button" name="button" class="btn disabled">Compare Revisions</button>
      </p>
    </section>
    <% if @error %>
      <section class="errors">
        <div class="banner banner-danger">
          <i class="fa fa-exclamation-triangle"></i> This collection could not be updated. You may <%= link_to 'edit', edit_collection_path(revision_id: @revision_id) %> the collection to resolve these issues.
        </div>
      </section>
    <% end %>
    <div class="row">
      <section>
        <table>
          <thead>
          <tr>
            <th>Description</th>
            <th>Revision Date</th>
            <th>Action by</th>
            <th>Review Status</th>
            <th>Quality Score</th>
            <th>Revision Notes</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
            <% @revisions.each_with_index do |revision, index| %>
              <tr class='<%= cycle("alt", "") %>'>
                <td>
                  <%= revision['meta']['revision-id'] %> -
                  <% if revision['meta']['deleted'] == true %>
                    Deleted
                  <% elsif index == 0 %>
                    Published
                    <%= link_to 'View', collection_path(revision_id: revision['meta']['revision-id']) %>
                  <% else %>
                    Revision
                    <%= link_to 'View', collection_path(revision_id: revision['meta']['revision-id']) %>
                  <% end %>
                </td>
                <td>
                  <%= revision['meta']['revision-date'] %>
                </td>
                <td>
                  <%= revision['meta']['user-id'] %>
                </td>
                <td>
                  <span class="disabled">Reviewed</span>
                </td>
                <td>
                  <span class="disabled">82</span>
                </td>
                <td>
                  <!-- Revision notes -->
                </td>
                <td>
                  <% if @revisions.first['meta']['deleted'] == true %>
                    <% phrase = 'Reinstate' %>
                    <% confirm_phrase = 'Are you sure you want to reinstate this record?' %>
                  <% else %>
                    <% phrase = 'Revert to this Revision' %>
                    <% confirm_phrase = 'Are you sure you want to revert to this revision?' %>
                  <% end %>

                  <% unless index == 0 || revision['meta']['deleted'] == true %>
                    <%= link_to phrase, revert_collection_path(revision_id: revision['meta']['revision-id']), data: { confirm: confirm_phrase } %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </section>
    </div>
  </div>
</main>
