<input type='hidden' id='mmt-form-name' value='<%= @form %>'>

<% content_for :header_title do %>
  <h2><%= titleize_form_name(@form) %></h2>
<% end %>

<% if get_resource.errors.any? %>
  <section class="errors">
    <div class="eui-banner--danger">
      <div class="eui-banner__message">
        <div id="error_explanation">
          <h4><i class="fa fa-exclamation-triangle"></i> This <%="#{resource_name}".titleize.downcase %> cannot be saved because of the following errors:</h4>
          <div id="model_error_explanation">
            <% get_resource.errors.full_messages.each do |msg| %>
              <u><%= msg %></u>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>

<%= form_tag(send("#{resource_name}_path", get_resource), method: 'put', class: 'metadata-form', enforce_utf8: false) do %>
  <%= hidden_field_tag 'commit' %>

  <div class="row row-content">
    <section>
      <input type="hidden" name='new_form_name' id="new_form_name" />

      <%= render partial: 'collection_drafts/forms/form_navigation', locals: {
          location: 'top',
          draft: get_resource,
          draft_form: @form,
          draft_forms: @forms } %>

      <div class="row">
        <div class="col-6">
          <p class="eui-required-o">Indicates required field</p>
        </div>
        <!-- Expand All link -->
        <% unless DraftsHelper::SINGLE_FIELDSET_FORMS.include? @form  %>
          <div class="col-6">
            <p class="align-r">
              <a href="#" class="expand-accordions">Expand All</a>
              <a href="#" class="is-invisible collapse-accordions">Collapse All</a>
            </p>
          </div>
        <% end %>
      </div>

      <%= render partial: "collection_drafts/forms/#{@form}", locals: { draft: get_resource } %>

      <script>
        // Load json-schema for field validation
        var globalJsonSchema = <%= raw @json_schema.to_json %>;

        var urlContentTypeMap = <%= raw DraftsHelper::URLContentTypeMap.to_json %>;

        var globalTemplateNames = <%= sanitize @template_names.to_json %>;
      </script>

      <br>

      <%= render partial: 'collection_drafts/forms/form_navigation', locals: {
          location: 'bottom',
          draft: get_resource,
          draft_form: @form,
          draft_forms: @forms } %>

      <!-- Hidden link to allow modal to be shown -->
      <a href="#invalid-draft-modal" id="display-invalid-draft-modal" class="display-modal is-invisible">Invalid Draft Model</a>
      <div id="invalid-draft-modal" class="eui-modal-content">
        <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
        <p>This page has invalid data. Are you sure you want to save it and proceed?</p>
        <p>
          <a href="javascript:void(0)" id="invalid-draft-deny" class="eui-btn modal-close">No</a>
          <a href="javascript:void(0)" id="invalid-draft-accept" class="eui-btn--blue">Yes</a>
        </p>
      </div>

      <% if Rails.configuration.templates_enabled && resource_name == 'collection_template' %>
        <a href="#invalid-template-modal" id="display-invalid-template-modal" class="display-modal is-invisible">Invalid Template Modal</a>
        <div id="invalid-template-modal" class="eui-modal-content">
          <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
          <p>A template needs a unique name to be saved.</p>
        </div>
      <% end %>

    </section>
  </div>
<% end %>

<%= render partial: 'shared/help_modal' %>
