<input type='hidden' id='mmt-form-name' value='<%= @form %>'>

<% content_for :header_title do %>
  <h2><%= @form.titleize %></h2>
<% end %>

<%= render partial: 'collection_drafts/forms/model_errors' %>

<%= form_tag(send("#{plural_resource_name}_path"), method: 'post', class: 'metadata-form', enforce_utf8: false) do %>
  <%= hidden_field_tag 'commit' %>

  <% if Rails.configuration.templates_enabled && resource_name == 'collection_template' %>
    <%= hidden_field_tag 'collection_id', params[:collection_id] %>
    <%= hidden_field_tag 'origin', params[:origin] %>
    <%= hidden_field_tag 'revision_id', params[:revision_id] %>
  <% end %>

  <div class="row row-content">
    <section>

      <input type="hidden" name='new_form_name' id="new_form_name" />

      <%= render partial: 'collection_drafts/forms/form_navigation', locals: {
          location: 'top',
          unpublished_resource: get_resource,
          unpublished_resource_form: @form,
          unpublished_resource_forms: @forms } %>

      <% if Rails.configuration.templates_enabled && resource_name == 'collection_template' %>
        <h1 id="template_reminder">Collection Template</h1>
      <% end %>

      <div class="row">
        <div class="col-6">
          <p class="eui-required-o">Indicates required field</p>
        </div>
        <!-- Expand All link -->
        <% unless DraftsHelper::SINGLE_FIELDSET_FORMS.include? @form  %>
          <div class="col-6">
            <p class="align-r">
              <a href="#" class="expand-accordions">Expand All</a>
              <a href="#" class="is-invisible collapse-accordions">Collapse All</a>
            </p>
          </div>
        <% end %>
      </div>

      <%= render partial: "collection_drafts/forms/#{@form}", locals: { draft: get_resource } %>

      <%= render partial: 'collection_drafts/shared/javascript', locals: { form: @form } %>

      <br/>

      <%= render partial: 'collection_drafts/forms/form_navigation', locals: {
          location: 'bottom',
          unpublished_resource: get_resource,
          unpublished_resource_form: @form,
          unpublished_resource_forms: @forms } %>

      <!-- Hidden link to allow modal to be shown -->
      <%= render partial: 'collection_drafts/forms/invalid_draft_modal' %>

      <%= render partial: 'collection_templates/forms/invalid_template_modal' if Rails.configuration.templates_enabled && resource_name == 'collection_template' %>

    </section>
  </div>
<% end %>

<%= render partial: 'shared/help_modal' %>
