<% content_for :header_title do %>
  <h2><%= display_entry_id(get_resource.draft, resource_name) %></h2>
  <p class="subtitle"><%= display_collection_entry_title(get_resource.draft) %></p>
  <%= nrt_badge(get_resource.draft) %>
<% end %>

<% unless current_provider?(get_resource.provider_id) %>
  <div class="eui-banner--warn">
    <p class="eui-banner__message">
      <%= link_to("You need to change your current provider to #{@not_authorized_request['action']} this draft. Click here to change your provider.",
        "#", id: "change-current-provider-banner-link",
        data: { "provider": get_resource.provider_id, action_link: "change-provider-#{@not_authorized_request['action']}-draft" }) %>
    </p>
    <%= link_to 'Show Draft', collection_draft_path(get_resource),
    class: 'is-invisible', id: 'change-provider-show-draft' %>
    <%= link_to 'Edit Draft', edit_collection_draft_path(get_resource, form: @not_authorized_request['form']),
    class: 'is-invisible', id: 'change-provider-edit-draft' %>
  </div>
  <div class="no-access">
    <h3 class="access-title">Not Current Provider</h3>
    <p class="access-message">
      It appears you need to change your current provider to access to this content.<br />
      Please check the message above to access this content.
    </p>
  </div>
<% else %>
  <div class="row row-content">
    <section class="action">
      <% if get_resource.new_record? || (@errors && @errors.size > 0) %>
        <%= link_to 'Publish Collection Draft', '#invalid-draft-modal', class: 'eui-btn--blue display-modal' %>
        <div id="invalid-draft-modal" class="eui-modal-content">
          <p>This draft is not ready to be published. Please use the progress indicators on the draft preview page to address incomplete or invalid fields.</p>
          <p>
            <a href="javascript:void(0)" class="eui-btn modal-close">Ok</a>
          </p>
        </div>
      <% else %>
        <%= link_to 'Publish Collection Draft', publish_collection_draft_path(get_resource), method: :post, class: 'eui-btn--blue spinner' %>
      <% end %>
      <%= link_to 'Save As Template', '#save-as-template-modal', class: 'display-modal' if Rails.configuration.templates_enabled %>
      <%= '|' if Rails.configuration.templates_enabled %>
      <div id="save-as-template-modal", class="eui-modal-content">
        <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
        <%= form_tag(create_template_collection_draft_path(get_resource), method: :post) do %>
          <fieldset>
            <div class="row">
              <div class="col-12">
                <%= label_tag('template_name', 'Template Name') %>
                <%= text_field_tag('template[title]', nil, class: 'full-width', placeholder: 'Title') %>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <%= submit_tag 'Submit', id: 'save-as-template-button', class: 'eui-btn--blue spinner' %>
            <a href="javascript:void(0)" class="eui-btn modal-close">Cancel</a>
          </fieldset>
        <% end %>
      </div>
      <%= link_to 'Delete Collection Draft', '#delete-draft-modal', class: 'display-modal' %>
      <div id="delete-draft-modal" class="eui-modal-content">
        <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
        <p>Are you sure you want to delete this draft?</p>
        <p>
          <a href="javascript:void(0)" class="eui-btn modal-close">No</a>
          <%= link_to 'Yes', collection_draft_path(get_resource), method: :delete, class: 'eui-btn--blue spinner' %>
        </p>
      </div>
    </section>

    <% if @ingest_errors && !@ingest_errors.empty? %>
      <section class="errors">
        <div class="eui-banner--danger">
          <div class="eui-banner__message">
            <h4><i class="fa fa-exclamation-triangle"></i> This draft has the following errors:</h4>
            <ul class="no-bullet">
              <% @ingest_errors.each do |error| %>
                <li>
                  <% if error[:field] && error[:page] %>
                    <%= link_to name_to_title(error[:field]), edit_collection_draft_path(get_resource, error[:page]) %>
                  <% else %>
                    <%= "#{error[:field]}," if error[:field] %>
                  <% end %>
                  <%= error[:error] %>
                  <% if error[:request_id] %>
                    <a href="javascript:feedback.showForm({details: '\nFill in details above this line. Please try to be as specific as possible.\n--------------------\n\nRequest ID: <%= error[:request_id] %>'});">Click here to submit feedback</a>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </section>
    <% end %>

    <%= render partial: 'collection_drafts/progress/preview_progress', locals: { draft: get_resource, metadata_errors: @errors || @ingest_errors } %>

    <%= render partial: 'cmr_metadata_preview/metadata_preview', locals: { metadata: get_resource.draft, editable: true, edsc_url: nil, concept_id: nil, additional_information: nil} %>
  </div>
<% end %>
