<% unless current_provider?(get_resource.provider_id) %>
  <div class="eui-banner--warn">
    <p class="eui-banner__message">
      <%= link_to("You need to change your current provider to #{@not_authorized_request['action']} this draft. Click here to change your provider.",
        "#", id: "change-current-provider-banner-link",
        data: { "provider": get_resource.provider_id, action_link: "change-provider-#{@not_authorized_request['action']}-draft" }) %>
    </p>
    <%= link_to 'Show Draft', collection_draft_path(get_resource),
    class: 'is-invisible', id: 'change-provider-show-draft' %>
    <%= link_to 'Edit Draft', edit_collection_draft_path(get_resource, form: @not_authorized_request['form']),
    class: 'is-invisible', id: 'change-provider-edit-draft' %>
  </div>
  <div class="no-access">
    <h3 class="access-title">Not Current Provider</h3>
    <p class="access-message">
      It appears you need to change your current provider to access to this content.<br />
      Please check the message above to access this content.
    </p>
  </div>
<% else %>
  <div class="row row-content">
    <section class="action wide-content">
      <div class="wide-content-inside">
        <% if resource_name == 'collection_draft' %>
          <% if get_resource.new_record? || (@errors && @errors.size > 0) %>
            <% if @is_revision %>
              <%# is a revision, and there are errors %>
              <%= link_to 'Publish Collection Draft', '#check-cmr-validation-draft-modal', class: 'eui-btn--blue display-modal', id: 'check-cmr-validation-button' %>
              <div id="check-cmr-validation-draft-modal" class="eui-modal-content">
                <p>
                  <span class="check-cmr-validation-text">
                  </span>
                </p>
                <p>
                  <a href="javascript:void(0)" class="eui-btn modal-close">Ok</a>
                  <%= link_to 'Yes, Publish Collection Draft', publish_collection_draft_path(get_resource), method: :post, class: 'eui-btn--blue spinner is-hidden', id: 'publish-with-errors-button' %>
                </p>
              </div>
              <script type="text/javascript">
                <%# pass draft id for ajax validation call %>
                var draftId = "<%= get_resource.id %>";
              </script>
            <% else %>
              <%# is an unsaved draft or is not a revision and there are errors %>
              <%= link_to 'Publish Collection Draft', '#invalid-draft-modal', class: 'eui-btn--blue display-modal' %>
              <div id="invalid-draft-modal" class="eui-modal-content">
                <p>This draft is not ready to be published. Please use the progress indicators on the draft preview page to address incomplete or invalid fields.</p>
                <p>
                  <a href="javascript:void(0)" class="eui-btn modal-close">Ok</a>
                </p>
              </div>
            <% end %>
          <% else %>
            <%# no errors %>
            <%= link_to 'Publish Collection Draft', publish_collection_draft_path(get_resource), method: :post, class: 'eui-btn--blue spinner' %>
          <% end %>
        <% elsif resource_name == 'collection_template' %>
          <%= link_to 'Create Collection Draft', create_draft_collection_template_path(get_resource), class: 'eui-btn--blue display-modal' %>
        <% end %>

        <% if Rails.configuration.templates_enabled && resource_name == 'collection_draft' %>
          <%= link_to 'Save as Template', '#new-template-modal', id: 'save_as_template_link', class: 'eui-btn--link bar-after' %>
          <%= form_tag new_from_existing_collection_template_path, method: :post, class: "template_creation_form" do %>
            <%= hidden_field_tag "collection_id", @collection_draft.id %>
            <%= hidden_field_tag "origin", "CollectionDraft" %>
            <%= submit_tag 'Save as Template', id: 'template_new_from_existing_button', class: 'draft eui-btn--blue submit' %>
          <% end %>
        <% end %>

        <%= link_to "Delete #{name_to_title(resource_name)}", "#delete-draft-modal", class: 'display-modal eui-btn--link' %>
        <div id="delete-draft-modal" class="eui-modal-content">
          <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
          <p><%= "Are you sure you want to delete this #{resource_name.humanize(capitalize: false)}?" %></p>
          <p>
            <a href="javascript:void(0)" class="eui-btn modal-close">No</a>
            <%= link_to 'Yes', send("#{resource_name}_path", get_resource), method: :delete, class: 'eui-btn--blue spinner' %>
          </p>
        </div>
      </div>
    </section>

    <% if @ingest_errors && !@ingest_errors.empty? %>
      <section class="errors">
        <div class="eui-banner--danger">
          <div class="eui-banner__message">
            <h4><i class="fa fa-exclamation-triangle"></i> This draft has the following errors:</h4>
            <ul class="no-bullet">
              <% @ingest_errors.each_with_index do |error, index| %>
                <li class="ingest-error-<%= index %>">
                  <% if error[:field] && error[:page] %>
                    <%= link_to name_to_title(error[:field].to_s), edit_collection_draft_path(get_resource, error[:page]) %>
                  <% else %>
                    <%= "#{error[:field]}," if error[:field] %>
                  <% end %>
                  <%= error[:error] %>
                  <% if error[:request_id] %>
                    <a href="javascript:feedback.showForm({details: '\nFill in details above this line. Please try to be as specific as possible.\n--------------------\n\nRequest ID: <%= error[:request_id] %>'});">Click here to submit feedback</a>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </section>
    <% end %>

    <%= render partial: 'collection_drafts/progress/preview_progress', locals: { unpublished_resource: get_resource, metadata_errors: @errors || @ingest_errors } %>

    <%= render partial: 'cmr_metadata_preview/metadata_preview', locals: { metadata: get_resource.draft, is_mmt: true, editable: true, edsc_url: nil, concept_id: nil, additional_information: { 'root_url' => root_url, 'services' => @services, 'tools' => @tools } } %>
  </div>
<% end %>
