<fieldset id="collection-information">
  <div class="eui-accordion__header">
    <h3 class="eui-accordion__title eui-icon eui-required">Collection Information</h3>
  </div>
  <div class="eui-accordion__body">
    <div class="row">
      <!-- Short Name [r] -->
      <div class="col-6">
        <%= mmt_text_field(
          name: 'short_name',
          title: 'Short Name',
          prefix: 'draft_',
          value: draft.draft['ShortName'],
          help: 'properties/ShortName',
          validate: true,
          always_required: true
         ) %>
      </div>
      <!-- Version [r] -->
      <div class="col-6">
        <%= mmt_text_field(
          name: 'version',
          title: 'Version',
          prefix: 'draft_',
          value: draft.draft['Version'],
          help: 'properties/Version',
          validate: true,
          always_required: true
         ) %>
      </div>
    </div>


    <!-- Entry Title [r] -->
    <div class="row">
      <div class="col-12">
        <%= mmt_text_field(
          name: 'entry_title',
          title: 'Entry Title',
          prefix: 'draft_',
          value: draft.draft['EntryTitle'],
          help: 'properties/EntryTitle',
          validate: true,
          always_required: true
         ) %>
      </div>
    </div>


    <!-- Abstract [r] -->
    <div class="row">
      <div class="col-12">
        <%= mmt_text_area(
          name: 'abstract',
          title: 'Abstract',
          prefix: 'draft_',
          value: draft.draft['Abstract'],
          help: 'properties/Abstract',
          validate: true,
          always_required: true
         ) %>
      </div>
    </div>


    <!-- Purpose -->
    <div class="row">
      <div class="col-12">
        <%= mmt_text_area(
          name: 'purpose',
          title: 'Purpose',
          prefix: 'draft_',
          value: draft.draft['Purpose'],
          help: 'properties/Purpose',
          validate: true
         ) %>
      </div>
    </div>


    <!-- Data language -->
    <div class="row">
      <div class="col-12">
        <%= mmt_select(
          name: 'data_language',
          title: 'Data Language',
          prefix: 'draft_',
          value: draft.draft['DataLanguage'],
          options: @language_codes,
          help: 'properties/DataLanguage'
        ) %>
      </div>
    </div>
  </div>
</fieldset>
