<fieldset>
  <h3>Collection Information</h3>
  <div class="row">
    <!-- Entry ID [r] -->
    <div class="col-6">
      <label for="draft_entry_id" class="main-field icon-required">Entry Id</label><i class="fa fa-info-circle"></i>
      <%= text_field_tag('draft[entry_id]', draft.draft['EntryId'], class: 'full-width validate') %>
    </div>
    <!-- Version -->
    <div class="col-6">
      <label for="draft_version" class="main-field">Version</label><i class="fa fa-info-circle"></i>
      <%= text_field_tag('draft[version]', draft.draft['Version'], class: 'full-width validate') %>
    </div>
  </div>


  <!-- Entry Title [r] -->
  <div class="row">
    <div class="col-12">
      <label for="draft_entry_title" class="main-field icon-required">Entry Title</label><i class="fa fa-info-circle"></i>
      <%= text_field_tag('draft[entry_title]', draft.draft['EntryTitle'], class: 'full-width validate') %>
    </div>
  </div>


  <!-- Abstract [r] -->
  <div class="row">
    <div class="col-12">
      <label for="draft_abstract" class="icon-required">Abstract</label><i class="fa fa-info-circle"></i>
      <%= text_area_tag('draft[abstract]', draft.draft['Abstract'], rows: 8, class: 'validate') %>
    </div>
  </div>


  <!-- Purpose -->
  <div class="row">
    <div class="col-12">
      <label for="draft_purpose">Purpose</label><i class="fa fa-info-circle"></i>
      <%= text_area_tag('draft[purpose]', draft.draft['Purpose'], rows: 8, class: 'validate') %>
    </div>
  </div>


  <!-- Data language -->
  <div class="row">
    <div class="col-12">
      <label for="draft_data_language">Data Language</label><i class="fa fa-info-circle"></i>
      <%= text_field_tag('draft[data_language]', draft.draft['DataLanguage'], placeholder: 'English', class: 'half-width validate') %>
    </div>
  </div>
</fieldset>

<fieldset>
  <h3 class="icon-required">Data Dates</h3>
  <!-- DataDates [r] -->
  <div class="row">
    <div class="col-12">
      <%= render partial: 'drafts/forms/type', locals: {
          type: 'date',
          values: draft.draft['DataDates'] || [{}],
          name_prefix: 'draft_|data_dates|_',
          multiple: true,
          options: {} } %>
    </div>
  </div>
</fieldset>

<fieldset>
  <h3 class="icon-required">Organizations</h3>
  <!-- Organization [r] -->
  <div class="row taller organization">
    <div class="col-12">
      <div class="row sub-fields">
        <%= render partial: 'drafts/forms/type', locals: {
            type: 'responsibility',
            values: draft.draft['Organizations'] || [{}],
            name_prefix: "draft_|organizations|_",
            multiple: true,
            options: {
              limit_type: 'organization',
              title: 'Organization'
            } } %>
      </div>
    </div>
  </div>
</fieldset>

<fieldset>
  <h3>Personnel</h3>
  <!-- Personnel -->
  <div class="row taller personnel">
    <div class="col-12">
      <div class="row sub-fields">
        <%= render partial: 'drafts/forms/type', locals: {
            type: 'responsibility',
            values: draft.draft['Personnel'] || [{}],
            name_prefix: "draft_|personnel|_",
            multiple: true,
            options: {
              limit_type: 'personnel',
              title: 'Personnel'
            } } %>
      </div>
    </div>
  </div>
</fieldset>

<fieldset>
  <h3>Collection Data Type</h3>
  <!-- Collection Data Type -->
  <div class="row">
    <div class="col-12">
      <label for="draft_collection_data_type">Collection Data Type</label><i class="fa fa-info-circle"></i>
      <%= select_tag "draft[collection_data_type]", options_for_select(DraftsHelper::CollectionDataTypeOptions, draft.draft['CollectionDataType']), class: 'half-width validate' %>
    </div>
  </div>
</fieldset>

<fieldset>
  <h3 class="icon-required">Processing Level</h3>
  <!-- Processing Level [r] -->
  <div class="row">
    <div class="col-12">

      <div class="row sub-fields">
        <div class="processing-level-fields">
          <% processing_level = draft.draft['ProcessingLevel'] || {} %>
          <label for="draft_processing_level_id">ID</label><i class="fa fa-info-circle"></i>
          <%= text_field_tag('draft[processing_level][id]', processing_level['Id'], class: 'half-width validate') %>
          <!-- ID should be dropdown with level 0, level 1a, etc. -->

          <label for="draft_processing_level_processing_level_description">Processing Level Description</label><i class="fa fa-info-circle"></i>
          <%= text_field_tag('draft[processing_level][processing_level_description]', processing_level['ProcessingLevelDescription'], class: 'half-width validate') %>
          <!-- TODO description needs stuff from Mark -->
        </div>

      </div>
    </div>
  </div>
</fieldset>

<fieldset>
  <h3>Resource Citation</h3>
  <!-- Resource Citation -->
    <!-- CollectionCitation -->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <%= render partial: 'drafts/forms/type', locals: {
            type: 'resource_citation',
            values: draft.draft['CollectionCitations'] || [{}],
            name_prefix: "draft_|collection_citations|_",
            multiple: true,
            options: {} } %>
      </div>
    </div>
  </div>
</fieldset>

<fieldset>
  <h3>Collection Progress</h3>
  <!-- Collection Progress -->
  <div class="row">
    <div class="col-12">
      <label for="draft_collection_progress">Collection Progress</label><i class="fa fa-info-circle"></i>
      <%= select_tag "draft[collection_progress]", options_for_select(DraftsHelper::CollectionProgressOptions, draft.draft['CollectionProgress']), class: 'half-width validate' %>
    </div>
  </div>
</fieldset>

<fieldset>
  <h3>Quality</h3>
  <!-- Quality -->
  <div class="row">
    <div class="col-12">
      <label for="draft_quality">Quality</label><i class="fa fa-info-circle"></i>
      <%= text_area_tag('draft[quality]', draft.draft['Quality'], rows: 8, class: 'validate') %>
    </div>
  </div>
</fieldset>

<fieldset>
  <h3>Use Constraints</h3>
  <!-- Use Constraints -->
  <div class="row">
    <div class="col-12">
      <label for="draft_use_constraints">Use Constraints</label><i class="fa fa-info-circle"></i>
      <%= text_area_tag('draft[use_constraints]', draft.draft['UseConstraints'], rows: 8, class: 'validate') %>
    </div>
  </div>
</fieldset>

<fieldset>
  <h3>Access Constraints</h3>
  <!-- Access Constraints -->
  <div class="row access-constraints">
    <div class="col-12">
      <div class="row sub-fields">
        <% access_constraints = draft.draft['AccessConstraints'] || {} %>
        <!-- Value -->
        <label for="draft_access_constraints_value">Value</label><i class="fa fa-info-circle"></i>
        <%= text_field_tag(name_to_param("draft_|access_constraints|_value"), access_constraints['Value'], class: 'half-width validate mmt-number') %>


        <!-- Description -->
        <label for="draft_access_constraints_description" class="icon-required">Description</label><i class="fa fa-info-circle"></i>
        <%= text_area_tag(name_to_param("draft_|access_constraints|_description"), access_constraints['Description'], rows: 8, class: 'validate') %>
      </div>
    </div>
  </div>
</fieldset>

<fieldset>
  <h3>Metadata Association</h3>
  <!-- Metadata Association -->
  <div class="row">
    <div class="col-12">
      <div class="row sub-fields">
        <%= render partial: 'drafts/forms/type', locals: {
            type: 'metadata_association',
            values: draft.draft['MetadataAssociations'] || [{}],
            name_prefix: "draft_|metadata_associations|_",
            multiple: true,
            options: {} } %>
      </div>
    </div>
  </div>
</fieldset>

<fieldset>
  <h3>Publication Reference</h3>
  <!-- Publication Reference -->
  <div class="row">
    <div class="col-12">
      <div class="row sub-fields">
        <%= render partial: 'drafts/forms/type', locals: {
            type: 'publication_reference',
            values: draft.draft['PublicationReferences'] || [{}],
            name_prefix: "draft_|publication_references|_",
            multiple: true,
            options: {} } %>
      </div>
    </div>
  </div>
</fieldset>

<script>
  var globalJsonSchema = <%= raw @json_schema.to_json %>;
</script>
