<!-- ISOTopicCategory -->
<!-- waiting for more information -->
<!-- <fieldset>
  <h3>ISO Topic Category</h3>
  <div class="row taller">
    <div class="col-12">
      <label for="iso_topic_category">ISO Topic Category</label><i class="fa fa-info-circle"></i>
      <div class="row">

      </div>
    </div>
  </div>
</fieldset> -->

<!-- ScienceKeyword [r] -->
<fieldset>
  <h3 class="icon-required">Science Keywords</h3>
  <div class="row taller">
    <div class="col-12">
      <div class="row sub-fields">
        <div class="selected-science-keywords science-keywords">
          <ul>
            <% science_keywords = draft.draft['ScienceKeywords'] || [] %>
            <% science_keywords.each do |science_keyword| %>
              <li>
                <%= keyword_string(science_keyword) %>
                <a class="remove"><i class="fa fa-times-circle"></i></a>
                <%= hidden_field_tag("draft[science_keywords][]", keyword_string(science_keyword)) %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="nested-item-picker">
          <ul class="item-path">
            <li class="list-title"><a href="javascript:void(0);">Science Keyword</a></li>
          </ul>
          <div class="item-list-pane">
            <ul>
            </ul>
          </div>
        </div>
        <div class="actions">
          <button type="button" class="btn btn-blue add-keyword"><i class="fa fa-plus-circle"></i> Add Keyword</button>
        </div>
      </div>
    </div>
  </div>
</fieldset>

<fieldset>
  <h3>Additional Information</h3>
  <!-- AncillaryKeyword -->
  <div class="row taller">
    <div class="col-12">
      <label for="ancillary_keyword">Ancillary Keywords</label><i class="fa fa-info-circle"></i>
      <div class="row">
        <% ancillary_keywords = draft.draft['AncillaryKeywords'] || [nil] # [nil] creates at least one field %>
        <div class="multiple simple-multiple ancillary-keywords">
          <label for="draft_ancillary_keywords_">Ancillary Keyword</label><i class="fa fa-info-circle"></i>
          <% ancillary_keywords.each_with_index do |ancillary_keyword, index| %>
            <div class="multiple-item multiple-item-<%= index %>">
              <%= text_field_tag(name_to_param("draft_|ancillary_keywords|_#{index}"), ancillary_keyword, class: 'half-width ancillary-keyword simple-multiple-field') %>
              <a class="remove"><i class="fa fa-times-circle"></i></a>
              <div class="actions">
                <button type="button" class="btn btn-blue add-new new-simple"><i class="fa fa-plus-circle"></i> Add Another Keyword</button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- AdditionalAttribute -->
  <div class="row taller">
    <div class="col-12">
      <label>Additional Attributes</label><i class="fa fa-info-circle"></i>
      <%= render partial: 'drafts/forms/type', locals: {
          type: 'additional_attribute',
          values: draft.draft['AdditionalAttributes'] || [{}],
          name_prefix: 'draft_|additional_attributes|_',
          multiple: true,
          options: {} } %>
    </div>
  </div>
</fieldset>

<!-- Setup Science Keywords -->
<script type="text/javascript">
  setupScienceKeywords(JSON.parse('<%= raw @science_keywords.to_json %>'));
</script>
