<!-- ScienceKeyword [r] -->
<fieldset class="accordion is-closed" id="science-keywords">
  <div class="accordion-header">
    <h3 class="icon-required">Science Keywords</h3>
    <a href="#" class="fl-right">
      <i class="fa fa-angle-down toggle"></i>
      <span class="hidden">Toggle Science Keywords</span>
    </a>
  </div>
  <div class="accordion-body">
    <div class="row taller">
      <div class="col-12">
        <div class="row sub-fields">
          <div class="selected-science-keywords science-keywords">
            <ul>
              <% science_keywords = draft.draft['ScienceKeywords'] || [] %>
              <% science_keywords.each do |science_keyword| %>
                <li>
                  <%= keyword_string(science_keyword) %>
                  <a class="remove">
                    <i class="fa fa-times-circle"></i>
                    <span class="hidden">Remove <%= keyword_string(science_keyword) %></span>
                  </a>
                  <%= hidden_field_tag("draft[science_keywords][]", keyword_string(science_keyword)) %>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="nested-item-picker">
            <ul class="item-path">
              <li class="list-title"><a href="javascript:void(0);">Science Keyword</a></li>
            </ul>
            <div class="item-list-pane">
              <ul>
              </ul>
            </div>
          </div>
          <div class="actions">
            <button type="button" class="btn btn-blue add-science-keyword"><i class="fa fa-plus-circle"></i> Add Keyword</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>

<!-- ISOTopicCategories -->
<fieldset class="accordion is-closed" id="iso-topic-categories">
  <div class="accordion-header">
    <h3>ISO Topic Category</h3>
    <a href="#" class="fl-right">
      <i class="fa fa-angle-down toggle"></i>
      <span class="hidden">Toggle ISO Topic Category</span>
    </a>
  </div>
  <div class="accordion-body">
    <div class="row taller">
      <div class="col-12">
        <label for="draft_iso_topic_categories_">ISO Topic Categories</label>
        <a href="#help-modal" class="display-modal" tabindex="-1">
          <i class="fa fa-info-circle" data-help-path="properties/ISOTopicCategories"></i>
          <span class="hidden">Help modal for ISO topic categories</span>
        </a>
        <%= select_tag "#{name_to_param('draft_|iso_topic_categories|')}[]", options_for_select(DraftsHelper::ISOTopicCategoriesOptions, draft.draft['ISOTopicCategories']), class: 'multi-select', size: 4, multiple: 'true' %>
      </div>
    </div>
  </div>
</fieldset>

<fieldset class="accordion is-closed" id="ancillary-keywords">
  <div class="accordion-header">
    <h3>Ancillary Keywords</h3>
    <a href="#" class="fl-right">
      <i class="fa fa-angle-down toggle"></i>
      <span class="hidden">Toggle Ancillary Keywords</span>
    </a>
  </div>
  <div class="accordion-body">
    <!-- AncillaryKeyword -->
    <div class="row taller">
      <div class="col-12">
        <label for="ancillary_keyword">Ancillary Keywords</label>
        <a href="#help-modal" class="display-modal" tabindex="-1">
          <i class="fa fa-info-circle" data-help-path="properties/AncillaryKeywords"></i>
          <span class="hidden">Help modal for ancillary keywords</span>
        </a>
        <div class="row">
          <% ancillary_keywords = draft.draft['AncillaryKeywords'] || [nil] # [nil] creates at least one field %>
          <div class="multiple simple-multiple ancillary-keywords">
            <label for="draft_ancillary_keywords_">Ancillary Keyword</label>
            <% ancillary_keywords.each_with_index do |ancillary_keyword, index| %>
              <div class="multiple-item multiple-item-<%= index %>">
                <%= text_field_tag(name_to_param("draft_|ancillary_keywords|_#{index}"), ancillary_keyword, class: 'half-width ancillary-keyword simple-multiple-field validate') %>
                <a class="remove">
                  <i class="fa fa-times-circle"></i>
                  <span class="hidden">Remove <%= ancillary_keyword %></span>
                </a>
                <div class="actions">
                  <button type="button" class="btn btn-blue add-new new-simple"><i class="fa fa-plus-circle"></i> Add another Ancillary Keyword</button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>

<fieldset class="accordion is-closed" id="additional-attributes">
  <div class="accordion-header">
    <h3>Additional Attributes</h3>
    <a href="#" class="fl-right">
      <i class="fa fa-angle-down toggle"></i>
      <span class="hidden">Toggle Additional Attributes</span>
    </a>
  </div>
  <div class="accordion-body">
    <!-- AdditionalAttribute -->
    <div class="row taller">
      <div class="col-12">
        <label>Additional Attributes</label>
        <a href="#help-modal" class="display-modal" tabindex="-1">
          <i class="fa fa-info-circle" data-help-path="properties/AdditionalAttributes"></i>
          <span class="hidden">Help modal for additional attributes</span>
        </a>
        <%= render partial: 'drafts/forms/type', locals: {
            type: 'additional_attribute',
            values: draft.draft['AdditionalAttributes'] || [{}],
            name_prefix: 'draft_|additional_attributes|_',
            multiple: true,
            options: {} } %>
      </div>
    </div>
  </div>
</fieldset>

<!-- Setup Science Keywords -->
<script type="text/javascript">
  setupScienceKeywords(<%= raw @science_keywords.to_json %>);
</script>
