<div class="grid-row align-c metadata-cta nav-<%= location %>">
  <div class="grid-col-2">
    <%= submit_tag 'Previous', class: 'eui-btn save-form' %>
    <%= hidden_field_tag 'previous_section', draft_form.previous_form.parsed_json['id'] %>
  </div>

  <div class="grid-col-5 form-nav">
    <label for="next-section-<%= location %>">Save &amp; Jump To: </label>
    <%= select_tag 'jump_to_section', options_for_select(draft_forms.map { |form| [form.parsed_json['title'], form.parsed_json['id']] }, draft_form.parsed_json['id']), class: 'jump-to-section', id: "next-section-#{location}" %>
  </div>

  <div class="grid-col-2">
    <%= submit_tag 'Next', class: 'eui-btn save-form' %>
    <%= hidden_field_tag 'next_section', draft_form.next_form.parsed_json['id'] %>
  </div>

  <div class="grid-col-3">
    <%= submit_tag 'Save', class: 'eui-btn save-form' %>
    <%= hidden_field_tag 'current_section', draft_form.parsed_json['id'] %>

    <%= submit_tag 'Done', class: 'eui-btn--blue save-form' %>

    <% if draft.new_record? %>
      <%= link_to 'Cancel', send("new_#{resource_name}_path"), class: 'cancel' %>
    <% else %>
      <%= link_to 'Cancel', send("#{resource_name}_path", get_resource), class: 'cancel' %>
    <% end %>

    <p class="update-timestamp">
      <% unless draft.new_record? %>
        Last saved <%= draft.updated_at.in_time_zone('Eastern Time (US & Canada)').to_fs(:default_with_time_zone) %>
      <% end %>
    </p>
  </div>
</div>
