<div class="row metadata-cta nav-<%= location %>">
  <div class="col-2">
    <%= submit_tag 'Save & Done', class: 'btn btn-blue save-form' %>
  </div>

  <div class="col-7 form-nav">
    <label for="next-section">Save &amp; Jump To: </label>

    <%= select_tag 'next_section', options_for_select(draft_forms.map{|form| [form.titleize, form]}, draft_form), class: 'next-section' %>
  </div>

  <div class="col-2">
    <%= submit_tag 'Save & Next', class: 'btn btn-green save-form' %>
  </div>

  <div class="col-1">
    <%= link_to 'Cancel', draft_path(draft), class: 'cancel' %>
  </div>
</div>
