<fieldset class="accordion is-closed" id="temporal-extents">
  <!-- Temporal Extent [r] -->
  <div class="accordion-header">
    <h3 class="icon-required">Temporal Extents</h3>
    <%= mmt_help_icon(
      title: 'Temporal Extents',
      help: 'properties/TemporalExtents'
    ) %>
    <a href="#" class="float-r">
      <i class="fa fa-angle-down toggle"></i>
      <span class="is-invisible">Toggle Temporal Extents</span>
    </a>
  </div>
  <div class="accordion-body">
    <div class="row">
      <div class="col-12">
        <div class="row sub-fields">
          <%= render partial: 'drafts/forms/type', locals: {
              type: 'temporal_extent',
              values: draft.draft['TemporalExtents'] || [{}],
              name_prefix: 'draft_|temporal_extents|_',
              multiple: true,
              options: {} } %>
        </div>
      </div>
    </div>
  </div>
</fieldset>

<fieldset class="accordion is-closed" id="temporal-keywords">
  <!-- Temporal Keywords -->
  <div class="accordion-header">
    <h3>Temporal Keywords</h3>
    <%= mmt_help_icon(
      title: 'Temporal Keywords',
      help: 'properties/TemporalKeywords'
    ) %>
    <a href="#" class="float-r">
      <i class="fa fa-angle-down toggle"></i>
      <span class="is-invisible">Toggle Temporal Keywords</span>
    </a>
  </div>
  <div class="accordion-body">
    <div class="row">
      <div class="col-12">
        <%= mmt_select(
          name: 'temporal_keywords',
          title: 'Temporal Keywords',
          prefix: 'draft_',
          value: draft.draft['TemporalKeywords'],
          options: @temporal_keywords,
          help: 'properties/TemporalKeywords',
          multiple: true,
          classes: 'multi-select'
        ) %>
      </div>
    </div>
  </div>
</fieldset>

<fieldset class="accordion is-closed" id="paleo-temporal-coverage">
  <div class="accordion-header">
    <h3>Paleo Temporal Coverage</h3>
    <%= mmt_help_icon(
      title: 'Paleo Temporal Coverage',
      help: 'properties/PaleoTemporalCoverage'
    ) %>
    <a href="#" class="float-r">
      <i class="fa fa-angle-down toggle"></i>
      <span class="is-invisible">Toggle Paleo Temporal Coverage</span>
    </a>
  </div>
  <div class="accordion-body">
    <!-- Paleo Temporal Coverage -->
    <!-- PaleoTemporalCoverageType -->
    <div class="row">
      <div class="col-12">
        <div class="row sub-fields">
          <%= render partial: 'drafts/forms/type', locals: {
              type: 'paleo_temporal_coverage',
              values: draft.draft['PaleoTemporalCoverage'] || {},
              name_prefix: 'draft_|paleo_temporal_coverage|_',
              multiple: false,
              options: {} } %>
        </div>
      </div>
    </div>
  </div>
</fieldset>
