<% content_for :header_title do %>
  <h2><%= fetch_entry_id(@tool, 'tool') %></h2>
  <p class="subtitle"><%= display_header_subtitle(@tool, 'tool') %></p>
<% end %>

<% if @user_permissions == 'none' %>
  <div class="eui-banner--danger">
    <p class="eui-banner__message">
      <%= "You don't have the appropriate permissions to #{tool_action_text(@record_action)} this tool." %>
    </p>
  </div>
  <div class="no-access">
    <h3 class="access-title">Access Denied</h3>
    <p class="access-message">
      It appears you do not have access to <%= tool_action_text(@record_action) %> this content.<br />
      If you feel you should have access, please check with your provider manager or ensure you are logged into the correct provider.
    </p>
  </div>
<% elsif @user_permissions == 'wrong_provider' %>
  <div class="eui-banner--warn">
    <p class="eui-banner__message">
      <%= link_to("You need to change your current provider to #{tool_action_text(@record_action)} this tool. Click here to change your provider.",
        "#", id: "change-current-provider-banner-link",
        data: { "provider": @provider_id, action_link: "change-provider-tool-#{@record_action}" }) %>
    </p>
    <%= render_change_provider_tool_action_link(@record_action, @concept_id, @revision_id) %>
  </div>
<% end %>

<% if @unsupported_version %>
  <%# with MMT-1559 see if this can be refactored into a partial %>
  <div class="eui-banner--warn">
    <p class="eui-banner__message">
      <%= "This #{@published_resource_name} has been published to the CMR at a higher UMM version than what MMT currently supports. In order to prevent unintentional data loss, editing this #{@published_resource_name} is currently unavailable." %>
    </p>
    <p>
      <%= "Cloning this #{@published_resource_name} to create a new draft record may result is loss of data." %>
    </p>
  </div>
<% end %>

<% if @unconfirmed_version %>
  <%# with MMT-1559 see if this can be refactored into a partial. Also we should determine if we want not show any of the metadata record, or to show the preview but prevent certain links from working %>
  <div class="eui-banner--warn">
    <p class="eui-banner__message">
      <%= "We cannot confirm the UMM version of this #{@published_resource_name}." %>
    </p>
  </div>
  <div class="no-access">
    <h3 class="access-title">Unconfirmed UMM Version</h3>
    <p class="access-message">
      <%= "It appears we currently cannot confirm the UMM version of this #{@published_resource_name}. In order to prevent unintentional data loss, editing this #{@published_resource_name} is currently unavailable." %>
      Please try again or contact <%= mail_to('support@earthdata.nasa.gov', 'Earthdata Support') %>
    </p>
  </div>
<% end %>

<% if @user_permissions != 'none' && !@unconfirmed_version %>
  <% if @old_revision %>
    <div class="eui-banner--info">
      <p class="eui-banner__message">
        <%= link_to 'You are viewing an older revision of this tool. Click here to view the latest published version.', tool_path %>
      </p>
    </div>
  <% end %>

  <% if @draft && !@unsupported_version %>
    <div class="eui-banner--warn">
      <p class="eui-banner__message">
        <% if current_provider?(@provider_id) %>
          <%= link_to 'This tool has an open draft associated with it. Click here to view it.', @draft %>
        <% elsif available_provider?(@provider_id) %>
          <%= link_to 'This tool has an open draft associated with it. Click here to view it.', '#not-current-provider-modal', class: 'display-modal not-current-provider', data: { 'provider': @provider_id, record_action: 'view-draft' } %>
        <% else %>
            This tool has an open draft associated with it. However, it appears you do not have access to the open draft.
            If you feel you should have access, please check with your provider manager or ensure that you are logged into the correct provider.
        <% end %>
      </p>
    </div>
  <% end %>

  <div class="row row-content">
    <section class="action">
      <p>
        <%# if @unsupported_version %>
          <%#= link_to 'Edit Tool Record', '#', class: 'disabled bar-after' %>
        <%# else %>
          <%# if current_provider?(@provider_id) %>
            <%#= link_to 'Edit Tool Record', edit_tool_path(revision_id: @revision_id), class: 'eui-btn--link bar-after' %>
          <%# elsif available_provider?(@provider_id) %>
            <%#= link_to 'Edit Tool Record', '#not-current-provider-modal', class: 'display-modal not-current-provider eui-btn--link bar-after', data: { 'provider': @provider_id, record_action: 'edit-tool' } %>
          <%# end %>
        <%# end %>

        <%# if current_provider?(@provider_id) %>
          <%#= link_to 'Clone Tool Record', clone_tool_path(revision_id: @revision_id), class: 'eui-btn--link bar-after' %>
        <%# elsif available_provider?(@provider_id) %>
          <%#= link_to 'Clone Tool Record', '#not-current-provider-modal', class: 'display-modal not-current-provider eui-btn--link bar-after', data: { 'provider': @provider_id, record_action: 'clone-tool' } %>
        <%# end %>

        <%#= link_to 'Download JSON', download_json_tool_path(@concept_id, revision_id: @revision_id), class: 'eui-btn--link', target: '_blank' %>

        <%# if current_provider?(@provider_id) %>
          <%#= link_to 'Delete Tool Record', "#delete-record-modal", class: 'display-modal delete-tool eui-btn--link bar-before' %>
        <%# elsif available_provider?(@provider_id) %>
          <%#= link_to 'Delete Tool Record', '#not-current-provider-modal', class: 'display-modal not-current-provider eui-btn--link bar-before', data: { 'provider': @provider_id, record_action: 'delete-tool', num_associated_collections: "#{@num_associated_collections}" } %>
        <%# end %>

        <!-- <div id="delete-record-modal" class="eui-modal-content">
          <a href="javascript:void(0);" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
          <p>
            Are you sure you want to delete this tool record?
          <p>
            <a href="javascript:void(0)" class="eui-btn modal-close">No</a>
            <%#= link_to 'Yes', tool_path, method: :delete, class: 'eui-btn--blue spinner' %>
          </p>
        </div> -->
        <%#= render partial: 'shared/not_current_provider_modal', locals: {
          options: {
            tool: @tool,
            concept_id: @concept_id,
            revision_id: @revision_id,
            draft: @draft,
            draft_id: @draft.try(:id)
          }
        } %>
      </p>
      <p>
        <%#= link_to "Revisions (#{@revisions.size})", tool_revisions_path, class: 'eui-btn--link' %>
      </p>
    </section>

    <div class="row content">
      <section class="umm-preview">
        <% @preview.forms.each do |form| %>
          <%= form.render %>
        <% end %>
      </section>
    </div>
  </div>
<% end %>
