<% if params[:search_criteria] %>
  <%= form_tag(submit_path, method: :post, id: 'collections-select') do %>
    <fieldset>
      <% if collections.any? %>
        <p><%= page_entries_info collections, entry_name: 'Collections' %></p>
      <% end %>

      <table id="collection-search-results">
        <thead>
          <tr>
            <th class="align-c">
              <% unless local_assigns.fetch(:use_radio_buttons, false) %>
                <%= check_box_tag('checkall', 'checkall', false, class: 'checkall', 'data-group' => 'selected_collections[]') %>
              <% end %>
            </th>
            <th>Collection</th>
            <th><%= sort_by_link('Short Name', 'short_name', @query, nil, '') %></th>
            <th>Version</th>
            <th><%= sort_by_link('Provider', 'provider_id', @query, nil, '') %></th>
          </tr>
        </thead>

        <tbody>
          <% if collections.any? %>
            <% collections.each do |collection| %>
              <tr class="<%= local_assigns.fetch(:ignored_concept_ids, false) && ignored_concept_ids.include?(collection.fetch('meta', {})['concept-id']) ? "disabled" : "" %>">
                <td class="align-c">
                  <!-- use check boxes or radio buttons to select collection(s) -->
                  <% if local_assigns.fetch(:use_radio_buttons, false) %>
                    <% unless local_assigns.fetch(:ignored_concept_ids, false) && ignored_concept_ids.include?(collection.fetch('meta', {})['concept-id']) %>
                      <%= radio_button_tag('selected_collection', collection.fetch('meta', {})['concept-id'], false, class: 'selected_collection_radio_button align-c') %>
                    <% end %>
                  <% else %>
                    <% unless local_assigns.fetch(:ignored_concept_ids, false) && ignored_concept_ids.include?(collection.fetch('meta', {})['concept-id']) %>
                      <%= check_box_tag('selected_collections[]', collection.fetch('meta', {})['concept-id'], false, class: 'selected_collections') %>
                    <% end %>
                  <% end %>
                </td>
                <td><%= link_to collection.fetch('umm', {})['entry-title'], collection_path(collection.fetch('meta', {})['concept-id']), class: 'ext', target: '_blank' %></td>
                <td><%= collection.fetch('umm', {})['short-name'] %></td>
                <td><%= collection.fetch('umm', {})['version-id'] %></td>
                <td><%= collection.fetch('meta', {})['provider-id'] %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="5">No collections found.</td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <% if all_collections_selected?(collections, (ignored_concept_ids rescue [])) %>
        <%= hidden_field_tag('selected_collections[]') %>
      <% end %>
    </fieldset>

    <% if collections.any? %>
      <!-- Search form fields to provide to the next step -->
      <%= hidden_field_tag :search_field, params[:field] %>
      <%= hidden_field_tag :search_query, params[:query] %>

      <fieldset>
        <div class="grid-row">
          <%= submit_tag submit_text, class: "eui-btn--blue #{'spinner' if local_assigns.fetch(:use_spinner, false)}" %>
          <% if local_assigns.fetch(:allow_cancel, false) %>
            <%= link_to 'Cancel', cancel_path, class: 'eui-btn' %>
          <% end %>
        </div>
      </fieldset>
    <% end %>

  <% end %>
<% end %>
