<fieldset class="checkbox-group">
  <%= label_tag :system_acls_select_all do %>
    <%= check_box_tag :system_acls_select_all, nil, false, class: 'permissions-management-checkall' %>
    Check/Uncheck all permissions
  <% end %>
</fieldset>

<fieldset>
  <table class='system-permissions-table permissions-management-table tablesorter'>
    <thead>
      <tr>
        <th>System Object</th>
        <th class="align-c">Create</th>
        <th class="align-c">Read</th>
        <th class="align-c">Update</th>
        <th class="align-c">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% SystemIdentityPermissionsHelper::SYSTEM_TARGETS.each do |system_target| %>
        <tr>
          <td>
            <%= system_target[0] %>
          </td>

          <% SystemIdentityPermissionsHelper::PermissionsOptions.each do |permission_option| %>
            <% if SystemIdentityPermissionsHelper.const_get(system_target[1] + '_PERMISSIONS').include?(permission_option) %>
              <td class="align-c">
                <% if @group_system_permissions.fetch(system_target[1], []).include?(permission_option) %>
                  <%= check_box_tag("system_permissions[#{system_target[1]}][]", permission_option, true) %>
                <% else %>
                  <%= check_box_tag("system_permissions[#{system_target[1]}][]", permission_option, false) %>
                <% end %>
              </td>
            <% else %>
              <td class="align-c disabled">
                <%= check_box_tag("system_permissions[#{system_target[1]}][]", permission_option, false, disabled: true) %>
              </td>
            <% end %>
          <% end %>

          <% if @group_system_permissions.keys.include?(system_target[1]) %>
            <%= hidden_field_tag("system_permissions[#{system_target[1]}][]", '') %>
          <% end %>
          <%= hidden_field_tag("#{system_target[1]}_revision_id", @revision_ids[system_target[1]]) unless @revision_ids[system_target[1]].blank? %>
        </tr>
      <% end %>
    </tbody>
  </table>
</fieldset>

<fieldset>
  <%= hidden_field_tag(:redirect_to, params[:redirect_to]) %>
  <%= submit_tag('Submit', class: 'eui-btn--blue') %>
  <%= link_to 'Cancel', :back, class: 'eui-btn' %>
</fieldset>
