<div class="row row-content">
  <section>
    <h2><%= current_user.provider_id %> Bulk Update Collection Search</h2>

    <%= form_tag(new_bulk_updates_search_path, method: :get, id: 'bulk-updates-search') do %>
      <fieldset>
        <div class="row">
          <div class="col-5">
            <%= label_tag('bulk-updates-search-field', 'Search Field', class: 'eui-required-o') %><br />
          </div>
          <div class="col-5">
            <%= label_tag('bulk-updates-search-query', 'Search Term', class: 'eui-required-o') %><br />
          </div>
          <div class="col-2">
          </div>
        </div>
        <div class="row">
          <div class="col-5" id="bulk-updates-field-container">
            <%= select_tag(:field, options_for_select(BulkUpdatesHelper::SEARCHABLE_KEYS.map { |option, values| [values[:title], option.to_s, Hash[values.fetch(:data_attributes, {}).map { |key, value| ["data-#{key}", value] }]]}, params[:field]), id: 'bulk-updates-search-field', class: 'full-width required bulk-update-field') %>
            <p class="form-description" id="bulk-update-field-description"></p>
          </div>
          <div class="col-5" id="bulk-updates-query-container">
            <%= text_field_tag(:query, params[:query], class: 'full-width required bulk-update-value') %>
            <p class="form-description" id="bulk-update-query-description"></p>
          </div>
          <div class="col-2 align-c">
            <%= submit_tag 'Submit', name: nil, id: 'bulk-updates-search-query', class: 'eui-btn--blue' %>
          </div>
        </div>
      </fieldset>
    <% end %>

    <% if params[:query] %>
      <%= form_tag(new_bulk_updates_path, method: :post) do %>

        <% if @collections.any? %>
          <p><%= page_entries_info @collections, entry_name: 'Collections' %></p>
        <% end %>

        <table id="bulk-updates-search-results">
          <thead>
            <tr>
              <th class="align-c"><input type="checkbox" name="checkall" class="checkall" data-group="bulk_update_collections[]" /></th>
              <th>Collection</th>
              <th>Short Name</th>
              <th>Version</th>
            </tr>
          </thead>
          <tbody>
            <% if @collections.any? %>
            <% @collections.each do |collection| %>
            <tr>
            <td class="align-c">
              <%= check_box_tag('bulk_update_collections[]', collection.fetch('meta', {})['concept-id'], false) %>
            </td>
              <td><%= link_to collection.fetch('umm', {})['entry-title'], collection_path(collection.fetch('meta', {})['concept-id']), class: 'ext', target: '_blank' %></td>
              <td><%= collection.fetch('umm', {})['short-name'] %></td>
              <td><%= collection.fetch('umm', {})['version-id'] %></td>
            </tr>
            <% end %>
            <% else %>
            <tr>
              <td colspan="4">No collections found.</td>
            </tr>
            <% end %>
          </tbody>
        </table>

        <% if @collections.any? %>
          <!-- Search form fields to provide to the next step -->

          <%= hidden_field_tag :search_field, params[:field] %>
          <%= hidden_field_tag :search_query, params[:query] %>

          <fieldset>
            <div class="row">
            <%= submit_tag 'Next', class: 'eui-btn--blue' %>
            </div>
          </fieldset>
        <% end %>

      <% end %>
    <% end %>

  </section>
</div>
