<main class="dashboard" role="main">
  <article id="metadata" class="row-content flex-row--start" role="article">
    <section class="eui-callout-box col-left">
      <h3 class="eui-callout-box__title">Create New Record</h3>
      <div class="eui-callout-box__list">
        <%= form_tag(new_record_path, method: 'get', enforce_utf8: false) do %>
        <input type="submit" class="eui-btn--blue submit" value="Create New Record">
          <div class="question-group">
            <div class="row" style="display: none;">
              <%= radio_button_tag(:type, "new_collection", true, id: 'new-collection') %>
              <%= image_tag "collection.png", alt: "" %>
              <label for="new-collection">
                New Collection Record
              </label>
            </div>
          </div>
          <div class="question-group">
            <div class="row">
              <p><strong>OR</strong> use the <a id="search-focus" href="#">search</a> in the top right corner to find a published collection to clone or edit.</p>
            </div>
          </div>
        <% end %>
      </div>
    </section>

    <section class="eui-callout-box col-left">
      <div class="open-drafts">
        <h3 class="eui-callout-box__title green-title"><%= current_user.provider_id %> Collection Drafts</h2>
        <div class="eui-callout-box__list">
          <ul>
            <% unless @drafts.any? %>
              <%= current_user.provider_id %> has no drafts to display.
            <% end %>
            <% @drafts[0..@draft_display_max_count-1].each do |draft| %>
              <li>
                <p>
                  <%= time_tag draft.updated_at, draft.updated_at.strftime("%Y-%m-%d") %> |
                  <%= link_to draft.display_short_name, collection_draft_path(draft) %> </br>
                  &nbsp;<%= draft.display_entry_title.truncate(32) %>
                </p>
              </li>
            <% end %>
            <% if @drafts.size > @draft_display_max_count %>
              <li>
                <%= link_to 'More', collection_drafts_path %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </section>

    <% if Rails.configuration.bulk_updates_enabled %>
      <section class="eui-callout-box col-left">
        <h3 class="eui-callout-box__title"><%= current_user.provider_id %> Bulk Updates</h3>
        <div class="eui-callout-box__list bulk-update-callout">
          <div class="question-group">
            <div class="row">
              <ul>
                <% if @bulk_updates.blank? %>
                  No <%= current_user.provider_id %> Bulk Updates found.
                <% else %>
                  <% @bulk_updates[0..@draft_display_max_count-1].each do |bulk_update| %>
                    <li>
                      <%= bulk_update['task-id'] %> |
                      <%= link_to "#{bulk_update.fetch('request-json-body', {})['update-type'].titleize} #{bulk_update.fetch('request-json-body', {})['update-field'].titleize}".html_safe, bulk_update_path(bulk_update['task-id']) %>

                      <p><small><b>STATUS:</b></small> <%= bulk_update['status'].titleize %></p>
                    </li>
                  <% end %>
                  <% if @bulk_updates.size > @draft_display_max_count %>
                    <li>
                      <%= link_to 'More', bulk_updates_path %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>

          <div class="row">
            <%= link_to 'Initiate a Bulk Update', new_bulk_updates_search_path, class: 'eui-btn--blue space-top' %>
          </div>
        </div>
      </section>
    <% end %>
  </article>
</main>
