<main class="dashboard" role="main">
  <article id="metadata" class="row-content flex-row--start" role="article">
    <section class="eui-callout-box col-left">
      <h3 class="eui-callout-box__title">Create Collection Record</h3>
      <div class="eui-callout-box__list">
        <div class="question-group">
          <% if Rails.configuration.templates_enabled %>
            <%= form_tag(make_new_draft_manage_collections_path, method: :post, id: 'new-draft-form') do %>
              <div class="make-draft-radio">
                <p class="radio-group">
                  <%= radio_button_tag("base", "blank", true, class: 'draft-base-select')%>
                  <label for="base_blank">Create From Blank Draft</label>
                </p>
                <p class="radio-group">
                  <%= radio_button_tag("base", "template", false, class: 'draft-base-select')%>
                  <label for="base_template">Create From Template</label>
                </p>
                <p class="radio-group">
                  <%= radio_button_tag("base", "upload", false, class: 'draft-base-select')%>
                  <label for="base_upload">Create From File</label>
                </p>
              </div>
                <p>
                <%= select_tag(
                  'template_id',
                  options_for_select(@templates),
                  prompt: 'Select Template Name',
                  class: 'template-select',
                  style: 'display:none;',
                  title: 'Select Template Name'
                ) %>
                </p>
                <%= submit_tag 'Create New Record', { id:'submit-btn', class: 'draft eui-btn--blue submit', style: 'display:show;' } %>
            <% end %>
            <div class="upload-json-form" style="display: none">
              <%= form_tag(upload_json_path, multipart: true, method: :post) do %>
                <label>
                  UMM File to upload
                </label>
                <%= file_field_tag(
                      "uploaded_collection_draft",
                      accept: 'application/json',
                      class: 'upload-file'
                    )%>
                <%= submit_tag 'Create New Record', { class: 'draft eui-btn--blue submit' 'eui-btn--blue spinner'} %>
              <% end %>
            </div>
          <% else %>
            <div class="grid-row">
              <%= link_to 'Create New Record', new_collection_draft_path, class: 'eui-btn--blue submit' %>
            </div>
          <% end %>
        </div>
        <div class="question-group">
          <div class="grid-row">
            <p><strong>OR</strong> use the <a id="search-focus" href="#">search</a> in the top right corner to find published collections to clone or edit.</p>
          </div>
        </div>
        <% if Rails.configuration.templates_enabled %>
          <%= link_to 'Manage Templates', collection_templates_path, id: 'collection_templates_index' %>
        <% end %>
      </div>
    </section>

    <section class="eui-callout-box col-left">
      <div class="open-drafts">
        <h3 class="eui-callout-box__title green-title"><%= current_user.provider_id %> Collection Drafts</h2>
        <div class="eui-callout-box__list">
          <ul>
            <% unless @drafts.any? %>
              <%= current_user.provider_id %> has no drafts to display.
            <% end %>
            <% @drafts[0..@draft_display_max_count-1].each do |draft| %>
              <li>
                <p class="drafts">
                  <%= time_tag draft.updated_at, draft.updated_at.to_fs(:date) %> |
                  <%= link_to draft.display_short_name, collection_draft_path(draft), title: draft.display_short_name %>
                  <br>
                  <%= content_tag(:span, draft.display_entry_title, title: draft.display_entry_title) %>
                </p>
              </li>
            <% end %>
            <% if @drafts.size > @draft_display_max_count %>
              <li>
                <%= link_to 'More', collection_drafts_path %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </section>

    <% if Rails.configuration.bulk_updates_enabled %>
      <section class="eui-callout-box col-left">
        <h3 class="eui-callout-box__title"><%= current_user.provider_id %> Bulk Updates</h3>
        <div class="eui-callout-box__list bulk-update-callout">
          <div class="question-group">
            <div class="grid-row">
              <ul>
                <% if @bulk_updates.blank? %>
                  No <%= current_user.provider_id %> Bulk Updates found.
                <% else %>
                  <% @bulk_updates[0..@draft_display_max_count-1].each do |bulk_update| %>
                    <li>
                      <%= link_to bulk_update['name'], bulk_update_path(bulk_update['task-id']) %>
                      <p>
                        <small><b>STATUS:</b> <%= bulk_update.fetch('status', '').titleize %></small> |
                        <small><b>CREATED:</b><span> <%= DateTime.parse(bulk_update['created-at']).to_fs(:date) %></small>
                      </p>
                    </li>
                  <% end %>
                  <% if @bulk_updates.size > @draft_display_max_count %>
                    <li>
                      <%= link_to 'More', bulk_updates_path %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>

          <div class="grid-row">
            <%= link_to 'Initiate a Bulk Update', new_bulk_updates_search_path, class: 'eui-btn--blue space-top' %>
          </div>
        </div>
      </section>
    <% end %>
  </article>
</main>
