<div class="grid_row row-content">
  <section>
    <h2>Variable Generation for <%= current_user.provider_id %></h2>

    <fieldset>
      <h4>Augmentation</h4>
      <%= form_tag(variable_generation_process_path, method: :put) %>

      <!-- These are currently radio buttons, but eventually should be changed
        to be checkboxes, so the user can choose all the augmentations they want
        in one go -->
        <p class="radio-group">
          <div class="grid_row">
            <%= label_tag('augmentation_type_keywords') do %>
              <%= radio_button_tag(:augmentation_type, 'keywords', false) %>
              Augment with Science Keywords
            <% end %>
          </div>
          <div class="grid_row">
            <%= label_tag('augmentation_type_definitions', nil, class: 'disabled') do %>
              <%= radio_button_tag(:augmentation_type, 'definitions', false, disabled: true) %>
              Augment with Definitions
            <% end %>
          </div>
          <div class="grid_row">
            <%= label_tag('augmentation_type_cfc', nil, class: 'disabled') do %>
              <%= radio_button_tag(:augmentation_type, 'cfc', false, disabled: true) %>
            Augment with Climate Forecast Conventions (CFCs)
            <% end %>
            <!-- write out or explain CFC?  -->
          </div>
          <div class="grid_row">
            <%= label_tag('augmentation_type_estimates', nil, class: 'disabled') do %>
              <%= radio_button_tag(:augmentation_type, 'estimates', false, disabled: true) %>
            Augment with Estimates
            <% end %>
          </div>
        </p>

        <%= hidden_field_tag 'collection_id', @collection_id %>
        <%= hidden_field_tag 'variables_json', @variables_string %>

        <%= submit_tag 'Submit', class: 'eui-btn--blue', id: 'submit-for-augmentation' %>
    </fieldset>
  </section>

</div>
