<div class="grid-row row-content">
  <section>
    <h2>Variable Generation for <%= current_user.provider_id %></h2>

    <div class="grid-row">
      <h4>Statistics</h4>
      <%= render "#{@operation}_statistics" %>
    </div>

    <div class="grid-row">
      <h4><%= display_variables_title(@operation, @collection_id) %></h4>

      <p class="uvg-pagination-header"><%= display_single_page_info %></p>

      <table id="uvg-results-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Long Name</th>
          </tr>
        </thead>

        <tbody>
          <% if @variables.blank? %>
            <tr>
              <td colspan=2>No variables generated.</td>
            </tr>
          <% elsif @variables.count <= 25 %>
            <% @variables.each do |variable| %>
              <tr class='<%= cycle("alt", "") %>'>
                <td>
                  <%= link_to variable.fetch('Name', nil), '#variable-preview-modal', class: 'display-modal variable-preview-modal-link', data: { 'variable': variable.to_json } %>
                </td>
                <td>
                  <%= variable.fetch('LongName', nil) %>
                </td>
              </tr>
            <% end %>
          <% end %>
          <%# if there are over 25 variables, pagination will take over and render them %>
        </tbody>
      </table>

      <div id="uvg-pagination"></div>
    </div>

    <div class="grid-row">
      <fieldset>
        <div class="grid-row">
          <%= form_tag(save_variable_drafts_variable_generation_process_path, method: :post, class: 'inline-form-button') do %>
            <%= hidden_field_tag 'variables_json', @variables.to_json %>
            <%= hidden_field_tag 'collection_id', @collection_id %>
            <%= hidden_field_tag 'statistics', @statistics.to_json %>
            <%= hidden_field_tag 'operation', @operation %>
            <%= submit_tag 'Save Variable Drafts', class: 'eui-btn--blue', id: 'submit-save-uvg-drafts' %>
          <% end %>

          <%= form_tag(edit_variable_generation_process_path, method: :put, class: 'inline-form-button') do %>
            <%= hidden_field_tag 'variables_json', @variables.to_json %>
            <%= hidden_field_tag 'collection_id', @collection_id %>
            <%= submit_tag 'Select Augmentation', class: 'eui-btn', id: 'submit-to-select-uvg-augmentation' %>
          <% end %>
        </div>
      </fieldset>
    </div>
  </section>
</div>

<%= render 'variable_preview_modal' %>

<%= javascript_tag do %>
  <!-- Pass in all variables -->
  window.generatedVariables = <%= raw @variables.to_json %>;
<% end %>
