<div class="pagination-summary">
  <%= page_entries_info @collections, entry_name: 'record' %>
</div>

<table id="search-results">
  <thead>
  <tr>
    <!-- Temporarily commented out because this is not a part of the MVP %-->
    <!--th><input type="checkbox" name="name" value=""></th-->
    <th>
      Entry ID
      <%= sort_by_link('entry_id', @query) %>
    </th>
    <th>
      Entry Title
      <%= sort_by_link('entry_title', @query) %>
    </th>
    <th>
      Last Modified
      <%= sort_by_link('revision_date', @query) %>
    </th>
  </tr>
  </thead>
  <tbody>

    <% @errors.each do |error| %>
      <tr>
        <td colspan="4">
          <strong>Error:</strong> <%= error %>
        </td>
      </tr>
    <% end %>

    <% if @collections.blank? %>
      <tr>
        <td colspan="4">
          No collections found
        </td>
      </tr>
    <% else %>

      <% @collections.each do |collection| %>
        <tr class='<%= cycle("alt", "") %>'>
          <!-- Temporarily commented out because this is not a part of the MVP %-->
          <!--td>
            <input type="checkbox" name="name" value="">
          </td-->
          <td>
            <% if collection['meta']['draft_id'] %>
              <%= link_to "#{collection['umm']['entry-id']} (Draft)", draft_path(collection['meta']['draft_id'])%>
            <% else %>
              <%= link_to collection['umm']['entry-id'], collection_path(collection['meta']['concept-id'])%>
            <% end %>
          </td>
          <td>
            <%= collection['umm']['entry-title']%>
          </td>
          <td>
            <% fragments = collection['meta']['revision-date'].split('T')
               date = fragments[0].nil? ? 'UNKNOWN' : fragments[0] %>
            <%= date %>
          </td>
        </tr>
      <% end %>

    <% end %>
  </tbody>
</table>

<%= paginate @collections, params: { search_type: @query['search_type'] } %>
