<%= render :partial=>"shared/pagination", :locals => {:table_rows=> @collections} %>

<table id="search-results">
  <thead>
  <tr>
    <!-- Temporarily commented out because this is not a part of the MVP %-->
    <!--th><input type="checkbox" name="name" value=""></th-->
    <th>Entry ID</th>
    <th>Entry Title</th>
    <th>Last Modified</th>
  </tr>
  </thead>
  <tbody>

    <% @errors.each do |error| %>
      <tr>
        <td colspan="4">
          <strong>Error:</strong> <%= error %>
        </td>
      </tr>
    <% end %>

    <% if @collections.blank? %>
      <tr>
        <td colspan="4">
          No collections found
        </td>
      </tr>
    <% else %>

      <% @collections.each do |row| %>
        <tr class='<%= cycle("alt", "") %>'>
          <!-- Temporarily commented out because this is not a part of the MVP %-->
          <!--td>
            <input type="checkbox" name="name" value="">
          </td-->
          <td>
            <%= row['extra-fields']['entry-id']%>
          </td>
          <td>
            <%= row['extra-fields']['entry-title']%>
          </td>
          <td>
            <% fragments = row['revision-date'].split('T')
               date = fragments[0].nil? ? 'UNKNOWN' : fragments[0] %>
            <%= date %>
          </td>
        </tr>
      <% end %>

    <% end %>
  </tbody>
</table>
