<div class="pagination-summary">
  <%= page_entries_info @collections, entry_name: 'record' %>
</div>

<table id="search-results">
  <thead>
  <tr>
    <th class="w20">
      <%= sort_by_link('Short Name', 'short_name', @query) %>
    </th>
    <th class="w10">
      Version
    </th>
    <th class="w40"><%= sort_by_link('Entry Title', 'entry_title', @query) %></th>
    <th class="w15"><%= sort_by_link('Provider', 'provider_id', @query) %></th>
    <th class="w15"><%= sort_by_link('Last Modified', 'revision_date', @query) %></th>
  </tr>
  </thead>
  <tbody>

    <% @errors.each do |error| %>
      <tr>
        <td colspan="5">
          <strong>Error:</strong> <%= error %>
        </td>
      </tr>
    <% end %>

    <% if @collections.blank? %>
      <tr>
        <td colspan="5">
          No collections found.
        </td>
      </tr>
    <% else %>

      <% @collections.each do |collection| %>
        <tr class='<%= cycle("alt", "") %>'>
          <td>
            <% if collection['meta']['draft_id'] %>
              <% if current_provider?(collection['meta']['provider-id']) %>
                <%= link_to "#{collection['umm']['short-name']} (Draft)", draft_path(collection['meta']['draft_id']) %>
              <% elsif available_provider?(collection['meta']['provider-id']) %>
                <%= link_to "#{collection['umm']['short-name']} (Draft)", '#not-current-provider-modal', class: 'display-modal not-current-provider', data: { 'provider': collection['meta']['provider-id'], record_action: 'view-draft' } %>
                <%= render partial: "shared/not_current_provider_modal", locals: {
                  options: { draft: collection, draft_id: collection['meta']['draft_id'] }
                  } %>
              <% end %>
            <% else %>
              <%= link_to collection['umm']['short-name'], collection_path(collection['meta']['concept-id']) %>
            <% end %>
          </td>
          <td>
            <%= collection['umm']['version-id'] %>
          </td>
          <td>
            <%= collection['umm']['entry-title'] %>
          </td>
          <td>
            <%= collection['meta']['provider-id'] %>
          </td>
          <td>
            <% fragments = collection['meta']['revision-date'].split('T')
               date = fragments[0].nil? ? 'UNKNOWN' : fragments[0] %>
            <%= date %>
          </td>
        </tr>
      <% end %>

    <% end %>
  </tbody>
</table>

<%= paginate @collections, params: { search_type: @query['search_type'] } %>
