<div class="pagination-summary">
  <%= page_entries_info records, entry_name: 'collection' %>
</div>

<table id="search-results">
  <thead>
    <tr>
      <th class="w20"><%= sort_by_link('Short Name', 'short_name', query, record_type) %></th>
      <% unless Rails.configuration.proposal_mode %>
        <th class="w10">Version</th>
      <% end %>
      <th class="w40"><%= sort_by_link('Entry Title', 'entry_title', query, record_type) %></th>
      <th class="w15"><%= sort_by_link('Provider', 'provider_id', query, record_type) %></th>
      <% unless Rails.configuration.proposal_mode %>
        <th class="w15">Granule Count</th>
        <th class="w10">Tag Count</th>
      <% end %>
      <th class="w15"><%= sort_by_link('Last Modified', 'revision_date', query, record_type) %></th>
    </tr>
  </thead>
  <tbody>

    <% errors.each do |error| %>
      <tr>
        <td colspan="6">
          <strong>Error:</strong> <%= error %>
        </td>
      </tr>
    <% end %>

    <% if records.blank? %>
      <tr>
        <td colspan="6">
          No collections found.
        </td>
      </tr>
    <% else %>

      <% records.each do |collection| %>
        <tr class='<%= cycle("alt", "") %>'>
          <td>
            <%= link_to collection.fetch('umm', {})['short-name'], collection_path(collection.fetch('meta', {})['concept-id']) %>
          </td>
          <% unless Rails.configuration.proposal_mode %>
            <td>
              <%= collection.fetch('umm', {})['version-id'] %>
            </td>
          <% end %>
          <td>
            <%= collection.fetch('umm', {})['entry-title'] %>
          </td>
          <td>
            <%= collection.fetch('meta', {})['provider-id'] %>
          </td>
          <% unless Rails.configuration.proposal_mode %>
            <td>
              <%= collection.fetch('meta', {})['granule-count'] %>
            </td>
            <td>
              <%= display_tag_count(collection) %>
            </td>
          <% end %>
          <td>
            <%= display_last_modified(collection) %>
          </td>
        </tr>
      <% end %>

    <% end %>
  </tbody>
</table>

<div id="tags-modal" class="eui-modal-content">
  <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
  <span class="tag-keys-display"></span>
  <p>
    <a href="javascript:void(0)" class="eui-btn modal-close">Close</a>
  </p>
</div>

<%= paginate records %>
