<div class="pagination-summary">
  <%= page_entries_info collections, entry_name: 'collection' %>
</div>

<table id="search-results">
  <thead>
    <tr>
      <th class="w20"><%= sort_by_link('Short Name', 'short_name', query, record_type) %></th>
      <th class="w10">Version</th>
      <th class="w40"><%= sort_by_link('Entry Title', 'entry_title', query, record_type) %></th>
      <th class="w15"><%= sort_by_link('Provider', 'provider_id', query, record_type) %></th>
      <th class="w15"><%= sort_by_link('Last Modified', 'revision_date', query, record_type) %></th>
    </tr>
  </thead>
  <tbody>

    <% errors.each do |error| %>
      <tr>
        <td colspan="5">
          <strong>Error:</strong> <%= error %>
        </td>
      </tr>
    <% end %>

    <% if collections.blank? %>
      <tr>
        <td colspan="5">
          No collections found.
        </td>
      </tr>
    <% else %>

      <% collections.each do |collection| %>
        <tr class='<%= cycle("alt", "") %>'>
          <td>
            <%= link_to collection.fetch('umm', {})['short-name'], collection_path(collection.fetch('meta', {})['concept-id']) %>
          </td>
          <td>
            <%= collection.fetch('umm', {})['version-id'] %>
          </td>
          <td>
            <%= collection.fetch('umm', {})['entry-title'] %>
          </td>
          <td>
            <%= collection.fetch('meta', {})['provider-id'] %>
          </td>
          <td>
            <%= display_last_modified(collection) %>
          </td>
        </tr>
      <% end %>

    <% end %>
  </tbody>
</table>

<%= paginate collections %>
