<div class="pagination-summary">
  <%= page_entries_info records, entry_name: record_type.singularize %>
</div>

<table id="search-results">
  <thead>
    <tr>
      <th class="w20"><%= sort_by_link('Name', 'name', query, record_type) %></th>
      <th class="w40"><%= sort_by_link('Long Name', 'long_name', query, record_type) %></th>
      <th class="w15"><%= sort_by_link('Provider', 'provider_id', query, record_type) %></th>
      <th class="w15"><%= sort_by_link('Last Modified', 'revision_date', query, record_type) %></th>
    </tr>
  </thead>
  <tbody>
    <% errors.each do |error| %>
      <tr>
        <td colspan="4">
          <strong>Error:</strong> <%= error %>
        </td>
      </tr>
    <% end %>

    <% if records.blank? %>
      <tr>
        <td colspan="4">
          <%= "No #{record_type} found." %>
        </td>
      </tr>
    <% else %>
      <% records.each do |record| %>
        <tr class='<%= cycle("alt", "") %>'>
          <td>
            <%= link_to record.fetch('umm', {})['Name'], send("#{record_type.singularize}_path", record.fetch('meta', {})['concept-id']) %>
          </td>
          <td>
            <%= record.fetch('umm')['LongName'] %>
          </td>
          <td>
            <%= record.fetch('meta')['provider-id'] %>
          </td>
          <td>
            <%= display_last_modified(record) %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= paginate records %>
