<div class="pagination-summary">
  <%= page_entries_info records, entry_name: 'tool' %>
</div>

<table id="search-results">
  <thead>
    <tr>
      <th class="w20"><%= sort_by_link('Name', 'name', query, record_type) %></th>
      <th class="w40"><%= sort_by_link('Long Name', 'long_name', query, record_type) %></th>
      <th class="w15"><%= sort_by_link('Provider', 'provider_id', query, record_type) %></th>
      <th class="w15"><%= sort_by_link('Last Modified', 'revision_date', query, record_type) %></th>
    </tr>
  </thead>
  <tbody>
    <% errors.each do |error| %>
      <tr>
        <td colspan="4">
          <strong>Error:</strong> <%= error %>
        </td>
      </tr>
    <% end %>

    <% if records.blank? %>
      <tr>
        <td colspan="4">
          No tools found.
        </td>
      </tr>
    <% else %>
      <% records.each do |tool| %>
        <tr class='<%= cycle("alt", "") %>'>
          <td>
            <%= tool.fetch('umm')['LongName'] %>
            <% # link_to tool.fetch('umm', {})['Name'], tool_path(tool.fetch('meta', {})['concept-id']) 
            %>
          </td>
          <td>
            <%= tool.fetch('umm')['LongName'] %>
          </td>
          <td>
            <%= tool.fetch('meta')['provider-id'] %>
          </td>
          <td>
            <%= display_last_modified(tool) %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= paginate records %>
