<div class="pagination-summary">
  <%= page_entries_info variables, entry_name: 'variable' %>
</div>

<table id="search-results">
  <thead>
    <tr>
      <th class="w20">Name</th>
      <th class="w40">Long Name</th>
      <th class="w15">Provider</th>
      <th class="w15">Last Modified</th>
    </tr>
  </thead>
  <tbody>

    <% errors.each do |error| %>
      <tr>
        <td colspan="4">
          <strong>Error:</strong> <%= error %>
        </td>
      </tr>
    <% end %>

    <% if variables.blank? %>
      <tr>
        <td colspan="4">
          No variables found.
        </td>
      </tr>
    <% else %>

      <% variables.each do |variable| %>
        <tr class='<%= cycle("alt", "") %>'>
          <td>
            <%= link_to variable.fetch('umm', {})['Name'], variable_path(variable.fetch('meta', {})['concept-id']) %>
          </td>
          <td>
            <%= variable.fetch('umm')['LongName'] %>
          </td>
          <td>
            <%= variable.fetch('meta')['provider-id'] %>
          </td>
          <td>
            <%= display_last_modified(variable) %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= paginate variables %>
