<div class="row sub-fields">
  <% street_addresses = address['StreetAddresses'] || [nil, nil] # [nil] creates at least one Street Address field %>
  <div class="multiple addresses-street-addresses">
    <label for="<%= remove_pipes(name_prefix) %>street_addresses_">Street Address</label
    a href="#help-modal" class="display-modal" tabindex="-1">
      <i class="fa fa-info-circle" data-help-path="definitions/AddressType/properties/StreetAddresses"></i>
      <span class="hidden">Help modal for street address</span>
    </a>

    <% street_addresses += [nil, nil] # always display two street address fields %>
    <% street_addresses[0..1].each_with_index do |street_address, index| %>
      <div class="multiple-item multiple-item-<%= index %>">
        <%= text_field_tag(name_to_param("#{name_prefix}|street_addresses|_#{index}"), street_address, class: 'full-width street-address simple-multiple-field validate') %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-6">
      <label for="<%= remove_pipes(name_prefix) %>city">City</label>
      <a href="#help-modal" class="display-modal" tabindex="-1">
        <i class="fa fa-info-circle" data-help-path="definitions/AddressType/properties/City"></i>
        <span class="hidden">Help modal for city</span>
      </a>
      <%= text_field_tag(name_to_param("#{name_prefix}city"), address['City'], class: 'full-width validate') %>
    </div>
    <div class="col-3">
      <label for="<%= remove_pipes(name_prefix) %>state_province">State / Province</label>
      <a href="#help-modal" class="display-modal" tabindex="-1">
        <i class="fa fa-info-circle" data-help-path="definitions/AddressType/properties/StateProvince"></i>
        <span class="hidden">Help modal for State / Province</span>
      </a>
      <%= text_field_tag(name_to_param("#{name_prefix}|state_province|"), address['StateProvince'], class: 'full-width validate') %>
    </div>
    <div class="col-3">
      <label for="<%= remove_pipes(name_prefix) %>postal_code">Postal Code</label>
      <a href="#help-modal" class="display-modal" tabindex="-1">
        <i class="fa fa-info-circle" data-help-path="definitions/AddressType/properties/PostalCode"></i>
        <span class="hidden">Help modal for postal code</span>
      </a>
      <%= text_field_tag(name_to_param("#{name_prefix}|postal_code|"), address['PostalCode'], class: 'full-width validate') %>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <label for="<%= remove_pipes(name_prefix) %>country">Country</label>
      <a href="#help-modal" class="display-modal" tabindex="-1">
        <i class="fa fa-info-circle" data-help-path="definitions/AddressType/properties/Country"></i>
        <span class="hidden">Help modal for country</span>
      </a>
      <%= text_field_tag(name_to_param("#{name_prefix}country"), address['Country'], class: 'full-width validate') %>
    </div>
  </div>
</div>
