<div class="row sub-fields">
  <!-- Name [r] -->
  <label for="<%= remove_pipes(name_prefix) %>name" class="icon-required">Name</label><a href="#help-modal" class="display-help-modal" tabindex="-1"><i class="fa fa-info-circle" data-help-path="definitions/CharacteristicType/properties/Name"></i></a>
  <%= text_field_tag(name_to_param("#{name_prefix}name"), characteristics['Name'], class: 'half-width validate') %>


  <!-- Description [r] -->
  <label for="<%= remove_pipes(name_prefix) %>description" class="icon-required">Description</label><a href="#help-modal" class="display-help-modal" tabindex="-1"><i class="fa fa-info-circle" data-help-path="definitions/CharacteristicType/properties/Description"></i></a>
  <%= text_area_tag(name_to_param("#{name_prefix}description"), characteristics['Description'], rows: 8, class: 'validate') %>


  <!-- Value [r] -->
  <label for="<%= remove_pipes(name_prefix) %>value" class="icon-required">Value</label><a href="#help-modal" class="display-help-modal" tabindex="-1"><i class="fa fa-info-circle" data-help-path="definitions/CharacteristicType/properties/Value"></i></a>
  <%= text_field_tag(name_to_param("#{name_prefix}value"), characteristics['Value'], class: 'half-width validate') %>


  <!-- Unit [r] -->
  <label for="<%= remove_pipes(name_prefix) %>unit" class="icon-required">Unit</label><a href="#help-modal" class="display-help-modal" tabindex="-1"><i class="fa fa-info-circle" data-help-path="definitions/CharacteristicType/properties/Unit"></i></a>
  <%= text_field_tag(name_to_param("#{name_prefix}unit"), characteristics['Unit'], class: 'half-width validate') %>


  <!-- Data Type [r] -->
  <label for="<%= remove_pipes(name_prefix) %>data_type" class="icon-required">Data Type</label><a href="#help-modal" class="display-help-modal" tabindex="-1"><i class="fa fa-info-circle" data-help-path="definitions/CharacteristicType/properties/DataType"></i></a>
  <%= text_field_tag(name_to_param("#{name_prefix}|data_type|"), characteristics['DataType'], class: 'half-width validate') %>
</div>
