<div class="multiple-item multiple-item-<%= index %> accordion <%= 'is-closed' unless last_chronostratigraphic_unit %>">
  <div class="accordion-header">
    <i class="fa fa-angle-down toggle"></i>
    Chronostratigraphic Unit <%= index + 1 %>
    <div class="actions">
      <button type="button" class="btn btn-red btn-sm btn-round remove">Remove</button>
    </div>
  </div>
  <div class="accordion-body">
    <div class="row sub-fields">

      <!-- Eon -->
      <label for="<%= name_prefix %>eon" class="icon-required">Eon</label><i class="fa fa-info-circle"></i>
      <%= text_area_tag(name_to_param("#{name_prefix}eon"), chronostratigraphic_unit['Eon'], rows: 8) %>

      <!-- Era -->
      <label for="<%= name_prefix %>era">Era</label><i class="fa fa-info-circle"></i>
      <%= text_area_tag(name_to_param("#{name_prefix}era"), chronostratigraphic_unit['Era'], rows: 8) %>


      <!-- Epoch -->
      <label for="<%= name_prefix %>epoch">Epoch</label><i class="fa fa-info-circle"></i>
      <%= text_area_tag(name_to_param("#{name_prefix}epoch"), chronostratigraphic_unit['Epoch'], rows: 8) %>


      <!-- Stage -->
      <label for="<%= name_prefix %>stage">Stage</label><i class="fa fa-info-circle"></i>
      <%= text_area_tag(name_to_param("#{name_prefix}stage"), chronostratigraphic_unit['Stage'], rows: 8) %>


      <!-- Detailed_Classification -->
      <!-- TODO Detailed_Classification needs to have an underscore -->
      <label for="<%= name_prefix %>detailed_classification">Detailed Classification</label><i class="fa fa-info-circle"></i>
      <%= text_area_tag(name_to_param("#{name_prefix}detailed_classification"), chronostratigraphic_unit['DetailedClassification'], rows: 8) %>


      <!-- Period -->
      <label for="<%= name_prefix %>period">Period</label><i class="fa fa-info-circle"></i>
      <%= text_area_tag(name_to_param("#{name_prefix}period"), chronostratigraphic_unit['Period'], rows: 8) %>


    </div>
  </div>
</div>
