<div class="row sub-fields">
  <!-- Version -->
  <label for="<%= remove_pipes(name_prefix) %>version">Version</label>
  <a href="#help-modal" class="display-modal" tabindex="-1">
    <i class="fa fa-info-circle" data-help-path="definitions/ResourceCitationType/properties/Version"></i>
    <span class="is-hidden">Help modal for version</span>
  </a>
  <%= text_field_tag name_to_param("#{name_prefix}version"), collection_citation['Version'], class: 'half-width validate' %>

  <!-- Title -->
  <label for="<%= remove_pipes(name_prefix) %>title">Title</label>
  <a href="#help-modal" class="display-modal" tabindex="-1">
    <i class="fa fa-info-circle" data-help-path="definitions/ResourceCitationType/properties/Title"></i>
    <span class="is-hidden">Help modal for title</span>
  </a>
  <%= text_area_tag name_to_param("#{name_prefix}title"), collection_citation['Title'], rows: 8, class: 'validate' %>


  <!-- Creator -->
  <label for="<%= remove_pipes(name_prefix) %>creator">Creator</label>
  <a href="#help-modal" class="display-modal" tabindex="-1">
    <i class="fa fa-info-circle" data-help-path="definitions/ResourceCitationType/properties/Creator"></i>
    <span class="is-hidden">Help modal for creator</span>
  </a>
  <%= text_area_tag name_to_param("#{name_prefix}creator"), collection_citation['Creator'], rows: 8, class: 'validate' %>


  <!-- Editor -->
  <label for="<%= remove_pipes(name_prefix) %>editor">Editor</label>
  <a href="#help-modal" class="display-modal" tabindex="-1">
    <i class="fa fa-info-circle" data-help-path="definitions/ResourceCitationType/properties/Editor"></i>
    <span class="is-hidden">Help modal for editor</span>
  </a>
  <%= text_area_tag name_to_param("#{name_prefix}editor"), collection_citation['Editor'], rows: 8, class: 'validate' %>


  <!-- SeriesName -->
  <label for="<%= remove_pipes(name_prefix) %>series_name">Series Name</label>
  <a href="#help-modal" class="display-modal" tabindex="-1">
    <i class="fa fa-info-circle" data-help-path="definitions/ResourceCitationType/properties/SeriesName"></i>
    <span class="is-hidden">Help modal for series name</span>
  </a>
  <%= text_area_tag name_to_param("#{name_prefix}|series_name|"), collection_citation['SeriesName'], rows: 8, class: 'validate' %>


  <!-- ReleaseDate -->
  <label for="<%= remove_pipes(name_prefix) %>release_date">Release Date</label>
  <a href="#help-modal" class="display-modal" tabindex="-1">
    <i class="fa fa-info-circle" data-help-path="definitions/ResourceCitationType/properties/ReleaseDate"></i>
    <span class="is-hidden">Help modal for release date</span>
  </a>
  <%= datetime_field_tag name_to_param("#{name_prefix}|release_date|"), collection_citation['ReleaseDate'], class: 'half-width validate mmt-date-time' %>


  <!-- ReleasePlace -->
  <label for="<%= remove_pipes(name_prefix) %>release_place">Release Place</label>
  <a href="#help-modal" class="display-modal" tabindex="-1">
    <i class="fa fa-info-circle" data-help-path="definitions/ResourceCitationType/properties/ReleasePlace"></i>
    <span class="is-hidden">Help modal for release place</span>
  </a>
  <%= text_area_tag name_to_param("#{name_prefix}|release_place|"), collection_citation['ReleasePlace'], rows: 8, class: 'validate' %>


  <!-- Publisher -->
  <label for="<%= remove_pipes(name_prefix) %>publisher">Publisher</label>
  <a href="#help-modal" class="display-modal" tabindex="-1">
    <i class="fa fa-info-circle" data-help-path="definitions/ResourceCitationType/properties/Publisher"></i>
    <span class="is-hidden">Help modal for publisher</span>
  </a>
  <%= text_area_tag name_to_param("#{name_prefix}publisher"), collection_citation['Publisher'], rows: 8, class: 'validate' %>


  <div class="row">
    <div class="col-6">
      <!-- IssueIdentification -->
      <label for="<%= remove_pipes(name_prefix) %>issue_identification">Issue Identification</label>
      <a href="#help-modal" class="display-modal" tabindex="-1">
        <i class="fa fa-info-circle" data-help-path="definitions/ResourceCitationType/properties/DataPresentationForm"></i>
        <span class="is-hidden">Help modal for issue identification</span>
      </a>
      <%= text_field_tag name_to_param("#{name_prefix}|issue_identification|"), collection_citation['IssueIdentification'], class: 'full-width validate' %>
    </div>
    <div class="col-6">
      <!-- DataPresentationForm -->
      <label for="<%= remove_pipes(name_prefix) %>data_presentation_form">Data Presentation Form</label>
      <a href="#help-modal" class="display-modal" tabindex="-1">
        <i class="fa fa-info-circle" data-help-path="definitions/ResourceCitationType/properties/DataPresentationForm"></i>
        <span class="is-hidden">Help modal for data presentation</span>
      </a>
      <%= text_field_tag name_to_param("#{name_prefix}|data_presentation_form|"), collection_citation['DataPresentationForm'], class: 'full-width validate' %>
    </div>
  </div>

  <!-- OtherCitationDetails -->
  <label for="<%= remove_pipes(name_prefix) %>other_citation_details">Other Citation Details</label>
  <a href="#help-modal" class="display-modal" tabindex="-1">
    <i class="fa fa-info-circle" data-help-path="definitions/ResourceCitationType/properties/OtherCitationDetails"></i>
    <span class="is-hidden">Help modal for other citation details</span>
  </a>
  <%= text_area_tag name_to_param("#{name_prefix}|other_citation_details|"), collection_citation['OtherCitationDetails'], rows: 8, class: 'validate' %>

  <!-- DOI -->
  <label>DOI</label>
  <a href="#help-modal" class="display-modal" tabindex="-1">
    <i class="fa fa-info-circle" data-help-path="definitions/ResourceCitationType/properties/DOI"></i>
    <span class="is-hidden">Help modal for DOI</span>
  </a>
  <div class="row sub-fields">
    <%= render partial: 'drafts/forms/type', locals: {
        type: 'doi',
        values: collection_citation['DOI'] || {},
        name_prefix: "#{name_prefix}doi_",
        multiple: false,
        options: {} } %>
  </div>


  <!-- RelatedUrl - only one -->
  <label>Related URL</label>
  <a href="#help-modal" class="display-modal" tabindex="-1">
    <i class="fa fa-info-circle" data-help-path="definitions/ResourceCitationType/properties/RelatedUrl"></i>
    <span class="is-hidden">Help modal for related URL</span>
  </a>
  <%= render partial: 'drafts/forms/type', locals: {
      type: 'related_url',
      values: collection_citation['RelatedUrl'] || {},
      name_prefix: "#{name_prefix}|related_url|_",
      multiple: false,
      options: {} } %>

</div>
