<div class="row sub-fields">
  <!-- Distribution Media -->
  <%= mmt_text_area(
    name: 'distribution_media',
    title: 'Distribution Media',
    prefix: name_prefix,
    value: distribution['DistributionMedia'],
    help: 'definitions/DistributionType/properties/DistributionMedia',
    validate: true
   ) %>

  <!-- Sizes -->
  <%= mmt_label(
    name: 'sizes',
    title: 'Sizes',
    prefix: name_prefix
  ) %>
  <%= mmt_help_icon(
    title: 'Sizes',
    help: 'definitions/DistributionType/properties/Sizes'
  ) %>
  <%= render partial: 'drafts/forms/type', locals: {
      type: 'file_size',
      values: distribution['Sizes'] || [{}],
      name_prefix: "#{name_prefix}sizes_",
      multiple: true,
      options: {
        type: 'sizes',
        title: 'Size'
      } } %>

  <!-- Distribution Format -->
  <%= mmt_text_field(
    name: 'distribution_format',
    title: 'Distribution Format',
    prefix: name_prefix,
    value: distribution['DistributionFormat'],
    help: 'definitions/DistributionType/properties/DistributionFormat',
    validate: true
   ) %>

  <!-- Fees -->
  <%= mmt_text_field(
    name: 'fees',
    title: 'Fees',
    prefix: name_prefix,
    value: distribution['Fees'],
    help: 'definitions/DistributionType/properties/Fees',
    validate: true
   ) %>
</div>
