<div class="row sub-fields">
  <!-- Distribution Media -->
  <label for="<%= remove_pipes(name_prefix) %>distribution_media">Distribution Media</label><i class="fa fa-info-circle"></i>
  <%= text_area_tag(name_to_param("#{name_prefix}|distribution_media|"), distribution['DistributionMedia'], rows: 8, class: 'validate') %>

  <!-- Distribution Size -->
  <label for="<%= remove_pipes(name_prefix) %>distribution_size">Distribution Size</label><i class="fa fa-info-circle"></i>
  <%= text_field_tag(name_to_param("#{name_prefix}|distribution_size|"), distribution['DistributionSize'], class: 'half-width validate mmt-number') %>

  <!-- Distribution Format -->
  <label for="<%= remove_pipes(name_prefix) %>distribution_format">Distribution Format</label><i class="fa fa-info-circle"></i>
  <%= text_field_tag(name_to_param("#{name_prefix}|distribution_format|"), distribution['DistributionFormat'], class: 'half-width validate') %>

  <!-- Fees -->
  <label for="<%= remove_pipes(name_prefix) %>fees">Fees (in US Dollars)</label><i class="fa fa-info-circle"></i>
  <%= text_field_tag(name_to_param("#{name_prefix}fees"), distribution['Fees'], class: 'half-width validate mmt-number') %>
</div>
