<div class="row sub-fields">
  <!-- Upload Shape file -->
  <div id="shape_file_upload" class="dropzone" >
    <h2>Create by Shape File</h2>
      <p>
        <a class="geojson-dropzone-link" href="#">Click here</a> to select a shape file.  You may also
        simply drag and drop shape files into this box at any time.
      </p>
      <p>
        Valid formats include:
      </p>
      <ul>
        <li>ESRI Shapefile (.zip including .shp, .dbf, and .shx file)</li>
        <li>Keyhole Markup Language (.kml or .kmz)</li>
        <li>GeoJSON (.json or .geojson)</li>
        <li>GeoRSS (.rss, .georss, or .xml)</li>
      </ul>
      <p>
        Shape files can only contain one type of shape.
      </p>
      <p>
        Polygons must contain less than 50 points.
      </p>
  </div>
  </br>


  <!-- CoordinateSystem -->
  <% coordinate_system = geometry['CoordinateSystem'] || "" %>
  <label class="icon-required">Coordinate System</label>
  <p class="radio-group"><%= radio_button_tag(name_to_param("#{name_prefix}|coordinate_system|"), 'CARTESIAN', coordinate_system == 'CARTESIAN', class: 'coordinate-system-select validate') %><label for="<%= remove_pipes(name_prefix) %>coordinate_system_CARTESIAN">Cartesian</label></p>
  <p class="radio-group"><%= radio_button_tag(name_to_param("#{name_prefix}|coordinate_system|"), 'GEODETIC', coordinate_system == 'GEODETIC', class: 'coordinate-system-select validate') %><label for="<%= remove_pipes(name_prefix) %>coordinate_system_GEODETIC">Geodetic</label></p>
  </br>

  <!-- GeometryType (not an actual field) -->
  <!-- No name attribute to keep from submitting params, javascript will handle radio button group behavior -->
  <% points_checked = !geometry['Points'].nil? %>
  <% bounding_rectangles_checked = !geometry['BoundingRectangles'].nil? %>
  <% g_polygons_checked = !geometry['GPolygons'].nil? %>
  <% lines_checked = !geometry['Lines'].nil? %>
  <div class="geometry-type">
    <label class="icon-required">Geometry Type</label>
    <p class="radio-group">
      <input type="radio" id="<%= remove_pipes(name_prefix) %>geometry-points" value="points" class="geometry-picker points" <%= 'checked="checked"' if points_checked %>>
      <label for="<%= remove_pipes(name_prefix) %>geometry-points">Points</label>
    </p>
    <p class="radio-group">
      <input type="radio" id="<%= remove_pipes(name_prefix) %>geometry-bounding-rectangles" value="bounding-rectangles" class="geometry-picker bounding-rectangles" <%= 'checked="checked"' if bounding_rectangles_checked %>>
      <label for="<%= remove_pipes(name_prefix) %>geometry-bounding-rectangles">Bounding Rectangles</label>
    </p>
    <p class="radio-group">
      <input type="radio" id="<%= remove_pipes(name_prefix) %>geometry-g-polygons" value="g-polygons" class="geometry-picker g-polygons" <%= 'checked="checked"' if g_polygons_checked %>>
      <label for="<%= remove_pipes(name_prefix) %>geometry-g-polygons">G Polygons</label>
    </p>
    <p class="radio-group">
      <input type="radio" id="<%= remove_pipes(name_prefix) %>geometry-lines" value="lines" class="geometry-picker lines" <%= 'checked="checked"' if lines_checked %>>
      <label for="<%= remove_pipes(name_prefix) %>geometry-lines">Lines</label>
    </p>
  </div>


  <!-- Points -->
  <div class="points-fields" style="<%= 'display: none;' unless points_checked %>">
    <label>Points</label>
    <%= render partial: 'drafts/forms/type', locals: {
        type: 'point',
        values: geometry['Points'] || [{}],
        name_prefix: "#{name_prefix}points_",
        multiple: true,
        options: { show_preview: true } } %>
  </div>


  <!-- BoundingRectangles -->
  <div class="bounding-rectangles-fields" style="<%= 'display: none;' unless bounding_rectangles_checked %>">
  <label>Bounding Rectangles</label>
  <%= render partial: 'drafts/forms/type', locals: {
      type: 'bounding_rectangle',
      values: geometry['BoundingRectangles'] || [{}],
      name_prefix: "#{name_prefix}|bounding_rectangles|_",
      multiple: true,
      options: { show_preview: true } } %>
  </div>


  <!-- GPolygons -->
  <div class="g-polygons-fields" style="<%= 'display: none;' unless g_polygons_checked %>">
  <label>GPolygons</label>
  <%= render partial: 'drafts/forms/type', locals: {
      type: 'g_polygon',
      values: geometry['GPolygons'] || [{}],
      name_prefix: "#{name_prefix}|g_polygons|_",
      multiple: true,
      options: { show_preview: true } } %>
  </div>


  <!-- Lines -->
  <div class="lines-fields" style="<%= 'display: none;' unless lines_checked %>">
  <label>Lines</label>
  <%= render partial: 'drafts/forms/type', locals: {
      type: 'line',
      values: geometry['Lines'] || [{}],
      name_prefix: "#{name_prefix}lines_",
      multiple: true,
      options: {} } %>
  </div>

</div>
