<div class="row sub-fields">
  <!-- Type - Select 'CREATE', 'UPDATE', 'DELETE', 'REVIEW'  -->
  <label for="<%= remove_pipes(name_prefix) %>type" class="icon-required">Date Type</label><i class="fa fa-info-circle"></i>
  <%= select_tag name_to_param("#{name_prefix}type"), options_for_select([['Select Date Type', ''],['Create', 'CREATE'], ['Update', 'UPDATE'], ['Delete', 'DELETE'], ['Review', 'REVIEW']], lineage_date['Type']), class: 'single-select' %>

  <!-- Date -->
  <label for="<%= remove_pipes(name_prefix) %>date" class="icon-required">Date</label><i class="fa fa-info-circle"></i>
  <%= datetime_field_tag(name_to_param("#{name_prefix}date"), lineage_date['Date'], class: 'half-width') %>

  <!-- Description - text field -->
  <label for="<%= remove_pipes(name_prefix) %>description">Description</label><i class="fa fa-info-circle"></i>
  <%= text_field_tag(name_to_param("#{name_prefix}description"), lineage_date['Description'], class: 'half-width') %>

  <!-- Responsibility -->
  <%= render partial: 'drafts/forms/type', locals: {
      type: 'responsibility',
      values: lineage_date['Responsibility'] || [{}],
      name_prefix: "#{name_prefix}responsibility_",
      multiple: true,
      options: {
        limit_type: false
      } } %>
</div>
