<div class="row sub-fields">
  <!-- SwathWidth -->
  <%= mmt_text_field(
    name: 'swath_width',
    title: 'Swath Width',
    prefix: name_prefix,
    value: orbit_parameters['SwathWidth'],
    help: 'definitions/OrbitParametersType/properties/SwathWidth',
    validate: true,
    required: true,
    classes: 'mmt-number'
   ) %>


  <!-- Period -->
  <%= mmt_text_field(
    name: 'period',
    title: 'Period',
    prefix: name_prefix,
    value: orbit_parameters['Period'],
    help: 'definitions/OrbitParametersType/properties/Period',
    validate: true,
    required: true,
    classes: 'mmt-number'
   ) %>


  <!-- InclinationAngle -->
  <%= mmt_text_field(
    name: 'inclination_angle',
    title: 'Inclination Angle',
    prefix: name_prefix,
    value: orbit_parameters['InclinationAngle'],
    help: 'definitions/OrbitParametersType/properties/InclinationAngle',
    validate: true,
    required: true,
    classes: 'mmt-number'
   ) %>


  <!-- NumberOfOrbits -->
  <%= mmt_text_field(
    name: 'number_of_orbits',
    title: 'Number Of Orbits',
    prefix: name_prefix,
    value: orbit_parameters['NumberOfOrbits'],
    help: 'definitions/OrbitParametersType/properties/NumberOfOrbits',
    validate: true,
    required: true,
    classes: 'mmt-number'
   ) %>


  <!-- StartCircularLatitude -->
  <%= mmt_text_field(
    name: 'start_circular_latitude',
    title: 'Start Circular Latitude',
    prefix: name_prefix,
    value: orbit_parameters['StartCircularLatitude'],
    help: 'definitions/OrbitParametersType/properties/StartCircularLatitude',
    validate: true,
    required: true,
    classes: 'mmt-number'
   ) %>

</div>
