<div class="row">
  <div class="col-6">
    <!-- Uuid -->
    <label for="<%= remove_pipes(name_prefix) %>organization_name_uuid">Uuid</label><a href="#help-modal" class="display-help-modal" tabindex="-1"><i class="fa fa-info-circle" data-help-path="definitions/OrganizationNameType/properties/Uuid"></i></a>
    <%= text_field_tag(name_to_param("#{name_prefix}|organization_name|_uuid"), organization_name['Uuid'], class: 'full-width validate') %>
  </div>
  <div class="col-6">
    <!-- ShortName -->
    <label for="<%= remove_pipes(name_prefix) %>organization_name_short_name" class="icon-required">Short Name</label><a href="#help-modal" class="display-help-modal" tabindex="-1"><i class="fa fa-info-circle" data-help-path="definitions/OrganizationNameType/properties/ShortName"></i></a>
    <%= text_field_tag(name_to_param("#{name_prefix}|organization_name|_|short_name|"), organization_name['ShortName'], class: 'full-width validate') %>
  </div>
</div>
<div class="row">
  <!-- LongName -->
  <label for="<%= remove_pipes(name_prefix) %>organization_name_long_name">Long Name</label><a href="#help-modal" class="display-help-modal" tabindex="-1"><i class="fa fa-info-circle" data-help-path="definitions/OrganizationNameType/properties/LongName"></i></a>
  <%= text_field_tag(name_to_param("#{name_prefix}|organization_name|_|long_name|"), organization_name['LongName'], class: 'full-width validate') %>
</div>
