<div class="paleo-temporal-coverage-fields">

  <div class="row">
    <div class="col-6">
      <!-- StartDate -->
      <label for="<%= remove_pipes(name_prefix) %>start_date">Start Date</label><a href="#help-modal" class="display-modal" tabindex="-1"><i class="fa fa-info-circle" data-help-path="definitions/PaleoTemporalCoverageType/properties/StartDate"></i></a>
      <%= text_field_tag(name_to_param("#{name_prefix}|start_date|"), paleo_temporal_coverage['StartDate'], class: 'full-width') %>
    </div>

    <div class="col-6">
      <!-- EndDate -->
      <label for="<%= remove_pipes(name_prefix) %>end_date">End Date</label><a href="#help-modal" class="display-modal" tabindex="-1"><i class="fa fa-info-circle" data-help-path="definitions/PaleoTemporalCoverageType/properties/EndDate"></i></a>
      <%= text_field_tag(name_to_param("#{name_prefix}|end_date|"), paleo_temporal_coverage['EndDate'], class: 'full-width') %>
    </div>
  </div>

  <!-- ChronostratigraphicUnit -->
  <label for="<%= remove_pipes(name_prefix) %>chronostratigraphic_unit">Chronostratigraphic Unit</label><a href="#help-modal" class="display-modal" tabindex="-1"><i class="fa fa-info-circle" data-help-path="definitions/PaleoTemporalCoverageType/properties/ChronostratigraphicUnits"></i></a>
  <%= render partial: 'drafts/forms/type', locals: {
      type: 'chronostratigraphic_unit',
      values: paleo_temporal_coverage['ChronostratigraphicUnits'] || [{}],
      name_prefix: "#{name_prefix}|chronostratigraphic_units|_",
      multiple: true,
      options: {} } %>
</div>
