<div class="row">
  <div class="col-4">
    <!-- FirstName -->
    <label for="<%= remove_pipes(name_prefix) %>person_first_name">First Name</label>
    <a href="#help-modal" class="display-modal" tabindex="-1">
      <i class="fa fa-info-circle" data-help-path="definitions/PersonType/properties/FirstName"></i>
      <span class="hidden">Help modal for first name</span>
    </a>
    <%= text_field_tag(name_to_param("#{name_prefix}person_|first_name|"), person['FirstName'], class: 'full-width validate') %>
  </div>
  <div class="col-4">
    <!-- MiddleName -->
    <label for="<%= remove_pipes(name_prefix) %>person_middle_name">Middle Name</label>
    <a href="#help-modal" class="display-modal" tabindex="-1">
      <i class="fa fa-info-circle" data-help-path="definitions/PersonType/properties/MiddleName"></i>
      <span class="hidden">Help modal for middle name</span>
    </a>
    <%= text_field_tag(name_to_param("#{name_prefix}person_|middle_name|"), person['MiddleName'], class: 'full-width validate') %>
  </div>
  <div class="col-4">
    <!-- LastName -->
    <label for="<%= remove_pipes(name_prefix) %>person_last_name" class="icon-required">Last Name</label>
    <a href="#help-modal" class="display-modal" tabindex="-1">
      <i class="fa fa-info-circle" data-help-path="definitions/PersonType/properties/LastName"></i>
      <span class="hidden">Help modal for last name</span>
    </a>
    <%= text_field_tag(name_to_param("#{name_prefix}person_|last_name|"), person['LastName'], class: 'full-width validate') %>
  </div>
</div>
