<div class="multiple-item multiple-item-<%= index %> accordion <%= 'is-closed' unless last_periodic_date_time %>">
  <div class="accordion-header">
    <i class="fa fa-angle-down toggle"></i>
    Periodic Date Time <%= index + 1 %>
    <div class="actions">
      <button type="button" class="btn btn-red btn-sm btn-round remove">Remove</button>
    </div>
  </div>
  <div class="accordion-body">
    <div class="row sub-fields">

      <!-- Name -->
      <label for="<%= name_prefix %>name">Name</label><i class="fa fa-info-circle"></i>
      <%= text_field_tag(name_to_param("#{name_prefix}name"), periodic_date_time['Name'], class: 'half-width') %>

      <!-- StartDate -->
      <label for="<%= name_prefix %>start_date">Start Date</label><i class="fa fa-info-circle"></i>
      <%= datetime_field_tag(name_to_param("#{name_prefix}start_date"), periodic_date_time['StartDate'], class: 'half-width') %>

      <!-- EndDate -->
      <label for="<%= name_prefix %>end_date">End Date</label><i class="fa fa-info-circle"></i>
      <%= datetime_field_tag(name_to_param("#{name_prefix}end_date"), periodic_date_time['EndDate'], class: 'half-width') %>

      <!-- DurationUnit -->
      <label for="<%= name_prefix %>duration_unit">Duration Unit</label><i class="fa fa-info-circle"></i>
      <%= select_tag(name_to_param("#{name_prefix}duration_unit"), options_for_select([[''], ['Day', 'DAY'], ['Month', 'MONTH'], ['Year', 'YEAR']], periodic_date_time['DurationUnit']), class: 'half-width') %>

      <!-- DurationValue -->
      <label for="<%= name_prefix %>duration_value">Duration Value</label><i class="fa fa-info-circle"></i>
      <%= number_field_tag(name_to_param("#{name_prefix}duration_value"), periodic_date_time['DurationValue'], class: 'half-width') %>

      <!-- PeriodCycleDurationUnit -->
      <label for="<%= name_prefix %>period_cycle_duration_unit">Period Cycle Duration Unit</label><i class="fa fa-info-circle"></i>
      <%= select_tag(name_to_param("#{name_prefix}period_cycle_duration_unit"), options_for_select([[''], ['Day', 'DAY'], ['Month', 'MONTH'], ['Year', 'YEAR']], periodic_date_time['PeriodCycleDurationUnit']), class: 'half-width') %>

      <!-- PeriodCycleDurationValue -->
      <label for="<%= name_prefix %>period_cycle_duration_value">Period Cycle Duration Value</label><i class="fa fa-info-circle"></i>
      <%= number_field_tag(name_to_param("#{name_prefix}period_cycle_duration_value"), periodic_date_time['PeriodCycleDurationValue'], class: 'half-width') %>

    </div>
  </div>
</div>
