<div class="row sub-fields">
  <!-- Type -->
  <%= mmt_text_area(
    name: 'type',
    title: 'Type',
    prefix: name_prefix,
    value: platform['Type'],
    help: 'definitions/PlatformType/properties/Type',
    validate: true
   ) %>

  <div class="row">
    <div class="col-6">
      <!-- Short Name [r] -->
      <%= mmt_text_area(
        name: 'short_name',
        title: 'ShortName',
        prefix: name_prefix,
        value: platform['ShortName'],
        help: 'definitions/PlatformShortNameType',
        validate: true,
        required: true
       ) %>
    </div>
    <div class="col-6">
      <!-- Long Name -->
      <%= mmt_text_area(
        name: 'long_name',
        title: 'LongName',
        prefix: name_prefix,
        value: platform['LongName'],
        help: 'definitions/PlatformLongNameType',
        validate: true
       ) %>
    </div>
  </div>

  <!-- Characteristics -->
  <label>Characteristics</label>
  <a href="#help-modal" class="display-modal" tabindex="-1">
    <i class="fa fa-info-circle" data-help-path="definitions/PlatformType/properties/Characteristics"></i>
    <span class="is-hidden">Help modal for characteristics</span>
  </a>
  <%= render partial: 'drafts/forms/type', locals: {
      type: 'characteristics',
      values: platform['Characteristics'] || [{}],
      name_prefix: "#{name_prefix}characteristics_",
      multiple: true,
      options: {} } %>


  <!-- Instruments -->
  <label>Instruments</label>
  <%= render partial: 'drafts/forms/type', locals: {
      type: 'instruments',
      values: platform['Instruments'] || [{}],
      name_prefix: "#{name_prefix}instruments_",
      multiple: true,
      options: {} } %>

</div>
