<div class="row sub-fields">
  <!-- Short Name [r] -->
  <label for="<%= remove_pipes(name_prefix) %>short_name" class="icon-required">Short Name</label><i class="fa fa-info-circle"></i>
  <%= text_field_tag(name_to_param("#{name_prefix}|short_name|"), project['ShortName'], class: 'half-width validate') %>


  <!-- Long Name -->
  <label for="<%= remove_pipes(name_prefix) %>long_name">Long Name</label><i class="fa fa-info-circle"></i>
  <%= text_field_tag(name_to_param("#{name_prefix}|long_name|"), project['LongName'], class: 'half-width validate') %>


  <!-- Campaign -->
  <% campaigns = project['Campaigns'] || [nil] # [nil] creates at least one field %>
  <div class="multiple simple-multiple campaign">
    <label for="<%= remove_pipes(name_prefix) %>campaigns_">Campaign</label><i class="fa fa-info-circle"></i>
  <% campaigns.each do |campaign| %>
    <div class="multiple-item">
      <%= text_field_tag(name_to_param("#{name_prefix}campaigns_index"), campaign, class: 'half-width validate') %>
      <a class="remove"><i class="fa fa-times-circle"></i></a>
      <div class="actions">
        <button type="button" class="btn btn-blue add-new new-simple"><i class="fa fa-plus-circle"></i> Add Another Campaign</button>
      </div>
    </div>
  <% end %>
  </div>


  <!-- StartDate -->
  <div class="col-6">
    <label for="<%= remove_pipes(name_prefix) %>start_date">Start Date</label><i class="fa fa-info-circle"></i>
    <%= datetime_field_tag(name_to_param("#{name_prefix}|start_date|"), project['StartDate'], class: 'full-width validate mmt-date-time') %>
  </div>
  <div class="col-6">
    <!-- EndDate -->
    <label for="<%= remove_pipes(name_prefix) %>end_date">End Date</label><i class="fa fa-info-circle"></i>
    <%= datetime_field_tag(name_to_param("#{name_prefix}|end_date|"), project['EndDate'], class: 'full-width validate mmt-date-time') %>
  </div>
</div>
