<div class="row sub-fields">
  <!-- Title -->
  <label for="<%= remove_pipes(name_prefix) %>title">Title</label><a href="#help-modal" class="display-modal" tabindex="-1"><i class="fa fa-info-circle" data-help-path="definitions/PublicationReferenceType/properties/Title"></i></a>
  <%= text_area_tag(name_to_param("#{name_prefix}title"), publication_reference['Title'], rows: 8, class: 'validate') %>


  <!-- Publisher -->
  <label for="<%= remove_pipes(name_prefix) %>publisher">Publisher</label><a href="#help-modal" class="display-modal" tabindex="-1"><i class="fa fa-info-circle" data-help-path="definitions/PublicationReferenceType/properties/Publisher"></i></a>
  <%= text_area_tag(name_to_param("#{name_prefix}publisher"), publication_reference['Publisher'], rows: 8, class: 'validate') %>


  <!-- DOI -->
  <label>DOI</label><a href="#help-modal" class="display-modal" tabindex="-1"><i class="fa fa-info-circle" data-help-path="definitions/PublicationReferenceType/properties/DOI"></i></a>
  <div class="row sub-fields">
    <%= render partial: 'drafts/forms/type', locals: {
        type: 'doi',
        values: publication_reference['DOI'] || {},
        name_prefix: "#{name_prefix}doi_",
        multiple: false,
        options: {} } %>
  </div>


  <!-- Author -->
  <label for="<%= remove_pipes(name_prefix) %>author">Author</label><a href="#help-modal" class="display-modal" tabindex="-1"><i class="fa fa-info-circle" data-help-path="definitions/PublicationReferenceType/properties/Author"></i></a>
  <%= text_area_tag(name_to_param("#{name_prefix}author"), publication_reference['Author'], rows: 8, class: 'validate') %>


  <!-- PublicationDate -->
  <label for="<%= remove_pipes(name_prefix) %>publication_date">Publication Date</label><a href="#help-modal" class="display-modal" tabindex="-1"><i class="fa fa-info-circle" data-help-path="definitions/PublicationReferenceType/properties/PublicationDate"></i></a>
  <%= datetime_field_tag(name_to_param("#{name_prefix}|publication_date|"), publication_reference['PublicationDate'], class: 'half-width validate mmt-date-time') %>


  <!-- Series -->
  <label for="<%= remove_pipes(name_prefix) %>series">Series</label><a href="#help-modal" class="display-modal" tabindex="-1"><i class="fa fa-info-circle" data-help-path="definitions/PublicationReferenceType/properties/Series"></i></a>
  <%= text_area_tag(name_to_param("#{name_prefix}series"), publication_reference['Series'], rows: 8, class: 'validate') %>


  <!-- Edition -->
  <label for="<%= remove_pipes(name_prefix) %>edition">Edition</label><a href="#help-modal" class="display-modal" tabindex="-1"><i class="fa fa-info-circle" data-help-path="definitions/PublicationReferenceType/properties/Edition"></i></a>
  <%= text_area_tag(name_to_param("#{name_prefix}edition"), publication_reference['Edition'], rows: 8, class: 'validate') %>

  <div class="row">
    <div class="col-4">
      <!-- Volume -->
      <label for="<%= remove_pipes(name_prefix) %>volume">Volume</label><a href="#help-modal" class="display-modal" tabindex="-1"><i class="fa fa-info-circle" data-help-path="definitions/PublicationReferenceType/properties/Volume"></i></a>
      <%= text_field_tag(name_to_param("#{name_prefix}volume"), publication_reference['Volume'], class: 'full-width validate') %>
    </div>
    <div class="col-4">
      <!-- Issue -->
      <label for="<%= remove_pipes(name_prefix) %>issue">Issue</label><a href="#help-modal" class="display-modal" tabindex="-1"><i class="fa fa-info-circle" data-help-path="definitions/PublicationReferenceType/properties/Issue"></i></a>
      <%= text_field_tag(name_to_param("#{name_prefix}issue"), publication_reference['Issue'], class: 'full-width validate') %>
    </div>
    <div class="col-4">
      <!-- ReportNumber -->
      <label for="<%= remove_pipes(name_prefix) %>report_number">Report Number</label><a href="#help-modal" class="display-modal" tabindex="-1"><i class="fa fa-info-circle" data-help-path="definitions/PublicationReferenceType/properties/ReportNumber"></i></a>
      <%= text_field_tag(name_to_param("#{name_prefix}|report_number|"), publication_reference['ReportNumber'], class: 'full-width validate') %>
    </div>
  </div>

  <!-- PublicationPlace -->
  <label for="<%= remove_pipes(name_prefix) %>publication_place">Publication Place</label><a href="#help-modal" class="display-modal" tabindex="-1"><i class="fa fa-info-circle" data-help-path="definitions/PublicationReferenceType/properties/PublicationPlace"></i></a>
  <%= text_area_tag(name_to_param("#{name_prefix}|publication_place|"), publication_reference['PublicationPlace'], rows: 8, class: 'validate') %>

  <div class="row">
    <div class="col-6">
      <!-- Pages -->
      <label for="<%= remove_pipes(name_prefix) %>pages">Pages</label><a href="#help-modal" class="display-modal" tabindex="-1"><i class="fa fa-info-circle" data-help-path="definitions/PublicationReferenceType/properties/Pages"></i></a>
      <%= text_field_tag(name_to_param("#{name_prefix}pages"), publication_reference['Pages'], class: 'full-width validate') %>
    </div>
    <div class="col-6">
      <!-- ISBN -->
      <label for="<%= remove_pipes(name_prefix) %>isbn">ISBN</label><a href="#help-modal" class="display-modal" tabindex="-1"><i class="fa fa-info-circle" data-help-path="definitions/PublicationReferenceType/properties/ISBN"></i></a>
      <%= text_field_tag(name_to_param("#{name_prefix}isbn"), publication_reference['ISBN'], class: 'full-width validate') %>
    </div>
  </div>

  <!-- OtherReferenceDetails -->
  <label for="<%= remove_pipes(name_prefix) %>other_reference_details">Other Reference Details</label><a href="#help-modal" class="display-modal" tabindex="-1"><i class="fa fa-info-circle" data-help-path="definitions/PublicationReferenceType/properties/OtherReferenceDetails"></i></a>
  <%= text_area_tag(name_to_param("#{name_prefix}|other_reference_details|"), publication_reference['OtherReferenceDetails'], rows: 8, class: 'validate') %>


  <!-- RelatedUrl - only one -->
  <label>Related URL</label><a href="#help-modal" class="display-modal" tabindex="-1"><i class="fa fa-info-circle" data-help-path="definitions/PublicationReferenceType/properties/RelatedUrl"></i></a>
  <%= render partial: 'drafts/forms/type', locals: {
      type: 'related_url',
      values: publication_reference['RelatedUrl'] || {},
      name_prefix: "#{name_prefix}|related_url|_",
      multiple: false,
      options: {} } %>
</div>
