<% always_required = options[:always_required] || false %>
<div class="row sub-fields">
  <%= mmt_text_field(
    name: 'title',
    title: 'Title',
    prefix: name_prefix,
    value: related_url['Title'],
    help: 'definitions/RelatedUrlType/properties/Title',
    validate: true
   ) %>

 <%= mmt_text_field(
   name: 'description',
   title: 'Description',
   prefix: name_prefix,
   value: related_url['Description'],
   help: 'definitions/RelatedUrlType/properties/Description',
   validate: true
  ) %>

  <!-- Relation -->
  <% relations = related_url['Relation'] || Array.new(2) %>
  <div class="row">
    <%= label(
      name: 'relation_0',
      title: 'Relation',
      prefix: name_prefix
    ) %>
    <%= help_icon(
      title: 'Relation',
      help: 'definitions/RelatedUrlType/properties/Relation'
    ) %>

    <% relations[0..1].each_with_index do |relation, index| %>
      <%= text_field_tag(name_to_param("#{name_prefix}relation_#{index}"), relation, class: 'full-width relation validate', data: { level: remove_pipes(name_prefix) }) %>
    <% end %>
  </div>

  <% urls = related_url['URLs'] || [nil] # [nil] creates at least one URL field %>
  <div class="multiple simple-multiple urls">
    <%= label(
      name: 'urls_',
      title: 'URLs',
      prefix: name_prefix,
      required: !always_required,
      always_required: always_required
    ) %>
    <%= help_icon(
      title: 'URLs',
      help: 'definitions/RelatedUrlType/properties/URLs'
    ) %>

  <% urls.each_with_index do |url, index| %>
    <div class="multiple-item multiple-item-<%= index %>">
      <%= text_field_tag(name_to_param("#{name_prefix}urls_#{index}"), url, class: 'half-width url simple-multiple-field validate mmt-uri', data: { level: remove_pipes(name_prefix) }) %>
      <a class="remove">
        <i class="fa fa-times-circle"></i>
        <span class="is-hidden">Remove <%= index %></span>
      </a>
      <div class="actions">
        <button type="button" class="btn btn-blue add-new new-simple"><i class="fa fa-plus-circle"></i> Add another URL</button>
      </div>
    </div>
  <% end %>
  </div>

  <div class="row">
    <div class="col-6">
      <%= mmt_select(
        name: 'mime_type',
        title: 'Mime Type',
        prefix: name_prefix,
        value: related_url['MimeType'],
        options: DraftsHelper::MimeTypeOptions,
        help: 'definitions/RelatedUrlType/properties/MimeType',
        validate: true
      ) %>
    </div>
  </div>

  <label>File Size</label>
  <a href="#help-modal" class="display-modal" tabindex="-1">
    <i class="ed-icon ed-fa-info-circle" data-help-path="definitions/RelatedUrlType/properties/FileSize"></i>
    <span class="is-hidden">Help modal for distribution size</span>
  </a>
  <%= render partial: 'drafts/forms/type', locals: {
      type: 'file_size',
      values: related_url['FileSize'] || {},
      name_prefix: "#{name_prefix}|file_size|_",
      multiple: false,
      options: {} } %>

</div>
