<div class="row sub-fields">
  <label for="<%= remove_pipes(name_prefix) %>title">Title</label>
  <a href="#help-modal" class="display-modal" tabindex="-1">
    <i class="fa fa-info-circle" data-help-path="definitions/RelatedUrlType/properties/Title"></i>
    <span class="is-hidden">Help modal for title</span>
  </a>
  <%= text_field_tag(name_to_param("#{name_prefix}title"), related_url['Title'], class: 'full-width validate') %>

  <label for="<%= remove_pipes(name_prefix) %>description">Description</label>
  <a href="#help-modal" class="display-modal" tabindex="-1">
    <i class="fa fa-info-circle" data-help-path="definitions/RelatedUrlType/properties/Description"></i>
    <span class="is-hidden">Help modal for description</span>
  </a>
  <%= text_field_tag(name_to_param("#{name_prefix}description"), related_url['Description'], class: 'full-width validate') %>

  <!-- Relation -->
  <% relations = related_url['Relation'] || Array.new(2) %>
  <div class="row">
    <label for="<%= remove_pipes(name_prefix) %>relation_0">Relation</label>
    <a href="#help-modal" class="display-modal" tabindex="-1">
      <i class="fa fa-info-circle" data-help-path="definitions/RelatedUrlType/properties/Relation"></i>
      <span class="is-hidden">Help modal for relation</span>
    </a>

    <% relations[0..1].each_with_index do |relation, index| %>
      <%= text_field_tag(name_to_param("#{name_prefix}relation_#{index}"), relation, class: 'full-width relation validate') %>
    <% end %>
  </div>

  <% urls = related_url['URLs'] || [nil] # [nil] creates at least one URL field %>
  <div class="multiple simple-multiple urls">
    <label for="<%= remove_pipes(name_prefix) %>urls_" class="required">URLs</label>
    <a href="#help-modal" class="display-modal" tabindex="-1">
      <i class="fa fa-info-circle" data-help-path="definitions/RelatedUrlType/properties/URLs"></i>
      <span class="is-hidden">Help modal for URLs</span>
    </a>

  <% urls.each_with_index do |url, index| %>
    <div class="multiple-item multiple-item-<%= index %>">
      <%= text_field_tag(name_to_param("#{name_prefix}urls_#{index}"), url, class: 'half-width url simple-multiple-field validate mmt-uri', data: { level: remove_pipes(name_prefix) }) %>
      <a class="remove">
        <i class="fa fa-times-circle"></i>
        <span class="is-hidden">Remove <%= index %></span>
      </a>
      <div class="actions">
        <button type="button" class="btn btn-blue add-new new-simple"><i class="fa fa-plus-circle"></i> Add another URL</button>
      </div>
    </div>
  <% end %>
  </div>

  <div class="row">
    <div class="col-6">
      <label for="<%= remove_pipes(name_prefix) %>mime_type">Mime Type</label>
      <a href="#help-modal" class="display-modal" tabindex="-1">
        <i class="fa fa-info-circle" data-help-path="definitions/RelatedUrlType/properties/MimeType"></i>
        <span class="is-hidden">Help modal for Mime Type</span>
      </a>
      <%= text_field_tag(name_to_param("#{name_prefix}|mime_type|"), related_url['MimeType'], class: 'full-width validate', data: { level: remove_pipes(name_prefix) }) %>
    </div>
  </div>

  <label>File Size</label>
  <a href="#help-modal" class="display-modal" tabindex="-1">
    <i class="fa fa-info-circle" data-help-path="definitions/RelatedUrlType/properties/FileSize"></i>
    <span class="is-hidden">Help modal for distribution size</span>
  </a>
  <%= render partial: 'drafts/forms/type', locals: {
      type: 'file_size',
      values: related_url['FileSize'] || {},
      name_prefix: "#{name_prefix}|file_size|_",
      multiple: false,
      options: {} } %>

</div>
