<% always_required = options[:always_required] || false %>
<% options.delete(:always_required) %>
<% options.delete(:title) %>
<% options.delete(:type) %>

<div class="row sub-fields">
  <%= mmt_select(
    name: 'role',
    title: 'Role',
    prefix: name_prefix,
    value: responsibility['Role'],
    options: DraftsHelper::RoleOptions,
    help: 'definitions/ResponsibilityType/properties/Role',
    required: !always_required,
    always_required: always_required
  ) %>

  <% party = responsibility['Party'] || {} %>
  <%= mmt_label(
    name: 'party',
    title: 'Party',
    prefix: name_prefix,
    required: !always_required,
    always_required: always_required,
    set_id: true
  ) %>
  <%= mmt_help_icon(
    title: 'Party',
    help: 'definitions/ResponsibilityType/properties/Party'
  ) %>
  <% name_prefix += 'party_' %>
  <div class="row sub-fields">

    <!-- org fields -->
    <% if options[:limit_type] == 'organization' %>
      <div class="organization-fields">
        <%= render partial: 'drafts/forms/type', locals: {
            type: 'organization_name',
            values: party['OrganizationName'] || {},
            name_prefix: name_prefix,
            multiple: false,
            options: options.clone } %>
      </div>
    <% end %>

    <!-- person fields -->
    <% if options[:limit_type] == 'personnel' %>
      <div class="person-fields">
        <%= render partial: 'drafts/forms/type', locals: {
            type: 'person',
            values: party['Person'] || {},
            name_prefix: name_prefix,
            multiple: false,
            options: options.clone } %>
      </div>
    <% end %>

    <div class="row">
      <div class="col-6">
        <!-- all party fields -->
        <%= mmt_text_field(
          name: 'service_hours',
          title: 'Service Hours',
          prefix: name_prefix,
          value: party['ServiceHours'],
          help: 'definitions/PartyType/properties/ServiceHours',
          validate: true
         ) %>
      </div>
      <div class="col-6">
        <%= mmt_text_field(
          name: 'contact_instructions',
          title: 'Contact Instructions',
          prefix: name_prefix,
          value: party['ContactInstructions'],
          help: 'definitions/PartyType/properties/ContactInstructions',
          validate: true
         ) %>
      </div>
    </div>
    <!-- Contact - multiple -->
    <%= render partial: 'drafts/forms/type', locals: {
        type: 'contact',
        values: party['Contacts'] || [{}],
        name_prefix: "#{name_prefix}contacts_",
        multiple: true,
        options: options.clone.merge(title: 'Contact Method') } %>

    <!-- Address - multiple -->
    <%= render partial: 'drafts/forms/type', locals: {
        type: 'address',
        values: party['Addresses'] || [{}],
        name_prefix: "#{name_prefix}addresses_",
        multiple: true,
        options: options.clone } %>

    <!-- RelatedUrl - multiple -->
    <%= render partial: 'drafts/forms/type', locals: {
        type: 'related_url',
        values: party['RelatedUrls'] || [{}],
        name_prefix: "#{name_prefix}|related_urls|_",
        multiple: true,
        options: options.clone } %>
  </div>
</div>
