<div class="row sub-fields">
  <!-- TemporalRangeType -->
  <% temporal_range_type = temporal_extent['TemporalRangeType'] || "" %>
  <label class="icon-required">Temporal Range Type</label><a href="#help-modal" class="display-help-modal"><i class="fa fa-info-circle" data-help-path="definitions/TemporalExtentType/properties/TemporalRangeType"></i></a>
  <p class="radio-group"><%= radio_button_tag(name_to_param("#{name_prefix}|temporal_range_type|"), 'SingleDateTime', temporal_range_type == 'SingleDateTime', class: 'temporal-range-type-select validate') %><label for="<%= remove_pipes(name_prefix) %>temporal_range_type_SingleDateTime">Single</label></p>

  <p class="radio-group"><%= radio_button_tag(name_to_param("#{name_prefix}|temporal_range_type|"), 'RangeDateTime', temporal_range_type == 'RangeDateTime', class: 'temporal-range-type-select validate') %><label for="<%= remove_pipes(name_prefix) %>temporal_range_type_RangeDateTime">Range</label></p>

  <p class="radio-group"><%= radio_button_tag(name_to_param("#{name_prefix}|temporal_range_type|"), 'PeriodicDateTime', temporal_range_type == 'PeriodicDateTime', class: 'temporal-range-type-select validate') %><label for="<%= remove_pipes(name_prefix) %>temporal_range_type_PeriodicDateTime">Periodic</label></p>

  <!-- PrecisionOfSeconds -->
  <label for="<%= remove_pipes(name_prefix) %>precision_of_seconds">Precision Of Seconds</label><a href="#help-modal" class="display-help-modal"><i class="fa fa-info-circle" data-help-path="definitions/TemporalExtentType/properties/PrecisionOfSeconds"></i></a>
  <%= text_field_tag(name_to_param("#{name_prefix}|precision_of_seconds|"), temporal_extent['PrecisionOfSeconds'], class: 'half-width validate mmt-integer') %>

  <!-- EndsAtPresentFlag -->
  <label class="icon-required">Ends At Present Flag</label><a href="#help-modal" class="display-help-modal"><i class="fa fa-info-circle" data-help-path="definitions/TemporalExtentType/properties/EndsAtPresentFlag"></i></a>
  <% ends_at_present_flag = temporal_extent['EndsAtPresentFlag'] %>
  <p class="radio-group"><%= radio_button_tag(name_to_param("#{name_prefix}|ends_at_present_flag|"), 'true', ends_at_present_flag.to_s == 'true') %><label for="<%= remove_pipes(name_prefix) %>ends_at_present_flag_true">True</label></p>
  <p class="radio-group"><%= radio_button_tag(name_to_param("#{name_prefix}|ends_at_present_flag|"), 'false', ends_at_present_flag.to_s == 'false') %><label for="<%= remove_pipes(name_prefix) %>ends_at_present_flag_false">False</label></p>

  <!-- RangeDateTimes -->
  <div class="temporal-range-type range-date-time" style="<%= 'display: none;' unless temporal_range_type == 'RangeDateTime' %>">
    <label>Range Date Time</label><a href="#help-modal" class="display-help-modal"><i class="fa fa-info-circle" data-help-path="definitions/TemporalExtentType/properties/RangeDateTimes"></i></a>
    <%= render partial: 'drafts/forms/type', locals: {
        type: 'range_date_time',
        values: temporal_extent['RangeDateTimes'] || [{}],
        name_prefix: "#{name_prefix}|range_date_times|_",
        multiple: true,
        options: options.clone } %>
  </div>

  <div class="temporal-range-type single-date-time" style="<%= 'display: none;' unless temporal_range_type == 'SingleDateTime' %>">
    <% date_times = temporal_extent['SingleDateTimes'] || [nil] # [nil] creates at least one date_time field %>
    <div class="multiple simple-multiple single-date-times">
      <label for="<%= remove_pipes(name_prefix) %>single_date_times_">Single Date Time</label><i class="fa fa-info-circle"></i>
    <% date_times.each_with_index do |date_time, index| %>
      <div class="multiple-item multiple-item-<%= index %>">
        <%= datetime_field_tag(name_to_param("#{name_prefix}|single_date_times|_#{index}"), date_time, class: 'half-width single-date-time simple-multiple-field validate mmt-date-time') %>
        <a class="remove"><i class="fa fa-times-circle"></i></a>
        <div class="actions">
          <button type="button" class="btn btn-blue add-new new-simple"><i class="fa fa-plus-circle"></i> Add Another Date</button>
        </div>
      </div>
    <% end %>
    </div>
  </div>

  <!-- PeriodicDateTimes -->
  <div class="temporal-range-type periodic-date-time" style="<%= 'display: none;' unless temporal_range_type == 'PeriodicDateTime' %>">
    <label>Periodic Date Time</label><a href="#help-modal" class="display-help-modal"><i class="fa fa-info-circle" data-help-path="definitions/TemporalExtentType/properties/PeriodicDateTimes"></i></a>
    <%= render partial: 'drafts/forms/type', locals: {
        type: 'periodic_date_time',
        values: temporal_extent['PeriodicDateTimes'] || [{}],
        name_prefix: "#{name_prefix}|periodic_date_times|_",
        multiple: true,
        options: options.clone } %>
  </div>

</div>
