<div class="grid-row row-content">
  <section>
    <h2>Manage Orders Items</h2>

    <% if @provider_order['error'] %>
      <div class="eui-banner--info">
        <p class="eui-banner__message">
          There has been an error processing your request. Please refer to the ID
          <strong>"<%= "#{request.uuid}" %>"</strong> when contacting
          <a href="mailto:support@earthdata.nasa.gov">Earthdata Operations</a> and report with the following details:
          <pre><%= @provider_order['error'] %></pre>
        </p>
      </div>
    <% else %>
      <%= form_tag(provider_order_path, method: :delete, id: "cancel-provider-order-form") do %>
        <%= hidden_field_tag 'provider_tracking_id', @provider_order['tracking_id'] %>
        <%= hidden_field_tag 'order_guid', @provider_order['guid'], readonly: true %>
        <%= hidden_field_tag 'provider_guid', @provider_order['provider_guid'], readonly: true %>
        <%= hidden_field_tag 'previous_request_uuid', "#{request.uuid}" %>

        <fieldset>
          <div class="grid-row">
            <label for="catalog_items" class="eui-required-o">Catalog Items</label>
            <%= select_tag 'catalog_items', options_for_select(@provider_order['catalog_items'].select { |item| !['CANCELLED', 'CLOSED'].include? item['status'] }.map { |item| item['item_guid'] }, nil), class: 'full-width', multiple: true %>
          </div>
        </fieldset>

        <fieldset>
          <div class="grid-row">
            <label for="status_message" class="eui-required-o">Status Message</label>
            <%= text_field_tag 'status_message', nil, class: 'full-width' %>
          </div>
        </fieldset>

        <fieldset>
          <%= link_to 'Cancel Items', "#cancel-items-modal", class: 'display-modal eui-btn eui-btn--red' %>
          <div id="cancel-items-modal" class="eui-modal-content">
            <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
            <p>Are you sure you want to cancel the selected items?</p>
            <p>
              <a href="javascript:void(0)" class="eui-btn modal-close">No</a>
              <%= submit_tag 'Yes', name: 'cancel', class: 'eui-btn--blue spinner' %>
            </p>
          </div>

          <%= link_to 'Close Items', "#close-items-modal", class: 'display-modal eui-btn eui-btn--red' %>
          <div id="close-items-modal" class="eui-modal-content">
            <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
            <p>Are you sure you want to close the selected items?</p>
            <p>
              <a href="javascript:void(0)" class="eui-btn modal-close">No</a>
              <%= submit_tag 'Yes', name: 'close', class: 'eui-btn--blue spinner' %>
            </p>
          </div>
        </fieldset>
      <% end %>
    <% end %>
  </section>
</div>
