<div class="grid_row row-content">
  <section>
    <h2>Provider Order</h2>


    <% if @provider_order['error'] %>
      <div class="eui-banner--info">
        <p class="eui-banner__message">
          There has been an error processing your request. Please refer to the ID
          <strong>"<%= "#{request.uuid}" %>"</strong> when contacting
          <a href="mailto:support@earthdata.nasa.gov">Earthdata Operations</a> and report with the following details:
          <pre><%= @provider_order['error'] %></pre>
        </p>
      </div>
    <% else %>
      <table>
        <tbody>
          <tr>
            <td>Order Guid:</td>
            <td><%= @provider_order['guid'] %></td>
          </tr>
          <tr>
            <td>Provider ID:</td>
            <td><%= @provider_order['provider_id'] %></td>
          </tr>
          <tr>
            <td>Tracking ID:</td>
            <td><%= @provider_order['tracking_id'] %></td>
          </tr>
          <tr>
            <td>Provider Order State:</td>
            <td>
              <%= @provider_order['provider_order_state'] %>

              <% if policy(:provider_order).resubmit? && state_is_terminal(@provider_order['provider_order_state']) %>
                <%= link_to 'Resubmit', resubmit_provider_order_path(@provider_order['guid']), method: :post, class: 'eui-btn--link', role: 'button' %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>Closed Date:</td>
            <td><%= echo_formatted_date(@provider_order['closed_date'], default: 'Not Closed') %></td>
          </tr>
        </tbody>
      </table>

      <h3>Catalog Items</h3>
      <table id="catalog-items-table">
        <thead>
          <tr>
            <th>Catalog Item</th>
            <th>Status</th>
            <th>Data Granule ID</th>
            <th>Local Granule ID</th>
            <th>Option Selection</th>
          </tr>
        </thead>
        <tbody>
          <% @provider_order.fetch('catalog_items', []).each_with_index do |catalog_item, index| %>
            <tr>
              <td><%= catalog_item['item_guid'] %></td>
              <td><%= catalog_item['status'] %></td>
              <td><%= catalog_item['data_granule_id'] %></td>
              <td><%= catalog_item['local_granule_id'] %></td>
              <td>
              <% if catalog_item.fetch('option_selection', {})['content'].blank? %>
                NOT_SET
              <% else %>
                <%= catalog_item.fetch('option_selection', {})['name'] %>
                <%= link_to 'Show', "#option-select-modal-#{index}", class: 'display-modal' %>

                <div id="option-select-modal-<%= index %>" class="eui-modal-content">
                  <a href="javascript:void(0);" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>

                  <h3><%= catalog_item['option_selection']['name'] %></h3>
                  <pre><%= catalog_item['option_selection']['content'] %></pre>
                </div>
              <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <h3>Status Messages</h3>
      <ul>
        <% @provider_order.fetch('status_messages', []).each do |message| %>
          <li><b><%= echo_formatted_date(message[0]) %>:</b> <%= message[1] %></li>
        <% end %>
      </ul>

      <% unless ['CANCELLED', 'CLOSED'].include?(@provider_order['provider_order_state']) %>
        <%= link_to 'Manage Order Items', edit_provider_order_path(@provider_order['guid']), class: 'eui-btn--blue' %>
      <% end %>
    <% end %>
  </section>
</div>
