<div class="preview-collection accordion">
  <div class="accordion-header">
    <h4>Acquisition Information Fields:</h4>
    <a href="#" class="float-r">
      <i class="fa fa-angle-down toggle"></i>
      <span class="is-invisible">Toggle Acquisition Information Fields</span>
    </a>
  </div>
  <div class="accordion-body">

    <h5>
      Platforms
      <% if @draft.present? %>
        <%= link_to '<i class="fa fa-edit"></i> <span class="is-invisible">Edit Platforms"'.html_safe, draft_edit_form_path(@draft, 'acquisition_information', { anchor: 'platforms' }), { class: 'hash-link' } %>
      <% end %>
    </h5>
    <% if metadata['Platforms'].blank? %>
      <p class="empty-section">No platforms or instruments have been added to this associated with this collection.</p>
    <% end %>

    <%= metadata['Platforms'] %>

    <ul class="cards">
      <% metadata['Platforms'].each do |platform| %>
        <li class="card">
          <div class="card-header">
            <h5 class="card-header-title"><%= platform['Type'] %></h5>
            <span class="card-header-badge"><%= platform['ShortName'] %></span>
          </div>
          <div class="card-body active">
            <div class="card-body-details">
              <p>
                <%= platform['Instruments'] %>
              </p>
            </div>
          </div>
        </li>
      <% end %>
    </ul>

    <h5>
      Projects
      <% if @draft.present? %>
        <%= link_to '<i class="fa fa-edit"></i> <span class="is-invisible">Edit Projects"'.html_safe, draft_edit_form_path(@draft, 'acquisition_information', { anchor: 'projects' }), { class: 'hash-link' } %>
      <% end %>
    </h5>
    <%= render partial: 'shared/preview/preview_type', locals: {
        data: metadata['Projects'],
        name: 'Projects',
        type: TypesHelper::ProjectsType
    } %>

  </div>
</div>
