<div class="preview-collection eui-accordion">
  <div class="eui-accordion__header">
    <h4 class="eui-accordion__title">Data Centers</h4>
    <div class="eui-accordion__icon" tabindex="0">
      <i class="eui-icon eui-fa-chevron-circle-down"></i>
      <span class="eui-sr-only">Toggle Data Centers</span>
    </div>
  </div>
  <div class="eui-accordion__body">
    <% if metadata['DataCenters'].blank? %>
      <p class="empty-section">
        There are no listed data centers for this collection.
      </p>
    <% else %>
      <ul class="data-centers-cards cards">
        <% metadata['DataCenters'].each_with_index do |data_center, data_center_index| %>
          <% dc_contact_info = data_center['ContactInformation'] || {} %>
          <li class="card">
            <div class="card-header">
              <h5 class="card-header-title">
                <%= data_center['ShortName'] || "Data Center #{data_center_index + 1}" %>
              </h5>
              <!-- Data Center Roles -->
              <% if data_center['Roles'] %>
                <% if data_center['Roles'].count == 1 %>
                  <!-- one role, show in card badge -->
                  <% role = data_center['Roles'].first %>
                  <span class="card-header-badge"><%= role %></span>
                <% else %>
                  <!-- Show multiple roles in a popover -->
                  <a href="javascript:void(0)" class="webui-popover-link card-header-badge">Multiple Roles <i class="fa fa-plus"></i></a>
                  <div class="webui-popover-content">
                    <% data_center['Roles'].each do |role| %>
                      <p><%= role %></p>
                    <% end %>
                  </div>
                <% end %>

              <% end %>
            </div>
            <div class="card-body active">
              <div class="card-body-details">
                <h6><%= data_center['LongName'] %></h6>
                <% if dc_contact_info['Addresses'].blank? %>
                  <p class="empty-section">
                    This data center does not have any addresses listed.
                  </p>
                <% else %>
                  <p>
                    <% address = dc_contact_info['Addresses'].first || {} %>
                    <% street_address = address['StreetAddresses'] || [] %>
                    <% if street_address[0] %>
                      <%= street_address[0] %><br />
                    <% end %>
                    <% if street_address[1] %>
                      <%= street_address[1] %><br />
                    <% end %>
                    <% if street_address[2] %>
                      <%= street_address[2] %><br />
                    <% end %>
                    <% if address['City'] %>
                      <%= address['City'] %>,
                    <% end %>
                    <% if address['StateProvince'] %>
                      <%= address['StateProvince'] %>
                    <% end %>
                    <% if address['PostalCode'] %>
                      <%= address['PostalCode'] %>
                    <% end %>
                  </p>
                <% end %>
              </div>
              <div class="card-body-aside">
                <h6><%= dc_contact_info['ServiceHours'] %></h6>
                <% if dc_contact_info['ContactMechanisms'].blank? %>
                  <p class="empty-section">
                    This data center does not have any contact mechanisms listed.
                  </p>
                <% else %>
                  <ul>
                    <% dc_contact_info['ContactMechanisms'].each do |mechanism| %>
                      <li>
                        <% case mechanism['Type'] %>
                          <% when 'Direct Line', 'Fax', 'Mobile', 'TDD/TTY Phone', 'Telephone', 'U.S. toll free' %>
                            <i class="fa fa-phone-square"></i>
                            <%= mechanism['Value'] %>
                          <% when 'Email' %>
                            <i class="fa fa-envelope"></i>
                            <a href="mailto:<%= mechanism['Value'] %>" title="<%= mechanism['Value'] %>">Email</a>
                          <% when 'Twitter' %>
                            <i class="fa fa-twitter-square"></i>
                            <%= link_to 'Twitter', "https://twitter.com/#{mechanism['Value']}", :target => "_blank" %>
                          <% when 'Facebook' %>
                            <i class="fa fa-facebook-square"></i>
                            <%= link_to 'Facebook', "https://www.facebook.com/#{mechanism['Value']}", :target => "_blank" %>
                          <% when 'Fax' %>
                            <i class="fa fa-fax"></i>
                            <%= mechanism['Value'] %>
                          <% else %>
                            <i class="fa fa-bullhorn"></i>
                            <%= mechanism['Value'] %>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
              </div>
            </div>
            <% if dc_contact_info['Addresses'] && dc_contact_info['Addresses'].count > 1 %>
              <% dc_contact_info['Addresses'].drop(1).each do |address| %>
                <div class="card-body">
                  <div class="card-body-details-full">
                    <h6>Additional Address</h6>
                    <p>
                      <% street_address = address['StreetAddresses'] || [] %>
                      <% if street_address[0] %>
                        <%= street_address[0] %><br />
                      <% end %>
                      <% if street_address[1] %>
                        <%= street_address[1] %><br />
                      <% end %>
                      <% if street_address[2] %>
                        <%= street_address[2] %><br />
                      <% end %>
                      <% if address['City'] %>
                        <%= address['City'] %>,
                      <% end %>
                      <% if address['StateProvince'] %>
                        <%= address['StateProvince'] %>
                      <% end %>
                      <% if address['PostalCode'] %>
                        <%= address['PostalCode'] %>
                      <% end %>
                    </p>
                  </div>
                </div>
              <% end %>
            <% end %>
            <% if dc_contact_info['ContactInstruction'] %>
              <div class="card-body">
                <div class="card-body-details-full">
                  <h6>Contact Details</h6>
                  <p><%= dc_contact_info['ContactInstruction'] %></p>
                </div>
              </div>
            <% end %>
            <% if dc_contact_info['RelatedUrls'] %>
              <div class="card-body">
                <div class="card-body-details-full">
                  <ul>
                    <% dc_contact_info['RelatedUrls'].each do |related_url| %>
                      <% if related_url['URLs'] %>
                        <% related_url['URLs'].each do |url| %>
                          <li>
                            <i class="fa fa-external-link"></i>
                            <%= link_to url, url %>
                          </li>
                        <% end %>
                      <% end %>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>
            <div class="card-navigation">
              <ul>
                <li class="card-navigation-control">
                  <a href="" class="card-navigation-control-back">
                    <i class="fa fa-chevron-left"></i>
                  </a>
                </li>
                <li class="card-navigation-pagination">
                  <i class="fa fa-circle"></i>
                  <% if dc_contact_info['Addresses'] %>
                    <% (dc_contact_info['Addresses'].count - 1).times do %>
                      <i class="fa fa-circle-o"></i>
                    <% end %>
                  <% end %>
                  <% if dc_contact_info['ContactInstruction'] %>
                    <i class="fa fa-circle-o"></i>
                  <% end %>
                  <% if dc_contact_info['RelatedUrls'] %>
                    <i class="fa fa-circle-o"></i>
                  <% end %>
                </li>
                <li class="card-navigation-control">
                  <a href="" class="card-navigation-control-forward">
                    <i class="fa fa-chevron-right"></i>
                  </a>
                </li>
              </ul>
            </div>

          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
