<div class="preview-collection">
  <% if metadata['ScienceKeywords'] %>
    <ul class="descriptive-keywords-preview">
      <h5>Science Keywords</h5>
      <% keywords = metadata['ScienceKeywords'] || [] %>
      <% if keywords.size > 0 %>
        <li class="top_field science-keywords">
          <ul class="sub-field">
            <% keywords.each_with_index do |keyword, index| %>
              <li class="science-keywords-<%= index %>">
                <%= keyword_string(keyword) %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  <% end %>
  <% if metadata['ISOTopicCategories'] %>
    <h5>ISO Topic Categories</h5>
    <%= render partial: 'shared/preview/fields/display_array_with_header', locals: {
        key_name: 'ISOTopicCategories',
        hash_for_key: metadata,
        title_override: 'ISO Topic Categories',
        options: DraftsHelper::ISOTopicCategoriesOptions
    } %>
  <% end %>
  <% if metadata['AncillaryKeywords'] %>
    <h5>Ancillary Keywords</h5>
    <%= render partial: 'shared/preview/fields/display_array_with_header', locals: {
        key_name: 'AncillaryKeywords',
        hash_for_key: metadata
    } %>
  <% end %>
  <% if metadata['AdditionalAttributes'] %>
    <h5>Additional Attributes</h5>
    <%= render partial: 'shared/preview/preview_type', locals: {
        data: metadata['AdditionalAttributes'],
        name: 'AdditionalAttributes',
        type: TypesHelper::AdditionalAttributesType
    } %>
  <% end %>
</div>
