<div class="preview-collection accordion is-closed">
  <div class="accordion-header">
    <i class="fa fa-angle-down toggle"></i>
    <h4>Descriptive Keyword Fields:</h4>
  </div>
  <div class="accordion-body">
    <ul class="descriptive-keywords-preview">
      <%# ISOTopicCategories implemented yet %>
      <%#= render partial: 'shared/preview/preview_type', locals: {
          data: metadata['ISOTopicCategories'],
          name: 'ISOTopicCategories',
          type: TypesHelper::ISOTopicCategoriesType
      } %>
      <h4>ISO Topic Categories <%= link_to '<i class="fa fa-edit"></i>'.html_safe, draft_edit_form_path(@draft, 'descriptive_keywords', {anchor: 'iso-topic-categories'}), {class: 'hash-link'} %></h4>
      <%= render partial: 'shared/preview/fields/display_array_with_header', locals: {
          key_name: 'ISOTopicCategories',
          hash_for_key: metadata,
          title_override: 'ISO Topic Categories',
          options: DraftsHelper::ISOTopicCategoriesOptions
      } %>

      <% keywords = metadata['ScienceKeywords'] || [] %>
      <% if keywords.size > 0 %>
        <li class="top_field science-keywords">
          <h4>Science Keywords <%= link_to '<i class="fa fa-edit"></i>'.html_safe, draft_edit_form_path(@draft, 'descriptive_keywords', {anchor: 'science-keywords'}), {class: 'hash-link'} %></h4>
          <ul class="sub-field">
            <% keywords.each_with_index do |keyword, index| %>
              <li class="science-keywords-<%= index %>">
                <%= keyword_string(keyword) %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>

      <h4>Ancillary Keywords <%= link_to '<i class="fa fa-edit"></i>'.html_safe, draft_edit_form_path(@draft, 'descriptive_keywords', {anchor: 'ancillary-keywords'}), {class: 'hash-link'} %></h4>
      <%= render partial: 'shared/preview/fields/display_array_with_header', locals: {
          key_name: 'AncillaryKeywords',
          hash_for_key: metadata
      } %>

      <h4>Additional Attributes <%= link_to '<i class="fa fa-edit"></i>'.html_safe, draft_edit_form_path(@draft, 'descriptive_keywords', {anchor: 'additional-attributes'}), {class: 'hash-link'} %></h4>
      <%= render partial: 'shared/preview/preview_type', locals: {
          data: metadata['AdditionalAttributes'],
          name: 'AdditionalAttributes',
          type: TypesHelper::AdditionalAttributesType
      } %>
    </ul>
  </div>
</div>
