<div class="preview-collection accordion is-closed">
  <div class="accordion-header">
    <h4>Descriptive Keyword Fields:</h4>
    <a href="#" class="fl-right">
      <i class="fa fa-angle-down toggle"></i>
      <span class="hidden">Toggle Descriptive Keyword Fields</span>
    </a>
  </div>
  <div class="accordion-body">
    <ul class="descriptive-keywords-preview">
      <h4>Science Keywords <% if @draft.present? %><%= link_to '<i class="fa fa-edit"></i> <span class="hidden">Edit Science Keywords</span>'.html_safe, draft_edit_form_path(@draft, 'descriptive_keywords', {anchor: 'ancillary-keywords'}), {class: 'hash-link'} %><% end %></h4>
      <% keywords = metadata['ScienceKeywords'] || [] %>
      <% if keywords.size > 0 %>
        <li class="top_field science-keywords">
          <ul class="sub-field">
            <% keywords.each_with_index do |keyword, index| %>
              <li class="science-keywords-<%= index %>">
                <%= keyword_string(keyword) %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>

      <h4>ISO Topic Categories <% if @draft.present? %><%= link_to '<i class="fa fa-edit"></i>  <span class="hidden">Edit ISO Topic Categories</span>'.html_safe, draft_edit_form_path(@draft, 'descriptive_keywords', {anchor: 'iso-topic-categories'}), {class: 'hash-link'} %><% end %></h4>
      <%= render partial: 'shared/preview/fields/display_array_with_header', locals: {
          key_name: 'ISOTopicCategories',
          hash_for_key: metadata,
          title_override: 'ISO Topic Categories',
          options: DraftsHelper::ISOTopicCategoriesOptions
      } %>

      <h4>Ancillary Keywords <% if @draft.present? %><%= link_to '<i class="fa fa-edit"></i> <span class="hidden">Edit Ancillary Keywords</span>'.html_safe, draft_edit_form_path(@draft, 'descriptive_keywords', {anchor: 'ancillary-keywords'}), {class: 'hash-link'} %><% end %></h4>
      <%= render partial: 'shared/preview/fields/display_array_with_header', locals: {
          key_name: 'AncillaryKeywords',
          hash_for_key: metadata
      } %>

      <h4>Additional Attributes <% if @draft.present? %><%= link_to '<i class="fa fa-edit"></i> <span class="hidden">Edit Additional Attributes</span>'.html_safe, draft_edit_form_path(@draft, 'descriptive_keywords', {anchor: 'additional-attributes'}), {class: 'hash-link'} %><% end %></h4>
      <%= render partial: 'shared/preview/preview_type', locals: {
          data: metadata['AdditionalAttributes'],
          name: 'AdditionalAttributes',
          type: TypesHelper::AdditionalAttributesType
      } %>
    </ul>
  </div>
</div>
