<div class="preview-collection">
  <% if (metadata['RelatedUrls'] && metadata['Distributions']).blank? %>
    <p class="empty-section">There is no distribution information for this collection.</p>
  <% end %>
  <% if metadata['Distributions'] %>
    <h5>Distributions</h5>
    <table>
      <tr>
        <th>Media</th>
        <th>Format</th>
        <th>Sizes</th>
        <th>Fees</th>
      </tr>
      <% metadata['Distributions'].each do |distribution| %>
        <tr>
          <td><%= distribution['DistributionMedia'] %></td>
          <td><%= distribution['DistributionFormat'] %></td>
          <td>
            <% if distribution['Sizes'] %>
              <% distribution['Sizes'].each do |size| %>
                <%= size.size %><%= size.unit %>
              <% end %>
            <% end %>
          </td>
          <td><%= distribution['Fees'] %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <% if metadata['RelatedUrls'] %>
    <h5>Related URLs</h5>
    <ul>
    <% metadata['RelatedUrls'].each do |url| %>
      <li>
        <%= url['Title'] %><br />
        <%= url['Description'] %><br />
        <% if url['Relation'] %>
          <% url['Relation'].each do |relation| %>
            <%= relation %></br>
          <% end %>
        <% end %>
        <% url['URLs'].each do |url| %>
          <i class="fa fa-globe"></i> <a href="<%= url %>"><%= url %></a></br>
        <% end %>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>
