<div class="preview-collection accordion">
  <% if @draft.present? %><%= link_to '<i class="fa fa-edit"></i> <span class="is-hidden">Edit Metadata Language</span>'.html_safe, draft_edit_form_path(@draft, 'metadata_information'), {class: 'hash-link'} %><% end %>
  <% if (metadata['MetadataLanguage'] && metadata['MetadataDates'] && metadata['DirectoryNames']).blank? %>
    <p class="empty-section">There are no metadata details for this collection.</p>
  <% else %>
    <% if metadata['MetadataDates'] %>
      <h5>Dates</h5>
      <table>
        <% metadata['MetadataDates'].each do |data| %>
          <tr>
            <td><%= data["Type"] %></td>
            <td><%= data["Date"] %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
    <% if metadata['DirectoryNames'] %>
      <h5>Directory Names</h5>
      <table>
        <% metadata['DirectoryNames'].each do |data| %>
          <tr>
            <td><%= data["ShortName"] %></td>
            <td><%= data["LongName"] %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
    <% if metadata['MetadataLanguage'] %>
      <h5>Language</h5>
      <p><%= metadata['MetadataLanguage'] %></p>
    <% end %>
  <% end %>
</div>
