<div class="row sub-fields">
  <!-- Name -->
  <%= mmt_text_field(
    name: 'name',
    title: 'Name',
    prefix: name_prefix,
    value: additional_attribute['Name'],
    help: 'definitions/AdditionalAttributeType/properties/Name',
    validate: true,
    required: true
   ) %>


  <!-- Description -->
  <%= mmt_text_area(
    name: 'description',
    title: 'Description',
    prefix: name_prefix,
    value: additional_attribute['Description'],
    help: 'definitions/AdditionalAttributeType/properties/Description',
    validate: true,
    required: true
   ) %>


  <!-- Value -->
  <%= mmt_text_area(
    name: 'value',
    title: 'Value',
    prefix: name_prefix,
    value: additional_attribute['Value'],
    help: 'definitions/AdditionalAttributeType/properties/Value',
    validate: true
   ) %>

  <div class="row">
    <div class="col-6">
      <!-- DataType -->
        <%= mmt_select(
          name: 'data_type',
          title: 'Data Type',
          prefix: name_prefix,
          value: additional_attribute['DataType'],
          options: DraftsHelper::DataTypeOptions,
          help: 'definitions/AdditionalAttributeType/properties/DataType',
          required: true,
          classes: 'additional-attribute-type-select'
        ) %>
    </div>
    <div class="col-6">
      <!-- MeasurementResolution -->
      <%= mmt_text_field(
        name: 'measurement_resolution',
        title: 'Measurement Resolution',
        prefix: name_prefix,
        value: additional_attribute['MeasurementResolution'],
        help: 'definitions/AdditionalAttributeType/properties/MeasurementResolution',
        validate: true
       ) %>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <!-- ParameterRangeBegin -->
      <%= mmt_text_field(
        name: 'parameter_range_begin',
        title: 'Parameter Range Begin',
        prefix: name_prefix,
        value: additional_attribute['ParameterRangeBegin'],
        help: 'definitions/AdditionalAttributeType/properties/ParameterRangeBegin',
        validate: true,
        classes: 'parameter-range-begin'
       ) %>
    </div>
    <div class="col-6">
      <!-- ParameterRangeEnd -->
      <%= mmt_text_field(
        name: 'parameter_range_end',
        title: 'Parameter Range End',
        prefix: name_prefix,
        value: additional_attribute['ParameterRangeEnd'],
        help: 'definitions/AdditionalAttributeType/properties/ParameterRangeEnd',
        validate: true,
        classes: 'parameter-range-end'
       ) %>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <!-- ParameterUnitsOfMeasure -->
      <%= mmt_text_field(
        name: 'parameter_units_of_measure',
        title: 'Parameter Units Of Measure',
        prefix: name_prefix,
        value: additional_attribute['ParameterUnitsOfMeasure'],
        help: 'definitions/AdditionalAttributeType/properties/ParameterUnitsOfMeasure',
        validate: true
       ) %>
    </div>
    <div class="col-6">
      <!-- ParameterValueAccuracy -->
      <%= mmt_text_field(
        name: 'parameter_value_accuracy',
        title: 'Parameter Value Accuracy',
        prefix: name_prefix,
        value: additional_attribute['ParameterValueAccuracy'],
        help: 'definitions/AdditionalAttributeType/properties/ParameterValueAccuracy',
        validate: true
       ) %>
    </div>
  </div>


  <!-- ValueAccuracyExplanation -->
  <%= mmt_text_area(
    name: 'value_accuracy_explanation',
    title: 'Value Accuracy Explanation',
    prefix: name_prefix,
    value: additional_attribute['ValueAccuracyExplanation'],
    help: 'definitions/AdditionalAttributeType/properties/ValueAccuracyExplanation',
    validate: true
   ) %>

  <div class="row">
    <div class="col-6">
      <!-- Group -->
      <%= mmt_text_field(
        name: 'group',
        title: 'Group',
        prefix: name_prefix,
        value: additional_attribute['Group'],
        help: 'definitions/AdditionalAttributeType/properties/Group',
        validate: true
       ) %>
    </div>
    <div class="col-6">
      <!-- UpdateDate -->
      <%= mmt_datetime(
        name: 'update_date',
        title: 'Update Date',
        prefix: name_prefix,
        value: additional_attribute['UpdateDate'],
        help: 'definitions/AdditionalAttributeType/properties/UpdateDate',
        validate: true,
        classes: 'mmt-date-time'
      ) %>
    </div>
  </div>
</div>
