<div class="grid-row sub-fields">
  <div class="grid-row">
    <div class="grid-col-6">
      <%= mmt_select(
        name: 'country',
        title: 'Country',
        prefix: name_prefix,
        value: address['Country'],
        options: @country_codes,
        help: 'definitions/AddressType/properties/Country',
        required: false,
        required_level: options[:required_level],
        classes: 'mmt-fake-enum country-select'
      ) %>
    </div>
  </div>

  <% street_addresses = address['StreetAddresses'] || [nil, nil] # [nil] creates at least one Street Address field %>
  <fieldset class="multiple addresses-street-addresses">
    <div class="grid-row">
      <legend class="is-inline is-dark-grey">Street Address</legend>
      <%= mmt_help_icon(
        title: 'Street Address',
        help: 'definitions/AddressType/properties/StreetAddresses'
      ) %>
    </div>
    <% street_addresses += Array.new(3) # always display two street address fields %>
    <% street_addresses[0..2].each_with_index do |street_address, index| %>
      <div class="multiple-item multiple-item-<%= index %>">
        <%= mmt_text_field(
          name: "|street_addresses|_#{index}",
          title: "Street Address - Line #{index + 1}",
          prefix: name_prefix,
          value: street_address,
          validate: true,
          required_level: options[:required_level]
        ) %>

      </div>
    <% end %>
  </fieldset>
  <div class="grid-row">
    <div class="grid-col-6">
      <%= mmt_text_field(
        name: 'city',
        title: 'City',
        prefix: name_prefix,
        value: address['City'],
        help: 'definitions/AddressType/properties/City',
        validate: true,
        required_level: options[:required_level]
       ) %>
    </div>
    <div class="grid-col-3">
      <%= mmt_label(
        name: 'state_province',
        title: 'State / Province',
        prefix: name_prefix
      ) %>
      <%= mmt_help_icon(
        title: 'State / Province',
        help: 'definitions/AddressType/properties/StateProvince'
      ) %>

      <%
        country_codes = Carmen::Country.all.sort
        country_codes.each do |code|
          if(code.to_s == address['Country'])
            @country = code
          end
        end
      %>

      <!-- TODO need to add data required level -->
      <% use_text_field = @country.nil? || !@country.subregions? ? true : false %>
      <%= text_field_tag name_to_param("#{name_prefix}|state_province|"), address['StateProvince'], class: 'full-width validate state-province-text-field', disabled: !use_text_field, style: "#{'display: none;' if !use_text_field}", data: { level: remove_pipes(name_prefix) } %>
      <%= select_tag name_to_param("#{name_prefix}|state_province|"), options_for_subregion_select(@country, address['StateProvince']), class: 'mmt-fake-enum half-width state-province-select', disabled: use_text_field, style: "#{'display: none;' if use_text_field}", data: { level: remove_pipes(name_prefix) } %>
    </div>
    <div class="grid-col-3">
      <%= mmt_text_field(
        name: 'postal_code',
        title: 'Postal Code',
        prefix: name_prefix,
        value: address['PostalCode'],
        help: 'definitions/AddressType/properties/PostalCode',
        validate: true,
        required_level: options[:required_level]
       ) %>
    </div>
  </div>
</div>
