<div class="grid-row sub-fields">
  <!-- DatumName -->
  <%= mmt_text_field(
    name: 'datum_name',
    title: 'Datum Name',
    prefix: name_prefix,
    value: altitude_system_definition['DatumName'],
    help: 'definitions/AltitudeSystemDefinitionType/properties/DatumName',
    validate: true
  ) %>


  <!-- DistanceUnits -->
  <%= mmt_select(
    name: 'distance_units',
    title: 'Distance Units',
    prefix: name_prefix,
    value: altitude_system_definition['DistanceUnits'],
    options: DraftsHelper::AltitudeDistanceUnitsOptions,
    help: 'definitions/AltitudeSystemDefinitionType/properties/DistanceUnits'
  ) %>


  <!-- Resolutions -->
  <% resolutions = altitude_system_definition['Resolutions'] || [nil] %>
  <div class="multiple simple-multiple resolutions">
    <%= mmt_label(
      name: 'resolutions_',
      title: 'Resolutions',
      prefix: name_prefix
    ) %>
    <%= mmt_help_icon(
      title: 'Resolutions',
      help: 'definitions/AltitudeSystemDefinitionType/properties/Resolutions'
    ) %>

  <% resolutions.each_with_index do |resolution, index| %>
    <div class="multiple-item multiple-item-<%= index %>">
      <%= text_field_tag(name_to_param("#{name_prefix}resolutions_#{index}"), resolution, class: 'half-width resolution simple-multiple-field validate mmt-number', data: { level: remove_pipes(name_prefix) }) %>
      <a class="remove">
        <i class="fa fa-times-circle"></i>
        <span class="is-invisible">Remove <%= index %></span>
      </a>
      <div class="actions">
        <button type="button" class="eui-btn--blue add-new new-simple"><i class="fa fa-plus-circle"></i> Add another Resolution</button>
      </div>
    </div>
  <% end %>
  </div>

</div>
