<div class="grid-row sub-fields">
  <!-- Name [r] -->
  <%= mmt_text_area(
    name: 'name',
    title: 'Name',
    prefix: name_prefix,
    value: characteristics['Name'],
    help: 'definitions/CharacteristicType/properties/Name',
    validate: true,
    required: true
   ) %>


  <!-- Description [r] -->
  <%= mmt_text_area(
    name: 'description',
    title: 'Description',
    prefix: name_prefix,
    value: characteristics['Description'],
    help: 'definitions/CharacteristicType/properties/Description',
    validate: true,
    required: true
   ) %>

  <div class="grid-row">
    <div class="grid-col-4">
      <!-- Value [r] -->
      <%= mmt_text_area(
        name: 'value',
        title: 'Value',
        prefix: name_prefix,
        value: characteristics['Value'],
        help: 'definitions/CharacteristicType/properties/Value',
        validate: true,
        required: true
       ) %>
    </div>
    <div class="grid-col-4">
      <!-- Unit [r] -->
      <%= mmt_text_area(
        name: 'unit',
        title: 'Unit',
        prefix: name_prefix,
        value: characteristics['Unit'],
        help: 'definitions/CharacteristicType/properties/Unit',
        validate: true,
        required: true
       ) %>
    </div>
    <div class="grid-col-4">
      <!-- Data Type [r] -->
      <%= mmt_select(
        name: 'data_type',
        title: 'Data Type',
        prefix: name_prefix,
        value: characteristics['DataType'],
        options: DraftsHelper::DataTypeOptions,
        help: 'definitions/CharacteristicType/properties/DataType',
        required: true
      ) %>
    </div>
  </div>
</div>
