<div class="grid_row sub-fields">
  <!-- Eon -->
  <%= mmt_text_area(
    name: 'eon',
    title: 'Eon',
    prefix: name_prefix,
    value: chronostratigraphic_unit['Eon'],
    validate: true,
    required: true
   ) %>

  <!-- Era -->
  <%= mmt_text_area(
    name: 'era',
    title: 'Era',
    prefix: name_prefix,
    value: chronostratigraphic_unit['Era'],
    validate: true
   ) %>


  <!-- Period -->
  <%= mmt_text_area(
    name: 'period',
    title: 'Period',
    prefix: name_prefix,
    value: chronostratigraphic_unit['Period'],
    validate: true
   ) %>


  <!-- Epoch -->
  <%= mmt_text_area(
    name: 'epoch',
    title: 'Epoch',
    prefix: name_prefix,
    value: chronostratigraphic_unit['Epoch'],
    validate: true
   ) %>


  <!-- Stage -->
  <%= mmt_text_area(
    name: 'stage',
    title: 'Stage',
    prefix: name_prefix,
    value: chronostratigraphic_unit['Stage'],
    validate: true
   ) %>


  <!-- DetailedClassification -->
  <%= mmt_text_area(
    name: 'detailed_classification',
    title: 'Detailed Classification',
    prefix: name_prefix,
    value: chronostratigraphic_unit['DetailedClassification'],
    validate: true
   ) %>
</div>
