<div class="grid-row sub-fields">
  <!-- Version -->
  <%= mmt_text_field(
    name: 'version',
    title: 'Version',
    prefix: name_prefix,
    value: collection_citation['Version'],
    help: 'definitions/ResourceCitationType/properties/Version',
    validate: true
   ) %>

  <!-- Title -->
  <%= mmt_text_area(
    name: 'title',
    title: 'Title',
    prefix: name_prefix,
    value: collection_citation['Title'],
    help: 'definitions/ResourceCitationType/properties/Title',
    validate: true
   ) %>


  <!-- Creator -->
  <%= mmt_text_area(
    name: 'creator',
    title: 'Creator',
    prefix: name_prefix,
    value: collection_citation['Creator'],
    help: 'definitions/ResourceCitationType/properties/Creator',
    validate: true
   ) %>


  <!-- Editor -->
  <%= mmt_text_area(
    name: 'editor',
    title: 'Editor',
    prefix: name_prefix,
    value: collection_citation['Editor'],
    help: 'definitions/ResourceCitationType/properties/Editor',
    validate: true
   ) %>


  <!-- SeriesName -->
  <%= mmt_text_area(
    name: 'series_name',
    title: 'Series Name',
    prefix: name_prefix,
    value: collection_citation['SeriesName'],
    help: 'definitions/ResourceCitationType/properties/SeriesName',
    validate: true
   ) %>


  <!-- ReleaseDate -->
  <%= mmt_datetime(
    name: 'release_date',
    title: 'Release Date',
    prefix: name_prefix,
    value: collection_citation['ReleaseDate'],
    help: 'definitions/ResourceCitationType/properties/ReleaseDate',
    validate: true
  ) %>


  <!-- ReleasePlace -->
  <%= mmt_text_area(
    name: 'release_place',
    title: 'Release Place',
    prefix: name_prefix,
    value: collection_citation['ReleasePlace'],
    help: 'definitions/ResourceCitationType/properties/ReleasePlace',
    validate: true
   ) %>


  <!-- Publisher -->
  <%= mmt_text_area(
    name: 'publisher',
    title: 'Publisher',
    prefix: name_prefix,
    value: collection_citation['Publisher'],
    help: 'definitions/ResourceCitationType/properties/Publisher',
    validate: true
   ) %>


  <div class="grid-row">
    <div class="grid-col-6">
      <!-- IssueIdentification -->
      <%= mmt_text_field(
        name: 'issue_identification',
        title: 'Issue Identification',
        prefix: name_prefix,
        value: collection_citation['IssueIdentification'],
        help: 'definitions/ResourceCitationType/properties/IssueIdentification',
        validate: true
       ) %>
    </div>
    <div class="grid-col-6">
      <!-- DataPresentationForm -->
      <%= mmt_text_field(
        name: 'data_presentation_form',
        title: 'Data Presentation Form',
        prefix: name_prefix,
        value: collection_citation['DataPresentationForm'],
        help: 'definitions/ResourceCitationType/properties/DataPresentationForm',
        validate: true
       ) %>
    </div>
  </div>

  <!-- OtherCitationDetails -->
  <%= mmt_text_area(
    name: 'other_citation_details',
    title: 'Other Citation Details',
    prefix: name_prefix,
    value: collection_citation['OtherCitationDetails'],
    help: 'definitions/ResourceCitationType/properties/OtherCitationDetails',
    validate: true
   ) %>


  <!-- OnlineResource -->
  <%= mmt_label(
    name: 'online_resource',
    title: 'Online Resource',
    prefix: name_prefix
  ) %>
  <%= mmt_help_icon(
    title: 'Online Resource',
    help: 'definitions/ResourceCitationType/properties/OnlineResource'
  ) %>
  <%= render partial: 'collection_drafts/forms/type', locals: {
    type: 'online_resource',
    values: collection_citation['OnlineResource'] || {},
    name_prefix: "#{name_prefix}|online_resource|_",
    multiple: false
  } %>

</div>
