<div class="grid_row sub-fields taller">
  <!-- Roles [r] -->
  <%= mmt_select(
    name: 'roles',
    title: 'Roles',
    prefix: name_prefix,
    value: contact_person['Roles'],
    multiple: true,
    options: DraftsHelper::DataContactRoleOptions,
    help: 'definitions/ContactPersonType/properties/Roles',
    classes: 'data-contact-roles-select',
    required: true,
    required_level: options[:required_level]
  ) %>

  <div class="grid_row">
    <!-- FirstName -->
    <div class="grid-col-4">
      <%= mmt_text_field(
        name: 'first_name',
        title: 'First Name',
        prefix: name_prefix,
        value: contact_person['FirstName'],
        help: 'definitions/ContactPersonType/properties/FirstName',
        validate: true,
        required_level: options[:required_level]
      ) %>
    </div>

    <!-- MiddleName -->
    <div class="grid-col-4">
      <%= mmt_text_field(
        name: 'middle_name',
        title: 'Middle Name',
        prefix: name_prefix,
        value: contact_person['MiddleName'],
        help: 'definitions/ContactPersonType/properties/MiddleName',
        validate: true,
        required_level: options[:required_level]
      ) %>
    </div>

    <!-- LastName [r] -->
    <div class="grid-col-4">
      <%= mmt_text_field(
        name: 'last_name',
        title: 'Last Name',
        prefix: name_prefix,
        value: contact_person['LastName'],
        help: 'definitions/ContactPersonType/properties/LastName',
        validate: true,
        required: true,
        required_level: options[:required_level]
      ) %>
    </div>
  </div>

  <% unless options[:data_center_affiliation] %>
    <!-- NonDataCenterAffiliation -->
    <div class="grid_row">
      <%= mmt_text_field(
      name: 'non_data_center_affiliation',
      title: 'Non Data Center Affiliation',
      prefix: name_prefix,
      value: contact_person['NonDataCenterAffiliation'],
      help: 'definitions/ContactPersonType/properties/NonDataCenterAffiliation',
      validate: true,
      required_level: options[:required_level]
      ) %>
    </div>
  <% end %>

  <!-- ContactInformation -->
  <%= render partial: 'collection_drafts/forms/type', locals: {
    type: 'contact_information',
    title: 'Contact Information',
    values: contact_person['ContactInformation'] || {},
    name_prefix: "#{name_prefix}|contact_information|_",
    help: 'definitions/ContactInformationType',
    multiple: false,
    options: options.clone.merge({ required_level: options[:required_level] })
  } %>
</div>
