<div class="grid_row sub-fields">
  <div class="grid_row">
    <!-- ServiceHours -->
    <div class="grid-col-6">
      <%= mmt_text_field(
        name: 'service_hours',
        title: 'Service Hours',
        prefix: name_prefix,
        value: contact_information['ServiceHours'],
        help: 'definitions/ContactInformationType/properties/ServiceHours',
        validate: true,
        required_level: options[:required_level]
      ) %>
    </div>

    <!-- ContactInstruction -->
    <div class="grid-col-6">
      <%= mmt_text_field(
        name: 'contact_instruction',
        title: 'Contact Instructions',
        prefix: name_prefix,
        value: contact_information['ContactInstruction'],
        help: 'definitions/ContactInformationType/properties/ContactInstruction',
        validate: true,
        required_level: options[:required_level]
      ) %>
    </div>
  </div>

  <!-- ContactMechanisms - multiple -->
  <%= render partial: 'collection_drafts/forms/type', locals: {
    type: 'contact_mechanism',
    # title: 'Contact Mechanism',
    values: contact_information['ContactMechanisms'] || [{}],
    name_prefix: "#{name_prefix}|contact_mechanisms|_", # TODO verify
    multiple: true,
    options: options.clone
  } %>

  <!-- Addresses - multiple-->
  <%= render partial: 'collection_drafts/forms/type', locals: {
    type: 'address',
    values: contact_information['Addresses'] || [{}],
    name_prefix: "#{name_prefix}addresses_",
    multiple: true,
    options: options.clone
  } %>

  <!-- RelatedUrls - multiple -->
  <%= render partial: 'collection_drafts/forms/type', locals: {
    type: 'related_url',
    values: contact_information['RelatedUrls'] || [{}],
    name_prefix: "#{name_prefix}|related_urls|_",
    multiple: true,
    options: options.clone
  } %>
</div>
