<% data_contact_type = get_contact_type(data_contact) %>
<% url_content_type_options = options[:url_content_type_options] || [] %>
<% url_type_options = options[:url_type_options] || [] %>
<% url_subtype_options = options[:url_subtype_options] || [] %>

<div class="row sub-fields">
  <div class="data-contact-type-select-parent">
    <%= mmt_select(
      name: 'data_contact_type',
      title: 'Data Contact Type',
      prefix: name_prefix,
      value: get_contact_type(data_contact),
      classes: 'data-contact-type-select',
      options: DraftsHelper::DataContactTypeOptions,
      required_level: 1 # might not need/want this. there are no descendants
    ) %>
  </div>

  <!-- Data Center Contact Person -->
  <div class="data-contact-type data-center-contact-person" data-required-level="1" style="<%= 'display: none;' unless data_contact_type == 'DataCenterContactPerson' %>">
    <%= mmt_label(
    name: 'data_center_contact_person',
    title: 'Data Center Contact Person',
    prefix: name_prefix
    ) %>
    <%= mmt_help_icon(
          title: 'Data Center Contact Person',
          help: 'properties/ContactPersons',
          help_url: 'Data+Center+-+Contact+Person'
        ) %>
    <%= render partial: 'collection_drafts/forms/type', locals: {
      type: 'data_center_contact_person',
      title: 'Data Center Contact Person',
      values: data_contact['ContactPersonDataCenter'] || {},
      name_prefix: "#{name_prefix}|contact_person_data_center|_",
      help: 'definitions/ContactPersonType',
      multiple: false,
      options: {
        data_center_affiliation: true,
        related_url_title: 'Data Center Contact Person Related URLs',
        url_content_type_options: url_content_type_options,
        url_type_options: url_type_options,
        url_subtype_options: url_subtype_options,
        required_level: 1
      }
    } %>
  </div>


  <!-- Data Center Contact Group -->
  <div class="data-contact-type data-center-contact-group" data-required-level="1" style="<%= 'display: none;' unless data_contact_type == 'DataCenterContactGroup' %>">
    <%= mmt_label(
    name: 'data_center_contact_group',
    title: 'Data Center Contact Group',
    prefix: name_prefix
    ) %>
    <%= mmt_help_icon(
          title: 'Data Center Contact Group',
          help: 'properties/ContactGroups',
          help_url: 'Data+Center+-+Contact+Group'
        ) %>

    <%= render partial: 'collection_drafts/forms/type', locals: {
      type: 'data_center_contact_group',
      title: 'Data Center Contact Group',
      values: data_contact['ContactGroupDataCenter'] || {},
      name_prefix: "#{name_prefix}|contact_group_data_center|_",
      help: 'definitions/ContactGroupType',
      multiple: false,
      options: {
        data_center_affiliation: true,
        related_url_title: 'Data Center Contact Group Related URLs',
        url_content_type_options: url_content_type_options,
        url_type_options: url_type_options,
        url_subtype_options: url_subtype_options,
        required_level: 1
      }
    } %>
  </div>

  <!-- Non Data Center Contact Person -->
  <div class="data-contact-type non-data-center-contact-person" data-required-level="1" style="<%= 'display: none;' unless data_contact_type == 'NonDataCenterContactPerson' %>">
    <%= mmt_label(
    name: 'non_data_center_contact_person',
    title: 'Non Data Center Contact Person',
    prefix: name_prefix
    ) %>
    <%= mmt_help_icon(
    title: 'Contact Persons',
    help: 'properties/ContactPersons'
    ) %>
    <%= render partial: 'collection_drafts/forms/type', locals: {
      type: 'contact_person',
      values: data_contact['ContactPerson'] || {},
      name_prefix: "#{name_prefix}|contact_person|_",
      multiple: false,
      options: {
        data_center_affiliation: false,
        related_url_title: 'Non Data Center Contact Person Related URLs',
        url_content_type_options: url_content_type_options,
        url_type_options: url_type_options,
        url_subtype_options: url_subtype_options,
        required_level: 1
      }
    } %>
  </div>

  <!-- Non Data Center Contact Group -->
  <div class="data-contact-type non-data-center-contact-group" data-required-level="1" style="<%= 'display: none;' unless data_contact_type == 'NonDataCenterContactGroup' %>">
    <%= mmt_label(
    name: 'non_data_center_contact_group',
    title: 'Non Data Center Contact Group',
    prefix: name_prefix
    ) %>
    <%= mmt_help_icon(
    title: 'Contact Groups',
    help: 'properties/ContactGroups'
    ) %>
    <%= render partial: 'collection_drafts/forms/type', locals: {
      type: 'contact_group',
      values: data_contact['ContactGroup'] || {},
      name_prefix: "#{name_prefix}|contact_group|_",
      multiple: false,
      options: {
        data_center_affiliation: false,
        related_url_title: 'Non Data Center Contact Group Related URLs',
        url_content_type_options: url_content_type_options,
        url_type_options: url_type_options,
        url_subtype_options: url_subtype_options,
        required_level: 1
      }
    } %>
  </div>
</div>
