<div class="sub-fields file_distribution_information-fields">
  <div class="row">
    <div class="col-6">
      <!-- Format -->
      <%= mmt_text_field(
            name: 'format',
            title: 'Format',
            prefix: name_prefix,
            value: file_distribution_information['Format'],
            help: 'definitions/FileDistributionInformationType/anyOf/0/properties/Format',
            validate: true,
            required: true
          ) %>
    </div>
    <div class="col-6">
      <!-- Format Type - Select 'Native', 'Supported'  -->
      <%= mmt_select(
            name: 'format_type',
            title: 'Format Type',
            prefix: name_prefix,
            value: file_distribution_information['FormatType'],
            options: DraftsHelper::ArchiveDistributionFormatTypeOptions,
            help: 'definitions/FileDistributionInformationType/anyOf/0/properties/FormatType'
          ) %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <!-- Format Description -->
      <%= mmt_text_field(
            name: 'format_description',
            title: 'Format Description',
            prefix: name_prefix,
            value: file_distribution_information['FormatDescription'],
            help: 'definitions/FileDistributionInformationType/anyOf/0/properties/FormatDescription',
            validate: true,
          ) %>
    </div>
  </div>

  <fieldset class="eui-accordion is-open" id="media">
    <div class="eui-accordion__header">
      <h3 class="eui-accordion__title">Media</h3>
      <%= mmt_help_icon(
            title: 'Media',
            help: 'definitions/FileDistributionInformationType/anyOf/0/properties/Media'
          ) %>
      <div class="eui-accordion__icon" tabindex="0">
        <i class="eui-icon eui-fa-chevron-circle-down"></i>
        <span class="eui-sr-only">Toggle Media</span>
      </div>
    </div>
    <div class="eui-accordion__body">
      <!-- Media -->
      <div class="row taller">
        <div class="col-12">
          <%= mmt_label(
                name: 'media_',
                title: 'Media',
                prefix: name_prefix
              ) %>
          <%= mmt_help_icon(
                title: 'Media',
                help: 'definitions/FileDistributionInformationType/anyOf/0/properties/Media'
              ) %>
          <div class="row">
            <% media = file_distribution_information['Media'] || [nil] # [nil] creates at least one field %>
            <div class="multiple simple-multiple media">
              <% media.each_with_index do |media, index| %>
                <div class="multiple-item multiple-item-<%= index %>">
                  <%= text_field_tag(name_to_param("#{name_prefix}|media|_#{index}"), media, class: 'half-width media simple-multiple-field validate', data: { level: "#{name_prefix}" }) %>
                  <a class="remove">
                    <i class="fa fa-times-circle"></i>
                    <span class="is-invisible">Remove <%= media %></span>
                  </a>
                  <div class="actions">
                    <button type="button" class="eui-btn--blue add-new new-simple"><i class="fa fa-plus-circle"></i> Add another Media</button>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="row">
    <div class="col-6">
      <!-- Average File Size -->
      <%= mmt_text_field(
            name: 'average_file_size',
            title: 'Average File Size',
            prefix: name_prefix,
            value: file_distribution_information['AverageFileSize'],
            help: 'definitions/FileDistributionInformationType/anyOf/0/properties/AverageFileSize',
            validate: true,
            classes: 'mmt-number'
          ) %>
    </div>

    <div class="col-6">
      <!-- Average File Size Unit - Select 'KB', 'MB', 'GB', 'TB', 'PB', 'NA'  -->
      <%= mmt_select(
            name: 'average_file_size_unit',
            title: 'Average File Size Unit',
            prefix: name_prefix,
            value: file_distribution_information['AverageFileSizeUnit'],
            options: DraftsHelper::ArchiveDistributionUnitOptions,
            help: 'definitions/FileDistributionInformationType/anyOf/0/properties/AverageFileSizeUnit'
          ) %>
    </div>
  </div>
  <div class="total-collection-file-size-group sub-fields">
    <% by_size = !file_distribution_information['TotalCollectionFileSize'].blank? ||
      (file_distribution_information['TotalCollectionFileSize'].blank? && file_distribution_information['TotalCollectionFileSizeBeginDate'].blank?)%>
    <p class="radio-group">
      <%= radio_button_tag(name_to_param("#{name_prefix}"), 'BySize', by_size == true, class: 'total-collection-file-size-select', name: nil, data: { level: remove_pipes(name_prefix) }) %>
      <label for="<%= remove_pipes(name_prefix) %>BySize">Enter Total Collection File Size</label>
    </p>
    <p class="radio-group">
      <%= radio_button_tag(name_to_param("#{name_prefix}"), 'ByDate', by_size == false, class: 'total-collection-file-size-select', name: nil, data: { level: remove_pipes(name_prefix) }) %>
      <label for="<%= remove_pipes(name_prefix) %>ByDate">Calculate Total Collection File Size By Start Date</label>
    </p>

    <div class="row total-collection-file-size-fields by-size" style="<%= 'display: none;' unless by_size == true %>">
      <div class="col-6">
        <!-- Total Collection File Size -->
        <%= mmt_text_field(
              name: 'total_collection_file_size',
              title: 'Total Collection File Size',
              prefix: name_prefix,
              value: file_distribution_information['TotalCollectionFileSize'],
              help: 'definitions/FileDistributionInformationType/anyOf/0/properties/TotalCollectionFileSize',
              validate: true,
              classes: 'mmt-number'
            ) %>
      </div>

      <div class="col-6">
        <!-- Total Collection File Size Unit - Select 'KB', 'MB', 'GB', 'TB', 'PB', 'NA'  -->
        <%= mmt_select(
              name: 'total_collection_file_size_unit',
              title: 'Total Collection File Size Unit',
              prefix: name_prefix,
              value: file_distribution_information['TotalCollectionFileSizeUnit'],
              options: DraftsHelper::ArchiveDistributionUnitOptions,
              help: 'definitions/FileDistributionInformationType/anyOf/0/properties/TotalCollectionFileSizeUnit'
            ) %>
      </div>
    </div>
    <!-- Total Collection File Size Begin Date -->
    <div class="row total-collection-file-size-fields by-date" style="<%= 'display: none;' unless by_size == false %>">
      <div class="col-12">
        <%= mmt_datetime(
              name: 'total_collection_file_size_begin_date',
              title: 'Total Collection File Size Begin Date',
              prefix: name_prefix,
              value: file_distribution_information['TotalCollectionFileSizeBeginDate'],
              help: 'definitions/FileDistributionInformationType/anyOf/1/properties/TotalCollectionFileSizeBeginDate',
              validate: true
            ) %>
      </div>
    </div>
  </div>
  <!-- Description -->
  <div class="row">
    <div class="col-12">
      <%= mmt_text_area(
            name: 'description',
            title: 'Description',
            prefix: name_prefix,
            value: file_distribution_information['Description'],
            help: 'definitions/FileDistributionInformationType/anyOf/0/properties/Description',
            validate: true
          ) %>
    </div>
  </div>
  <!-- Fees -->
  <div class="row">
    <div class="col-12">
      <%= mmt_text_field(
            name: 'fees',
            title: 'Fees',
            prefix: name_prefix,
            value: file_distribution_information['Fees'],
            help: 'definitions/FileDistributionInformationType/anyOf/0/properties/Fees',
            validate: true
          ) %>
    </div>
  </div>
</div>
