<div class="grid-row sub-fields">
  <!-- Boundary -->
  <%= mmt_label(
    name: 'boundary',
    title: 'Boundary',
    prefix: name_prefix,
    required: true
  ) %>
  <%= mmt_help_icon(
    title: 'Boundary',
    help: 'definitions/BoundaryType'
  ) %>
  <%= render partial: 'collection_drafts/forms/type', locals: {
      type: 'boundary',
      values: g_polygon['Boundary'] || {},
      name_prefix: "#{name_prefix}boundary_",
      multiple: false,
      options: {minimum_points: 3} } %>



  <!-- ExclusiveZone -->
  <%= mmt_label(
    name: 'exclusive_zone',
    title: 'Exclusive Zone',
    prefix: name_prefix
  ) %>
  <%= mmt_help_icon(
    title: 'Exclusive Zone',
    help: 'definitions/ExclusiveZoneType'
  ) %>
  <%= render partial: 'collection_drafts/forms/type', locals: {
      type: 'exclusive_zone',
      values: g_polygon['ExclusiveZone'] || {},
      name_prefix: "#{name_prefix}|exclusive_zone|_",
      multiple: false,
      options: {minimum_points: 3} } %>

</div>
