<div class="row sub-fields">
  <!-- Upload Shape file -->
  <div id="shape_file_upload" class="dropzone" >
    <h2>Create by Shape File</h2>
      <p>
        <a class="geojson-dropzone-link" href="#">Click here</a> to select a shape file.  You may also
        simply drag and drop shape files into this box at any time.
      </p>
      <p>
        Valid formats include:
      </p>
      <ul>
        <li>ESRI Shapefile (.zip including .shp, .dbf, and .shx file)</li>
        <li>Keyhole Markup Language (.kml or .kmz)</li>
        <li>GeoJSON (.json or .geojson)</li>
        <li>GeoRSS (.rss, .georss, or .xml)</li>
      </ul>
      <p>
        Shape files can only contain one type of shape.
      </p>
      <p>
        Polygons must contain less than 50 points.
      </p>
  </div>

  <!-- CoordinateSystem -->
  <% coordinate_system = geometry['CoordinateSystem'] || "" %>
  <div class="space-top">
    <%= mmt_label(
      name: nil,
      title: 'Coordinate System',
      prefix: name_prefix,
      required: true
    ) %>
    <a href="javascript:void(0)" class="clear-radio-button" data-content="coordinate-system-type">Clear</a>
    <div class="coordinate-system-type-group">
      <p class="radio-group">
        <%= radio_button_tag(name_to_param("#{name_prefix}|coordinate_system|"), 'CARTESIAN', coordinate_system == 'CARTESIAN', class: 'coordinate-system-select validate', data: { level: remove_pipes(name_prefix) }) %>
        <%= mmt_label(
        name: "coordinate_system_CARTESIAN",
        title: 'Cartesian',
        prefix: name_prefix
        ) %>
      </p>
      <p class="radio-group">
        <%= radio_button_tag(name_to_param("#{name_prefix}|coordinate_system|"), 'GEODETIC', coordinate_system == 'GEODETIC', class: 'coordinate-system-select validate', data: { level: remove_pipes(name_prefix) }) %>
        <%= mmt_label(
          name: "coordinate_system_GEODETIC",
          title: 'Geodetic',
          prefix: name_prefix
        ) %>
      </p>
    </div>
  </div>

  <!-- GeometryType (not an actual field) -->
  <!-- No name attribute to keep from submitting params, javascript will handle radio button group behavior -->
  <% points_checked = !geometry['Points'].nil? %>
  <% bounding_rectangles_checked = !geometry['BoundingRectangles'].nil? %>
  <% g_polygons_checked = !geometry['GPolygons'].nil? %>
  <% lines_checked = !geometry['Lines'].nil? %>
  <label class="eui-required-o space-top">Geometry Type</label>
  <div class="geometry-type-group">
    <div class="checkbox-group">
      <%= check_box_tag(name_to_param("#{name_prefix}points"), nil, points_checked, class: 'geometry-picker points', name: nil) %>
      <%= mmt_label(
        name: 'points',
        title: 'Points',
        prefix: name_prefix
      ) %>

      <div class="row sub-fields points-fields geometry-fields" style="<%= 'display: none;' unless points_checked %>">
        <%= render partial: 'collection_drafts/forms/type', locals: {
            type: 'point',
            values: geometry['Points'] || [{}],
            name_prefix: "#{name_prefix}points_",
            multiple: true,
            options: { show_preview: true } } %>
      </div>
    </div>
    <div class="checkbox-group">
      <%= check_box_tag(name_to_param("#{name_prefix}bounding_rectangles"), nil, bounding_rectangles_checked, class: 'geometry-picker bounding-rectangles', name: nil) %>
      <%= mmt_label(
        name: 'bounding_rectangles',
        title: 'Bounding Rectangles',
        prefix: name_prefix
      ) %>

      <div class="row sub-fields bounding-rectangles-fields geometry-fields" style="<%= 'display: none;' unless bounding_rectangles_checked %>">
        <%= render partial: 'collection_drafts/forms/type', locals: {
            type: 'bounding_rectangle',
            values: geometry['BoundingRectangles'] || [{}],
            name_prefix: "#{name_prefix}|bounding_rectangles|_",
            multiple: true,
            options: { show_preview: true } } %>
      </div>
    </div>
    <div class="checkbox-group">
      <%= check_box_tag(name_to_param("#{name_prefix}g_polygons"), nil, g_polygons_checked, class: 'geometry-picker g-polygons', name: nil) %>
      <%= mmt_label(
        name: 'g_polygons',
        title: 'G Polygons',
        prefix: name_prefix
      ) %>

      <div class="row sub-fields g-polygons-fields geometry-fields" style="<%= 'display: none;' unless g_polygons_checked %>">
        <%= render partial: 'collection_drafts/forms/type', locals: {
            type: 'g_polygon',
            values: geometry['GPolygons'] || [{}],
            name_prefix: "#{name_prefix}|g_polygons|_",
            multiple: true,
            options: { show_preview: true } } %>
      </div>
    </div>
    <div class="checkbox-group">
      <%= check_box_tag(name_to_param("#{name_prefix}lines"), nil, lines_checked, class: 'geometry-picker lines', name: nil) %>
      <%= mmt_label(
        name: 'lines',
        title: 'Lines',
        prefix: name_prefix
      ) %>

      <div class="row sub-fields lines-fields geometry-fields" style="<%= 'display: none;' unless lines_checked %>">
        <%= render partial: 'collection_drafts/forms/type', locals: {
            type: 'line',
            values: geometry['Lines'] || [{}],
            name_prefix: "#{name_prefix}lines_",
            multiple: true,
            options: {} } %>
      </div>
    </div>
  </div>
</div>
