<div class="row sub-fields">
  <div class="col-6">

    <%= mmt_select(
      name: 'format',
      title: 'Format',
      prefix: name_prefix,
      value: get_data['Format'],
      options:  @granule_data_formats,
      help: 'definitions/GetDataType/properties/Format',
      required: true
    ) %>

    <%= mmt_select(
      name: 'mime_type',
      title: 'Mime Type',
      prefix: name_prefix,
      value: get_data['MimeType'],
      options: DraftsHelper::MimeTypeOptions,
      help: 'definitions/GetDataType/properties/MimeType'
    ) %>

    <%= mmt_text_field(
      name: 'size',
      title: 'Size',
      prefix: name_prefix,
      value: get_data['Size'],
      help: 'definitions/GetDataType/properties/Size',
      validate: true,
      required: true,
      classes: 'mmt-number'
    ) %>

    <%= mmt_select(
      name: 'unit',
      title: 'Unit',
      prefix: name_prefix,
      value: get_data['Unit'],
      options: DraftsHelper::FileSizeUnitTypeOptions,
      help: 'definitions/GetDataType/properties/Unit',
      required: true
    ) %>

    <%= mmt_text_field(
      name: 'fees',
      title: 'Fees',
      prefix: name_prefix,
      value: get_data['Fees'],
      help: 'definitions/GetDataType/properties/Fees',
      validate: true
    ) %>

    <%= mmt_text_field(
      name: 'checksum',
      title: 'Checksum',
      prefix: name_prefix,
      value: get_data['Checksum'],
      help: 'definitions/GetDataType/properties/Checksum',
      validate: true
    ) %>
  </div>
</div>
