<div class="grid_row sub-fields">
  <div class="grid-col-6">
    <%= mmt_select(
      name: 'format',
      title: 'Format',
      prefix: name_prefix,
      value: get_service['Format'],
      options: DraftsHelper::GetDataTypeFormatOptions,
      help: 'definitions/GetServiceType/properties/Format'
    ) %>

    <%= mmt_select(
      name: 'mime_type',
      title: 'Mime Type',
      prefix: name_prefix,
      value: get_service['MimeType'],
      options: DraftsHelper::MimeTypeOptions,
      help: 'definitions/GetServiceType/properties/MimeType',
      required: true
    ) %>

    <%= mmt_select(
      name: 'protocol',
      title: 'Protocol',
      prefix: name_prefix,
      value: get_service['Protocol'],
      options: DraftsHelper::ProtocolOptions,
      help: 'definitions/GetServiceType/properties/Protocol',
      required: true
    ) %>

    <%= mmt_text_field(
      name: 'full_name',
      title: 'Full Name',
      prefix: name_prefix,
      value: get_service['FullName'],
      help: 'definitions/GetServiceType/properties/FullName',
      validate: true,
      required: true,
      # Sometimes solves the problem of autocompleting hidden fields.
      autocomplete: 'off'
    ) %>

    <%= mmt_text_field(
      name: 'data_id',
      title: 'Data ID',
      prefix: name_prefix,
      value: get_service['DataID'],
      help: 'definitions/GetServiceType/properties/DataID',
      validate: true,
      required: true
    ) %>

    <%= mmt_text_field(
      name: 'data_type',
      title: 'Data Type',
      prefix: name_prefix,
      value: get_service['DataType'],
      help: 'definitions/GetServiceType/properties/DataType',
      validate: true,
      required: true
    ) %>

    <%= mmt_label(
      name: 'uri_0',
      title: 'URI',
      prefix: name_prefix
    ) %>
    <%= mmt_help_icon(
      title: 'URI',
      help: 'definitions/GetServiceType/properties/URI'
    ) %>
    <div class="grid_row">
      <% uris = get_service['URI'] || [nil] %>
      <div class="multiple simple-multiple uri">
        <% uris.each_with_index do |uri, index| %>
          <div class="multiple-item multiple-item-<%= index %>">
            <%= text_field_tag(name_to_param("#{name_prefix}uri_#{index}"), uri, class: 'half-width uri simple-multiple-field validate', data: { level: remove_pipes(name_prefix) }) %>
            <a class="remove">
              <i class="fa fa-times-circle"></i>
              <span class="is-invisible">Remove <%= index %></span>
            </a>
            <div class="actions">
              <button type="button" class="eui-btn--blue add-new new-simple"><i class="fa fa-plus-circle"></i> Add another URI</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
