<div class="grid_row sub-fields">
  <div class="horizontal-data-resolution-group">
    <!-- HorizontalResolutionType (not an actual field) -->
    <!-- No name attribute to keep from submitting params, javascript will handle radio button group behavior -->
    <% point_resolution_checked = !horizontal_data_resolution['PointResolution'].blank? %>
    <% varies_resolution_checked = !horizontal_data_resolution['VariesResolution'].blank? %>
    <% non_gridded_resolutions_checked = !horizontal_data_resolution['NonGriddedResolutions'].blank? %>
    <% non_gridded_range_resolutions_checked = !horizontal_data_resolution['NonGriddedRangeResolutions'].blank? %>
    <% gridded_resolutions_checked = !horizontal_data_resolution['GriddedResolutions'].blank? %>
    <% gridded_range_resolutions_checked = !horizontal_data_resolution['GriddedRangeResolutions'].blank? %>
    <% generic_resolutions_checked = !horizontal_data_resolution['GenericResolutions'].blank? %>

    <div class="horizontal-data-resolution-group">
      <div class="checkbox-group">
        <%= check_box_tag(name_to_param("#{name_prefix}|point_resolution|"), 'Point', point_resolution_checked, class: 'horizontal-data-resolution-picker point-resolution checkbox-with-value') %>
        <%= mmt_label(
          name: 'point_resolution',
          title: 'Point Resolution',
          prefix: name_prefix
        ) %>
        <%= mmt_help_icon(
          title: 'Point Resolution',
          help: 'definitions/HorizontalDataResolutionPointType'
        ) %>
      </div>

      <div class="checkbox-group">
        <%= check_box_tag(name_to_param("#{name_prefix}|varies_resolution|"), 'Varies', varies_resolution_checked, class: 'horizontal-data-resolution-picker varies-resolution checkbox-with-value') %>
        <%= mmt_label(
          name: 'varies_resolution',
          title: 'Varies Resolution',
          prefix: name_prefix
        ) %>
        <%= mmt_help_icon(
          title: 'Varies Resolution',
          help: 'definitions/HorizontalDataResolutionVariesType'
        ) %>
      </div>

      <div class="checkbox-group">
        <%= check_box_tag(name_to_param("#{name_prefix}|non_gridded_resolutions|_checkbox"), nil, non_gridded_resolutions_checked, class: 'horizontal-data-resolution-picker non-gridded-resolutions show-hide-checkbox', name: nil, data: { 'dependent-field-class': 'horizontal-data-resolution' }) %>
        <%= mmt_label(
          name: 'non_gridded_resolutions_checkbox',
          title: 'Non Gridded Resolutions',
          prefix: name_prefix
        ) %>

        <!-- NonGriddedResolutions -->
        <div class="grid_row sub-fields horizontal-data-resolution-fields non-gridded-resolutions" style="<%= 'display: none;' unless non_gridded_resolutions_checked %>">
          <%= mmt_label(
          name: 'non_gridded_resolutions',
          title: 'Non Gridded Resolutions',
          prefix: name_prefix
          ) %>
          <%= mmt_help_icon(
            title: 'Non Gridded Resolutions',
            help: 'definitions/HorizontalDataResolutionNonGriddedType'
          ) %>
          <%= render partial: 'collection_drafts/forms/type', locals: {
            type: 'non_gridded_resolution',
            values: horizontal_data_resolution['NonGriddedResolutions'] || [{}],
            name_prefix: "#{name_prefix}|non_gridded_resolutions|_",
            multiple: true,
            options: {} } %>
        </div>
      </div>

      <div class="checkbox-group">
        <%= check_box_tag(name_to_param("#{name_prefix}|non_gridded_range_resolutions|_checkbox"), nil, non_gridded_range_resolutions_checked, class: 'horizontal-data-resolution-picker non-gridded-range-resolutions show-hide-checkbox', name: nil, data: { 'dependent-field-class': 'horizontal-data-resolution' }) %>
        <%= mmt_label(
          name: 'non_gridded_range_resolutions_checkbox',
          title: 'Non Gridded Range Resolutions',
          prefix: name_prefix
        ) %>

        <!-- NonGriddedRangeResolutions -->
        <div class="grid_row sub-fields horizontal-data-resolution-fields non-gridded-range-resolutions" style="<%= 'display: none;' unless non_gridded_range_resolutions_checked %>">
          <%= mmt_label(
            name: 'non_gridded_range_resolutions',
            title: 'Non Gridded Range Resolutions',
            prefix: name_prefix
          ) %>
          <%= mmt_help_icon(
            title: 'Non Gridded Range Resolutions',
            help: 'definitions/HorizontalDataResolutionNonGriddedRangeType'
          ) %>
          <%= render partial: 'collection_drafts/forms/type', locals: {
            type: 'non_gridded_range_resolution',
            values: horizontal_data_resolution['NonGriddedRangeResolutions'] || [{}],
            name_prefix: "#{name_prefix}|non_gridded_range_resolutions|_",
            multiple: true,
            options: {} } %>
        </div>
      </div>

      <div class="checkbox-group">
        <%= check_box_tag(name_to_param("#{name_prefix}|gridded_resolutions|_checkbox"), nil, gridded_resolutions_checked, class: 'horizontal-data-resolution-picker gridded-resolutions show-hide-checkbox', name: nil, data: { 'dependent-field-class': 'horizontal-data-resolution' }) %>
        <%= mmt_label(
          name: 'gridded_resolutions_checkbox',
          title: 'Gridded Resolutions',
          prefix: name_prefix
        ) %>

        <!-- GriddedResolutions -->
        <div class="grid_row sub-fields horizontal-data-resolution-fields gridded-resolutions" style="<%= 'display: none;' unless gridded_resolutions_checked %>">
          <%= mmt_label(
            name: 'gridded_resolutions',
            title: 'Gridded Resolutions',
            prefix: name_prefix
          ) %>
          <%= mmt_help_icon(
            title: 'Gridded Resolutions',
            help: 'definitions/HorizontalDataResolutionGriddedType'
          ) %>
          <%= render partial: 'collection_drafts/forms/type', locals: {
            type: 'gridded_resolution',
            values: horizontal_data_resolution['GriddedResolutions'] || [{}],
            name_prefix: "#{name_prefix}|gridded_resolutions|_",
            multiple: true,
            options: {} } %>
        </div>
      </div>

      <div class="checkbox-group">
        <%= check_box_tag(name_to_param("#{name_prefix}|gridded_range_resolutions|_checkbox"), nil, gridded_range_resolutions_checked, class: 'horizontal-data-resolution-picker gridded-range-resolutions show-hide-checkbox', name: nil, data: { 'dependent-field-class': 'horizontal-data-resolution' }) %>
        <%= mmt_label(
          name: 'gridded_range_resolutions_checkbox',
          title: 'Gridded Range Resolutions',
          prefix: name_prefix
        ) %>

        <!-- GriddedRangeResolutions -->
        <div class="grid_row sub-fields horizontal-data-resolution-fields gridded-range-resolutions" style="<%= 'display: none;' unless gridded_range_resolutions_checked %>">
          <%= mmt_label(
            name: 'gridded_range_resolutions',
            title: 'Gridded Range Resolutions',
            prefix: name_prefix
          ) %>
          <%= mmt_help_icon(
            title: 'Gridded Range Resolutions',
            help: 'definitions/HorizontalDataResolutionGriddedRangeType'
          ) %>
          <%= render partial: 'collection_drafts/forms/type', locals: {
            type: 'gridded_range_resolution',
            values: horizontal_data_resolution['GriddedRangeResolutions'] || [{}],
            name_prefix: "#{name_prefix}|gridded_range_resolutions|_",
            multiple: true,
            options: {} } %>
        </div>
      </div>

      <div class="checkbox-group">
        <%= check_box_tag(name_to_param("#{name_prefix}|generic_resolutions|_checkbox"), nil, generic_resolutions_checked, class: 'horizontal-data-resolution-picker generic-resolutions show-hide-checkbox', name: nil, data: { 'dependent-field-class': 'horizontal-data-resolution' }) %>
        <%= mmt_label(
          name: 'generic_resolutions_checkbox',
          title: 'Generic Resolutions',
          prefix: name_prefix
        ) %>

        <!-- GenericResolutions -->
        <div class="grid_row sub-fields horizontal-data-resolution-fields generic-resolutions" style="<%= 'display: none;' unless generic_resolutions_checked %>">
          <%= mmt_label(
            name: 'generic_resolutions',
            title: 'Generic Resolutions',
            prefix: name_prefix
          ) %>
          <%= mmt_help_icon(
            title: 'Generic Resolutions',
            help: 'definitions/HorizontalDataGenericResolutionType'
          ) %>
          <%= render partial: 'collection_drafts/forms/type', locals: {
            type: 'generic_resolution',
            values: horizontal_data_resolution['GenericResolutions'] || [{}],
            name_prefix: "#{name_prefix}|generic_resolutions|_",
            multiple: true,
            options: {} } %>
        </div>
      </div>
    </div>

  </div>
</div>
