<div class="row sub-fields">
  <!-- GeodeticModel -->
  <label>Geodetic Model</label>
  <%= render partial: 'collection_drafts/forms/type', locals: {
      type: 'geodetic_model',
      values: horizontal_coordinate_system['GeodeticModel'] || {},
      name_prefix: "#{name_prefix}|geodetic_model|_",
      multiple: false,
      options: {} } %>

  <% geographic_checked = !horizontal_coordinate_system['GeographicCoordinateSystem'].nil? %>
  <% local_checked = !horizontal_coordinate_system['LocalCoordinateSystem'].nil? %>
  <div class="coordinate-system-type" style="<%= 'display: none;' if options[:limit_type] %>">
    <%= radio_button_tag(name_to_param("#{name_prefix}"), 'geographic', geographic_checked, class: 'coordinate-system-picker geographic', name: nil, data: { level: remove_pipes(name_prefix) }) %>
    <label for="<%= remove_pipes(name_prefix) %>geographic">Geographic Coordinate System</label>

    <%= radio_button_tag(name_to_param("#{name_prefix}"), 'local', local_checked, class: 'coordinate-system-picker local', name: nil, data: { level: remove_pipes(name_prefix) }) %>
    <label for="<%= remove_pipes(name_prefix) %>local">Local Coordinate System</label>
  </div>

  <div class="geographic-coordinate-system-fields" style="<%= 'display: none;' unless geographic_checked %>">
    <!-- GeographicCoordinateSystem -->
    <label>Geographic Coordinate System</label>
    <%= render partial: 'collection_drafts/forms/type', locals: {
        type: 'geographic_coordinate_system',
        values: horizontal_coordinate_system['GeographicCoordinateSystem'] || {},
        name_prefix: "#{name_prefix}|geographic_coordinate_system|_",
        multiple: false,
        options: {} } %>
  </div>

  <div class="local-coordinate-system-fields" style="<%= 'display: none;' unless local_checked %>">
  <!-- LocalCoordinateSystem -->
    <label>Local Coordinate System</label>
    <%= render partial: 'collection_drafts/forms/type', locals: {
        type: 'local_coordinate_system',
        values: horizontal_coordinate_system['LocalCoordinateSystem'] || {},
        name_prefix: "#{name_prefix}|local_coordinate_system|_",
        multiple: false,
        options: {} } %>
  </div>
</div>
