<div class="grid-row sub-fields">
  <div class="grid-row">
    <div class="grid-col-6">
      <!-- Short Name [r] -->
      <%= mmt_select(
        name: 'short_name',
        title: 'Short Name',
        prefix: name_prefix,
        value: instruments['ShortName'],
        options: @instruments,
        help: 'definitions/PlatformShortNameType',
        classes: 'mmt-fake-enum select2-select instrument-short-name-select',
        required: true
      ) %>
    </div>
    <div class="grid-col-6">
      <!-- Long Name -->
      <%= mmt_text_field(
        name: 'long_name',
        title: 'Long Name',
        prefix: name_prefix,
        value: instruments['LongName'],
        help: 'definitions/PlatformLongNameType',
        validate: true,
        classes: 'instrument-long-name readonly',
        readonly: true
       ) %>
    </div>
  </div>

  <!-- Characteristics -->
  <%= mmt_label(
    name: 'characteristics',
    title: 'Characteristics',
    prefix: name_prefix
  ) %>
  <%= mmt_help_icon(
    title: 'Characteristics',
    help: 'definitions/InstrumentType/properties/Characteristics'
  ) %>
  <%= render partial: 'collection_drafts/forms/type', locals: {
      type: 'characteristics',
      values: instruments['Characteristics'] || [{}],
      name_prefix: "#{name_prefix}characteristics_",
      multiple: true,
      options: {} } %>


  <!-- Technique -->
  <%= mmt_text_area(
    name: 'technique',
    title: 'Technique',
    prefix: name_prefix,
    value: instruments['Technique'],
    help: 'definitions/InstrumentType/properties/Technique',
    validate: true
   ) %>


  <!-- NumberOfInstruments -->
  <%= mmt_text_field(
    name: 'number_of_instruments',
    title: 'Number Of Instruments',
    prefix: name_prefix,
    value: instruments['NumberOfInstruments'],
    help: 'definitions/InstrumentType/properties/NumberOfInstruments',
    validate: true,
    classes: 'mmt-integer'
   ) %>


  <!-- OperationalModes -->
  <% modes = instruments['OperationalModes'] || [nil] # [nil] creates at least one field %>
  <div class="multiple simple-multiple operational-modes">
    <%= mmt_label(
      name: 'operational_modes_0',
      title: 'Operational Modes',
      prefix: name_prefix
    ) %>
    <%= mmt_help_icon(
      title: 'Operational Modes',
      help: 'definitions/InstrumentType/properties/OperationalModes'
    ) %>

  <% modes.each_with_index do |mode, index| %>
    <div class="multiple-item multiple-item-<%= index %>">
      <%= text_field_tag(name_to_param("#{name_prefix}|operational_modes|_#{index}"), mode, class: 'half-width operational-mode simple-multiple-field validate', data: { level: remove_pipes(name_prefix) }) %>
      <a class="remove">
        <i class="fa fa-times-circle"></i>
        <span class="is-invisible">Remove <%= index %></span>
      </a>
      <div class="actions">
        <button type="button" class="eui-btn--blue add-new new-simple"><i class="fa fa-plus-circle"></i> Add another Operational Mode</button>
      </div>
    </div>
  <% end %>
  </div>

  <!-- ComposedOf -->
  <%= mmt_label(
    name:'composed_of',
    title: 'Composed Of',
    prefix: name_prefix
  ) %>
  <%= mmt_help_icon(
    title: 'Composed Of',
    help: 'definitions/InstrumentChildType'
  ) %>
  <%= render partial: 'collection_drafts/forms/type', locals: {
    type: 'instrument_child',
    values: instruments['ComposedOf'] || [{}],
    name_prefix: "#{name_prefix}|composed_of|_",
    multiple: true,
    options: {}
  } %>
</div>
