<div class="grid-row sub-fields">
  <div class="grid-row">
    <div class="grid-col-6">
      <!-- Short Name [r] -->
      <%= mmt_select(
        name: 'short_name',
        title: 'Short Name',
        prefix: name_prefix,
        value: instrument_child['ShortName'],
        options: @instruments,
        help: 'definitions/PlatformShortNameType',
        classes: 'mmt-fake-enum select2-select instrument-short-name-select',
        required: true
      ) %>
    </div>
    <div class="grid-col-6">
      <!-- Long Name -->
      <%= mmt_text_field(
        name: 'long_name',
        title: 'LongName',
        prefix: name_prefix,
        value: instrument_child['LongName'],
        help: 'definitions/PlatformLongNameType',
        validate: true,
        classes: 'instrument-long-name readonly',
        readonly: true
       ) %>
    </div>
  </div>

  <!-- Characteristics -->
  <%= mmt_label(
    name: 'characteristics',
    title: 'Characteristics',
    prefix: name_prefix
  ) %>
  <%= mmt_help_icon(
    title: 'Characteristics',
    help: 'definitions/InstrumentType/properties/Characteristics'
  ) %>
  <%= render partial: 'collection_drafts/forms/type', locals: {
      type: 'characteristics',
      values: instrument_child['Characteristics'] || [{}],
      name_prefix: "#{name_prefix}characteristics_",
      multiple: true,
      options: {} } %>


  <!-- Technique -->
  <%= mmt_text_area(
    name: 'technique',
    title: 'Technique',
    prefix: name_prefix,
    value: instrument_child['Technique'],
    help: 'definitions/InstrumentChildType/properties/Technique',
    validate: true
   ) %>
</div>
