<div class="row sub-fields">
  <div class="row">
    <div class="optionally-required-parent">
      <div class="col-6">
        <!-- XDimension -->
        <%= mmt_text_field(
          name: 'x_dimension',
          title: 'X Dimension',
          prefix: name_prefix,
          value: non_gridded_resolution['XDimension'],
          help: 'definitions/HorizontalDataResolutionNonGriddedType/XDimension',
          validate: true,
          # required: true,
          classes: 'mmt-number optionally-required'
        ) %>
      </div>

      <div class="col-6">
        <!-- YDimension -->
        <%= mmt_text_field(
          name: 'y_dimension',
          title: 'Y Dimension',
          prefix: name_prefix,
          value: non_gridded_resolution['YDimension'],
          help: 'definitions/HorizontalDataResolutionNonGriddedType/YDimension',
          validate: true,
          # required: true,
          classes: 'mmt-number optionally-required'
        ) %>
      </div>
    </div>
    </div>

  <div class="row">
    <!-- Unit -->
    <%= mmt_select(
      name: 'unit',
      title: 'Unit',
      prefix: name_prefix,
      value: non_gridded_resolution['Unit'],
      help: 'definitions/HorizontalDataResolutionNonGriddedType/Unit',
      options: DraftsHelper::HorizontalDataResolutionUnitEnumOptions,
      required: true,
      validate: true,
      classes: 'required'
    ) %>
  </div>

  <div class="row">
    <div class="col-6">
      <!-- ViewingAngleType -->
      <%= mmt_select(
        name: 'viewing_angle_type',
        title: 'Viewing Angle Type',
        prefix: name_prefix,
        value: non_gridded_resolution['ViewingAngleType'],
        help: 'definitions/HorizontalDataResolutionNonGriddedType/ViewingAngleType',
        options: DraftsHelper::HorizontalResolutionViewingAngleTypeOptions,
        validate: true,
        classes: ''
      ) %>
    </div>

    <div class="col-6">
      <!-- ScanDirection -->
      <%= mmt_select(
        name: 'scan_direction',
        title: 'Scan Direction',
        prefix: name_prefix,
        value: non_gridded_resolution['ScanDirection'],
        help: 'definitions/HorizontalDataResolutionNonGriddedType/ScanDirection',
        options: DraftsHelper::HorizontalResolutionScanDirectionTypeOptions,
        validate: true,
        classes: ''
      ) %>
    </div>
  </div>
</div>
