<div class="row sub-fields">
  <div class="optionally-required-parent">
    <div class="row">
      <div class="col-6">
        <!-- MinimumXDimension -->
        <%= mmt_text_field(
          name: 'minimum_x_dimension',
          title: 'Minimum X Dimension',
          prefix: name_prefix,
          value: non_gridded_range_resolution['MinimumXDimension'],
          help: 'definitions/HorizontalDataResolutionNonGriddedRangeType/properties/MinimumXDimension',
          validate: true,
          required: true,
          required_group: 'a',
          classes: 'mmt-number optionally-required optionally-required-group'
        ) %>

      </div>
      <div class="col-6">
        <!-- MaximumXDimension -->
        <%= mmt_text_field(
          name: 'maximum_x_dimension',
          title: 'Maximum X Dimension',
          prefix: name_prefix,
          value: non_gridded_range_resolution['MaximumXDimension'],
          help: 'definitions/HorizontalDataResolutionNonGriddedRangeType/properties/MaximumXDimension',
          validate: true,
          required: true,
          required_group: 'a',
          classes: 'mmt-number optionally-required optionally-required-group'
        ) %>

      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <!-- MinimumYDimension -->
        <%= mmt_text_field(
          name: 'minimum_y_dimension',
          title: 'Minimum Y Dimension',
          prefix: name_prefix,
          value: non_gridded_range_resolution['MinimumYDimension'],
          help: 'definitions/HorizontalDataResolutionNonGriddedRangeType/properties/MinimumYDimension',
          validate: true,
          required: true,
          required_group: 'b',
          classes: 'mmt-number optionally-required optionally-required-group'
        ) %>
      </div>

      <div class="col-6">
        <!-- MaximumYDimension -->
        <%= mmt_text_field(
          name: 'maximum_y_dimension',
          title: 'Maximum Y Dimension',
          prefix: name_prefix,
          value: non_gridded_range_resolution['MaximumYDimension'],
          help: 'definitions/HorizontalDataResolutionNonGriddedRangeType/properties/MaximumYDimension',
          validate: true,
          required: true,
          required_group: 'b',
          classes: 'mmt-number optionally-required optionally-required-group'
        ) %>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Unit -->
    <%= mmt_select(
      name: 'unit',
      title: 'Unit',
      prefix: name_prefix,
      value: non_gridded_range_resolution['Unit'],
      help: 'definitions/HorizontalDataResolutionNonGriddedRangeType/properties/Unit',
      options: DraftsHelper::HorizontalDataResolutionUnitEnumOptions,
      required: true,
      validate: true,
      classes: ''
    ) %>
  </div>

  <div class="row">
    <div class="col-6">
      <!-- ViewingAngleType -->
      <%= mmt_select(
        name: 'viewing_angle_type',
        title: 'Viewing Angle Type',
        prefix: name_prefix,
        value: non_gridded_range_resolution['ViewingAngleType'],
        help: 'definitions/HorizontalDataResolutionNonGriddedRangeType/properties/ViewingAngleType',
        options: DraftsHelper::HorizontalResolutionViewingAngleTypeOptions,
        validate: true,
        classes: ''
      ) %>
    </div>

    <div class="col-6">
      <!-- ScanDirection -->
      <%= mmt_select(
        name: 'scan_direction',
        title: 'Scan Direction',
        prefix: name_prefix,
        value: non_gridded_range_resolution['ScanDirection'],
        help: 'definitions/HorizontalDataResolutionNonGriddedRangeType/properties/ScanDirection',
        options: DraftsHelper::HorizontalResolutionScanDirectionTypeOptions,
        validate: true,
        classes: ''
      ) %>
    </div>
  </div>
</div>
