<div class="paleo-temporal-coverage-fields">

  <div class="grid_row">
    <div class="grid-col-6">
      <!-- StartDate -->
      <%= mmt_text_field(
        name: 'start_date',
        title: 'Paleo Start Date',
        prefix: name_prefix,
        value: paleo_temporal_coverage['StartDate'],
        help: 'definitions/PaleoTemporalCoverageType/properties/StartDate'
       ) %>
    </div>

    <div class="grid-col-6">
      <!-- EndDate -->
      <%= mmt_text_field(
        name: 'end_date',
        title: 'Paleo Stop Date',
        prefix: name_prefix,
        value: paleo_temporal_coverage['EndDate'],
        help: 'definitions/PaleoTemporalCoverageType/properties/EndDate'
       ) %>
    </div>
  </div>

  <div class="grid_row">
    <!-- ChronostratigraphicUnit -->
    <%= mmt_label(
    name: 'chronostratigraphic_unit',
    title: 'Chronostratigraphic Units',
    prefix: name_prefix
    ) %>
    <%= mmt_help_icon(
    title: 'Chronostratigraphic Units',
    help: 'definitions/PaleoTemporalCoverageType/properties/ChronostratigraphicUnits'
    ) %>
    <%= render partial: 'collection_drafts/forms/type', locals: {
      type: 'chronostratigraphic_unit',
      values: paleo_temporal_coverage['ChronostratigraphicUnits'] || [{}],
      name_prefix: "#{name_prefix}|chronostratigraphic_units|_",
      multiple: true,
      options: {} } %>
  </div>
</div>
