<div class="grid-row sub-fields">
  <!-- Name -->
  <%= mmt_text_field(
    name: 'name',
    title: 'Name',
    prefix: name_prefix,
    value: periodic_date_time['Name'],
    help: 'definitions/PeriodicDateTimeType/properties/Name',
    validate: true,
    always_required: true
   ) %>

  <!-- StartDate -->
  <%= mmt_datetime(
    name: 'start_date',
    title: 'Start Date',
    prefix: name_prefix,
    value: periodic_date_time['StartDate'],
    help: 'definitions/PeriodicDateTimeType/properties/StartDate',
    validate: true,
    always_required: true,
    classes: 'mmt-date-time'
  ) %>

  <!-- EndDate -->
  <%= mmt_datetime(
    name: 'end_date',
    title: 'End Date',
    prefix: name_prefix,
    value: periodic_date_time['EndDate'],
    help: 'definitions/PeriodicDateTimeType/properties/EndDate',
    validate: true,
    always_required: true,
    classes: 'mmt-date-time'
  ) %>

  <!-- DurationUnit -->
  <%= mmt_select(
    name: 'duration_unit',
    title: 'Duration Unit',
    prefix: name_prefix,
    value: periodic_date_time['DurationUnit'],
    options: DraftsHelper::DurationOptions,
    help: 'definitions/PeriodicDateTimeType/properties/DurationUnit',
    always_required: true
  ) %>

  <!-- DurationValue -->
  <%= mmt_text_field(
    name: 'duration_value',
    title: 'Duration Value',
    prefix: name_prefix,
    value: periodic_date_time['DurationValue'],
    help: 'definitions/PeriodicDateTimeType/properties/DurationValue',
    validate: true,
    always_required: true,
    classes: 'mmt-integer'
   ) %>

  <!-- PeriodCycleDurationUnit -->
  <%= mmt_select(
    name: 'period_cycle_duration_unit',
    title: 'Period Cycle Duration Unit',
    prefix: name_prefix,
    value: periodic_date_time['PeriodCycleDurationUnit'],
    options: DraftsHelper::DurationOptions,
    help: 'definitions/PeriodicDateTimeType/properties/PeriodCycleDurationUnit',
    always_required: true
  ) %>

  <!-- PeriodCycleDurationValue -->
  <%= mmt_text_field(
    name: 'period_cycle_duration_value',
    title: 'Period Cycle Duration Value',
    prefix: name_prefix,
    value: periodic_date_time['PeriodCycleDurationValue'],
    help: 'definitions/PeriodicDateTimeType/properties/PeriodCycleDurationValue',
    validate: true,
    always_required: true,
    classes: 'mmt-integer'
   ) %>

</div>
