<div class="grid-row sub-fields platform-fields">
  <!-- Type -->
  <div>
    <div style="margin-bottom: 10px;">
      <%= label_tag('Type:') %>
      <span class="platform-type <%= 'default' unless platform['Type'] %>">
        <%= platform['Type'] || 'Please select a Short Name' %>
      </span>
      <%= mmt_help_icon(
        title: 'Type',
        help: 'definitions/PlatformType/properties/Type'
      ) %>
      <%= hidden_field_tag(
        name_to_param("#{name_prefix}type"),
        platform['Type'],
        class: 'platform-type',
        data: {
          level: name_prefix
        }
      ) %>
    </div>
  </div>

  <div class="grid-row">
    <div class="grid-col-6">
      <!-- Short Name [r] -->
      <%= mmt_select(
        name: 'short_name',
        title: 'Short Name',
        prefix: name_prefix,
        value: platform['ShortName'],
        options: @platform_types,
        help: 'definitions/PlatformShortNameType',
        classes: 'mmt-fake-enum select2-select platform-short-name-select',
        always_required: true,
        grouped: true
      ) %>
    </div>
    <div class="grid-col-6">
      <!-- Long Name -->
      <%= mmt_text_field(
        name: 'long_name',
        title: 'Long Name',
        prefix: name_prefix,
        value: platform['LongName'],
        help: 'definitions/PlatformLongNameType',
        validate: true,
        classes: 'platform-long-name readonly',
        readonly: true
       ) %>
    </div>
  </div>

  <!-- Characteristics -->
  <%= mmt_label(
    name: 'characteristics',
    title: 'Characteristics',
    prefix: name_prefix
  ) %>
  <%= mmt_help_icon(
    title: 'Characteristics',
    help: 'definitions/PlatformType/properties/Characteristics'
  ) %>
  <%= render partial: 'collection_drafts/forms/type', locals: {
      type: 'characteristics',
      values: platform['Characteristics'] || [{}],
      name_prefix: "#{name_prefix}characteristics_",
      multiple: true,
      options: {} } %>


  <!-- Instruments -->
  <%= mmt_label(
    name: 'instruments',
    title: 'Instruments',
    prefix: name_prefix
  ) %>
  <%= mmt_help_icon(
    title: 'Instruments',
    help: 'definitions/InstrumentType',
    help_url: 'Instrument'
  ) %>
  <%= render partial: 'collection_drafts/forms/type', locals: {
      type: 'instruments',
      values: platform['Instruments'] || [{}],
      name_prefix: "#{name_prefix}instruments_",
      multiple: true,
      options: {} } %>

</div>
