<div class="row sub-fields parent-pair">
  <!-- Short Name [r] -->
  <div class="row">
    <div class="col-6">
      <%= mmt_select(
        name: 'short_name',
        title: 'Short Name',
        prefix: name_prefix,
        value: project['ShortName'],
        help: 'definitions/ProjectType/properties/ShortName',
        options: @projects.map { |project| [project[:short_name], project[:short_name], { 'data-long-name' => project[:long_name] }] },
        classes: 'select2-select project-short-name-select',
        required: true
      ) %>
    </div>
    <div class="col-6">
      <!-- Long Name -->
      <%= mmt_text_field(
        name: 'long_name',
        title: 'Long Name',
        prefix: name_prefix,
        value: project['LongName'],
        help: 'definitions/ProjectType/properties/LongName',
        classes: 'project-long-name readonly',
        validate: true,
        readonly: true
       ) %>
    </div>
  </div>


  <!-- Campaign -->
  <% campaigns = project['Campaigns'] || [nil] # [nil] creates at least one field %>
  <div class="multiple simple-multiple campaigns">
    <%= mmt_label(
      name: 'campaigns_0',
      title: 'Campaigns',
      prefix: name_prefix
    ) %>
    <%= mmt_help_icon(
      title: 'Campaigns',
      help: 'definitions/ProjectType/properties/Campaigns'
    ) %>

    <% campaigns.each_with_index do |campaign, index| %>
      <div class="multiple-item multiple-item-<%= index %>">
        <%= text_field_tag(name_to_param("#{name_prefix}campaigns_#{index}"), campaign, class: 'half-width campaign simple-multiple-field validate', data: { level: remove_pipes(name_prefix) }) %>
        <a class="remove">
          <i class="fa fa-times-circle"></i>
          <span class="is-invisible">Remove <%= index %></span>
        </a>
        <div class="actions">
          <button type="button" class="eui-btn--blue add-new new-simple"><i class="fa fa-plus-circle"></i> Add another Campaign</button>
        </div>
      </div>
    <% end %>
  </div>


  <div class="col-6">
    <!-- StartDate -->
    <%= mmt_datetime(
      name: 'start_date',
      title: 'Start Date',
      prefix: name_prefix,
      value: project['StartDate'],
      help: 'definitions/ProjectType/properties/StartDate',
      validate: true,
      classes: 'mmt-date-time lesser-pair'
    ) %>
  </div>

  <div class="col-6">
    <!-- EndDate -->
    <%= mmt_datetime(
      name: 'end_date',
      title: 'End Date',
      prefix: name_prefix,
      value: project['EndDate'],
      help: 'definitions/ProjectType/properties/EndDate',
      validate: true,
      classes: 'mmt-date-time greater-pair'
    ) %>
  </div>
</div>
