<div class="grid_row sub-fields">
  <!-- Title -->
  <%= mmt_text_area(
    name: 'title',
    title: 'Title',
    prefix: name_prefix,
    value: publication_reference['Title'],
    help: 'definitions/PublicationReferenceType/properties/Title',
    validate: true
   ) %>


  <!-- Publisher -->
  <%= mmt_text_area(
    name: 'publisher',
    title: 'Publisher',
    prefix: name_prefix,
    value: publication_reference['Publisher'],
    help: 'definitions/PublicationReferenceType/properties/Publisher',
    validate: true
   ) %>


  <!-- DOI -->
  <%= mmt_label(
    name: 'doi',
    title: 'DOI',
    prefix: name_prefix
  ) %>
  <%= mmt_help_icon(
    title: 'DOI',
    help: 'definitions/PublicationReferenceType/properties/DOI'
  ) %>
  <div class="grid_row sub-fields">
    <%= render partial: 'collection_drafts/forms/type', locals: {
        type: 'doi',
        values: publication_reference['DOI'] || {},
        name_prefix: "#{name_prefix}doi_",
        multiple: false,
        options: {
          doi_type: 'publication_reference'
        } } %>
  </div>


  <!-- Author -->
  <%= mmt_text_area(
    name: 'author',
    title: 'Author',
    prefix: name_prefix,
    value: publication_reference['Author'],
    help: 'definitions/PublicationReferenceType/properties/Author',
    validate: true
   ) %>


  <!-- PublicationDate -->
  <%= mmt_datetime(
    name: 'publication_date',
    title: 'Publication Date',
    prefix: name_prefix,
    value: publication_reference['PublicationDate'],
    help: 'definitions/PublicationReferenceType/properties/PublicationDate',
    validate: true,
    classes: 'mmt-date-time'
  ) %>


  <!-- Series -->
  <%= mmt_text_area(
    name: 'series',
    title: 'Series',
    prefix: name_prefix,
    value: publication_reference['Series'],
    help: 'definitions/PublicationReferenceType/properties/Series',
    validate: true
   ) %>


  <!-- Edition -->
  <%= mmt_text_area(
    name: 'edition',
    title: 'Edition',
    prefix: name_prefix,
    value: publication_reference['Edition'],
    help: 'definitions/PublicationReferenceType/properties/Edition',
    validate: true
   ) %>

  <div class="grid_row">
    <div class="grid-col-4">
      <!-- Volume -->
      <%= mmt_text_field(
        name: 'volume',
        title: 'Volume',
        prefix: name_prefix,
        value: publication_reference['Volume'],
        help: 'definitions/PublicationReferenceType/properties/Volume',
        validate: true
       ) %>
    </div>
    <div class="grid-col-4">
      <!-- Issue -->
      <%= mmt_text_field(
        name: 'issue',
        title: 'Issue',
        prefix: name_prefix,
        value: publication_reference['Issue'],
        help: 'definitions/PublicationReferenceType/properties/Issue',
        validate: true
       ) %>
    </div>
    <div class="grid-col-4">
      <!-- ReportNumber -->
      <%= mmt_text_field(
        name: 'report_number',
        title: 'Report Number',
        prefix: name_prefix,
        value: publication_reference['ReportNumber'],
        help: 'definitions/PublicationReferenceType/properties/ReportNumber',
        validate: true
       ) %>
    </div>
  </div>

  <!-- PublicationPlace -->
  <%= mmt_text_area(
    name: 'publication_place',
    title: 'Publication Place',
    prefix: name_prefix,
    value: publication_reference['PublicationPlace'],
    help: 'definitions/PublicationReferenceType/properties/PublicationPlace',
    validate: true
   ) %>

  <div class="grid_row">
    <div class="grid-col-6">
      <!-- Pages -->
      <%= mmt_text_field(
        name: 'pages',
        title: 'Pages',
        prefix: name_prefix,
        value: publication_reference['Pages'],
        help: 'definitions/PublicationReferenceType/properties/Pages',
        validate: true
       ) %>
    </div>
    <div class="grid-col-6">
      <!-- ISBN -->
      <%= mmt_text_field(
        name: 'isbn',
        title: 'ISBN',
        prefix: name_prefix,
        value: publication_reference['ISBN'],
        help: 'definitions/PublicationReferenceType/properties/ISBN',
        validate: true
       ) %>
    </div>
  </div>

  <!-- OtherReferenceDetails -->
  <%= mmt_text_area(
    name: 'other_reference_details',
    title: 'Other Reference Details',
    prefix: name_prefix,
    value: publication_reference['OtherReferenceDetails'],
    help: 'definitions/PublicationReferenceType/properties/OtherReferenceDetails',
    validate: true
  ) %>

  <!-- OnlineResource -->
  <%= mmt_label(
    name: 'online_resource',
    title: 'Online Resource',
    prefix: name_prefix
  ) %>
  <%= mmt_help_icon(
    title: 'Online Resource',
    help: 'definitions/ResourceCitationType/properties/OnlineResource'
  ) %>
  <%= render partial: 'collection_drafts/forms/type', locals: {
    type: 'online_resource',
    values: publication_reference['OnlineResource'] || {},
    name_prefix: "#{name_prefix}|online_resource|_",
    multiple: false
  } %>
</div>
