<% always_required = options[:always_required] || false %>
<% url_content_type_options = options[:url_content_type_options] || [] %>
<% url_type_options = options[:url_type_options] || [] %>
<% url_subtype_options = options[:url_subtype_options] || [] %>


<div class="row sub-fields">
  <%= mmt_text_field(
    name: 'description',
    title: 'Description',
    prefix: name_prefix,
    value: related_url['Description'],
    help: 'definitions/RelatedUrlType/properties/Description',
    validate: true,
    required_level: options[:required_level],
  ) %>

  <div class="row">
    <div class="col-6">
      <%= mmt_select(
        name: 'url_content_type',
        title: 'URL Content Type',
        prefix: name_prefix,
        value: related_url['URLContentType'],
        options: url_content_type_options,
        help: 'definitions/RelatedUrlType/properties/URLContentType',
        required_level: options[:required_level],
        required: true,
        classes: 'related-url-content-type-select mmt-fake-enum'
      ) %>

      <%= mmt_select(
        name: 'type',
        title: 'Type',
        prefix: name_prefix,
        value: related_url['Type'],
        options: url_type_options,
        help: 'definitions/RelatedUrlType/properties/Type',
        required_level: options[:required_level],
        required: true,
        classes: 'related-url-type-select mmt-fake-enum'
      ) %>

      <%= mmt_select(
        name: 'subtype',
        title: 'Subtype',
        prefix: name_prefix,
        value: related_url['Subtype'],
        options: url_subtype_options,
        help: 'definitions/RelatedUrlType/properties/Subtype',
        required_level: options[:required_level],
        classes: 'related-url-subtype-select mmt-fake-enum'
      ) %>
    </div>
  </div>

  <%= mmt_text_field(
    name: 'url',
    title: 'URL',
    prefix: name_prefix,
    value: related_url['URL'],
    help: 'definitions/RelatedUrlType/properties/URL',
    classes: 'url',
    validate: true,
    required: true,
    required_level: options[:required_level]
  ) %>

  <div class="get-data-fields" style="<%= 'display: none;' unless related_url['Type'] == 'GET DATA' || related_url['Type'] == 'GET CAPABILITIES' %>">

    <%= mmt_label(
      name: 'get_data',
      title: 'Get Data',
      prefix: name_prefix
    ) %>
    <%= mmt_help_icon(
      title: 'Get Data',
      help: 'definitions/RelatedUrlType/properties/GetData'
    ) %>
    <%= render partial: 'collection_drafts/forms/type', locals: {
        type: 'get_data',
        values: related_url['GetData'] || {},
        name_prefix: "#{name_prefix}|get_data|_",
        multiple: false,
        options: {}
      } %>
  </div>

  <div class="get-service-fields" style="<%= 'display: none;' unless related_url['Type'] == 'GET SERVICE' %>">
    <%= mmt_label(
      name: 'get_service',
      title: 'Get Service',
      prefix: name_prefix
    ) %>
    <%= mmt_help_icon(
      title: 'Get Service',
      help: 'definitions/RelatedUrlType/properties/GetService'
    ) %>
    <%= render partial: 'collection_drafts/forms/type', locals: {
        type: 'get_service',
        values: related_url['GetService'] || {},
        name_prefix: "#{name_prefix}|get_service|_",
        multiple: false,
        options: {}
      } %>
  </div>
</div>
