<div class="grid-row sub-fields">
   <!-- Description -->
   <%= mmt_text_field(
     name: 'description',
     title: 'Description',
     prefix: name_prefix,
     value: resolution_and_coordinate_system['Description'],
     help: 'definitions/DescriptionType',
     validate: true
    ) %>

  <!-- GeodeticModel -->
  <label>Geodetic Model</label>
  <%= mmt_help_icon(
    title: 'Geodetic Model',
    help: 'definitions/GeodeticModelType'
  ) %>
  <%= render partial: 'collection_drafts/forms/type', locals: {
      type: 'geodetic_model',
      values: resolution_and_coordinate_system['GeodeticModel'] || {},
      name_prefix: "#{name_prefix}|geodetic_model|_",
      multiple: false,
      options: {} } %>

  <% resolution_checked = !resolution_and_coordinate_system['HorizontalDataResolution'].nil? %>
  <% local_checked = !resolution_and_coordinate_system['LocalCoordinateSystem'].nil? %>
  <!-- No name attribute to keep from submitting params, javascript will handle radio button group behavior -->
  <div class="resolution-and-coordinate-system-type">
    <%= radio_button_tag(name_to_param("#{name_prefix}"), 'resolution', resolution_checked, class: 'coordinate-system-picker resolution', name: nil, data: { level: remove_pipes(name_prefix) }) %>
    <%= mmt_label(
      name: 'resolution',
      title: 'Horizontal Data Resolution',
      prefix: name_prefix
    ) %>

    <%= radio_button_tag(name_to_param("#{name_prefix}"), 'local', local_checked, class: 'coordinate-system-picker local', name: nil, data: { level: remove_pipes(name_prefix) }) %>
    <%= mmt_label(
      name: 'local',
      title: 'Local Coordinate System',
      prefix: name_prefix
    ) %>
  </div>


  <div class="horizontal-data-resolution-fields" style="<%= 'display: none;' unless resolution_checked %>">
    <!-- HorizontalDataResolution -->
    <%= mmt_label(
      name: 'horizontal_data_resolution',
      title: 'Horizontal Data Resolution',
      prefix: name_prefix,
    ) %>
    <%= mmt_help_icon(
      title: 'Horizontal Data Resolution',
      help: 'definitions/ResolutionAndCoordinateSystemType/oneOf/1/properties/HorizontalDataResolution'
    ) %>
    <%= render partial: 'collection_drafts/forms/type', locals: {
        type: 'horizontal_data_resolution',
        values: resolution_and_coordinate_system['HorizontalDataResolution'] || {},
        name_prefix: "#{name_prefix}|horizontal_data_resolution|_",
        multiple: false,
        options: {} } %>
  </div>

  <div class="local-coordinate-system-fields" style="<%= 'display: none;' unless local_checked %>">
    <!-- LocalCoordinateSystem -->
    <%= mmt_label(
      name: 'local_coordinate_system',
      title: 'Local Coordinate System',
      prefix: name_prefix,
    ) %>
    <%= render partial: 'collection_drafts/forms/type', locals: {
        type: 'local_coordinate_system',
        values: resolution_and_coordinate_system['LocalCoordinateSystem'] || {},
        name_prefix: "#{name_prefix}|local_coordinate_system|_",
        multiple: false,
        options: {} } %>
  </div>
</div>
