<div class="row sub-fields">
  <div class="spatial-coverage-type-group">
    <!-- SpatialCoverageType -->
    <% spatial_coverage_type = spatial_extent.fetch('SpatialCoverageType', nil) %>
    <%= mmt_select(
      name: 'spatial_coverage_type',
      title: 'Spatial Coverage Type',
      help: 'definitions/SpatialExtentType/properties/SpatialCoverageType',
      prefix: name_prefix,
      value: spatial_coverage_type,
      options: DraftsHelper::SpatialCoverageTypeOptions,
      classes: 'spatial-coverage-type-select'
    ) %>
  </div>


  <!-- HorizontalSpatialDomain -->
  <div class="spatial-coverage-type horizontal" style="<%= 'display: none;' unless spatial_coverage_type&.include?('HORIZONTAL') || spatial_extent.fetch('HorizontalSpatialDomain', nil) %>">
    <%= mmt_label(
      name: 'horizontal_spatial_domain',
      title: 'Horizontal Spatial Domain',
      prefix: name_prefix
    ) %>
    <%= mmt_help_icon(
      title: 'Horizontal Spatial Domain',
      help: 'definitions/HorizontalSpatialDomainType'
    ) %>
    <%= render partial: 'collection_drafts/forms/type', locals: {
        type: 'horizontal_spatial_domain',
        values: spatial_extent['HorizontalSpatialDomain'] || {},
        name_prefix: "#{name_prefix}|horizontal_spatial_domain|_",
        multiple: false,
        options: {} } %>
  </div>


  <!-- OrbitParameters -->
  <div class="spatial-coverage-type orbit" style="<%= 'display: none;' unless spatial_coverage_type&.include?('ORBITAL') || spatial_extent.fetch('OrbitParameters', nil) %>">
    <%= mmt_label(
      name: 'orbit_parameters',
      title: 'Orbit Parameters',
      prefix: name_prefix
    ) %>
    <%= mmt_help_icon(
      title: 'Orbit Parameters',
      help: 'definitions/OrbitParametersType'
    ) %>
    <%= render partial: 'collection_drafts/forms/type', locals: {
        type: 'orbit_parameters',
        values: spatial_extent['OrbitParameters'] || {},
        name_prefix: "#{name_prefix}|orbit_parameters|_",
        multiple: false,
        options: {} } %>
  </div>


  <!-- VerticalSpatialDomains -->
  <div class="spatial-coverage-type vertical" style="<%= 'display: none;' unless spatial_coverage_type&.include?('VERTICAL') || spatial_extent.fetch('VerticalSpatialDomains', nil) %>">
    <%= render partial: 'collection_drafts/forms/type', locals: {
        type: 'vertical_spatial_domain',
        values: spatial_extent['VerticalSpatialDomains'] || [{}],
        name_prefix: "#{name_prefix}|vertical_spatial_domains|_",
        multiple: true,
        options: {} } %>
  </div>


  <!-- GranuleSpatialRepresentation -->
  <%= mmt_select(
    name: 'granule_spatial_representation',
    title: 'Granule Spatial Representation',
    prefix: name_prefix,
    value: spatial_extent['GranuleSpatialRepresentation'],
    options: DraftsHelper::GranuleSpatialRepresentationOptions,
    always_required: true
  ) %>

</div>
