<div class="grid-row sub-fields">
  <!-- SpatialCoverageType -->
  <% spatial_coverage_type = spatial_information['SpatialCoverageType'] || '' %>
  <%= mmt_label(
    name: 'spatial_coverage_type',
    title: 'Spatial Coverage Type',
    prefix: name_prefix,
    required: true
  ) %>
  <%= mmt_help_icon(
    title: 'Spatial Coverage Type',
    help: 'definitions/SpatialInformationType/properties/SpatialCoverageType'
  ) %>
  <a href="javascript:void(0)" class="clear-radio-button" data-clear-fields="spatial-coverage-type-clear-link-clear-fields" data-hide-fields="spatial-coverage-type-clear-link-hide-fields" data-radio-fields="spatial-coverage-type-clear-link-radio-fields">Clear</a>
  <div class="spatial-coverage-type-group spatial-coverage-type-clear-link-radio-fields">
    <p class="radio-group">
      <%= radio_button_tag(name_to_param("#{name_prefix}|spatial_coverage_type|"), 'VERTICAL', spatial_coverage_type == 'VERTICAL', class: 'spatial-coverage-type-select validate', data: { level: remove_pipes(name_prefix) }) %>
      <label for="<%= remove_pipes(name_prefix) %>spatial_coverage_type_VERTICAL">Vertical</label>
    </p>
  </div>
  </br>


  <!-- VerticalCoordinateSystem -->
  <div class="spatial-coverage-type spatial-coverage-type-clear-link-clear-fields spatial-coverage-type-clear-link-hide-fields vertical" style="<%= 'display: none;' unless spatial_coverage_type == 'VERTICAL' %>">
    <label>Vertical Coordinate System</label>
    <%= render partial: 'collection_drafts/forms/type', locals: {
        type: 'vertical_coordinate_system',
        values: spatial_information['VerticalCoordinateSystem'] || {},
        name_prefix: "#{name_prefix}|vertical_coordinate_system|_",
        multiple: false,
        options: {} } %>
  </div>


</div>
