<div class="row sub-fields">
  <!-- TemporalRangeType (not an actual field) -->
  <!-- No name attribute to keep from submitting params, javascript will handle radio button group behavior -->
  <% single_checked = !temporal_extent['SingleDateTimes'].nil? %>
  <% range_checked = !temporal_extent['RangeDateTimes'].nil? %>
  <% periodic_checked = !temporal_extent['PeriodicDateTimes'].nil? %>

  <%= mmt_label(
    name: 'temporal_range_type',
    title: 'Temporal Range Type',
    prefix: name_prefix,
    always_required: true
  ) %>
  <div class="temporal-range-type-group">
    <p class="radio-group"><%= radio_button_tag(name_to_param("#{name_prefix}|temporal_range_type|"), 'SingleDateTime', single_checked, class: 'temporal-range-type-select validate', name: nil, data: { level: remove_pipes(name_prefix) }) %><label for="<%= remove_pipes(name_prefix) %>temporal_range_type_SingleDateTime">Single</label></p>

    <p class="radio-group"><%= radio_button_tag(name_to_param("#{name_prefix}|temporal_range_type|"), 'RangeDateTime', range_checked, class: 'temporal-range-type-select validate', name: nil, data: { level: remove_pipes(name_prefix) }) %><label for="<%= remove_pipes(name_prefix) %>temporal_range_type_RangeDateTime">Range</label></p>

    <p class="radio-group"><%= radio_button_tag(name_to_param("#{name_prefix}|temporal_range_type|"), 'PeriodicDateTime', periodic_checked, class: 'temporal-range-type-select validate', name: nil, data: { level: remove_pipes(name_prefix) }) %><label for="<%= remove_pipes(name_prefix) %>temporal_range_type_PeriodicDateTime">Periodic</label></p>
  </div>

  <!-- PrecisionOfSeconds -->
  <%= mmt_text_field(
   name: 'precision_of_seconds',
   title: 'Precision Of Seconds',
   prefix: name_prefix,
   value: temporal_extent['PrecisionOfSeconds'],
   help: 'definitions/TemporalExtentType/properties/PrecisionOfSeconds',
   validate: true,
   classes: 'mmt-integer'
  ) %>

  <!-- EndsAtPresentFlag -->
  <%= mmt_label(
    name: 'ends_at_present_flag',
    title: 'Ends At Present Flag',
    prefix: name_prefix,
    always_required: true
  ) %>
  <%= mmt_help_icon(
    title: 'Ends At Present Flag',
    help: 'definitions/TemporalExtentType/properties/EndsAtPresentFlag'
  ) %>
  <% ends_at_present_flag = temporal_extent['EndsAtPresentFlag'] %>
  <p class="radio-group"><%= radio_button_tag(name_to_param("#{name_prefix}|ends_at_present_flag|"), 'true', ends_at_present_flag.to_s == 'true', data: { level: remove_pipes(name_prefix) }) %><label for="<%= remove_pipes(name_prefix) %>ends_at_present_flag_true">True</label></p>
  <p class="radio-group"><%= radio_button_tag(name_to_param("#{name_prefix}|ends_at_present_flag|"), 'false', ends_at_present_flag.to_s == 'false', data: { level: remove_pipes(name_prefix) }) %><label for="<%= remove_pipes(name_prefix) %>ends_at_present_flag_false">False</label></p>

  <!-- RangeDateTimes -->
  <div class="temporal-range-type range-date-time" style="<%= 'display: none;' unless range_checked %>">
    <%= mmt_label(
      name: 'range_date_times',
      title: 'Range Date Times',
      prefix: name_prefix,
      always_required: true
    ) %>
    <%= mmt_help_icon(
      title: 'Range Date Times',
      help: 'definitions/TemporalExtentType/properties/RangeDateTimes'
    ) %>
    <%= render partial: 'collection_drafts/forms/type', locals: {
        type: 'range_date_time',
        values: temporal_extent['RangeDateTimes'] || [{}],
        name_prefix: "#{name_prefix}|range_date_times|_",
        multiple: true,
        options: options.clone } %>
  </div>

  <div class="temporal-range-type single-date-time" style="<%= 'display: none;' unless single_checked %>">
    <% date_times = temporal_extent['SingleDateTimes'] || [nil] # [nil] creates at least one date_time field %>
    <div class="multiple simple-multiple single-date-times">
      <%= mmt_label(
        name: 'single_date_times',
        title: 'Single Date Times',
        prefix: name_prefix,
        always_required: true
      ) %>
      <%= mmt_help_icon(
        title: 'Single Date Times',
        help: 'definitions/TemporalExtentType/properties/SingleDateTimes'
      ) %>
    <% date_times.each_with_index do |date_time, index| %>
      <div class="multiple-item multiple-item-<%= index %>">
        <%= mmt_datetime_field_tag(name_to_param("#{name_prefix}|single_date_times|_#{index}"), date_time, class: 'half-width single-date-time simple-multiple-field validate mmt-date-time', data: { level: remove_pipes(name_prefix) }) %>
        <a class="remove">
          <i class="fa fa-times-circle"></i>
          <span class="is-invisible">Remove <%= index %></span>
        </a>
        <div class="actions">
          <button type="button" class="eui-btn--blue add-new new-simple"><i class="fa fa-plus-circle"></i> Add another Single Date Time</button>
        </div>
      </div>
    <% end %>
    </div>
  </div>

  <!-- PeriodicDateTimes -->
  <div class="temporal-range-type periodic-date-time" style="<%= 'display: none;' unless periodic_checked %>">
    <%= mmt_label(
      name: 'periodic_date_times',
      title: 'Periodic Date Time',
      prefix: name_prefix,
      always_required: true
    ) %>
    <%= mmt_help_icon(
      title: 'Periodic Date Time',
      help: 'definitions/TemporalExtentType/properties/PeriodicDateTimes'
    ) %>
    <%= render partial: 'collection_drafts/forms/type', locals: {
        type: 'periodic_date_time',
        values: temporal_extent['PeriodicDateTimes'] || [{}],
        name_prefix: "#{name_prefix}|periodic_date_times|_",
        multiple: true,
        options: options.clone } %>
  </div>
</div>
