<div class="grid-row sub-fields">
  <!-- TilingIdentificationSystemName -->
  <%= mmt_select(
    name: 'tiling_identification_system_name',
    title: 'Tiling Identification System Name',
    prefix: name_prefix,
    value: tiling_identification_system['TilingIdentificationSystemName'],
    options: DraftsHelper::TilingIdentificationSystemNameOptions,
    required: true
  ) %>

  <!-- Coordinate1 -->
  <%= mmt_label(
    title: 'Coordinate 1',
    prefix: name_prefix,
    required: true
  ) %>
  <%= mmt_help_icon(
    title: 'Coordinate 1',
    help: 'definitions/TilingCoordinateType'
  ) %>
  <%= render partial: 'collection_drafts/forms/type', locals: {
      type: 'tiling_coordinate',
      values: tiling_identification_system['Coordinate1'] || {},
      name_prefix: "#{name_prefix}|coordinate_1|_",
      multiple: false,
      options: {} } %>

  <!-- Coordinate2 -->
  <%= mmt_label(
    title: 'Coordinate 2',
    prefix: name_prefix,
    required: true
  ) %>
  <%= mmt_help_icon(
    title: 'Coordinate 2',
    help: 'definitions/TilingCoordinateType'
  ) %>
  <%= render partial: 'collection_drafts/forms/type', locals: {
      type: 'tiling_coordinate',
      values: tiling_identification_system['Coordinate2'] || {},
      name_prefix: "#{name_prefix}|coordinate_2|_",
      multiple: false,
      options: {} } %>

</div>
