<div class="row sub-fields">
  <!-- Description -->
  <%= mmt_label(
    name: 'description',
    title: 'Description',
    prefix: name_prefix
  ) %>
  <%= mmt_help_icon(
    title: 'Description',
    help: 'definitions/UseConstraintsType/properties/Description'
  ) %>
  <%= render partial: 'collection_drafts/forms/type', locals: {
    type: 'use_constraints_description',
    values: use_constraints['Description'] || {},
    name_prefix: "#{name_prefix}|description|_",
    multiple: false
  } %>

  <!-- License URL -->
  <%= mmt_label(
    name: 'license_url',
    title: 'License Url',
    prefix: name_prefix
  ) %>
  <%= mmt_help_icon(
    title: 'License Url',
    help: 'definitions/UseConstraintsType/properties/LicenseUrl'
  ) %>
  <%= render partial: 'collection_drafts/forms/type', locals: {
    type: 'online_resource',
    values: use_constraints['LicenseUrl'] || {},
    name_prefix: "#{name_prefix}|license_url|_",
    multiple: false
  } %>

  <!-- License Text -->
  <%= mmt_text_area(
    name: 'license_text',
    title: 'License Text',
    prefix: name_prefix,
    value: use_constraints['LicenseText'],
    help: 'definitions/UseConstraintsType/properties/LicenseText',
    validate: true,
    required: true
   ) %>
</div>
