<div class="license-group">
  <% description_only_checked = !use_constraints['Description'].nil? && use_constraints['LicenseURL'].nil? && use_constraints['LicenseText'].nil? %>
  <% license_url_checked =  !use_constraints['LicenseURL'].nil? %>
  <% license_text_checked =  !use_constraints['LicenseText'].nil? %>


  <div class="constraint-selector-fields row sub-fields">
    <!-- Constraint type selector -->
    <%= mmt_label(
      name: 'use_constraint_type',
      title: 'Constraint Type',
      prefix: name_prefix,
      always_required: false
    ) %>
    <div class='use_constraint_type_group row sub-fields'>
      <p class="radio-group"><%= radio_button_tag('use_constraint_type_Description','DescriptionOnly', description_only_checked, class: 'use-constraint-type-select') %><label for="use_constraint_type_Description">Description Only</label></p>
      <p class="radio-group"><%= radio_button_tag('use_constraint_type_Url','LicenseURL', license_url_checked, class: 'use-constraint-type-select') %><label for="use_constraint_type_Url">License URL</label></p>
      <p class="radio-group"><%= radio_button_tag('use_constraint_type_Text','LicenseText', license_text_checked, class: 'use-constraint-type-select') %><label for="use_constraint_type_Text">License Text</label></p>
    </div>
  </div>


  <!-- Description -->
  <div class="license-description-field available row sub-fields">
    <%= mmt_text_area(
      name: 'description',
      title: 'Description',
      prefix: name_prefix,
      value: use_constraints['Description'],
      help: 'definitions/UseConstraintsDescType',
      validate: true,
      required: description_only_checked ? true : false
    ) %>

  </div>


  <!-- License URL -->
  <div class="license-url-fields available row sub-fields" style="<%= 'display: none' unless license_url_checked %>">
    <%= mmt_label(
      name: 'license_url',
      title: 'License URL',
      prefix: name_prefix
    ) %>
    <%= mmt_help_icon(
      title: 'License Url',
      help: 'definitions/UseConstraintsType/properties/LicenseURL'
    ) %>
    <%= render partial: 'collection_drafts/forms/type', locals: {
      type: 'online_resource',
      values: use_constraints['LicenseURL'] || {},
      name_prefix: "#{name_prefix}|license_url|_",
      multiple: false
    } %>
  </div>


  <!-- License Text -->
  <div class="license-text-field not-available row sub-fields" style="<%= 'display: none' unless license_text_checked%>">
    <!-- License Text -->
    <%= mmt_text_area(
      name: 'license_text',
      title: 'License Text',
      prefix: name_prefix,
      value: use_constraints['LicenseText'],
      help: 'definitions/UseConstraintsType/properties/LicenseText',
      validate: true,
      required: true
   ) %>
  </div>
</div>
