<div class="row">
  <div class="col-9">
    <%= label_tag('order_option[name]', 'Name', class: 'required eui-required-o', for: 'order_option_name') %>
    <% if new_form == false%>
        <span class="red-warning">You must change the name of this option definition when updating it.</span>
    <% end %>
    <%= text_field_tag('order_option[name]', @order_option['name'], class: 'required half-width', maxlength: 30) %>

  </div>
</div>
<div class="row">
  <div class="col-9">
    <%= label_tag('order_option[sort_key]', 'Sort Key', for: 'order_option_sort_key') %>
    <%= text_field_tag('order_option[sort_key]', @order_option['sort_key'], size: 12, maxlength: 5) %>
  </div>
</div>

<div class="row">
  <%= label_tag('order_option[description]', 'Description', class: 'eui-required-o') %>
  <%= text_area_tag('order_option[description]', @order_option['description'], class: 'required') %>
</div>

<div class="">
  <%= label_tag('order_option[form]', 'Form XML', class: 'eui-required-o') %>
  <%= text_area_tag('order_option[form]', @order_option['form'], class: 'required') %>
</div>

<div class="col-3">
  <%= submit_tag 'Save', class: 'eui-btn--blue' %>
  <%= link_to 'Cancel', order_options_path %>
</div>