<div class="row row-content">
  <section>
    <h2>Editing <%= @order_option.fetch('name', nil) %></h2>

    <% if Rails.configuration.use_legacy_order_service %>
      <%= form_tag(order_option_path(@order_option_id), method: :put, id: 'order-option-definition-form', class: 'order-options') do %>
        <%= render partial: 'legacy_form', locals: { new_form: false } %>
      <% end %>
    <% else %>
      <%= form_tag(order_option_path(@order_option_concept_id), method: :put, id: 'order-option-definition-form', class: 'order-options') do %>
        <%= render partial: 'form', locals: { new_form: false } %>
      <% end %>
    <% end %>
    
  </section>
</div>
