<main class="internal" role="main">
  <header>
    <div class="content">
      <div class="eui-breadcrumbs">
        <ol class="eui-breadcrumbs__list">
          <li class="eui-breadcrumbs__item"><%= link_to 'Manage CMR', manage_cmr_path %></li>
          <li class="eui-breadcrumbs__item">Order Options</li>
        </ol>
      </div>
    </div>
  </header>

  <%= render 'shared/flash_messages' %>

  <div class="row row-content">
    <section>
      <h2>Order Options</h2>

      <%= link_to 'Create an Order Option', new_order_option_path, class: 'eui-btn--green' %>

      <p><%= page_entries_info @order_options, entry_name: 'order option' %></p>

      <table class="order-options-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Action</th>
            <th>Scope</th>
            <th>Deprecated?</th>
            <th>Last Update</th>
          </tr>
        </thead>
        <tbody>
        <% @order_options.each do |order_option| %>
          <tr>
            <td><%=order_option['Name']%></td>

            <td>
              <%= link_to 'View', order_option_path(order_option['Guid']) %> |
              <%= link_to 'Edit', edit_order_option_path(order_option['Guid']) %>
            </td>
            <td><%= order_option['Scope'] %></td>
            <td><%= order_option['Deprecated'] %></td>
            <td><%= echo_formatted_date(order_option['LastUpdate']) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @order_options %>

    </section>
  </div>
</main>
