<div class="row row-content">
  <section>
    <h2><%= @order_option.fetch('name', nil) %></h2>

    <p>
      <label>Last Update:</label> <%= @order_option['last_update'] %> |
      <label>Scope:</label> <%= @order_option['scope'] %> |
      <label>Deprecated:</label> <%= @order_option['deprecated'] %> |
      <label>Sort Key:</label> <%= @order_option['sort_key'] %>
    </p>

    <p>
      <label>Description:</label>
      <%= @order_option['description'] %>
    </p>

    <div class="row">
      <label>Form XML:</label>

      <pre><%= @order_option['form'] %></pre>
    </div>

    <%= link_to 'Edit', edit_order_option_path(@order_option['id']), class: 'eui-btn' %>
  </section>
</div>