<div class="grid-row row-content">
  <section>
    <h2><%= current_user.provider_id %> Service Options</h2>

    <%= link_to 'Create a Service Option', new_service_option_path, class: 'eui-btn--blue space-bot' %>

    <% if @service_options.any? %>
      <p><%= page_entries_info @service_options, entry_name: 'Service Option' %></p>
    <% end %>

    <table class="service-options-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Last Update</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
      <% if @service_options.empty? %>
        <tr>
          <td colspan="3">No <%= current_user.provider_id %> Service Options found.</td>
        </tr>
      <% else %>
        <% @service_options.each_with_index do |service_option, index| %>
          <tr>
            <td><%= link_to service_option['Name'], service_option_path(service_option['Guid']) %></td>
            <td><%= echo_formatted_date(service_option['LastUpdate'], default: 'Never Updated') %></td>
            <td>
              <%= link_to 'Edit', edit_service_option_path(service_option['Guid']) %>
            </td>
            <td>
              <%= link_to 'Delete', "#delete-service_option-modal-#{index}", class: 'display-modal' %>
              <div id="delete-service_option-modal-<%= index %>" class="eui-modal-content">
                <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
                  <p>Are you sure you want to delete the service option named '<%= service_option['Name'] %>'?</p>
                <p>
                  <a href="javascript:void(0)" class="eui-btn modal-close">No</a>
                  <%= link_to 'Yes', service_option_path(service_option['Guid']), method: :delete, class: 'eui-btn--blue spinner' %>
                </p>
              </div>
            </td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <%= paginate @service_options %>
  </section>
</div>
