<div class="grid-row row-content">
  <section>
    <h2><%= "#{@category_of_displayed_proposal} Draft Proposals" %></h2>

    <%= link_to "Create a #{resource_name.titleize}", send("new_#{resource_name}_path"), class: 'eui-btn--blue space-bot' unless @category_of_displayed_proposal == 'Queued' %>

    <% if get_resources.any? %>
      <p><%= page_entries_info get_resources, entry_name: resource_name.titleize %></p>
    <% end %>

    <table class="open-draft-proposals">
      <thead>
        <tr>
          <th><%= sort_by_link(short_name_header(resource_name), 'short_name', @query, nil, @specified_url) %></th>
          <th><%= sort_by_link(entry_title_header(resource_name), 'entry_title', @query, nil, @specified_url) %></th>
          <th><%= sort_by_link('Proposal Status', 'proposal_status', @query, nil, @specified_url) %></th>
          <th><%= sort_by_link('Request Type', 'request_type', @query, nil, @specified_url) %></th>
          <th><%= sort_by_link('Submitter', 'submitter_id', @query, nil, @specified_url) %></th>
          <th><%= sort_by_link('Last Modified', 'updated_at', @query, nil, @specified_url) %></th>
        </tr>
      </thead>
      <tbody>

      <% if get_resources.blank? %>
        <tr>
          <td colspan="6">
            No <%= @category_of_displayed_proposal %> Proposals found
          </td>
        </tr>
      <% else %>
        <% get_resources.each do |proposal| %>
          <tr class='<%= cycle("alt", "") %>'>
            <td>
              <%= link_to proposal.display_short_name, send("#{resource_name}_path", proposal) %>
            </td>
            <td>
              <%= proposal.display_entry_title %>
            </td>
            <td>
              <%= link_to proposal.proposal_status.titleize, send("progress_#{resource_name}_path", proposal) %>
            </td>
            <td>
              <%= "#{proposal.request_type.titleize}" %>
            </td>
            <td>
              <%= display_submitter_name(proposal.submitter_id, @urs_user_hash) %>
            </td>
            <td>
              <%= proposal.updated_at.to_fs(:date) %>
            </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>

    <%= paginate get_resources %>
  </section>
</div>
