<div class="grid-row row-content">
  <section class="action wide-content">
    <div class="wide-content-inside">
      <% if get_resource.in_work? %>
        <span>
          <% if @errors && @errors.size > 0 %>
            <%= link_to 'Submit for Review', '#invalid-proposal-modal', class: 'eui-btn--blue display-modal' %>
            <%= render partial: 'proposal/collection_draft_proposals/proposal_partials/invalid_proposal_modal' %>
          <% else %>
            <%= link_to 'Submit for Review', "#submit-proposal-modal", class: 'eui-btn--blue display-modal' %>
            <%= render partial: 'proposal/collection_draft_proposals/proposal_partials/submit_modal' %>
          <% end %>
          <%= link_to 'Delete Collection Draft Proposal', "#delete-proposal-modal", class: 'display-modal' %>
          <%= render partial: 'proposal/collection_draft_proposals/proposal_partials/delete_modal' %>
        </span>
      <% elsif get_resource.submitted? %>
        <% if @user_has_approver_permissions %>
          <%= link_to state_action_button_text('Approve'), "#approve-submission-modal", class: 'eui-btn--blue display-modal' %>
          <%= link_to state_action_button_text('Reject'), "#reject-submission-modal", class: 'eui-btn--red display-modal proposal-reject-button' %>
          <%= link_to state_action_button_text('Cancel'), "#rescind-submission-modal", class: 'eui-btn--link display-modal' %>
          <%= render partial: 'proposal/collection_draft_proposals/proposal_partials/approve_modal' %>
          <%= render partial: 'proposal/collection_draft_proposals/proposal_partials/reject_modal' %>
        <% else %>
          <%= link_to state_action_button_text('Cancel'), "#rescind-submission-modal", class: 'eui-btn--blue display-modal' %>
        <% end %>
        <%= render partial: 'proposal/collection_draft_proposals/proposal_partials/rescind_modal' %>
      <% elsif get_resource.rejected? %>
        <%= link_to state_action_button_text('Cancel'), "#rescind-submission-modal", class: 'eui-btn--link display-modal' %>
        <%= render partial: 'proposal/collection_draft_proposals/proposal_partials/rescind_modal' %>
      <% end %>

      <span id="proposal-status-display">
        <a href="<%= progress_collection_draft_proposal_path(get_resource) %>">
          <span class="eui-badge eui-badge--split proposal-status-badge"><%= status_badge_text %>
            <span class="proposal-status-display-status"><%= get_resource.proposal_status.titleize %></span>
          </span>
        </a>
      </span>
    </div>
  </section>

  <%= render partial: 'collection_drafts/progress/preview_progress', locals: { unpublished_resource: get_resource, metadata_errors: @errors || @ingest_errors } if get_resource.in_work? %>

  <% if Rails.env.test? %>
    <div id="metadata-preview">
      <%= get_resource.draft.to_json  %>
    </div>
  <% else %>
    <div id="metadata-preview">
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const element = document.getElementById('metadata-preview');
        const config = {
          conceptId: '<%= get_resource.id %>',
          conceptType: 'collectionDraftProposal',
          conceptUrlTemplate: '/{conceptType}/{conceptId}',
          token: '<%= @preview_token %>',
          graphQlHost: '<%= Rails.configuration.graphql_server %>'
        }
        MetadataPreview.init(config, element);
      });
    </script>
  <% end %>
</div>
