<main class="dashboard" role="main">
  <article id="metadata" class="row-content flex-row--start" role="article">
    <section class="eui-callout-box col-left">
      <h3 class="eui-callout-box__title ocean-blue">Create Tool Record</h3>
      <div class="eui-callout-box__list">
        <div class="question-group">
          <%= link_to 'Create New Record', new_tool_draft_path, class: 'eui-btn--blue submit' %>
        </div>
        <div class="question-group">
          <div class="grid-row">
            <p><strong>OR</strong> use the <a id="search-focus" href="#">search</a> in the top right corner to find published tools to clone or edit.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="eui-callout-box col-left">
      <div class="open-drafts">
        <h3 class="eui-callout-box__title ocean-blue"><%= current_user.provider_id %> Tool Drafts</h2>
        <div class="eui-callout-box__list">
          <ul>
            <% unless @drafts %>
              <%= current_user.provider_id %> has no drafts to display.
            <% end %>
            <% @drafts[0..@draft_display_max_count-1].each do |draft| %>
              <li>
                <p class="drafts">
                  <%= draft['updated_at'].split('T')[0]%> |
                  <%= link_to draft['short_name'] != nil ? draft['short_name'] : '<Blank Name> ' , tool_draft_path(draft["id"]), title: 'test' %>
                  <br>
                  <%= content_tag(:span, draft['entry_title'] != nil ? draft['entry_title'] : '<Untitled Tool Record>', title: draft['entry_title']) %>
                </p>
              </li>
            <% end %>
            <% if @drafts.size > @draft_display_max_count %>
              <li>
                <%= link_to 'More', tool_drafts_path %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </section>
  </article>
</main>
