<%= hidden_field_tag('id', @summary.fetch('Guid', '')) %>

<fieldset>
  <div class="grid_row">
    <label for="name" class="eui-required-o">Name</label>
    <%= text_field_tag('name', @summary.fetch('Name', ''), class: 'full-width') %>
  </div>
</fieldset>

<fieldset>
  <div class="grid_row">
    <label for="summary" class="eui-required-o">Summary</label>
    <%= text_area_tag('summary', @summary.fetch('Summary', ''), class: 'full-width redactor textarea-tall') %>
  </div>
</fieldset>

<fieldset>
  <%= submit_tag('Submit', class: 'eui-btn--blue') %>
  <%= link_to 'Cancel', :back, class: 'eui-btn' %>
</fieldset>
