<div class="grid_row row-content">
  <section>
    <h2>Edit <%= current_user.provider_id %> Data Quality Summary</h2>

    <% if Rails.configuration.use_legacy_order_service %>
      <%= form_tag(data_quality_summary_path(@summary.fetch('Guid')), method: :put, class: "data-quality-summary-form", id: "data-quality-summary-form") do %>
        <%= render partial: "legacy_form" %>
      <% end %>
    <% else %>
      <%= form_tag(data_quality_summary_path(@summary.fetch('meta', {}).fetch('concept-id', '')), method: :put, class: "data-quality-summary-form", id: "data-quality-summary-form") do %>
        <%= render partial: "form" %>
      <% end %>
    <% end %>
  </section>
</div>
