<main class="internal" role="main">
  <header>
    <div class="content">
      <div class="eui-breadcrumbs">
        <ol class="eui-breadcrumbs__list">
          <li class="eui-breadcrumbs__item">
            <%= link_to 'Manage CMR', manage_cmr_path %>
          </li>
          <li class="eui-breadcrumbs__item">
            <%= link_to 'Data Quality Summary Assignments', data_quality_summary_assignments_path %>
          </li>
        </ol>
      </div>
    </div>
  </header>

  <%= render 'shared/flash_messages' %>

  <div class="row row-content">
    <section>
      <h2><%= current_user.provider_id %> Data Quality Summary Assignments</h2>

      <p>Add a new Assignment by clicking the 'Create New Assignments' button below.</p>
      <%= link_to 'Create New Assignments', new_data_quality_summary_assignments_path, class: 'eui-btn--green' %>
      
      <%= link_to 'Go Back', data_quality_summary_assignments_path, class: 'eui-btn--blue pull-right' %>

      <p>Select one or more collections below to delete their assignments.</p>

      <%= form_tag(data_quality_summary_assignments_path, method: :delete, id: "delete-data-quality-summary-assignments-form") do %>
        <fieldset>
          <label for="data_quality_summary_assignment[]" class="eui-required-o">Data Quality Summary Assignments</label>

          <table id="assignment-collections" class="tablesorter">
            <thead>
              <tr>
                <th class="align-c"><input type="checkbox" name="checkall" class="checkall" data-group="data_quality_summary_assignment[]" /></th>
                <th>Collection</th>
                <th>Short Name</th>
                <th>Version ID</th>
                <th>Data Quality Summary</th>
              </tr>
            </thead>
            <tbody>
              <% if @assignments.empty? %>
                <tr>
                  <td colspan="5">No assignments found for the selected collections.</td>
                </tr>
              <% else %>
                <% @assignments.each do |collection| %>
                  <% collection.fetch('data_quality_summaries', []).each do |assignment| %>
                    <tr>
                      <td class="align-c">
                        <%= check_box_tag('data_quality_summary_assignment[]', assignment.fetch('AssignmentGuid'), false, id: "data_quality_summary_assignment_#{assignment.fetch('AssignmentGuid')}") %>
                      </td>
                      <td><%= link_to collection.fetch('umm', {}).fetch('entry-title', ''), collection_path(collection.fetch('meta').fetch('concept-id')), target: '_blank' %></td>
                      <td><%= collection.fetch('umm', {}).fetch('short-name', '') %></td>
                      <td><%= collection.fetch('umm', {}).fetch('version-id', '') %></td>
                      <td><%= link_to assignment.fetch('Name'), data_quality_summary_path(assignment.fetch('Guid')) %></td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
            <tfoot>
              <tr>
                <th colspan="5">Select one or more collections.</th>
              </tr>
            </tfoot>
          </table>
        </fieldset>

        <% unless @assignments.empty? %>
          <fieldset class="align-r">
            <%= submit_tag('Delete Selected Assignments', class: 'eui-btn--red') %>
          </fieldset>
        <% end %>
      <% end %>

    </section>
  </div>
</main>