<div class="grid-row row-content">
  <section>
    <h2><%= current_user.provider_id %> Data Quality Summary Assignments</h2>

    <%= link_to 'Create a Data Quality Summary Assignment', new_data_quality_summary_assignments_path, class: 'eui-btn--blue space-bot' %>

    <h3>Manage Data Quality Summary Assignments</h3>

    <p>To <em>view</em> or <em>remove</em> currently assigned Data Quality Summaries select the collections to view below.</p>

    <%= form_tag(data_quality_summary_assignments_path, method: :put, class: "data-quality-summary-form", id: "data-quality-summary-assignments-form") do %>
      <%= render partial: "form" %>

      <fieldset>
        <%= button_tag 'Display Assignments', class: 'eui-btn' %>
      </fieldset>
    <% end %>
  </section>
</div>
