<% new_form = params[:action] == 'new' || params[:action] == 'create' %>
<% path = new_form ? groups_path : group_path %>
<% method = new_form ? :post : :put %>

<%= form_tag(path, method: method, class: 'group-form') do %>
  <% if new_form || params[:edit_group] %>
    <%= render partial: 'group_form', locals: { new_form: new_form } %>
  <% end %>

  <% if new_form && !params[:edit_group] && !params[:add_members] %>
    <hr>
  <% end %>

  <% if new_form || params[:add_members] %>
    <%= render 'add_members_form' %>
  <% end %>

  <div class="row space-top">
    <%= submit_tag 'Save', class: 'btn btn-blue space-right', id: 'new-group-submit' %>
    <% if new_form %>
      <%= link_to 'Cancel', groups_path %>
    <% else %>
      <%= link_to 'Cancel', group_path %>
    <% end %>
  </div>
<% end %>

<div id='invite-user-modal' class="modal-content">
  <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
  <p>Users must authorize MMT through Earthdata Login to be added as group members.</p>
  <%= form_tag invite_user_path, method: :post, class: '', remote: true do %>
    <%= text_field_tag(
        'invite[first_name]',
        nil,
        placeholder: 'First Name'
    ) %>
    <%= text_field_tag(
        'invite[last_name]',
        nil,
        placeholder: 'Last Name'
    ) %>
    <%= text_field_tag(
        'invite[email]',
        nil,
        placeholder: 'Email'
    ) %>
    <p>
      <a href="javascript:void(0)" class="btn btn-default modal-close">Cancel</a>
      <%= submit_tag 'Invite User', class: 'btn btn-blue spinner' %>
    </p>
  <% end %>
</div>
