<% new_form = params[:action] == 'new' || params[:action] == 'create' %>
<% path = new_form ? groups_path : group_path %>
<% method = new_form ? :post : :put %>

<%= form_tag(path, method: method, class: 'group-form') do %>
  <% if new_form || params[:edit_group] %>
    <%= render partial: 'group_form', locals: { new_form: new_form } %>
  <% end %>

  <% if new_form && !params[:edit_group] && !params[:add_members] %>
    <hr>
  <% end %>

  <% if new_form || params[:add_members] %>
    <%= render 'add_members_form' %>
  <% end %>

  <div class="row space-top">
    <%= submit_tag 'Save', class: 'btn btn-blue space-right', id: 'new-group-submit' %>
    <% if new_form %>
      <%= link_to 'Cancel', groups_path %>
    <% else %>
      <%= link_to 'Cancel', group_path %>
    <% end %>
  </div>
<% end %>
