<fieldset class="no-bg">
  <legend class="space-bot-sm">General</legend>
  <div class="row">
    <%= label_tag('group[name]', 'Group Name', class: 'eui-required-o') %>
    <%= text_field_tag('group[name]', @group['name'], class: 'full-width required', readonly: !new_form) %>

    <% if @user_is_system_group_admin %>
      <div class="row">
        <!-- checkbox to ask if user wants to create system level group -->
        <%= check_box_tag(:system_group, true, @is_system_group, class: 'system-group-checkbox', readonly: !new_form) %>
        <%= label_tag(:system_group, 'System Level Group?') %>
      </div>
    <% end %>

  </div>
  <div class="row">
    <%= label_tag('group[description]', 'Group Description', class: 'eui-required-o') %>
    <%= text_area_tag('group[description]', @group['description'], cols: 30, rows: 3, class: 'required') %>
  </div>

</fieldset>
