<fieldset>
  <div class="row">
    <%= label_tag('group[name]', 'Name', class: 'eui-required-o') %>
  </div>
  <div class="row">
    <%= text_field_tag('group[name]', @group['name'], class: 'full-width required', readonly: !new_form) %>
    <p class="form-description">Group names cannot be modified after creation.</p>
  </div>
</fieldset>

<% if @user_is_system_group_admin %>    
<fieldset>
  <div class="row checkbox-group">
    <!-- checkbox to ask if user wants to create system level group -->
    <%= check_box_tag(:system_group, true, @is_system_group, class: 'system-group-checkbox', readonly: !new_form) %>
    <%= label_tag(:system_group, 'System Level Group?') %>
  </div>
</fieldset>
<% end %>

<fieldset>
  <div class="row">
    <%= label_tag('group[description]', 'Description', class: 'eui-required-o') %>
  </div>
  <div class="row">
    <%= text_area_tag('group[description]', @group['description'], cols: 30, rows: 3, class: 'required') %>
  </div>
</fieldset>
