<div class="grid-row row-content">
  <section>
    <h2>
      Edit <%= @group.fetch('name') %>
      <% if check_if_system_group?(@group, @group_id) %>
      <small><span class="eui-badge--sm">SYS</span></small>
      <% end %>
    </h2>

    <%= form_tag(group_path(params[:id]), method: :put, class: 'group-form') do %>
      <%= render 'form' %>

      <% @non_authorized_members.each do |unauthorized_member| %>
        <%= hidden_field_tag('non_authorized_members[]', unauthorized_member['uid']) %>
      <% end %>

    <% end %>

    <%= render 'invite_form' if invite_users_enabled? %>
  </section>
</div>
