<main class="internal" role="main">
  <header>
    <div class="content">
      <div class="eui-breadcrumbs">
        <ol class="eui-breadcrumbs__list">
          <li class="eui-breadcrumbs__item"><%= link_to 'Manage CMR', manage_cmr_path %></li>
          <li class="eui-breadcrumbs__item">Groups</li>
        </ol>
      </div>
      <h2>Groups</h2>
      <!-- TODO: wire this link -->
      <p class="subnav"><a href="#">Permissions</a></p>
      <p class="subnav current">Groups</p>
    </div>
  </header>

  <%= render 'shared/flash_messages' %>

  <div class="row row-content">
    <section>
      <%= link_to 'New Group', new_group_path, class: 'eui-btn eui-btn--blue space-bot space-top-5' %>

      <table class="groups-table">
        <thead>
          <tr>
            <th>Group Name</th>
            <th>Provider</th>
            <th>Member</th>
          </tr>
        </thead>
        <tbody>
          <% @groups.each do |group| %>
            <tr>
              <td><%= link_to group['name'], group_path(group['concept-id']) %></td>
              <td><%= group['provider-id'] %></td>
              <td><%= group['member-count'] %></td>
            </tr>
          <% end %>

          <% if @groups.blank? %>
            <tr>
              <td>No groups found at this time.</td>
              <td>-</td>
              <td>-</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
  </div>
</main>
