<div class="row row-content">
  <section>
    <h2>Groups</h2>

    <%= link_to 'Create a Group', new_group_path, class: 'eui-btn--blue space-bot' %>

    <% if @groups.any? %>
      <%= form_tag(groups_path, method: :get, class: 'group-form') do %>
        <fieldset>
          <div class="row">
            <label>Refine Groups Listing</label>
          </div>

          <div class="row">
            <div class="col-5" id="groups-provider-filter">
              <%= select_tag 'filters[provider][]', options_for_select(@provider_ids, @filters['provider']), class: 'full-width select2-select provider-filter', id: 'provider-group-filter', multiple: 'multiple', data: { placeholder: 'Filter By Provider'} %>
            </div>

            <div class="col-5" id="groups-member-filter">
              <%= select_tag 'filters[member][]', options_for_select(@member_filter_details, @filters['member']), class: 'full-width urs_autocomplete', id: 'member-group-filter', multiple: 'multiple', data: { placeholder: 'Filter By User'} %>
            </div>

            <div class="col-2 align-c">
              <%= submit_tag 'Apply Filters', class: 'eui-btn' %>
            </div>
          </div>
        </fieldset>
      <% end %>

      <p><%= page_entries_info @groups, entry_name: 'Group' %></p>
    <% end %>

    <table class="groups-table">
      <thead>
        <tr>
          <th>Group Name</th>
          <th>Description</th>
          <th>Provider</th>
          <th>Members</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if @groups.empty? %>
          <tr>
            <td colspan="5">No groups found.</td>
          </tr>
        <% else %>
          <% @groups.each_with_index do |group, index| %>
            <tr>
              <td>
                <%= link_to group['name'], group_path(group['concept_id']) %>
                <% if check_if_system_group?(group, group['concept_id']) %>
                  <span class="eui-badge--sm">SYS</span>
                <% end %>
              </td>
              <!-- TODO need to put a limit or char cutoff for description? -->
              <td><%= group['description'] %></td>
              <td><%= group_provider(group) %></td>
              <td><%= group['member_count'] %></td>
              <% if current_provider?(group['provider_id']) || check_if_system_group?(group, group['concept_id']) %>
                <td><%= link_to 'Edit', edit_group_path(group['concept_id']) %></td>
                <td>
                  <%= link_to 'Delete', "#delete-group-modal-#{index}", class: 'display-modal' %>
                  <div id="delete-group-modal-<%= index %>" class="eui-modal-content">
                    <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
                      <p>Are you sure you want to delete the group named '<%= group['name'] %>'?</p>
                    <p>
                      <a href="javascript:void(0)" class="eui-btn modal-close">No</a>
                      <%= link_to 'Yes', group_path(group['concept_id']), method: :delete, class: 'eui-btn--blue spinner' %>
                    </p>
                  </div>
                </td>
              <% elsif available_provider?(group['provider_id']) %>
                <td>
                  <%= link_to 'Edit', "#not-current-provider-modal-#{index}", class: 'display-modal not-current-provider', data: { 'provider': group['provider_id'], record_action: 'edit-group' } %>
                </td>
                <td>
                  <%= link_to 'Delete', "#not-current-provider-modal-#{index}", class: 'display-modal not-current-provider', data: { 'provider': group['provider_id'], record_action: 'delete-group' } %>
                </td>
                <%= render partial: 'shared/not_current_provider_modal', locals: {
                  modal_index: index,
                  options: { group: group, name: group['name'], concept_id: group['concept_id'] }
                  } %>
              <% else %>
                <td></td>
                <td></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <%= paginate @groups %>
  </section>
</div>
