<main class="internal" role="main">
  <header>
    <div class="content">
      <div class="eui-breadcrumbs">
        <ol class="eui-breadcrumbs__list">
          <li class="eui-breadcrumbs__item"><%= link_to 'Manage CMR', manage_cmr_path %></li>
          <li class="eui-breadcrumbs__item">Groups</li>
        </ol>
      </div>
      <h2>Groups</h2>
      <!-- TODO: wire this link -->
      <p class="subnav"><a href="#">Permissions</a></p>
      <p class="subnav current">Groups</p>
    </div>
  </header>

  <%= render 'shared/flash_messages' %>

  <div class="row row-content">
    <section>
      <%= link_to 'New Group', new_group_path, class: 'btn btn-blue space-bot space-top-5' %>

      <%= form_tag(groups_path, method: :get, class: 'group-form') do %>
        <div class="group-filters">
          <span class="label">Refine group listing</span>
          <!-- Filter by provider -->
          <%= label_tag 'filters_provider_', 'Provider', class: 'is-invisible' %>
          <%= select_tag 'filters[provider][]', options_for_select(@provider_ids, @filters['provider']), style: 'width: 40%', class: 'select2-select provider-filter', multiple: 'multiple' %>

          <!-- Filter by member -->
          <%= label_tag 'filters_member_', 'Member', class: 'is-invisible' %>
          <%= select_tag 'filters[member][]', options_for_select(@users.map{ |user| user[:uid] }.sort, @filters['member']), style: 'width: 40%', class: 'select2-select member-filter', multiple: 'multiple' %>

          <!-- Apply all filters button -->
          <%= submit_tag 'Apply Filter', class: 'btn btn-blue' %>
        </div>
      <% end %>

      <table class="groups-table"
        <thead>
          <tr>
            <th>Group Name</th>
            <th>Provider</th>
            <th>Members</th>
          </tr>
        </thead>
        <tbody>
          <% if @groups.blank? %>
            <tr>
              <td>No groups found at this time.</td>
              <td>-</td>
              <td>-</td>
            </tr>
          <% else %>
            <% @groups.each do |group| %>
              <tr>
                <td><%= link_to group['name'], group_path(group['concept_id']) %></td>
                <td><%= group_provider(group) %></td>
                <td><%= group['member_count'] %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </section>
  </div>
</main>
