<div class="grid-row row-content">
  <section>
    <h2>Groups</h2>

    <%= link_to 'Create a Group', new_group_path, class: 'eui-btn--blue space-bot' %>

    <%= form_tag(groups_path, method: :get, class: 'group-form') do %>
      <fieldset class="groups-filters">
        <div class="grid-row space-bot">
          <h4>Search Groups</h4>
          <p class="form-description space-bot">Use the selections and filters below to refine groups by Provider and/or User</p>
        </div>

        <div class="grid-row space-bot">
          <div class="grid-col-2" id="groups-provider-segment-filter" class="radio-group">
            <div class="grid-row">
              <label>Providers</label>
            </div>
            <div class="grid-row">
              <%= label_tag 'filters[provider_segment_current]' do %>
                <%= radio_button_tag 'filters[provider_segment]', 'current', @filters['provider_segment'] == 'current' %>
                Current Provider
                <% end %>
            </div>
            <div class="grid-row">
              <%= label_tag 'filters[provider_segment_available]' do %>
                <%= radio_button_tag 'filters[provider_segment]', 'available', @filters['provider_segment'] == 'available' %>
                Available Providers
              <% end %>
            </div>
          </div>

          <% if policy(:system_group).read? %>
            <%# using width override to allow label to show on one line %>
            <div class="grid-col-2 w15 <%= 'is-hidden' unless @filters['provider_segment'] == 'available' %>" id="groups-show-system-groups-filter">
              <div class="grid-row">
                <label>System Groups</label>
              </div>

              <div class="grid-row checkbox-group">
                <%= label_tag 'filters[show_system_groups]' do %>
                  <%= check_box_tag 'filters[show_system_groups]', 'true', @filters['show_system_groups'] == 'true' %>
                  Show System Groups?
                <% end %>
              </div>
            </div>
          <% end %>

          <%# using width override to accommodate adjustment for system groups %>
          <div class="grid-col-4 w30 <%= 'is-hidden' unless @filters['provider_segment'] == 'available' %>" id="groups-provider-filter">
            <%= select_tag 'filters[provider][]', options_for_select(@groups_provider_ids, @filters['provider']), class: 'full-width select2-select provider-filter', id: 'provider-group-filter', multiple: 'multiple', data: { placeholder: 'Filter By Provider'} %>

          </div>

          <%# using width override to accommodate adjustment for system groups %>
          <div class="grid-col-4 w30" id="groups-member-filter">
            <%= select_tag 'filters[member][]', options_for_select(@member_filter_details, @filters['member']), class: 'full-width urs_autocomplete', id: 'member-group-filter', multiple: 'multiple', data: { placeholder: 'Filter By User'} %>
          </div>

        </div>

        <div class="grid-row space-top">
          <div class="grid-col-2 align-l">
            <%= submit_tag 'Apply Filters', class: 'eui-btn' %>
          </div>
        </div>
      </fieldset>
    <% end %>

    <p><%= page_entries_info @groups, entry_name: 'Group' %></p>

    <table class="groups-table">
      <thead>
        <tr>
          <th>Group Name</th>
          <th>Description</th>
          <th>Provider</th>
          <th>Members</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if @groups.empty? %>
          <tr>
            <td colspan="5">No groups found.</td>
          </tr>
        <% else %>
          <% @groups.each_with_index do |group, index| %>
            <tr>
              <td>
                <%= link_to group['name'], group_path(group['group_id']) %>
                <% if check_if_system_group?(group, group['group_id']) %>
                  <span class="eui-badge--sm">SYS</span>
                <% end %>
              </td>
              <!-- TODO need to put a limit or char cutoff for description? -->
              <td><%= group['description'] %></td>
              <td><%= group_provider(group) %></td>
              <td><%= group['member_count'] %></td>
              <% if current_provider?(group['provider_id']) || check_if_system_group?(group, group['group_id']) %>
                <td><%= link_to 'Edit', edit_group_path(group['group_id']) %></td>
                <td>
                  <%= link_to 'Delete', "#delete-group-modal-#{index}", class: 'display-modal' %>
                  <div id="delete-group-modal-<%= index %>" class="eui-modal-content">
                    <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
                      <p>Are you sure you want to delete the group named '<%= group['name'] %>'?</p>
                    <p>
                      <a href="javascript:void(0)" class="eui-btn modal-close">No</a>
                      <%= link_to 'Yes', group_path(group['group_id']), method: :delete, class: 'eui-btn--blue spinner' %>
                    </p>
                  </div>
                </td>
              <% elsif available_provider?(group['provider_id']) %>
                <td>
                  <%= link_to 'Edit', "#not-current-provider-modal-#{index}", class: 'display-modal not-current-provider', data: { 'provider': group['provider_id'], record_action: 'edit-group' } %>
                </td>
                <td>
                  <%= link_to 'Delete', "#not-current-provider-modal-#{index}", class: 'display-modal not-current-provider', data: { 'provider': group['provider_id'], record_action: 'delete-group' } %>
                </td>

                <%= render partial: 'shared/not_current_provider_modal', locals: {
                  modal_index: index,
                  options: { group: group, name: group['name'], group_id: group['group_id'] }
                  } %>
              <% else %>
                <td></td>
                <td></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <%= paginate @groups %>
  </section>
</div>
