<main class="internal" role="main">
  <header>
    <div class="content">
      <div class="breadcrumb">
        <ol>
          <!-- todo: wire the following links -->
          <li><%= link_to 'Manage CMR', manage_cmr_path %></li>
          <li><%= link_to 'Groups', groups_path %></li>
          <!-- end todo -->
        </ol>
      </div>
      <h2>New Group for <%= @current_user.provider_id %></h2>
      <p class="subnav">Permissions</p>
      <!-- todo: wire this link -->
      <p class="subnav current"><a href="#">Groups</a></p>
      <!-- end todo -->
    </div>
  </header>

  <%= render 'shared/flash_messages' %>

  <div class="row row-content">
    <section>
      <%= form_tag(groups_path, method: :post, class: 'group-form') do %>
        <fieldset class="no-bg">
          <legend class="space-bot-sm">General</legend>
          <div class="row">
            <%= label_tag('group[name]', 'Group Name', class: 'icon-required') %>
            <br/>
            <%= text_field_tag('group[name]', @group[:name], class: 'half-width required') %>
          </div>
          <div class="row">
            <%= label_tag('group[description]', 'Group Description', class: 'icon-required') %>
            <%= text_area_tag('group[description]', @group[:description], cols: 30, rows: 3, class: 'required') %>
          </div>
        </fieldset>
        <hr>
        <fieldset class="no-bg">
          <div class="row">
            <legend class="space-bot-sm">Add Members to Group</legend>
          </div>
          <label for="filter-members" class="disabled">Filter Members</label>
          <input type="text" id="filter-members" class="w30 disabled" placeholder="Enter user name" disabled/>
          <div class="dual-select">
            <div class="dual-select__menu">
              <%= label_tag('members_directory') %>
              <%= select_tag 'members_directory', options_for_select(@users_options), multiple: true %>
            </div>
            <div class="dual-select__actions">
              <button id="add-members" class="btn btn-default">Add Member(s) <span class="icon-circle-right"></span></button>
              <button id="remove-members" class="btn btn-default"><span class="icon-circle-left"></span> Remove Member(s)</button>
            </div>
            <div class="dual-select__menu">
              <div class="row">
                <label for="selected_members">Selected Members</label>
              </div>
              <%= select_tag 'selected_members', options_for_select(@selected_users), multiple: true %>
            </select>
            </div>
          </div>
        </fieldset>
        <div class="row space-top">
          <input type="submit" class="btn btn-blue space-right" id="new-group-submit" value="Save">
          <a href="#">Cancel</a>
        </div>
      <% end %>
    </section>
  </div>
</main>
