<main class="internal" role="main">
  <header>
    <div class="content">
      <div class="breadcrumb">
        <ol>
          <!-- todo: wire the following links -->
          <li><%= link_to 'Manage CMR', manage_cmr_path %></li>
          <li><%= link_to 'Groups', groups_path %></li>
          <li><%= @group['name'] %></li>
          <!-- end todo -->
        </ol>
      </div>
      <div class="row space-bot">
        <h2><%= @group['name'] %></h2>
        <p><%= @group['description'] %></p>
      </div>
      <div class="row">
        <p class="subnav">Permissions</p>
        <!-- todo: wire this link -->
        <p class="subnav current"><a href="#">Groups</a></p>
        <!-- end todo -->
      </div>
    </div>
  </header>

  <%= render 'shared/flash_messages' %>

  <div class="row row-content">
    <section>
      <div class="flex-center">
        <div class="row">
          <a href="#" class="disabled">Edit Name & Description</a> |
          <%= link_to 'Delete Group', group_path(@group), method: :delete %>
        </div>
      </div>
      <hr>
      <p>
        <b>Associated Permissions</b>
        <br>
        -
      </p>
      <hr>
      <p>
        <b>Group Members</b>
      </p>
      <div class="row space-bot">
        <label for="group-filter">
          Filter
          <input type="text" placeholder="Enter member name" disabled>
        </label>
      </div>
      <div class="row">
        <a href="#" class="btn btn-default" disabled>Remove Selected</a>
        <a href="#" class="btn btn-default" disabled>+ Add Members</a>
      </div>
      <table class="space-top align-c disabled" id="groups-table">
        <thead>
          <tr>
            <th class="align-c"><input type="checkbox" disabled><span class="is-invisible">Column to select members</span></th>
            <th>Member Name</th>
            <th>Email</th>
            <th>Last Activity</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="checkbox" disabled></td>
            <td class="align-l">John Smith</td>
            <td class="align-l">john.smith@email.com</td>
            <td class="align-l">January 3rd, 2016 08:00:32 EST</td>
          </tr>
          <tr>
            <td><input type="checkbox" disabled></td>
            <td class="align-l">Jane Doe</td>
            <td class="align-l">jane.doe@email.com</td>
            <td class="align-l">January 8rd, 2016 23:54:17 EST</td>
          </tr>
        </tbody>
      </table>
      <div class="row space-top">
        <input type="submit" class="btn btn-blue space-right" value="Save" disabled>
        <a href="#">Cancel</a>
      </div>
    </section>
  </div>
</main>
