<main class="internal" role="main">
  <header>
    <div class="content">
      <div class="eui-breadcrumbs">
        <ol class="eui-breadcrumbs__list">
          <li class="eui-breadcrumbs__item">
            <%= link_to 'Manage CMR', manage_cmr_path %>
          </li>
          <li class="eui-breadcrumbs__item">
            <%= link_to 'Groups', groups_path %>
          </li>
          <li class="eui-breadcrumbs__item">
            <%= @group['name'] %>
          </li>
        </ol>
      </div>
      <div class="row space-bot">
        <h2><%= @group['name'] %></h2>
        <p><%= @group['description'] %></p>
      </div>
      <div class="row">
        <p class="subnav">Permissions</p>
        <p class="subnav current">
          <%= link_to 'Groups', groups_path %>
        </p>
      </div>
    </div>
  </header>

  <%= render 'shared/flash_messages' %>

  <div class="row row-content">
    <section>
      <div class="flex-center">
        <div class="row">
          <%= link_to 'Edit Group', edit_group_path(edit_group: true) %> |
          <%= link_to 'Delete Group', '#delete-group-modal', class: 'display-modal' %>
          <div id='delete-group-modal' class="eui-modal-content">
            <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
            <p>Are you sure you want to delete this group?</p>
            <p>
              <a href="javascript:void(0)" class="eui-btn eui-btn-default modal-close">No</a>
              <%= link_to 'Yes', group_path(name: @group['name']), method: :delete, class: 'eui-btn eui-btn--blue spinner' %>
            </p>
          </div>
        </div>
      </div>
      <hr>
      <p>
        <b class="disabled">Associated Permissions</b>
        <br>
        -
      </p>
      <hr>
      <p>
        <b>Group Members</b>
      </p>
      <div class="row space-bot disabled">
        <label for="group-filter">
          Filter
          <input type="text" placeholder="Enter member name" disabled>
        </label>
      </div>
      <%= form_tag(remove_members_path(id: @concept_id), method: :delete, class: 'group-form') do %>
        <div class="row">
          <%= link_to 'Remove Selected', 'javascript:void(0)', id: 'remove-selected-members', class: 'eui-btn eui-btn-default disabled', disabled: true %>

          <%= link_to '+ Add Members', edit_group_path(add_members: true), class: 'eui-btn eui-btn-default' %>
        </div>
        <table class="space-top align-c" id="groups-table">
          <thead>
            <tr>
              <th class="align-c">
                <%= check_box_tag 'select_all_members' %>
                <span class="is-invisible">Column to select members</span>
              </th>
              <th>Member Name</th>
              <th>Email</th>
              <!-- <th>Last Activity</th> -->
            </tr>
          </thead>
          <tbody>
            <% @members.each do |member| %>
              <tr>
                <td>
                  <%= check_box_tag 'members[]', member[:uid], false, class: 'remove-member-checkbox' %>
                </td>
                <td class="align-l"><%= member[:name] %></td>
                <td class="align-l"><%= member[:email] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
      <div class="row space-top disabled">
        <input type="submit" class="eui-btn eui-btn--blue space-right" value="Save" disabled>
        <a href="#">Cancel</a>
      </div>
    </section>
  </div>
</main>
