<div class="row row-content">
  <section>
    <h2>
      <%= @group.fetch('name') %>
      <% if check_if_system_group?(@group, @concept_id) %>
      <small><span class="eui-badge--sm">SYS</span></small>
      <% end %>
    </h2>

    <p><%= @group.fetch('description') %></p>

    <h4>Management Group(s)</h4>
      <% if @management_groups.blank? %>
        <p>No Management Groups found.</p>
      <% else %>
        <% @management_groups.each do |management_group| %>
          <p><%= management_group.fetch('name', '') %></p>
        <% end %>
      <% end %>

    <h3>Members</h3>

    <% if @selected_users.any? %>
      <table class="space-top space-bot" id="group-members">
        <thead>
          <tr>
            <th class="">Member Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <% @selected_users.each do |member| %>
            <tr>
              <td class="align-l"><%= "#{member['first_name']} #{member['last_name']}" %></td>
              <td class="align-l"><%= member['email_address'] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p><%= @group.fetch('name', nil) %> has no members.</p>
    <% end %>

    <% if current_user.provider_id == @group['provider_id'] || check_if_system_group?(@group, @concept_id) %>
      <%= link_to 'Edit', edit_group_path(@concept_id), class: 'eui-btn' %>
      <%= link_to 'Delete', '#delete-group-modal', class: 'display-modal eui-btn eui-btn--red' %>
      <div id='delete-group-modal' class="eui-modal-content">
        <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
        <p>Are you sure you want to delete this group?</p>
        <p>
          <a href="javascript:void(0)" class="eui-btn modal-close">No</a>
          <%= link_to 'Yes', group_path(name: @group['name']), method: :delete, class: 'eui-btn--blue spinner' %>
        </p>
      </div>
    <% elsif current_user.available_providers.include?(@group['provider_id']) %>
      <%= link_to 'Edit', '#not-current-provider-modal', class: 'eui-btn display-modal not-current-provider', data: { 'provider': @group['provider_id'], record_action: 'edit-group' } %>
      <%= link_to 'Delete', '#not-current-provider-modal', class: 'eui-btn eui-btn--red display-modal not-current-provider', data: { 'provider': @group['provider_id'], record_action: 'delete-group' } %>
      <%= render partial: 'shared/not_current_provider_modal', locals: {
        options: { group: @group, name: @group['name'], concept_id: @concept_id }
        } %>
    <% end %>
  </section>
</div>
