<div class="row row-content">
  <section>
    <h2>
      <%= @group.fetch('name') %>
      <% if check_if_system_group?(@group, @concept_id) %>
        <small><span class="eui-badge--sm">SYS</span></small>
      <% end %>
    </h2>

    <p><%= @group.fetch('description') %></p>

    <h4>Associated Permissions</h4>
    <% if @permissions.blank? %>
      <p>No associated permissions found.</p>
    <% else %>
      <ul>
        <% @permissions.each do |permission| %>
          <li><%= link_to permission['name'], permission_path(permission['concept_id']) %></li>
        <% end %>
      </ul>
    <% end %>

    <h3>Members</h3>
    <% if @members.any? %>
      <table class="space-top space-bot" id="group-members">
        <thead>
          <tr>
            <th>Member Name</th>
            <th>Email</th>
            <th>Earthdata Login Username</th>
          </tr>
        </thead>
        <tbody>
          <% @members.each do |member| %>
            <tr>
              <td class="align-l"><%= "#{member['first_name']} #{member['last_name']}" %></td>
              <td class="align-l"><%= member['email_address'] %></td>
              <td class="align-l"><%= member['uid'] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <% unless @non_authorized_members.blank? %>
        <p class="form-description space-bot">MMT cannot populate empty member information cells because those users have not authorized MMT to access their Earthdata Login profile.</p>
      <% end %>
    <% else %>
      <p><%= @group.fetch('name', nil) %> has no members.</p>
    <% end %>

    <% if current_provider?(@group['provider_id']) || check_if_system_group?(@group, @concept_id) %>
      <%= link_to 'Edit', edit_group_path(@concept_id), class: 'eui-btn' %>
      <%= link_to 'Delete', '#delete-group-modal', class: 'display-modal eui-btn eui-btn--red' %>
      <div id='delete-group-modal' class="eui-modal-content">
        <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
        <p>Are you sure you want to delete this group?</p>
        <p>
          <a href="javascript:void(0)" class="eui-btn modal-close">No</a>
          <%= link_to 'Yes', group_path(name: @group['name']), method: :delete, class: 'eui-btn--blue spinner' %>
        </p>
      </div>
    <% elsif available_provider?(@group['provider_id']) %>
      <%= link_to 'Edit', '#not-current-provider-modal', class: 'eui-btn display-modal not-current-provider', data: { 'provider': @group['provider_id'], record_action: 'edit-group' } %>
      <%= link_to 'Delete', '#not-current-provider-modal', class: 'eui-btn eui-btn--red display-modal not-current-provider', data: { 'provider': @group['provider_id'], record_action: 'delete-group' } %>
      <%= render partial: 'shared/not_current_provider_modal', locals: {
        options: { group: @group, name: @group['name'], concept_id: @concept_id }
        } %>
    <% end %>
  </section>
</div>
