<div class="urs-assocation">
  <div class="grid_row row-content">
    <div class="content">
      <section>
        <h2>Confirm Earthdata Login and Launchpad account association</h2>

        <fieldset>
          <p>Dear <%= "#{@profile.fetch('first_name', '')} #{@profile.fetch('last_name', '')}," %> </p>
          <p>Please confirm that you want to link this Earthdata Login account with your Launchpad account. You can only link one Earthdata Login account for this MMT environment (<%= Rails.env.to_s %>), and once the accounts are linked that currently cannot be changed.</p>
          <ul class="no-bullet">
            <li><strong>Launchpad username: </strong><span><%= @auid %></span></li>
            <li><strong>Earthdata Login username: </strong><span><%= @profile['uid'] %></span></li>
          </ul>

          <%= form_tag(associate_urs_and_launchpad_ids_path, method: :post, id: 'associate-urs-and-launchpad-ids-form') %>

            <%= hidden_field_tag 'profile[first_name]', @profile['first_name'] %>
            <%= hidden_field_tag 'profile[last_name]', @profile['last_name'] %>
            <%= hidden_field_tag 'profile[uid]', @profile['uid'] %>
            <%= hidden_field_tag 'profile[email_address]', @profile['email_address'] %>

            <%= submit_tag 'Confirm Association', class: 'eui-btn--blue' %>
        </fieldset>

        <fieldset>
          <p>If that is not the Earthdata Login account you would like to link to your Launchpad account, please <%= link_to 'visit Earthdata Login', Rails.configuration.services['earthdata'][Rails.configuration.cmr_env]['urs_root'], target: '_blank' %>, make sure you log out, then click the button below to log in to the Earthdata Login account you listed on your NAMS request and would like to associate with your Launchpad account.</p>

          <%= link_to 'Earthdata Login', cmr_client.urs_login_path(associate: true), class: 'eui-btn--blue' %>
        </fieldset>
      </section>
    </div>
  </div>
</div>
