<header>

  <noscript>JAVASCRIPT MUST BE ENABLED FOR ADVANCED FUNCTIONS TO WORK</noscript>
  <div class="content">
    <div class="col-6">
      <div class="masthead-logo" id="masthead-logo">
        <%= link_to root_url do %>
            <h1>Metadata Management Tool (MMT)</h1>
            <span class="badge badge-sm daac">GESDISC</span>
        <% end %>
      </div>
      <section id="user-info">
        <p><strong>Rob Flores</strong></p>
        <a href="#">Logout</a>
        <a href="#">Account Settings</a>
      </section>
    </div>
    <div class="col-6 header-tools">
      <a href="#" id="help"><i class="fa fa-question-circle"></i>Help</a>
      <% if controller_name.include? 'welcome'%>
          <button type="button" class="btn btn-blue">Earthdata Login</button>
      <% else %>
          <section id="search" class="full-width">

            <% remote = controller_name == 'search' %>
            <%= form_tag(search_path, method: "get", remote: remote) do %>
                <%= label_tag(:entry_id, "Quick Find") %>
                <%= text_field_tag(:entry_id, nil, placeholder: 'Enter Entry Id') %>
                <%= button_tag(type: 'submit', class: 'btn btn-blue') do %>
                    <i class="fa fa-search"></i>Find
                <% end %>
            <% end %>

            <a href="#" class="full-search"><i class="fa fa-search"></i>Full Metadata Record Search</a>

            <div class="search-module is-hidden">
              <form action="">
                <!-- Type of Record -->
                <fieldset>
                  <legend>Find</legend>
                  <div class="row">
                    <input type="radio" name="find" id="find-1">
                    <label for="find-1">Collections</label>
                    <input type="radio" name="find" id="find-2">
                    <label for="find-2">Services</label>
                  </div>
                </fieldset>
                
                <hr>
                <!-- Record Details -->
                <fieldset>
                  <div class="row">
                    <select name="organization" class="single-select" aria-label="Select Organization">
                      <option value="GEDISC" selected="selected">GEDISC</option>
                    </select>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <select name="record-type">
                        <option value="published-records" selected="selected">Published Records</option>
                        <option value="draft-records">Draft Records</option>
                        <option value="published-and-draft-records">Published &amp; Draft Records</option>
                      </select>
                    </div>
                    <div class="col-4">
                      <select name="review-status">
                        <option value="any-review-status" selected="selected">Any Review Status</option>
                        <option value="reviewed">Reviewed</option>
                        <option value="not-reviewed">Not Reviewed</option>
                      </select>
                    </div>
                    <div class="col-4">
                      <select name="record-type">
                        <option value="active-only" selected="selected">Active Records ONLY</option>
                        <option value="deleted-only">Deleted Records ONLY</option>
                        <option value="active-and-deleted-records">Active &amp; Deleted Records</option>
                      </select>
                    </div>
                  </div>
                </fieldset>
                <hr>
                <!-- Additional Filter Criteria -->
                <fieldset>
                  <div class="row">
                    <div class="col-4">
                      <select name="date-filter">
                        <option value="last-modified-date" selected="selected">Last Modified Date</option>
                        <option value="published-date">Published Date</option>
                        <option value="deleted-date">Deleted Date</option>
                      </select>
                    </div>
                    <div class="col-4">
                      <select name="on-or-afer">
                        <option value="on-or-after" selected="selected">On or After</option>
                        <option value="on-or-before">On or Before</option>
                        <option value="on">On</option>
                        <option value="after">After</option>
                        <option value="before">Before</option>
                      </select>
                    </div>
                    <div class="col-4">
                      <input type="date"></input>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <select name="author-type">
                        <option value="created-by" selected="selected">Created by</option>
                        <option value="modified-by">Modified by</option>
                        <option value="deleted-by">Deleted by</option>
                      </select>
                    </div>
                    <div class="col-8">
                      <input type="text">
                    </div>
                  </div>
                </fieldset>
                <hr>
                <fieldset>
                  <legend>Search Term</legend>
                  <input type="text" id="search-term" aria-label="Search Term">
                  <p class="form-description">Enter an Entry ID, CMR Concept ID, or Entry Title</p>
                  <hr>
                  <div class="row">
                    <a href="#" class="is-collapsed">Has a relationship to</a>
                  </div>
                  <hr>
                  <div class="row">
                    <button type="submit" class="btn btn-blue">Submit</button>
                    <a href="#" class="cancel">Cancel</a>
                  </div>
                </fieldset>
                
              </form>
            </div>
          </section>
      <% end %>
    </div>
  </div>
</header>