<header class="mmt-header" role="eui-banner">
  <!-- <div class="content"> -->
  <div class="<%= defined?(wide) && wide ? 'wide-content' : 'content' %>">
    <div class="col-7">
      <div class="eui-masthead-logo eui-application-logo" id="masthead-logo">
        <%= link_to root_path do %>
            <h1>Metadata Management Tool
              <% if Rails.configuration.proposal_mode %>
              <!-- TODO: badge -->
                <span class="eui-badge proposal-mode-label"><%= "Non-NASA Users" %></span>
              <% end %>
            </h1>
        <% end %>
      </div>
    </div>
    <div class="col-5 header-tools">
      <a href="#" id="help"><i class="fa fa-question-circle"></i>Help</a>
      <% if controller_name.include? 'welcome'%>
        <% if both_login_methods_on? %>
          <%= link_to 'Login with Earthdata Login', login_path(login_method: 'urs'), class: 'eui-btn--blue' %>
          <% unless hide_launchpad_button? %>
            <%= link_to 'Login with Launchpad', login_path(login_method: 'launchpad'), class: 'eui-btn--blue' %>
          <% end %>
        <% elsif launchpad_login_required? %>
          <%= link_to 'Login with Launchpad', login_path(login_method: 'launchpad'), class: 'eui-btn--blue' %>
        <% elsif urs_login_required? %>
          <%= link_to 'Login with Earthdata Login', login_path(login_method: 'urs'), class: 'eui-btn--blue' %>
        <% end %>

        <% if launchpad_login_required? && Rails.env.test? %>
          <!-- this button is needed for testing a successful launchpad login -->
          <%= button_to 'Launchpad Test Login', acs_path, method: :post, params: { SAMLResponse: ENV['launchpad_saml_response'] }  %>
        <% end %>
      <% else %>
        <div class="row">
          <%= render partial: 'shared/user_info_dropdown', locals: { hide_provider_context: hide_search } %>
        </div>
        <% unless hide_search %>
          <div class="row">
            <section id="search">
              <%= render 'shared/search_form' %>
            </section>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</header>

<noscript>
  <div id='javascript_warning' class="eui-banner--danger">
    <p class="eui-banner__message">
      <strong> JavaScript is disabled! </strong> JavaScript must be enabled for some features to work.
    </p>
  </div>
</noscript>

<% unless hide_search %>
  <div id="provider-context">
    <% if logged_in? && current_user.available_providers %>
      <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
        <%= render partial: 'shared/provider_context', locals: { provider_context_page: false } %>
    <% end %>
  </div>
<% end %>
