<div id="loss-report-modal" class="eui-modal-content" >
  <a href="javascript:void(0);" class="modal-close float-r" id="close-loss-report-modal"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
  <div>
    <h4>Conversion to UMM Format Required</h4>
    <p>The native format of this collection is <%= options[:native_format].split('/').last.gsub('+xml','').upcase %>. Editing this record using the MMT will convert it to UMM-JSON, which may result in data loss. Select 'View Loss Report' to see how the conversion will affect this record.</p>
    <p style="display: inline-flex">
      <% if current_provider?(options[:provider_id]) %>
        <%= link_to 'View Loss Report', loss_report_collections_path(options[:concept_id], format: 'json'), class: 'button-spacing eui-btn--steel-blue', target: :_blank %>
        <%= link_to 'Edit Collection', edit_collection_path(revision_id: options[:revision_id]), class: 'eui-btn--blue modal-close-link button-spacing' %>
        <%= link_to 'Cancel', 'javascript:void(0);', class: 'eui-btn modal-close-link' %>
      <% elsif available_provider?(options[:provider_id]) %>
        <%= link_to 'View Loss Report', loss_report_collections_path(options[:concept_id], format: 'json'), class: 'button-spacing eui-btn--steel-blue', target: :_blank %>
        <%= link_to 'Edit Collection', '#', class: 'eui-btn--blue loss-report button-spacing' %>
        <%= link_to 'Cancel', 'javascript:void(0);', class: 'eui-btn modal-close-link' %>
      <% end %>
      <%= link_to 'Invisible Link', '#not-current-provider-modal', class: 'display-modal not-current-provider eui-btn is-invisible', id: 'loss-report-to-edit-collection', data: { provider: options[:provider_id], record_action: 'edit-collection' } %>
    </p>
  </div>
</div>
