<% modal_index = false unless modal_index.present? %>

<div id="not-current-provider-modal<%= "-#{modal_index}" if modal_index %>" class="eui-modal-content">
  <a href="javascript:void(0);" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
  <p>
    <span class="record-action"></span> requires you change your provider context to <span class="provider"></span>. Would you like to change your provider context and perform this action?
  </p>
  <p>
    <a href="javascript:void(0)" class="eui-btn modal-close">No</a>
    <%= link_to 'Yes', '#', class: 'eui-btn--blue spinner not-current-provider-link', data: { index: modal_index } %>

    <% if options[:revisions] %>
      <% if options[:variable] %>
        <%= link_to 'Yes', revert_variable_path(options[:concept_id], revision_id: options[:revision_id]), class: 'eui-btn--blue spinner is-invisible', id: "not-current-provider-revert-link#{'-' + modal_index.to_s if modal_index}" %>
      <% elsif options[:service] %>
        <%= link_to 'Yes', revert_service_path(options[:concept_id], revision_id: options[:revision_id]), class: 'eui-btn--blue spinner is-invisible', id: "not-current-provider-revert-link#{'-' + modal_index.to_s if modal_index}" %>
      <% else %>
        <%= link_to 'Yes', revert_collection_path(options[:concept_id], revision_id: options[:revision_id]), class: 'eui-btn--blue spinner is-invisible', id: 'not-current-provider-revert-link' %>
      <% end %>
    <% elsif options[:collection] %>
      <%= link_to 'Yes', edit_collection_path(options[:concept_id], revision_id: options[:revision_id]), class: 'eui-btn--blue spinner is-invisible', id: 'not-current-provider-edit-collection-link' %>
      <%= link_to 'Yes', clone_collection_path(options[:concept_id]), class: 'eui-btn--blue spinner is-invisible', id: 'not-current-provider-clone-collection-link' %>
      <%= link_to 'Yes', collection_path(options[:concept_id]), method: :delete, class: 'eui-btn--blue spinner is-invisible', id: 'not-current-provider-delete-collection-link' %>
    <% elsif options[:variable] %>
      <%= link_to 'Yes', edit_variable_path(options[:concept_id], revision_id: options[:revision_id]), class: 'eui-btn--blue spinner is-invisible', id: 'not-current-provider-edit-variable-link' %>
      <%= link_to 'Yes', clone_variable_path(options[:concept_id], revision_id: options[:revision_id]), class: 'eui-btn--blue spinner is-invisible', id: 'not-current-provider-clone-variable-link' %>
      <%= link_to 'Yes', variable_path(options[:concept_id]), method: :delete, class: 'eui-btn--blue spinner is-invisible', id: 'not-current-provider-delete-variable-link' %>
      <%= link_to 'Yes', variable_collection_associations_path(options[:concept_id]), class: 'eui-btn--blue spinner is-invisible', id: 'not-current-provider-manage-variable-associations-link' %>
      <% elsif options[:service] %>
        <%= link_to 'Yes', edit_service_path(options[:concept_id], revision_id: options[:revision_id]), class: 'eui-btn--blue spinner is-invisible', id: 'not-current-provider-edit-service-link' %>
        <%#= link_to 'Yes', clone_service_path(options[:concept_id], revision_id: options[:revision_id]), class: 'eui-btn--blue spinner is-invisible', id: 'not-current-provider-clone-service-link' %>
        <%#= link_to 'Yes', service_path(options[:concept_id]), method: :delete, class: 'eui-btn--blue spinner is-invisible', id: 'not-current-provider-delete-service-link' %>
        <%#= link_to 'Yes', service_collection_associations_path(options[:concept_id]), class: 'eui-btn--blue spinner is-invisible', id: 'not-current-provider-manage-service-associations-link' %>
    <% end %>

    <% if options[:draft] %>
      <% if options[:variable] %>
        <%= link_to 'Yes', variable_draft_path(options[:draft_id]), class: 'eui-btn--blue spinner is-invisible', id: 'not-current-provider-view-draft-link' %>
        <%= link_to 'Yes', edit_variable_draft_path(options[:draft_id], form: options[:draft_form]), class: 'eui-btn--blue spinner is-invisible', id: 'not-current-provider-edit-draft-link' %>
      <% elsif options[:service] %>
        <%= link_to 'Yes', service_draft_path(options[:draft_id]), class: 'eui-btn--blue spinner is-invisible', id: 'not-current-provider-view-draft-link' %>
        <%= link_to 'Yes', edit_service_draft_path(options[:draft_id], form: options[:draft_form]), class: 'eui-btn--blue spinner is-invisible', id: 'not-current-provider-edit-draft-link' %>
      <% else %>
        <%= link_to 'Yes', collection_draft_path(options[:draft_id]), class: 'eui-btn--blue spinner is-invisible', id: 'not-current-provider-view-draft-link' %>
        <%= link_to 'Yes', edit_collection_draft_path(options[:draft_id], form: options[:draft_form]), class: 'eui-btn--blue spinner is-invisible', id: 'not-current-provider-edit-draft-link' %>
      <% end %>
    <% end %>

    <% if options[:group] %>
      <%= link_to 'Yes', edit_group_path(id: options[:concept_id]), class: 'eui-btn--blue spinner is-invisible', id: "not-current-provider-edit-group-link#{'-' + modal_index.to_s if modal_index}" %>
      <%= link_to 'Yes', group_path(id: options[:concept_id]), method: :delete, class: 'eui-btn--blue spinner is-invisible', id: "not-current-provider-delete-group-link#{'-' + modal_index.to_s if modal_index}" %>
    <% end %>
  </p>
</div>
