<div>
  <div class="provider-context-many-providers" style="<%= 'display: none;' unless current_user.available_providers.size > 1 %>">
    <p>
      Please select your provider context. You can change your context at any point.
    </p>

    <p>
      <%= form_tag set_provider_path, method: 'post' do %>
        <%= select_tag 'select_provider', options_for_select(current_user.available_providers.clone.unshift(['Select Provider', '']), current_user.provider_id), class: 'single-select', title: 'Select Provider' %>
      <% end %>
    </p>
  </div>

  <div class="provider-context-one-provider" style="<%= 'display: none;' unless current_user.available_providers.size == 1 %>">
    <p>
      You only have one available provider, <%= current_user.provider_id %>
    </p>
  </div>

  <div class="provider-context-no-providers" style="<%= 'display: none;' unless current_user.available_providers.empty? %>">
    <p>
      You currently have no available providers. Please contact your provider administrator or the CMR OPS team to set up provider access.
    </p>
  </div>

  <div>
    <p>
      <% if provider_context_page %>
        <%= link_to 'Refresh your available providers', refresh_user_providers_path, id: 'refresh-available-providers-link', class: 'refresh-providers' %>
      <% else %>
        <%= link_to 'Refresh your available providers', 'javascript:void(0)', id: 'refresh-available-providers-link', class: 'refresh-providers spinner' %>
      <% end %>
    </p>
  </div>
</div>
