<%= form_tag(search_path, method: "get", enforce_utf8: false, id: 'search-form', role: 'search') do %>
  <input type="hidden" name="search_type" id="search_type" value="">
  <div class="quick-search">
    <%= text_field_tag('keyword', @query['keyword'], placeholder: 'Enter Search Term') %>
    <button type="button" name="quick_find" class="eui-btn--blue"><i class="eui-icon eui-fa-search"></i>Search Collections</button><a href="#" id="search-drop" class="dropdown-button"><i id="search-drop-caret" class="fa fa-caret-down" aria-hidden="true"></i></a>
    <div class="dropdown">
      <fieldset class="radio-buttons">
        <div class="row">
          <!-- @query['record_state'] -->
          <%= radio_button_tag(:record_state, 'published_records', !(@query['record_state'] && @query['record_state'] == 'draft_records')) %>
          <%= label_tag(:record_state_published_records, 'Collections') %>

          <%= radio_button_tag(:record_state, 'draft_records', @query['record_state'] && @query['record_state'] == 'draft_records') %>
          <%= label_tag(:record_state_draft_records, 'Variables') %> <!-- Currently set up like drafts -->

          <%= radio_button_tag(:record_state, 'services', false, disabled: true) %>
          <%= label_tag(:record_state_services, 'Services') %>
        </div>
      </fieldset>
      <fieldset class="provider-selection">
        <div class="row">
          <span>Provider:</span><%= select_tag "provider_id", options_for_select(@provider_ids.unshift(['Select Provider', '']), @query['provider_id']), class: 'single-select', 'aria-label' => 'Select Provider' %>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="search-module is-hidden">
    <p class="form-description">Enter a Short Name, CMR Concept ID, Entry Title or other Search Term</p>
      <!-- Type of Record -->
    <div class='full-search-form'>

      <hr>
      <!-- Record Details -->
      <fieldset>
        <!-- @query['provider_id'] -->
        <div class="row">
          <%= select_tag "provider_id", options_for_select(@provider_ids.unshift(['Select Provider', '']), @query['provider_id']), class: 'single-select', 'aria-label' => 'Select Provider' %>
        </div>
        <div class="row">
          <div class="col-4">
          </div>
          <div class="col-4">
            <%= select_tag "review_status", options_for_select({ 'Any Review Status' => 'any_review_status', 'Reviewed' => 'reviewed', 'Not Reviewed' => 'not_reviewed' }, @query['review_status']), class: 'single-select disabled', 'aria-label' => 'Select Review Status', disabled: true %>
          </div>
          <div class="col-4">
            <%= select_tag "record_type", options_for_select({ 'Active Records ONLY' => 'active_only', 'Deleted Records ONLY' => 'deleted_only', 'Active & Deleted Records' => 'active_and_deleted_records' }, @query['record_type']), class: 'single-select disabled', 'aria-label' => 'Select Record Type', disabled: true %>
          </div>
        </div>
      </fieldset>
      <hr>
      <!-- Additional Filter Criteria -->
      <fieldset>
        <div class="row">
          <div class="col-4">
            <%= select_tag "date_filter", options_for_select({ 'Last Modified Date' => 'last-modified-date', 'Published Date' => 'published_date', 'Deleted Date' => 'deleted_date' }, @query['date_filter']), class: 'single-select disabled', 'aria-label' => 'Select Date', disabled: true %>
          </div>
          <div class="col-4">
            <%= select_tag "on_or_after", options_for_select({'On or After' => 'on_or_after', 'On or Before' => 'on_or_before', 'On' => 'on', 'After' => 'after', 'Before' => 'before' }, @query['on_or_after']), class: 'single-select disabled', 'aria-label' => 'On or After', disabled: true %>
          </div>
          <div class="col-4">
            <input type="date" id="modified-date" class="disabled" disabled></input>
            <label class="is-invisible" for="modified-date">Modified Date</label>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <%= select_tag "author_type", options_for_select({ 'Created by' => '', 'Modified by' => 'modified_by', 'Deleted by' => 'deleted_by' }, @query['author_type']), class: 'single-select disabled', 'aria-label' => 'Author Type', disabled: true %>
          </div>
          <div class="col-8">
            <input id="author-name" type="text" class="disabled" disabled></input>
            <label for="author-name" class="is-invisible">Created By</label>
          </div>
        </div>
      </fieldset>
      <hr>
      <fieldset>
        <div class="row search-form-actions">
          <button type="button" name="full_search" class="eui-btn--blue">Submit</button>
          <a href="#" class="cancel">Cancel</a>
        </div>
      </fieldset>
    </div>
  </div>
<% end %>
