<% remote = controller_name == 'search' %>
<%= form_tag(search_path, method: "get", remote: remote, enforce_utf8: false) do %>
  <div class="quick-search">
    <%= label_tag('entry-id', "Quick Find") %>
    <%= text_field_tag('entry-id', @query['entry-id'], placeholder: 'Enter Entry Id') %>
    <button type="submit" name="quick-find" class="btn btn-blue"><i class="fa fa-search"></i>Find</button>
  </div>
<%# end %>

  <a href="#" class="full-search"><i class="fa fa-search"></i>Full Metadata Record Search</a>

  <div class="search-module is-hidden">
    <%#= form_tag(search_path, method: "get", remote: remote) do %>
      <!-- Type of Record -->
    <div class='full-search-form'>
      <fieldset>
        <legend>Find</legend>
        <div class="row">
          <input type="radio" name="find" id="find-1">
          <label for="find-1">Collections</label>
          <input type="radio" name="find" id="find-2">
          <label for="find-2">Services</label>
        </div>
      </fieldset>

      <hr>
      <!-- Record Details -->
      <fieldset>
        <div class="row">
          <%= select_tag "provider-id", options_for_select(@provider_ids.unshift(['Select Provider', '']), @query['provider-id']), class: 'single-select', "aria-label" => "Select Provider" %>
        </div>
        <div class="row">
          <div class="col-4">
            <%= select_tag "record-state",
               options_for_select({'Published Records'=>'published-records',
                                    'Draft Records'=>'draft-records',
                                    'Published & Draft Records'=>'published-and-draft-records'
                                  },
                                  @query['record-state']),
               class: 'single-select', "aria-label" => "Select Record State" %>
          </div>
          <div class="col-4">
            <%= select_tag "review-status",
               options_for_select({'Any Review Status'=>'any-review-status',
                                   'Reviewed'=>'reviewed',
                                   'Not Reviewed'=>'not-reviewed'
                                  },
                                  @query['review-status']),
               class: 'single-select', "aria-label" => "Select Review Status" %>
          </div>
          <div class="col-4">
            <%= select_tag "record-type",
               options_for_select({'Active Records ONLY'=>'active-only',
                                   'Deleted Records ONLY'=>'deleted-only',
                                   'Active & Deleted Records'=>'active-and-deleted-records'
                                  },
                                  @query['record-type']),
               class: 'single-select', "aria-label" => "Select Record Type" %>
          </div>
        </div>
      </fieldset>
      <hr>
      <!-- Additional Filter Criteria -->
      <fieldset>
        <div class="row">
          <div class="col-4">
            <%= select_tag "date-filter",
               options_for_select({'Last Modified Date'=>'last-modified-date',
                                   'Published Date'=>'published-date',
                                   'Deleted Date'=>'deleted-date'
                                  },
                                  @query['date-filter']),
               class: 'single-select', "aria-label" => "Select Date" %>
          </div>
          <div class="col-4">
            <%= select_tag "on-or-after",
               options_for_select({'On or After'=>'on-or-after',
                                   'On or Before'=>'on-or-before',
                                   'On'=>'on',
                                   'After'=>'after',
                                   'Before'=>'before'
                                  },
                                  @query['on-or-after']),
               class: 'single-select', "aria-label" => "On or After" %>
          </div>
          <div class="col-4">
            <input type="date"></input>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <%= select_tag "author-type",
               options_for_select({'Created by'=>'',
                                   'Modified by'=>'modified-by',
                                   'Deleted by'=>'"deleted-by'
                                  },
                                  @query['author-type']),
               class: 'single-select', "aria-label" => "Author Type" %>
          </div>
          <div class="col-8">
            <input type="text">
          </div>
        </div>
      </fieldset>
      <hr>
      <fieldset>
        <legend>Search Term</legend>
        <div class="col-4">
          <%= select_tag "search-term-type",
             options_for_select([ ['Select an option', ''],
                                  ['Entry ID', 'entry-id'],
                                  ['CMR Concept ID', 'concept-id'],
                                  ['Entry Title', 'entry-title'] ],
                                @query['search-term-type']) %>
        </div>
        <%= text_field_tag('search-term', @query['search-term'], 'aria-label' => 'Search Term') %>
        <p class="form-description">Enter an Entry ID, CMR Concept ID, or Entry Title</p>
        <hr>
        <div class="row">
          <a href="#" class="is-collapsed">Has a relationship to</a>
        </div>
        <hr>
        <div class="row search-form-actions">
          <button type="submit" name="full-search" class="btn btn-blue">Submit</button>
          <a href="#" class="cancel">Cancel</a>
        </div>
      </fieldset>
    </div>
  </div>
<% end %>
