<%= form_tag(search_path, method: "get", enforce_utf8: false, id: 'search-form') do %>
  <input type="hidden" name="search_type" id="search_type" value="">
  <div class="quick-search">
    <%= label_tag('entry_id', "Quick Find") %>
    <%= text_field_tag('entry_id', @query['entry_id'], placeholder: 'Enter Entry Id') %>
    <button type="button" name="quick_find" class="btn btn-blue spinner"><i class="fa fa-search"></i>Find</button>
  </div>

  <a href="#" class="full-search"><i class="fa fa-search"></i>Full Metadata Record Search</a>

  <div class="search-module is-hidden">
      <!-- Type of Record -->
    <div class='full-search-form'>
      <fieldset>
        <legend>Find</legend>
        <div class="row">
          <input type="radio" name="find" id="find-1" checked>
          <label for="find-1">Collections</label>
          <input type="radio" name="find" id="find-2" disabled>
          <label class="disabled" for="find-2">Services</label>
        </div>
      </fieldset>

      <hr>
      <!-- Record Details -->
      <fieldset>
        <div class="row">
          <%= select_tag "provider_id", options_for_select(@provider_ids.unshift(['Select Provider', '']), @query['provider_id']), class: 'single-select', 'aria-label' => 'Select Provider' %>
        </div>
        <div class="row">
          <div class="col-4">
            <%= select_tag "record_state", options_for_select({ 'Published Records' => 'published_records', 'Draft Records' => 'draft_records', 'Published & Draft Records' => 'published_and_draft_records' }, @query['record_state']), class: 'single-select', 'aria-label' => 'Select Record State' %>
          </div>
          <div class="col-4">
            <%= select_tag "review_status", options_for_select({ 'Any Review Status' => 'any_review_status', 'Reviewed' => 'reviewed', 'Not Reviewed' => 'not_reviewed' }, @query['review_status']), class: 'single-select disabled', 'aria-label' => 'Select Review Status', disabled: true %>
          </div>
          <div class="col-4">
            <%= select_tag "record_type", options_for_select({ 'Active Records ONLY' => 'active_only', 'Deleted Records ONLY' => 'deleted_only', 'Active & Deleted Records' => 'active_and_deleted_records' }, @query['record_type']), class: 'single-select disabled', 'aria-label' => 'Select Record Type', disabled: true %>
          </div>
        </div>
      </fieldset>
      <hr>
      <!-- Additional Filter Criteria -->
      <fieldset>
        <div class="row">
          <div class="col-4">
            <%= select_tag "date_filter", options_for_select({ 'Last Modified Date' => 'last-modified-date', 'Published Date' => 'published_date', 'Deleted Date' => 'deleted_date' }, @query['date_filter']), class: 'single-select disabled', 'aria-label' => 'Select Date', disabled: true %>
          </div>
          <div class="col-4">
            <%= select_tag "on_or_after", options_for_select({'On or After' => 'on_or_after', 'On or Before' => 'on_or_before', 'On' => 'on', 'After' => 'after', 'Before' => 'before' }, @query['on_or_after']), class: 'single-select disabled', 'aria-label' => 'On or After', disabled: true %>
          </div>
          <div class="col-4">
            <input type="date" class="disabled" disabled></input>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <%= select_tag "author_type", options_for_select({ 'Created by' => '', 'Modified by' => 'modified_by', 'Deleted by' => 'deleted_by' }, @query['author_type']), class: 'single-select disabled', 'aria-label' => 'Author Type', disabled: true %>
          </div>
          <div class="col-8">
            <input type="text" class="disabled" disabled></input>
          </div>
        </div>
      </fieldset>
      <hr>
      <fieldset>
        <legend>Search Term</legend>
        <div class="col-4">
          <%= select_tag "search_term_type", options_for_select([ ['Select an option', ''], ['Entry ID', 'entry_id'], ['CMR Concept ID', 'concept_id'], ['Entry Title', 'entry_title'] ], @query['search_term_type']) %>
        </div>
        <%= text_field_tag('search_term', @query['search_term'], 'aria-label' => 'Search Term') %>
        <p class="form-description">Enter an Entry ID, CMR Concept ID, or Entry Title</p>
        <hr>
        <!-- <div class="row">
          <a href="#" class="is-collapsed">Has a relationship to</a>
        </div>
        <hr> -->
        <div class="row search-form-actions">
          <button type="button" name="full_search" class="btn btn-blue spinner">Submit</button>
          <a href="#" class="cancel">Cancel</a>
        </div>
      </fieldset>
    </div>
  </div>
<% end %>
