<%= form_tag(search_path, method: "get", enforce_utf8: false, id: 'search-form', role: 'search') do %>
  <input type="hidden" name="search_type" id="search_type" value="full_search">
  <div class="quick-search">
    <%= text_field_tag('keyword', @query['keyword'], placeholder: 'Enter Search Term', class: search_field_size_modification, title: 'Keyword Search') %>
    <button id="search-submit-button" type="button" name="full_search" class="eui-btn--blue"><i class="eui-icon eui-fa-search"></i><span id="search-submit-button-text"></span></button><a href="#" id="search-drop" class="dropdown-button"><i id="search-drop-caret" class="fa fa-caret-down" aria-hidden="true"></i></a>
    <div class="search-dropdown<%= dropdown_size_modification %>">
      <fieldset class="radio-buttons<%= proposal_mode_button_visibility %>">
        <legend aria-label='Choose Metadata Type for Search' aria-hidden='true'>Choose Metadata Type for Search</legend>
        <!-- legend tags for 508 compliance -->
        <div class="row">
          <%= radio_button_tag(:record_type, 'collections', resource_type == 'collections') %>
          <%= label_tag(:record_type_collections, 'Collections') %>

          <%= radio_button_tag(:record_type, 'variables', resource_type == 'variables') %>
          <%= label_tag(:record_type_variables, 'Variables') %>

          <%= radio_button_tag(:record_type, 'services', resource_type == 'services') %>
          <%= label_tag(:record_type_services, 'Services') %>

          <% if Rails.configuration.umm_t_enabled %>
            <%= radio_button_tag(:record_type, 'tools', resource_type == 'tools') %>
            <%= label_tag(:record_type_tools, 'Tools') %>
          <% end %>
        </div>
      </fieldset>
      <fieldset class="provider-selection">
        <legend aria-label='Select Provider' aria-hidden='true'>Select Provider for Search</legend>
        <!-- legend tags for 508 compliance -->
        <div class="row">
          <%= select_tag "provider_id", options_for_select(@provider_ids, @query['provider_id']), class: 'single-select', prompt: 'Select a Provider', 'aria-label': 'Select a Provider' %>
        </div>
      </fieldset>
    </div>
  </div>
<% end %>
