<% if logged_in? %>
  <section id="user-info" role="navigation" class="<%= 'proposal-mode-color' if Rails.configuration.proposal_mode %>">
    <!-- User Info Dropdown Menu -->
    <div id="login-info" class="login-info-dropdown">
      <% if !hide_provider_context && !Rails.configuration.proposal_mode %>
        <%= link_to 'Change Provider', '#provider-context', class: 'display-modal', id: 'change-context' %>
      <% end %>
      <!--a href="#">Account Settings</a-->
      <%= link_to "User's Guide", "https://wiki.earthdata.nasa.gov/display/CMR/Metadata+Management+Tool+%28MMT%29+User%27s+Guide", target: '_blank' %>
      <%= link_to 'Logout', logout_path %>
    </div>
    <!-- End User Info Dropdown Menu -->
      <a id="profile-link" href="#">
        <p class="prof-link-container">
          <strong><%= session[:name] %></strong>
          <i id="dropdown-caret" class="fa fa-caret-down" aria-hidden="true"></i>
        </p>
      </a>
      <!-- Display provider context badge -->
      <% if current_user.provider_id && !Rails.configuration.proposal_mode %>
        <a href="#provider-context" id="provider-badge-link" class="display-modal">
          <div class="provider-context">
            <span class="eui-badge--sm daac"><%= current_user.provider_id %></span>
          </div>
        </a>
      <% end %>
      <!-- End provider context badge -->
  </section>
<% end %>
