<div id='invite-user-modal' class="eui-modal-content">
  <a href="#" class="modal-close float-r">
    <i class="fa fa-times"></i>
    <span class="is-invisible">Close</span>
  </a>

  <h3>Invite a New User</h3>

  <%= form_tag(invite_user_path, method: :post, remote: true) do %>
    <%= hidden_field_tag 'invite[group_id]', params[:id] %>
    <%= hidden_field_tag 'invite[group_name]', @group['name'] %>

    <fieldset>
      <div class="grid-row">
        <div class="grid-col-6">
          <%= label_tag('invite_first_name', 'First Name') %>
          <%= text_field_tag('invite[first_name]', nil, class: 'full-width', placeholder: 'First Name') %>
        </div>
        <div class="grid-col-6">
          <%= label_tag('invite_last_name', 'Last Name') %>
          <%= text_field_tag('invite[last_name]', nil, class: 'full-width', placeholder: 'Last Name') %>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <div class="grid-row">
        <div class="grid-col-12">
          <%= label_tag('invite_email', 'Email Address') %>
          <%= text_field_tag('invite[email]', nil, class: 'full-width', placeholder: 'Email') %>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <%= submit_tag 'Submit', id: 'invite-user-button', class: 'eui-btn--blue spinner' %>
      <a href="javascript:void(0)" class="eui-btn modal-close">Cancel</a>
      <span class="invite-fail is-invisible">
        This person already has an URS account
      </span>
      <span class="invite-success is-invisible">
        <i class="eui-icon eui-check-o icon-green"></i> Invitation sent!
      </span>
    </fieldset>
  <% end %>
</div>
