<ul class='<%= name_to_class('ChronostratigraphicUnit')%>-<%=index%>'>
  <li>
    <strong>Chronostratigraphic Unit <%= index + 1 %></strong>

    <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'Eon', :hash_for_key=>chronostratigraphic_unit} %>
    <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'Era', :hash_for_key=>chronostratigraphic_unit} %>
    <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'Epoch', :hash_for_key=>chronostratigraphic_unit} %>
    <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'Stage', :hash_for_key=>chronostratigraphic_unit} %>
    <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'DetailedClassification', :hash_for_key=>chronostratigraphic_unit} %>
    <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'Period', :hash_for_key=>chronostratigraphic_unit} %>

  </li>
</ul>

