<ul class='<%= name_to_class('Contact')%>-<%=index%>'>
  <li>
    Contact <%= index + 1 %>
    <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'Type', :hash_for_key=>contact} %>
    <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'Value',   :hash_for_key=>contact} %>
  </li>
</ul>