<% if !distributions.blank? %>
  <h4>
    <%= header_text %>
  </h4>
  <% distributions.each do |distribution| %>

    <ul>
      <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'DistributionMedia', :hash_for_key=>distribution} %>
      <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'DistributionSize', :hash_for_key=>distribution} %>
      <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'DistributionFormat', :hash_for_key=>distribution} %>
      <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'Fees', :hash_for_key=>distribution, :handle_as_currency=>true} %>
    </ul>

  <% end %>
<% end %>
