<% if !lineage['Date'].blank? %>
  <ul class='<%= name_to_class(json_name)%>-<%=index%>'>
    <li>
      <strong>Lineage <%= index + 1 %></strong>

      <!-- Line below commented out because the user does not enter this information. -->
      <%#= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'Scope', :hash_for_key=>lineage} %>

      <ul class="<%= name_to_class('Date')%>">
        <li>
          <strong><%= 'Date'.pluralize(lineage['Date'].count)%></strong>
          <% lineage['Date'].each_with_index do |lineage_date, index| %>
            <%= render :partial=>'drafts/previews/types/lineage_date_type', :locals=>{lineage_date: lineage_date, index: index} %>
          <% end %>
        </li>
      </ul>
    </li>
  </ul>
<% end %>
