<ul class='<%= name_to_class('MetadataAssociation')%>-<%=index%>'>
  <li>
    Metadata Association <%= index + 1 %>
    <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'Type', :hash_for_key=>metadata_association} %>
    <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'Description', :hash_for_key=>metadata_association} %>
    <%= render :partial=>'drafts/previews/types/entry_id_type',       :locals=>{entry_id: metadata_association['EntryId'], title:'Entry ID'} %>
    <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'ProviderId', :hash_for_key=>metadata_association} %>
  </li>
</ul>
