<ul class='<%= name_to_class('PaleoTemporalCoverage')%>'>
  <li>
    <strong>Paleo Temporal Coverage</strong>

    <% if !paleo_temporal_coverage['ChronostratigraphicUnit'].blank? %>
      <ul class="<%= name_to_class('ChronostratigraphicUnit')%>">
        <li>
          <strong><%= 'Chronostratigraphic Unit'.pluralize(paleo_temporal_coverage['ChronostratigraphicUnit'].count)%></strong>
          <% paleo_temporal_coverage['ChronostratigraphicUnit'].each_with_index do |chronostratigraphic_unit, index| %>
            <%= render :partial=>'drafts/previews/types/chronostratigraphic_unit_type', :locals=>{chronostratigraphic_unit: chronostratigraphic_unit, index: index} %>
          <% end %>
        </li>
      </ul>
    <% end %>

    <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'StartDate', :hash_for_key=>paleo_temporal_coverage} %>
    <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'EndDate', :hash_for_key=>paleo_temporal_coverage} %>
  </li>

</ul>
