<ul class='<%= name_to_class('Party')%>'>
  <li>
    <!-- Commented out because the user never enters or chooses this: strong>Party</strong-->

    <!-- org fields -->
    <%= render :partial=>'drafts/previews/types/organization_name_type', :locals=>{organization_name: party['OrganizationName'], title:'Organization', hide_title: true} %>

    <!-- person fields -->
    <%= render :partial=>'drafts/previews/types/person_type', :locals=>{person: party['Person'], title:'Person', hide_title: true} %>

    <!-- Service Hours -->
    <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'ServiceHours', :hash_for_key=>party} %>

    <!-- Contact Instructions -->
    <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'ContactInstructions', :hash_for_key=>party} %>

    <!-- Contact - multiple -->
    <% if !party['Contact'].blank? %>
      <ul class="<%= name_to_class('Contact')%>">
        <li>
          <strong><%= 'Contact'.pluralize(party['Contact'].count)%></strong>
          <% party['Contact'].each_with_index do |contact, index| %>
            <%= render :partial=>'drafts/previews/types/contact_type', :locals=>{contact: contact, index: index} %>
          <% end %>
        </li>
      </ul>
    <% end %>

    <!-- Address - multiple -->
    <% if !party['Address'].blank? %>
      <ul class="<%= name_to_class('Address')%>">
        <li>
          <strong><%= 'Address'.pluralize(party['Address'].count)%></strong>
          <% party['Address'].each_with_index do |address, index| %>
            <%= render :partial=>'drafts/previews/types/address_type', :locals=>{address: address, index: index} %>
          <% end %>
        </li>
      </ul>
    <% end %>

    <!-- RelatedUrl - multiple -->
    <% if !party['RelatedUrl'].blank? %>
      <ul class="<%= name_to_class('RelatedUrl')%>">
        <li>
          <strong><%= 'Related Url'.pluralize(party['RelatedUrl'].count)%></strong>
          <% party['RelatedUrl'].each_with_index do |related_url, index| %>
            <%= render :partial=>'drafts/previews/types/related_url_type', :locals=>{related_url: related_url, index: index} %>
          <% end %>
        </li>
      </ul>
    <% end %>
  </li>
</ul>


