<ul class="<%= name_to_class('Project')%>-<%=index%>">
  <li>
    <strong>Project <%= index + 1 %></strong>

    <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'ShortName', :hash_for_key=>project} %>
    <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'LongName', :hash_for_key=>project} %>

    <%= render :partial=>'drafts/previews/fields/display_array_with_header', :locals=>{:key_name=>'Campaign', :hash_for_key=>project} %>

    <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'StartDate', :hash_for_key=>project} %>
    <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'EndDate', :hash_for_key=>project} %>

  </li>
</ul>

