<% if !resource_citation.blank? %>
  <% class_name = defined?(class_name_override).nil? ? 'ResourceCitation' : class_name_override %>
  <ul class='<%= name_to_class(class_name)%>-<%=index%>'>
    <li>
      <% title = defined?(title_override).nil? ? 'Resource Citation' : title_override %>
      <strong><%= title %> <%= index + 1 %></strong>
      <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'Version', :hash_for_key=>resource_citation} %>

      <%= render :partial=>'drafts/previews/types/related_url_single_type', :locals=>{:related_url=>resource_citation['RelatedUrl']} %>

      <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'Title', :hash_for_key=>resource_citation} %>
      <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'Creator', :hash_for_key=>resource_citation} %>
      <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'Editor', :hash_for_key=>resource_citation} %>
      <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'SeriesName', :hash_for_key=>resource_citation} %>
      <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'ReleaseDate', :hash_for_key=>resource_citation} %>
      <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'ReleasePlace', :hash_for_key=>resource_citation} %>
      <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'Publisher', :hash_for_key=>resource_citation} %>
      <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'IssueIdentification', :hash_for_key=>resource_citation} %>
      <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'DataPresentationForm', :hash_for_key=>resource_citation} %>
      <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'OtherCitationDetails', :hash_for_key=>resource_citation} %>

      <%= render :partial=>'drafts/previews/types/doi_type', :locals=>{doi: resource_citation['DOI'], title:'DOI'} %>
    </li>
  </ul>
<% end %>