<% class_name = defined?(class_name_override).nil? ? 'Responsibility' : class_name_override %>
<ul class='<%= name_to_class(class_name)%>-<%=index%>'>
  <li>
    <% title = defined?(title_override).nil? ? 'Responsibility' : title_override %>
    <strong><%= title %> <%= index + 1 %></strong>

    <%= render :partial=>'drafts/previews/fields/display_single_select_field_line', :locals=>{:key_name=>'Role', :hash_for_key=>responsibility, options: role_options} %>

    <%= render :partial=>'drafts/previews/types/party_type', :locals=>{party: responsibility['Party'], title:'Party'} %>
  </li>
</ul>
