<%= render :partial=>"search/pagination"  %>

<table>
  <thead>
  <tr>
    <th>Provider Name</th>
    <th>Collections</th>
    <th>Granules</th>
  </tr>
  </thead>
  <tbody>
  <% if @table_rows.blank? %>
    <tr>
      <td colspan="4">
        No public holdings found
      </td>
    </tr>
  <% else %>
    <% @table_rows.each do |row| %>
      <tr class='<%= cycle("alt", "") %>'>
        <td>
          <%= row['name']%>
        </td>
        <td>
          <%= number_with_delimiter(row['collection-count']) %>
        </td>
        <td>
          <%= number_with_delimiter(row['granule-count']) %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
