<main class="internal">
  <header>
    <div class="content">
      <div class="breadcrumb">
        <ol>
          <li><%= link_to 'MMT Home', root_url %></li>
          <li><%= @provider_name %> Collections</li>
        </ol>
      </div>
    </div>
  </header>

  <section >
    <h2 style="border-bottom: 0px">
      <%= @provider_name %>
    </h2>
    <% if !@provider_description.nil? %>
      <p>
        <%= @provider_description %>
      </p>
    <% end %>
  </section>

  <div class="row">
    <section>

      <table id='collections'>
        <thead>
        <tr>
          <th>Collection</th>
          <th>Granules</th>
        </tr>
        </thead>
        <tbody>
        <% if @collections.blank? %>
          <tr>
            <td colspan="2">
              No collections found
            </td>
          </tr>
        <% else %>
          <% @collections.each do |row| %>
            <tr class='<%= cycle("alt", "") %>'>
              <td>
                <%= row[:title] %>
              </td>
              <td class="justify-right">
                <%= number_with_delimiter(row[:granules]) %>
              </td>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>

    </section>
  </div>
</main>
