<main class="internal">
  <header>
    <div class="content">
      <div class="breadcrumb">
        <ol>
          <li><%= link_to 'MMT Home', root_url %></li>
          <li><%= @provider_name %> Collections</li>
        </ol>
      </div>
    </div>
  </header>

  <section >
    <h2 style="border-bottom: 0px">
      <%= @provider_name %>
    </h2>
    <p>
      <%= @provider_description %>
    </p>
  </section>

  <div class="row">
    <section>

      <div class="col-9" id="collections_search_results">

        <table id='collections'>
          <thead>
          <tr>
            <th>Collection</th>
            <th>Granules</th>
          </tr>
          </thead>
          <tbody>
          <% if @table_rows.blank? %>
            <tr>
              <td colspan="2">
                No collections found
              </td>
            </tr>
          <% else %>
            <% @table_rows.each do |row| %>
              <tr class='<%= cycle("alt", "") %>'>
                <td>
                  <%= row[:title] %>
                </td>
                <td >
                  <span style="float: right">
                    <%= number_with_delimiter(row[:granules]) %>
                  </span>
                </td>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>


      </div>

    </section>
  </div>
</main>
