<% if !hash_for_key.nil? %>
  <% data_array = hash_for_key[key_name] %>
  <% if !data_array.nil? %>
    <strong><%= (defined?(title_override).nil? ? key_name.titleize : title_override).pluralize %>:</strong>
    <div class="<%=key_name%>">
      <% data_array.each_with_index do |element_of_array, index|%>
        <li class="<%=key_name%>-<%=index%>">
          <%= element_of_array %>
        </li>
      <% end %>
    </div>
  <% end %>
<% end %>