<% if !related_url.blank? %>
  <ul class="<%= name_to_class('RelatedUrl')%>">
    <li>

      <%= render :partial=>'drafts/previews/fields/display_array_with_header', :locals=>{:key_name=>'URL', :hash_for_key=>related_url, :title_override=>'URL'} %>

      <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'Description', :hash_for_key=>related_url} %>
      <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'Protocol', :hash_for_key=>related_url} %>
      <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'MimeType', :hash_for_key=>related_url} %>
      <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'Caption', :hash_for_key=>related_url} %>
      <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'Title', :hash_for_key=>related_url} %>

      <% if !related_url['FileSize'].blank? %>
        <ul class="<%= name_to_class('FileSize')%>">
          <li>
            File Size
            <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'Size',   :hash_for_key=>related_url['FileSize']} %>
            <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'Unit',   :hash_for_key=>related_url['FileSize']} %>
          </li>
        </ul>
      <% end %>

      <% if !related_url['ContentType'].blank? %>
        <ul class="<%= name_to_class('ContentType')%>">
          <li>
            Content Type
            <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'Type',   :hash_for_key=>related_url['ContentType']} %>
            <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'Subtype',   :hash_for_key=>related_url['ContentType']} %>
          </li>
        </ul>
      <% end %>

    </li>
  </ul>
<% end %>




