<% if new_form == false %>
  <% umm = @order_option.fetch('umm', {}) %>
<% else %>
  <% umm = {} %>
<% end %>
<%= hidden_field_tag 'orderOpt', @order_option %>
<fieldset>
  <div class="grid-row">
    <div class="grid-col-8">
      <%= label_tag('order_option[Name]', 'Name', class: 'required eui-required-o', for: 'order_option_name') %>
      <%= text_field_tag('order_option[Name]', umm.fetch('Name', ''), class: 'required full-width', maxlength: 30) %>
    </div>

    <div class="grid-col-4">
      <%= label_tag('order_option[SortKey]', 'Sort Key', for: 'order_option_sort_key') %>
      <%= text_field_tag('order_option[SortKey]', umm.fetch('SortKey', ''), maxlength: 5, class: 'full-width') %>
    </div>
  </div>
</fieldset>

<fieldset>
  <div class="grid-row">
    <%= label_tag('order_option[Description]', 'Description', class: 'eui-required-o') %>
    <%= text_area_tag('order_option[Description]', umm.fetch('Description', ''), class: 'required') %>
  </div>
</fieldset>

<fieldset>
  <div class="grid-row">
    <%= label_tag('order_option[Form]', 'Form XML', class: 'eui-required-o') %>
    <%= text_area_tag('order_option[Form]', umm.fetch('Form', ''), class: 'required textarea-tall') %>
  </div>
</fieldset>

<fieldset>
  <%= submit_tag 'Submit', class: 'eui-btn--blue' %>
  <%= link_to 'Cancel', :back, class: 'eui-btn' %>
</fieldset>
