<div class="grid-row row-content">
  <% meta = @order_option.fetch('meta', {}) %>
  <% umm = @order_option.fetch('umm', {}) %>
  <section>
    <h2><%= umm.fetch('Name', '') %></h2>

    <p>
      <span class="inline-label">Last Update:</span> <%= echo_formatted_date(meta.fetch('revision-date', ''), default: 'Never Updated') %> |
      <span class="inline-label">Scope:</span> <%= umm.fetch('Scope', '') %> |
      <span class="inline-label">Deprecated:</span> <%= umm.fetch('Deprecated', false) %> |
      <span class="inline-label">Sort Key:</span> <%= umm.fetch('SortKey', '') %>
    </p>

    <p>
      <span class="inline-label">Description:</span>
      <%= umm.fetch('Description', '') %>
    </p>

    <div class="grid-row">
      <span class="inline-label">Form XML:</span>

      <pre><%= umm.fetch('Form', '') %></pre>
    </div>

    <%= link_to 'Edit', edit_order_option_path(meta.fetch('concept-id', '')), class: 'eui-btn' %>

    <% unless umm.fetch('Deprecated', false) %>
      <%= link_to 'Deprecate', "#deprecate-order-option-modal", class: 'display-modal eui-btn' %>
      <div id="deprecate-order-option-modal" class="eui-modal-content">
        <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
        <p>Are you sure you want to deprecate this order option? This action cannot be undone.</p>
        <p>
          <a href="javascript:void(0)" class="eui-btn modal-close">No</a>
          <%= link_to 'Yes', order_option_deprecate_path(meta.fetch('concept-id', '')), method: :post, class: 'eui-btn--blue spinner' %>
        </p>
      </div>
    <% end %>

    <%= link_to 'Delete', "#delete-order-option-modal", class: 'display-modal eui-btn eui-btn--red' %>
    <div id="delete-order-option-modal" class="eui-modal-content">
      <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
      <p>Are you sure you want to delete this order option?</p>
      <p>
        <a href="javascript:void(0)" class="eui-btn modal-close">No</a>
        <%= link_to 'Yes', order_option_path(meta.fetch('native-id', '')), method: :delete, class: 'eui-btn--blue spinner' %>
      </p>
    </div>
  </section>
</div>

