<div class="row row-content">
  <section>
    <h2><%= @variable['Name'] %> Collection Associations</h2>

    <%= link_to 'Add Collection Associations', new_variable_collection_association_path(params[:variable_id]), class: 'eui-btn--blue space-bot' %>

    <% if @associations.any? %>
      <p><%= page_entries_info @associations, entry_name: 'Collection Association' %></p>
    <% end %>

    <table id="collection-associations">
      <thead>
        <tr>
          <th>Entry Title</th>
          <th>Short Name</th>
          <th>Version</th>
        </tr>
      </thead>
      <tbody>

      <% if @associations.blank? %>
        <tr>
          <td colspan="4">
            No Collection Associations found.
          </td>
        </tr>
      <% else %>
        <% @associations.each do |collection| %>
          <tr class='<%= cycle("alt", "") %>'>
            <td><%= link_to collection.fetch('umm', {}).fetch('entry-title'), collection_path(collection.fetch('meta', {}).fetch('concept-id')) %></td>
            <td><%= collection.fetch('umm', {}).fetch('short-name') %></td>
            <td><%= collection.fetch('umm', {}).fetch('version-id') %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>

    <%= paginate @associations %>
  </section>
</div>
