<% association_text = @variable ? 'Association' : 'Associations' %>
<div class="row row-content">
  <section>
    <h2><%= "#{@resource['Name']} Collection #{association_text}" %></h2>

    <% if @can_associate %>
      <%= link_to "Add Collection #{association_text}", send("new_#{lower_resource_name}_collection_association_path", resource_id), class: 'eui-btn--blue space-bot' %>
    <% end %>

    <% if @associations.any? %>
      <p>
        <%= page_entries_info @associations, entry_name: 'Collection Association' %>
      </p>
    <% end %>

    <p>
      <em><span class="fa fa-info-circle"></span><%= ' Each variable can only be associated with a single collection.' if @variable %> Association operations may take some time. If you are not seeing what you expect below, please <%= link_to 'refresh the page', 'javascript:history.go(0)', class: 'eui-btn--link' %>.</em>
    </p>

    <%= form_tag(send("#{lower_resource_name}_collection_associations_path", resource_id), method: :delete, id: "delete-#{lower_resource_name}-collection-associations-form") do %>

      <table id="collection-associations">
        <thead>
          <tr>
            <th class="align-c"><input type="checkbox" name="checkall" class="checkall" data-group="selected_collections[]" /></th>
            <th>Entry Title</th>
            <th>Short Name</th>
            <th>Version</th>
          </tr>
        </thead>
        <tbody>

        <% if @associations.blank? %>
          <tr>
            <td colspan="5">
              <%= "No Collection #{association_text} found." %>
            </td>
          </tr>
        <% else %>
          <% @associations.each do |collection| %>
            <tr class='<%= cycle("alt", "") %>'>
              <td class="align-c"><%= check_box_tag('selected_collections[]', collection.fetch('meta', {})['concept-id'], false, class: 'selected_collections') %></td>
              <td><%= link_to collection.fetch('umm', {}).fetch('entry-title'), collection_path(collection.fetch('meta', {}).fetch('concept-id')) %></td>
              <td><%= collection.fetch('umm', {}).fetch('short-name') %></td>
              <td><%= collection.fetch('umm', {}).fetch('version-id') %></td>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>

      <% if @associations.any? %>
        <fieldset class="space-top">
          <%= link_to "Delete Selected #{association_text}", '#delete-associations-modal', class: 'eui-btn eui-btn--red display-modal' %>

          <div id='delete-associations-modal' class="eui-modal-content">
            <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
            <% if @variable %>
              <p>Deleting a variable association will also delete the associated variable. If you wish to associate this variable to a different collection, before deleting this association, you should <%= link_to "clone the associated variable", send("clone_variable_path", id: params[:variable_id], revision_id: @revision_id), target: :_blank %> and associate the clone to the correct collection.</p>
            <% end %>
            <p><%= "Are you sure you want to delete the selected collection #{association_text.downcase}" %>?</p>
            <p>
              <a href="javascript:void(0)" class="eui-btn modal-close">No</a>
              <%= submit_tag 'Yes', class: 'eui-btn--blue spinner'%>
            </p>
          </div>
        </fieldset>
      <% end %>
    <% end %>

    <%= paginate @associations %>
  </section>
</div>
