<h4>Acquisition Information Fields:</h4>

<!-- need better support in json-schema -->

<!-- Platform [r] -->
<% if !@draft_json['Platform'].blank? %>
  <h4>Platform</h4>
  <p>
    <% !@draft_json['Platform'].each do |r| %>
      <%= render :partial=>'drafts/display_fields/display_field_line', :locals=>{:key_name=>'Type', :hash_for_key=>r} %>
      <%= render :partial=>'drafts/display_fields/display_field_line', :locals=>{:key_name=>'LongName', :hash_for_key=>r} %>
      <%= render :partial=>'drafts/display_fields/display_field_line', :locals=>{:key_name=>'Characteristics', :hash_for_key=>r} %>
      <%= raw((r == @draft_json['Platform'].last) ? '' : '</br>') %>
    <% end %>
  </p>
<% end %>

<!-- Instrument -->
<% if !@draft_json['Instrument'].blank? %>
  <h4>Instrument</h4>
  <p>
    <% !@draft_json['Instrument'].each do |r| %>
      <%= render :partial=>'drafts/display_fields/display_field_line', :locals=>{:key_name=>'Type', :hash_for_key=>r} %>
      <%= render :partial=>'drafts/display_fields/display_field_line', :locals=>{:key_name=>'LongName', :hash_for_key=>r} %>
      <%= render :partial=>'drafts/display_fields/display_field_line', :locals=>{:key_name=>'Characteristics', :hash_for_key=>r} %>
      <%= render :partial=>'drafts/display_fields/display_field_line', :locals=>{:key_name=>'Technique', :hash_for_key=>r} %>
      <%= render :partial=>'drafts/display_fields/display_field_line', :locals=>{:key_name=>'Sensors', :hash_for_key=>r} %>
      <%= render :partial=>'drafts/display_fields/display_field_line', :locals=>{:key_name=>'OperationalMode', :hash_for_key=>r} %>
      <%= raw((r == @draft_json['Instrument'].last) ? '' : '</br>') %>
    <% end %>
  </p>
<% end %>

<!-- Sensor -->
<!-- Not in UMM JSON Schema yet -->
<% if !@draft_json['Sensor'].blank? %>
  <h4>Sensor</h4>
  <p>
    <% !@draft_json['Sensor'].each do |r| %>
      <%= render :partial=>'drafts/display_fields/display_field_line', :locals=>{:key_name=>'Type', :hash_for_key=>r} %>
      <%= render :partial=>'drafts/display_fields/display_field_line', :locals=>{:key_name=>'LongName', :hash_for_key=>r} %>
      <%= render :partial=>'drafts/display_fields/display_field_line', :locals=>{:key_name=>'Characteristics', :hash_for_key=>r} %>
      <%= raw((r == @draft_json['Sensor'].last) ? '' : '</br>') %>
    <% end %>
  </p>
<% end %>

<!-- Project -->
<% if !@draft_json['Project'].blank? %>
  <h4>Project</h4>
  <p>
    <% !@draft_json['Project'].each do |r| %>
      <%= render :partial=>'drafts/display_fields/display_field_line', :locals=>{:key_name=>'ShortName', :hash_for_key=>r} %>
      <%= render :partial=>'drafts/display_fields/display_field_line', :locals=>{:key_name=>'LongName', :hash_for_key=>r} %>
      <%= render :partial=>'drafts/display_fields/display_field_line', :locals=>{:key_name=>'Campaign', :hash_for_key=>r} %>
      <%= render :partial=>'drafts/display_fields/display_field_line', :locals=>{:key_name=>'StartDate', :hash_for_key=>r} %>
      <%= render :partial=>'drafts/display_fields/display_field_line', :locals=>{:key_name=>'EndDate', :hash_for_key=>r} %>
      <%= raw((r == @draft_json['Project'].last) ? '' : '</br>') %>
    <% end %>
  </p>
<% end %>
