<h4>Distribution Information Fields:</h4>

<!-- Related URL [r] -->
<% if !@draft_json['RelatedUrl'].blank? %>
  <h4>Related URL</h4>
  <p>
    <% @draft_json['RelatedUrl'].each do |r| %>
      <%= render :partial=>'drafts/display_fields/display_field_line', :locals=>{:key_name=>'Description', :hash_for_key=>r} %>
      <%= render :partial=>'drafts/display_fields/display_field_line', :locals=>{:key_name=>'Protocol', :hash_for_key=>r} %>
      <%= render :partial=>'drafts/display_fields/display_field_line', :locals=>{:key_name=>'URL', :hash_for_key=>r, :title_override=>'URL'} %>
      <%= render :partial=>'drafts/display_fields/display_field_line', :locals=>{:key_name=>'Title', :hash_for_key=>r} %>
      <%= render :partial=>'drafts/display_fields/display_field_line', :locals=>{:key_name=>'MimeType', :hash_for_key=>r} %>
      <%= render :partial=>'drafts/display_fields/display_field_line', :locals=>{:key_name=>'Caption', :hash_for_key=>r} %>
      <%= raw((r == @draft_json['RelatedUrl'].last) ? '' : '</br>') %>
    <% end %>
  </p>
<% end %>

<!-- Distribution -->
<% if !@draft_json['Distribution'].blank? %>
  <h4>Distribution</h4>
  <p>
    <% @draft_json['Distribution'].each do |r| %>
      <%= render :partial=>'drafts/display_fields/display_field_line', :locals=>{:key_name=>'DistributionMedia', :hash_for_key=>r} %>
      <%= render :partial=>'drafts/display_fields/display_field_line', :locals=>{:key_name=>'DistributionSize', :hash_for_key=>r} %>
      <%= render :partial=>'drafts/display_fields/display_field_line', :locals=>{:key_name=>'DistributionFormat', :hash_for_key=>r} %>
      <%= render :partial=>'drafts/display_fields/display_field_line', :locals=>{:key_name=>'Fees', :hash_for_key=>r} %>
      <%= raw((r == @draft_json['Distribution'].last) ? '' : '</br>') %>
    <% end %>
  </p>
<% end %>



