<table>
  <tbody>
    <tr>
      <td>Role:</td>
      <td><%= contact_information['Role'] %></td>
    </tr>
    <tr>
      <td>Name:</td>
      <td><%= contact_information['Name'] %></td>
    </tr>
    <tr>
      <td>Organization:</td>
      <td><%= contact_information['Organization'] %></td>
    </tr>
    <tr>
      <td>Address:</td>
      <td>
        <p>
          <%= contact_information.fetch('Address', {})['Street1'] %>
        </p>

        <p>
          <%= contact_information.fetch('Address', {})['Street2'] %>
        </p>

        <p>
          <%= contact_information.fetch('Address', {})['Street3'] %>
        </p>

        <p>
          <%= contact_information.fetch('Address', {})['City'] %>
          <%= contact_information.fetch('Address', {})['State'] %>
          <%= contact_information.fetch('Address', {})['Zip'] %>
        </p>

        <p>
          <%= contact_information.fetch('Address', {})['Country'] %>
        </p>
      </td>
    </tr>
    <tr>
      <td>Phone:</td>
      <td><%= contact_information['Phone']['Number'] %> (<%= contact_information['Phone']['PhoneNumberType'] %>)</td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><%= contact_information['Email'] %></td>
    </tr>
  </tbody>
</table>
