<!-- <fieldset>
  <div class="row">
    <label for="order_guid" class="">Order GUID</label>
    <%= text_field_tag('order_guid', nil, class: 'full-width') %>
  </div>
</fieldset> -->

<fieldset>
  <div class="row">
    <label for="state">Filter by Order State</label>
    <%= select_tag('states', options_for_select(['VALIDATED', 'NOT_VALIDATED', 'QUOTING', 'QUOTE_REJECTED', 'QUOTE_FAILED', 'QUOTED', 'SUBMITTING', 'SUBMIT_REJECTED', 'SUBMIT_FAILED', 'PROCESSING', 'CANCELLING', 'CANCELLED', 'CLOSED'], nil), class: 'full-width', multiple: true) %>
  </div>
</fieldset>

<fieldset>
  <div class="row">
    <label for="user_id">Filter by User ID</label>
    <%= text_field_tag('user_id', nil, class: 'full-width') %>
  </div>
</fieldset>

<fieldset>
  <div class="row">
    <label for="date_type" class="eui-required-o">Filter by Date/Time of</label>
    <%= select_tag('date_type', options_for_select([ ['Creation date', 'CREATION_DATE'], ['Submission date', 'SUBMISSION_DATE'], ['Updated Date', 'LAST_UPDATE_DATE']], nil), include_blank: true, class: 'full-width') %>
  </div>

  <div class="row">
    <div class="col-6">
      <label for="from_date" class="eui-required-o">From</label>
      <%= datetime_field_tag('from_date', nil, class: 'full-width datetimepicker', placeholder: 'YYYY-MM-DDTHH:MM:SS') %>
    </div>
    <div class="col-6">
      <label for="to_date" class="eui-required-o">To</label>
      <%= datetime_field_tag('to_date', nil, class: 'full-width datetimepicker', placeholder: 'YYYY-MM-DDTHH:MM:SS') %>
    </div>
  </div>
</fieldset>
