<fieldset>
  <div class="row">
    <label for="state">Filter by Order State</label>
    <%= select_tag('states', options_for_select(OrdersHelper::ORDER_STATES, nil), class: 'full-width', multiple: true) %>
  </div>
</fieldset>

<fieldset>
  <div class="row">
    <label for="user_id">Filter by User ID</label>
    <%= text_field_tag('user_id', nil, class: 'full-width') %>
  </div>
</fieldset>

<fieldset>
  <div class="row space-bot">
    <label for="date_type" class="eui-required-o">Filter by Date/Time of</label>
    <%= select_tag('date_type', options_for_select([ ['Creation date', 'CREATION_DATE'], ['Submission date', 'SUBMISSION_DATE'], ['Updated Date', 'LAST_UPDATE_DATE']], nil), prompt: 'Select a date type', class: 'full-width') %>
  </div>

  <div class="row">
    <div class="col-6">
      <label for="from_date" class="eui-required-o">From</label>
      <%= mmt_extended_datetime_field_tag('from_date', nil, class: 'full-width datetimepicker', placeholder: 'YYYY-MM-DDTHH:MM:SS', data: { 'date-format' => 'YYYY-MM-DD[T]HH:mm:ss', 'date-min-date' => false }) %>
    </div>
    <div class="col-6">
      <label for="to_date" class="eui-required-o">To</label>
      <%= mmt_extended_datetime_field_tag('to_date', nil, class: 'full-width datetimepicker', placeholder: 'YYYY-MM-DDTHH:MM:SS', data: { 'date-format' => 'YYYY-MM-DD[T]HH:mm:ss', 'date-min-date' => false }) %>
    </div>
  </div>
</fieldset>

<%= hidden_field_tag 'previous_request_uuid', "#{request.uuid}" %>

<fieldset>
  <%= button_tag 'Submit', class: 'eui-btn--blue' %>
</fieldset>
