<!-- THIS PAGE IS USING LEGACY ORDER SERVICE -->
<div class="grid-row row-content">
  <section>
    <h2>Order Information</h2>

    <table>
      <tbody>
      <tr>
        <td>Order Guid:</td>
        <td><%= @order.guid %></td>
      </tr>
      <tr>
        <td>State:</td>
        <td><%= @order.state %></td>
      </tr>
      <tr>
        <td>Price:</td>
        <td><%= @order.price %></td>
      </tr>
      <tr>
        <td>Created:</td>
        <td><%= @order.created_date %></td>
      </tr>
      <tr>
        <td>Submitted:</td>
        <td><%= @order.submitted_date %></td>
      </tr>
      <tr>
        <td>Updated:</td>
        <td><%= @order.updated_date %></td>
      </tr>
      <tr>
        <td>Owner:</td>
        <td><%= @order.owner %></td>
      </tr>
      <tr>
        <td>Notification Level:</td>
        <td><%= @order.notify_level %></td>
      </tr>
      <tr>
        <td>Affiliation:</td>
        <td><%= @order.user_domain %></td>
      </tr>
      <tr>
        <td>User Region:</td>
        <td><%= @order.user_region %></td>
      </tr>
      <tr>
        <td>Client Identity:</td>
        <td><%= @order.client_identity %></td>
      </tr>
      </tbody>
    </table>

    <h3>Contact Information</h3>
    <div id="contact-information">
      <%= render partial: 'contact_information', locals: { contact_information: @order.contact_address } %>
    </div>

    <h3>Shipping Information</h3>
    <div id="shipping-information">
      <%= render partial: 'contact_information', locals: { contact_information: @order.shipping_address } %>
    </div>

    <h3>Billing Information</h3>
    <div id="billing-information">
      <%= render partial: 'contact_information', locals: { contact_information: @order.billing_address } %>
    </div>
  </section>
</div>
