<div class="grid-row row-content">
  <section>
    <h2><%= current_user.provider_id %> Orders</h2>

    <%= form_tag(search_orders_path, method: :put, class: "order-by-guid-form", id: "order-by-guid-form") do %>
      <fieldset>
        <div class="grid-row">
          <label for="order_guid" class="eui-required-o">Order GUID</label>
          <%= text_field_tag('order_guid', nil, class: 'full-width') %>

          <p class="form-description">If you do not know your order guid you can search for your order below.</p>
        </div>
      </fieldset>

      <%= hidden_field_tag 'previous_request_uuid', "#{request.uuid}" %>

      <fieldset>
        <%= button_tag 'Submit', class: 'eui-btn--blue' %>
      </fieldset>
    <% end %>

    <%= form_tag(search_orders_path, method: :put, class: "track-orders-form", id: "track-orders-form") do %>
      <h3>Order Search</h3>
      <%= render partial: "form" %>
    <% end %>
  </section>
</div>
