<div class="row row-content">
  <section>
    <h2><%= current_user.provider_id %> Orders</h2>
    <table class="orders-table" id="order-tracking-search-results">
      <thead>
        <tr>
          <th>State</th>
          <th>Created</th>
          <th>Submitted</th>
          <th>Updated</th>
          <th>Contact</th>
          <th>View Provider Order (by GUID)</th>
          <th>Tracking ID</th>
        </tr>
      </thead>
      <tbody>
        <% if @orders.empty? %>
          <tr>
            <td colspan="8">No <%= current_user.provider_id %> orders found.</td>
          </tr>
        <% else %>
          <% @orders.each_with_index do |order| %>
            <tr>
              <td><%= link_to order.state, order_path(order.guid) %></td>
              <td><%= safe_date_output order.created_date, 'Not Created' %></td>
              <td><%= safe_date_output order.submitted_date, 'Not Submited' %></td>
              <td><%= safe_date_output order.updated_date, 'Not Updated' %></td>
              <td><%= mail_to order.contact_address.email, order.contact_name %></td>
              <td><%= link_to order.guid, provider_order_path(order.guid) %></td>
              <td><%= order.tracking_id %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </section>
</div>
