<div class="row row-content">
  <section>
    <h2><%= current_user.provider_id %> Orders</h2>

    <table class="orders-table">
      <thead>
        <tr>
          <th>State</th>
          <th>Created</th>
          <th>Submitted</th>
          <th>Updated</th>
          <th>Owner</th>
          <th>Contact Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% if @orders.empty? %>
          <tr>
            <td colspan="8">No <%= current_user.provider_id %> orders found.</td>
          </tr>
        <% else %>
          <% @orders.each_with_index do |order| %>
            <tr>
              <td><%= link_to order.state, order_path(order.guid) %></td>
              <td><%= order.created_date %></td>
              <td><%= order.submitted_date %></td>
              <td><%= order.updated_date %></td>
              <td><%= order.owner %></td>
              <td><%= order.contact_address.name %></td>
              <td><%= link_to 'View Provider Order', provider_order_path(order.guid) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </section>
</div>
