<div class="row row-content">
  <section>
    <h2><%= current_user.provider_id %> Orders</h2>

    <table class="orders-table">
      <thead>
        <tr>
          <th>State</th>
          <th>Created</th>
          <th>Submitted</th>
          <th>Updated</th>
          <th>Owner</th>
          <th>Contact Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% if @orders.empty? %>
        <tr>
          <td colspan="8">No <%= current_user.provider_id %> orders found.</td>
        </tr>
      <% else %>
        <% @orders.each_with_index do |order| %>
          <tr>
            <td><%= link_to order['State'], order_path(order['Guid']) %></td>
            <td><%= echo_formatted_date(order['CreationDate']) %></td>
            <td><%= echo_formatted_date(order['SubmissionDate']) %></td>
            <td><%= echo_formatted_date(order['LastUpdateDate']) %></td>
            <td><%= order_owner(order['OwnerGuid']) %></td>
            <td><%= contact_name(order['ContactAddress']) %></td>
            <td><%= link_to 'View Provider Order', provider_order_path(order['Guid']) %></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </section>
</div>
