<%= render 'notifications' %>

<nav>
  <div class="content">
    <h2><%= link_to 'Manage Metadata', manage_metadata_path %></h2>
    <h2 class="current">Manage CMR</h2>
  </div>
</nav>

<div class="eui-banner--info">
  <p class="eui-banner__message">
    Groups and permissions are not fully supported yet. Only groups created within MMT are visible.
  </p>
</div>

<%= render 'shared/flash_messages' %>

<main class="dashboard" role="main">
  <article id="manage-cmr" class="row-content flex-row--sb" role="article">
    <section class="eui-callout-box">
      <div class="eui-callout-box-content">
        <h3 class="eui-callout-box__title">Provider Information</h3>
        <p><%= link_to 'Holdings Report', provider_holdings_path %></p>
      </div>
    </section>

    <section class="eui-callout-box">
      <div class="eui-callout-box-content">
        <h3 class="eui-callout-box__title">Permissions &amp; Groups</h3>
        <!-- TODO implement check to only show this link if has system ANY_ACL permissions -->
          <p><%= link_to 'System Object Permissions', system_identity_permissions_path %></p>
        <p><%= link_to 'Collection Permissions', permissions_path %></p>
        <p><%= link_to 'Groups', groups_path %></p>
      </div>
    </section>

    <section class="eui-callout-box">
      <div class="eui-callout-box-content">
        <h3 class="eui-callout-box__title">Orders</h3>
        <p><%= link_to 'Order Policies', order_policies_path %></p>
        <!-- TODO placeholder for Track Orders -->
        <!--<p><a href="#">Track Orders</a></p>-->
        <p><%= link_to 'Order Options', order_options_path %></p>
      </div>
    </section>
  </article>

  <article id="manage-cmr" class="row-content flex-row--sb" role="article">
    <section class="eui-callout-box">
      <div class="eui-callout-box-content">
        <h3 class="eui-callout-box__title">Data Quality Summaries</h3>
        <p><%= link_to 'View All Summaries', data_quality_summaries_path %></p>
        <p><%= link_to 'Create a New Summary', new_data_quality_summary_path %></p>
        <p><%= link_to 'View Summary Assignments', data_quality_summary_assignments_path %></p>
        <p><%= link_to 'Create a Summary Assignment', new_data_quality_summary_assignments_path %></p>
      </div>
    </section>
  </article>
</main>
