<!-- new_form is local passed in for new or edit -->

<fieldset>
  <div class="row">
    <%= label_tag 'permission_name', 'Name', class: 'required eui-required-o' %>
    <%= text_field_tag 'permission_name', @permission_name, class: 'full-width', readonly: !new_form, maxlength: 100 %>
  </div>
</fieldset>

<fieldset>
  <%= label_tag 'collection_options', 'Collections', class: 'required eui-required-o' %>
  <%= select_tag 'collection_options', options_for_select(PermissionsHelper::CollectionsOptions, @collection_options), class: 'full-width', prompt: '-- Select an Option --' %>
  <%= hidden_field_tag 'collection_selections', @collection_selections %>
  <div id="chooser-widget" class="is_hidden"></div>
</fieldset>

<!-- <fieldset id="collection_constraint_values"> -->
<fieldset id="collection_constraint_values" class="<%= hide_access_constraint_values?(@collection_options) %>">
  <h3 class="space-bot">Collections Access Constraint Filter</h3>
  <div class="row min-max-row">
    <div class="col-6 min-max-col">
      <%= label_tag 'collection_access_value[min_value]', 'Minimum Access Constraint Value' %>
      <%= text_field_tag 'collection_access_value[min_value]', @collection_access_value['min_value'], class: 'full-width min-max-value collection-access-value-group' %>
    </div>
    <div class="col-6 min-max-col">
      <%= label_tag 'collection_access_value[max_value]', 'Maximum Access Constraint Value' %>
      <%= text_field_tag 'collection_access_value[max_value]', @collection_access_value['max_value'], class: 'full-width min-max-value collection-access-value-group' %>
    </div>
  </div>
  <div class="row checkbox-group">
    <%= label_tag 'collection_access_value[include_undefined_value]' do %>
      <%= check_box_tag 'collection_access_value[include_undefined_value]', true, @collection_access_value['include_undefined_value'] %>
      Include Undefined
    <% end %>
  </div>
</fieldset>

<fieldset>
  <%= label_tag 'granule_options', 'Granules', class: 'required eui-required-o' %>
  <%= select_tag 'granule_options', options_for_select(PermissionsHelper::GranulesOptions, @granule_options), class: 'full-width', prompt: '-- Select an Option --' %>
</fieldset>

<!-- <fieldset id="granule_constraint_values" class="<%#= hide_granule_constraint_values?(@granule_access_value, @granule_options) %>"> -->
<fieldset id="granule_constraint_values" class="<%= hide_access_constraint_values?(@granule_options) %>">
  <h3 class="space-bot">Granules Access Constraint Filter</h3>
  <div class="row min-max-row">
    <div class="col-6 min-max-col">
      <%= label_tag 'granule_access_value[min_value]', 'Minimum Access Constraint Value' %>
      <%= text_field_tag 'granule_access_value[min_value]', @granule_access_value['min_value'], class: 'full-width min-max-value granule-access-value-group' %>
    </div>
    <div class="col-6 min-max-col">
      <%= label_tag 'granule_access_value[max_value]', 'Maximum Access Constraint Value' %>
      <%= text_field_tag 'granule_access_value[max_value]', @granule_access_value['max_value'], class: 'full-width min-max-value granule-access-value-group' %>
    </div>
  </div>
  <div class="row checkbox-group">
    <%= label_tag 'granule_access_value[include_undefined_value]' do %>
      <%= check_box_tag 'granule_access_value[include_undefined_value]', true, @granule_access_value['include_undefined_value'] %>
      Include Undefined
    <% end %>
  </div>
</fieldset>

<fieldset>
  <table class="space-top align-c" id="permission-form-groups-table">
    <caption class="required eui-required-o">Group Permissions</caption>
    <thead>
      <tr>
        <th class="align-c half-width"><label for="search_groups_">Search</label></th>
        <th class="align-c half-width"><label for="search_and_order_groups_">Search and Order</label></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="search_groups_cell">
          <%= select_tag 'search_groups[]', options_for_select(@groups, @search_groups), multiple: 'multiple', class: 'permission-group required'  %>
        </td>
        <td id="search_and_order_groups_cell">
          <%= select_tag 'search_and_order_groups[]', options_for_select(@groups, @search_and_order_groups), multiple: 'multiple', class: 'permission-group required'  %>
        </td>
      </tr>
    </tbody>
  </table>

  <% unless @hidden_search_groups.blank? %>
    <%= hidden_field_tag('hidden_search_groups', @hidden_search_groups.join('; ')) %>
  <% end %>
  <% unless @hidden_search_and_order_groups.blank? %>
    <%= hidden_field_tag('hidden_search_and_order_groups', @hidden_search_and_order_groups.join('; ')) %>
  <% end %>
</fieldset>

<fieldset>
  <%= submit_tag 'Submit', class: 'eui-btn--blue', id: 'permissions-save-button' %>
  <%= link_to 'Cancel', :back, class: 'eui-btn' %>
</fieldset>
