<!-- new_form is local passed in for new or edit -->

<fieldset>
  <div class="row">
    <div class="col-6">
      <%= label_tag 'permission_name', 'Name', class: 'required eui-required-o' %>
      <%= text_field_tag 'permission_name', @permission.fetch('catalog_item_identity', {})['name'], class: 'full-width', readonly: !new_form, maxlength: 100 %>
    </div>
    <div class="col-6">
      <%= label_tag 'acl_applies_to', 'Apply Permission To:', class: 'required eui-required-o' %>
      <div class="row checkbox-group space-top">
        <div class="col-6">
          <%= label_tag 'collection_applicable' do %>
            <%= check_box_tag 'collection_applicable', true, @permission.fetch('catalog_item_identity', {}).fetch('collection_applicable', false) %>
            Collections
          <% end %>
          
        </div>
        <div class="col-6">
          <%= label_tag 'granule_applicable' do %>
            <%= check_box_tag 'granule_applicable', true, @permission.fetch('catalog_item_identity', {}).fetch('granule_applicable', false) %>
            Granules
          <% end %>
        </div>
      </div>

    </div>
  </div>
</fieldset>

<fieldset>
  <label class="required eui-required-o">Collection Selection</label>
  <div class="row checkbox-group space-bot">
    <div class="col-6">
      <%= label_tag 'collection_option_all' do %>
        <%= radio_button_tag 'collection_option', 'all', @permission.empty? ? true : permission_concept_ids(@permission).empty? %>
        All Collections
      <% end %>
    </div>

    <div class="col-6">
      <%= label_tag 'collection_option_selected' do %>
        <%= radio_button_tag 'collection_option', 'selected', permission_concept_ids(@permission).any? %>
        Selected Collections
      <% end %>
    </div>
  </div>

  <!-- Hidden fields that represent the underlying array of selected collections -->
  <% Array.wrap(permission_concept_ids(@permission)).each do |collection| %>
    <%= hidden_field_tag('collection_selections[]', collection, class: 'selected-collection') %>
  <% end %>

  <!-- Hidden fields that represent the underlying array of selected collections that the user doesn't have access to -->
  <% Array.wrap(unauthorized_permission_collections(@permission)).each do |collection| %>
    <%= hidden_field_tag('hidden_collections[]', collection, class: 'hidden-collection') %>
  <% end %>
  <div id="chooser-widget"></div>
</fieldset>

<fieldset>
  <h3>Access Constraint Filter</h3>

  <div class="row">
    <div class="col-6">
      <div id="collection-access-constraints-container">
        <h4 class="space-bot"><i class="eui-icon eui-collection"></i> Collections</h4>
        <div class="row min-max-row">
          <div class="col-6 min-max-col">
            <%= label_tag 'collection_access_value[min_value]', 'Minimum Value' %>
            <%= text_field_tag 'collection_access_value[min_value]', permission_collection_access_constraints(@permission)['min_value'], class: 'full-width min-max-value collection-access-value-group' %>
          </div>
          <div class="col-6 min-max-col">
            <%= label_tag 'collection_access_value[max_value]', 'Maximum Value' %>
            <%= text_field_tag 'collection_access_value[max_value]', permission_collection_access_constraints(@permission)['max_value'], class: 'full-width min-max-value collection-access-value-group' %>
          </div>
        </div>
        <div class="row checkbox-group">
          <div class="col-6">
          <%= label_tag 'collection_access_value[include_undefined_value]' do %>
            <%= check_box_tag 'collection_access_value[include_undefined_value]', true, permission_collection_access_constraints(@permission)['include_undefined_value'] %>
            Include Undefined
          <% end %>
          </div>
          <div class="col-6 align-r">
            <%= button_tag 'Clear Collection Filters', class: 'eui-btn eui-btn--sm clear-filters', data: { container: 'collection-access-constraints-container' } %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div id="granule-access-constraints-container">
        <h4 class="space-bot"><i class="eui-icon eui-granule"></i> Granules</h4>
        <div class="row min-max-row">
          <div class="col-6 min-max-col">
            <%= label_tag 'granule_access_value[min_value]', 'Minimum Value' %>
            <%= text_field_tag 'granule_access_value[min_value]', permission_granule_access_constraints(@permission)['min_value'], class: 'full-width min-max-value granule-access-value-group' %>
          </div>
          <div class="col-6 min-max-col">
            <%= label_tag 'granule_access_value[max_value]', 'Maximum Value' %>
            <%= text_field_tag 'granule_access_value[max_value]', permission_granule_access_constraints(@permission)['max_value'], class: 'full-width min-max-value granule-access-value-group' %>
          </div>
        </div>
        <div class="row checkbox-group">
          <div class="col-6">
          <%= label_tag 'granule_access_value[include_undefined_value]' do %>
            <%= check_box_tag 'granule_access_value[include_undefined_value]', true, permission_granule_access_constraints(@permission)['include_undefined_value'] %>
            Include Undefined
          <% end %>
          </div>
          <div class="col-6 align-r">
            <%= button_tag 'Clear Granule Filters', class: 'eui-btn eui-btn--sm clear-filters', data: { container: 'granule-access-constraints-container' } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>

<fieldset>
  <table class="align-c" id="permission-form-groups-table">
    <caption class="required space-bot eui-required-o">Group Permissions</caption>
    <thead>
      <tr>
        <th class="align-c half-width"><label for="search_groups_">Search</label></th>
        <th class="align-c half-width"><label for="search_and_order_groups_">Search and Order</label></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="search_groups_cell">
          <%= select_tag 'search_groups[]', options_for_select(@groups, @permission.fetch('group_permissions', []).reject { |group| group['is_hidden'] == true }.select { |group| group['permissions'].include?('read') && !group['permissions'].include?('order') }.map { |group| group['group_id'] || group['user_type']}), multiple: 'multiple', class: 'permission-group required'  %>
        </td>
        <td id="search_and_order_groups_cell">
          <%= select_tag 'search_and_order_groups[]', options_for_select(@groups, @permission.fetch('group_permissions', []).reject { |group| group['is_hidden'] == true }.select { |group| group['permissions'].include?('order') }.map { |group| group['group_id'] || group['user_type']}), multiple: 'multiple', class: 'permission-group required'  %>
        </td>
      </tr>
    </tbody>
  </table>

  <% @permission.fetch('group_permissions', []).select { |group| group['is_hidden'] == true }.group_by { |permission| permission.fetch('permissions', []).join('|') }.each do |permissions, groups| %>

    <% groups.each do |group| %>
      <% if permissions.split('|').include?('order') %>
        <%= hidden_field_tag('hidden_search_and_order_groups[]', group['group_id']) %>
      <% elsif permissions.split('|').include?('read') && !permissions.split('|').include?('order') %>
        <%= hidden_field_tag('hidden_search_groups[]', group['group_id']) %>
      <% end %>
    <% end %>
  <% end %>
</fieldset>

<fieldset>
  <%= submit_tag 'Submit', class: 'eui-btn--blue' %>
  <%= link_to 'Cancel', :back, class: 'eui-btn' %>
</fieldset>