<!-- new_form is local passed in for new or edit -->

<fieldset>
  <div class="row">
    <%= label_tag 'permission_name', 'Name', class: 'required eui-required-o' %>
    <%= text_field_tag 'permission_name', @permission_name, class: 'full-width', readonly: !new_form, maxlength: 100 %>
  </div>
</fieldset>

<fieldset>
  <%= label_tag 'collection_options', 'Collections', class: 'required eui-required-o' %>
  <%= select_tag 'collection_options', options_for_select(PermissionsHelper::CollectionsOptions, @collection_options), class: 'full-width' %>
  <%= hidden_field_tag 'collection_selections', @collection_selections %>
  <div id="chooser-widget" style="display: none;"></div>
</fieldset>

<!-- <fieldset id="collections-constraint-values" class="is-hidden is-white">
  <div class="row">
    <label for="collections-constraint-min">Min</label>
    <input type="number" id="collections-constraint-min" class="space-right">
    <label for="collections-constraint-Max">Max</label>
    <input type="number" id="collections-constraint-max">
    <span>(Inclusive)</span>
  </div>
  <div class="row">
    <input type="checkbox" name="undefined-val" id="undefined-val">
    <label for="undefined-val">Include undefined value</label>
  </div>
</fieldset> -->
<fieldset>
    <div class="row">
      <div class="col-6">
        <%= label_tag 'collection_access_value', 'Collections Access Constraint Filter' do %>
          Collections Access Constraint Filter
          <%= label_tag 'collection_access_value[min_value]', 'Minimum Access Constraint Value' %>
          <%= number_field_tag 'collection_access_value[min_value]', @collection_access_value[:min_value], class: 'full-width' %>
          <%= label_tag 'collection_access_value[max_value]', 'Maximum Access Constraint Value' %>
          <%= number_field_tag 'collection_access_value[max_value]', @collection_access_value[:max_value], class: 'full-width' %>
          <%= label_tag 'collection_access_value[include_undefined_value]' do %>
          <%= check_box_tag('collection_access_value[include_undefined_value]', true, @collection_access_value[:include_undefined_value] ) %>
          Include Undefined
          <% end %>
        <% end %>
      </div>
    </div>
</fieldset>

<fieldset>
  <%= label_tag 'granule_options', 'Granules', class: 'required eui-required-o' %>
  <%= select_tag 'granule_options', options_for_select(PermissionsHelper::GranulesOptions, @granule_options), class: 'full-width' %>
</fieldset>

<!-- <fieldset id="granules-constraint-values" class="is-hidden is-white">
  <div class="row">
    <label for="granules-constraint-min">Min</label>
    <input type="number" id="granules-constraint-min" class="space-right">
    <label for="granules-constraint-Max">Max</label>
    <input type="number" id="granules-constraint-max">
    <span>(Inclusive)</span>
  </div>
  <div class="row">
    <input type="checkbox" name="undefined-val" id="undefined-val">
    <label for="undefined-val">Include undefined value</label>
  </div>
</fieldset> -->

<fieldset>
  <table class="space-top align-c" id="permission-form-groups-table">
    <caption class="required eui-required-o">Group Permissions</caption>
    <thead>
      <tr>
        <th class="align-c half-width"><label for="search_groups_">Search</label></th>
        <th class="align-c half-width"><label for="search_and_order_groups_">Search and Order</label></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="search_groups_cell">
          <%= select_tag 'search_groups[]', options_for_select(@groups, @search_groups), multiple: 'multiple', class: 'permission-group required'  %>
        </td>
        <td id="search_and_order_groups_cell">
          <%= select_tag 'search_and_order_groups[]', options_for_select(@groups, @search_and_order_groups), multiple: 'multiple', class: 'permission-group required'  %>
        </td>
      </tr>
    </tbody>
  </table>
</fieldset>

<fieldset>
  <%= submit_tag 'Submit', class: 'eui-btn--blue', id: 'permissions-save-button' %>
  <%= link_to 'Cancel', :back, class: 'eui-btn' %>
</fieldset>
