<% if available_provider?(permission_provider(@permission)) && !current_provider?(permission_provider(@permission)) %>
  <div class="eui-banner--warn">
    <p class="eui-banner__message">
      <%= link_to("You need to change your current provider to #{request['action']} this permission. Click here to change your provider.",
        "#", id: "change-current-provider-banner-link",
        data: { "provider": permission_provider(@permission), action_link: "change-provider-#{request['action']}-permission" }) %>
    </p>
    <%= link_to 'Show Permission', permission_path(@permission_concept_id),
    class: 'is-invisible', id: 'change-provider-show-permission' %>
    <%= link_to 'Edit Permission', edit_permission_path(@permission_concept_id),
    class: 'is-invisible', id: 'change-provider-edit-permission' %>
  </div>
  <div class="no-access">
    <h3 class="access-title">Not Current Provider</h3>
    <p class="access-message">
      It appears you need to change your current provider to access to this content.<br />
      Please check the message above to access this content.
    </p>
  </div>
<% elsif !available_provider?(permission_provider(@permission)) %>
  <div class="eui-banner--danger">
    <p class="eui-banner__message">
      <%= "You don't have the appropriate permissions to #{request['action']} this permission." %>
    </p>
  </div>
  <div class="no-access">
    <h3 class="access-title">Access Denied</h3>
    <p class="access-message">
      It appears you do not have access to <%= request['action'] %> this content.<br />
      If you feel you should have access, please check with your provider manager or ensure you are logged into the correct provider.
    </p>
  </div>
<% elsif @unconfirmed_revision_id %>
  <div class="eui-banner--warn">
    <p class="eui-banner__message">
      We could not confirm the revision number of this Collection Permission.
    </p>
  </div>
  <div class="no-access">
    <h3 class="access-title">Unconfirmed Revision</h3>
    <p class="access-message">
      We could not confirm the revision number of this collection permission, therefore editing this collection permission is currently unavailable.
      Please <%= link_to 'refresh the page', 'javascript:history.go(0)' %> or return to the <%= link_to 'Collection Permissions list', permissions_path %> to try again.
      You can also contact <a href="mailto:support@earthdata.nasa.gov">Earthdata Operations</a> referring to the ID <strong>"<%= "#{@permission_concept_id}" %>"</strong> for assistance.
    </p>
  </div>
<% else %>
  <div class="grid-row row-content">
    <section>
      <h2>Edit <%= @permission.fetch('catalog_item_identity', {})['name'] %></h2>

      <%= form_tag(permission_path(@permission_concept_id), method: :put, class: 'permission-form') do %>
        <%= hidden_field_tag 'permission_provider', @permission.fetch('catalog_item_identity', {})['provider_id'] %>
        <%= render partial: 'form', locals: { new_form: false } %>
      <% end %>
    </section>
  </div>
<% end %>
