<main class="internal" role="main">
  <header>
    <div class="content">
      <div class="eui-breadcrumbs">
        <ol class="eui-breadcrumbs__list">
          <li class="eui-breadcrumbs__item"><%= link_to 'Manage CMR', manage_cmr_path %></li>
          <li class="eui-breadcrumbs__item"><%= link_to 'Permissions & Groups', permissions_path %></li>
        </ol>
      </div>
      <h2><%= @permission_name %></h2>
      <p class="subtitle"><strong>Permission Type:</strong><%= " #{@permission_type || '<type>'} | #{@permission_provider || '<provider>'}" %></p>

      <p class="subnav current">Permissions</p>
      <p class="subnav"><%= link_to 'Groups', groups_path %></p>
    </div>
  </header>

  <div class="row row-content">
    <section>
      <div class="flex-center">
        <a href="#" class="eui-btn--blue space-right">Edit Permissions</a>
        <a href="#">Delete Permissions</a>
      </div>

      <hr>

      <p>
        <b>Collections | <%= @collection_entry_ids.blank? ? 'All Collections' : "#{@collection_entry_ids.count} Selected Entry IDs" %></b>
        <br>
        <%= @collection_entry_ids.join(', ') unless @collection_entry_ids.blank? %>
      </p>
      <p>
        <b>Granules | <%= @granule_options ? 'All Granules in Selected Collection Records' : 'No Access to Granules' %></b>
      </p>

      <hr>

      <table class="space-top align-c" id="groups-table">
        <thead>
          <tr>
            <th class="align-l">Groups</th>
            <th class="align-c">Search</th>
            <th class="align-c">Order</th>
          </tr>
        </thead>
        <tbody>
          <!-- Search & Order groups -->
          <% @search_and_order_groups.each do |search_and_order_group| %>
            <tr>
              <td class="cell-primary-cta">
                <% if search_and_order_group[:concept_id] %>
                  <p><%= link_to search_and_order_group[:name], group_path(search_and_order_group[:concept_id]) %> (<%= search_and_order_group[:num_members] %>)</p>
                <% else %>
                  <p><%= search_and_order_group[:name] %></p>
                <% end %>
              </td>
              <td><i class="eui-icon eui-check-o icon-green icon--md"><span class="is-invisible">Search allowed for this group</span></i></td>
              <td><i class="eui-icon eui-check-o icon-green icon--md"><span class="is-invisible">Order is also allowed for this group</span></i></td>
            </tr>
          <% end %>

          <!-- Search Groups -->
          <% @search_groups.each do |search_group| %>
            <tr>
              <td class="cell-primary-cta">
                <% if search_group[:concept_id] %>
                  <p><%= link_to search_group[:name], group_path(search_group[:concept_id]) %> (<%= search_group[:num_members] %>)</p>
                <% else %>
                  <p><%= search_group[:name] %></p>
                <% end %>
              </td>
              <td><i class="eui-icon eui-check-o icon-green icon--md"><span class="is-invisible">Only search is allowed for this group</span></i></td>
              <td><span class="is-invisible">Order is not allowed for this group</span></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="row space-top">
        <input type="submit" class="eui-btn--blue space-right" value="Save">
        <%= link_to 'Cancel', permissions_path %>
      </div>
    </section>
  </div>
</main>
