<%= render 'hidden_collections_notification' %>

<div class="row row-content">
  <section>
    <h2><%= @permission_name %></h2>

    <p>
      <b>Permission Type | <%= " #{@permission_type || 'No Permission Type Selected'} | #{@permission_provider || '<provider>'}" %></b>
    </p>
    <p>
      <b>Collections |
        <% if @collection_options %>
          <%= @collection_entry_ids.blank? && @hidden_entry_titles.blank? ? 'All Collections' : "#{@collection_entry_ids.count + @hidden_entry_titles.count} Selected Collections" %>
        <% else %>
          No Access to Collections
        <% end %>
      </b>
      <br>
      <%= @collection_entry_ids.to_sentence unless @collection_entry_ids.blank? %>
      <p>
        <% unless @collection_access_value.blank? %>
          Collections <%= display_access_constraints(@collection_access_value) %>
        <% end %>
      </p>
    </p>
    <p>
      <b>Granules | <%= @granule_options ? 'All Granules in Selected Collection Records' : 'No Access to Granules' %></b>
      <p>
        <% unless @granule_access_value.blank? %>
          Granules <%= display_access_constraints(@granule_access_value) %>
        <% end %>
      </p>
    </p>

    <table class="space-top space-bot align-c" id="permission-groups-table">
      <thead>
        <tr>
          <th class="align-l">Groups</th>
          <th class="align-c">Search</th>
          <th class="align-c">Order</th>
        </tr>
      </thead>
      <tbody>
        <% if @search_groups.blank? && @search_and_order_groups.blank? %>
          <tr>
            <td colspan="3">
              No Groups listed.
            </td>
          </tr>
        <% else %>

          <!-- Search & Order groups -->
          <% @search_and_order_groups.each do |search_and_order_group| %>
            <tr>
              <td class="cell-primary-cta">
                <% if search_and_order_group[:concept_id] %>
                  <%= link_to search_and_order_group[:name], group_path(search_and_order_group[:concept_id]) %>
                  <% if check_if_system_group?(search_and_order_group, search_and_order_group[:concept_id]) %>
                    <span class="eui-badge--sm">SYS</span>
                  <% end %>
                  (<%= search_and_order_group[:num_members] %>)
                <% else %>
                  <%= search_and_order_group[:name] %>
                <% end %>
              </td>
              <td><i class="eui-icon eui-check-o icon-green icon--md"><span class="is-invisible">Search allowed for this group</span></i></td>
              <td><i class="eui-icon eui-check-o icon-green icon--md"><span class="is-invisible">Order is also allowed for this group</span></i></td>
            </tr>
          <% end %>

          <!-- Search Groups -->
          <% @search_groups.each do |search_group| %>
            <tr>
              <td class="cell-primary-cta">
                <% if search_group[:concept_id] %>
                  <%= link_to search_group[:name], group_path(search_group[:concept_id]) %>
                  <% if check_if_system_group?(search_group, search_group[:concept_id]) %>
                    <span class="eui-badge--sm">SYS</span>
                  <% end %>
                  (<%= search_group[:num_members] %>)
                <% else %>
                  <%= search_group[:name] %>
                <% end %>
              </td>
              <td><i class="eui-icon eui-check-o icon-green icon--md"><span class="is-invisible">Only search is allowed for this group</span></i></td>
              <td><span class="is-invisible">Order is not allowed for this group</span></td>
            </tr>
          <% end %>

        <% end %>
      </tbody>
    </table>

    <%= link_to 'Edit', edit_permission_path(@permission_concept_id), class: 'eui-btn' %>

    <%= link_to 'Delete',"#delete-permission-modal", class: 'display-modal eui-btn eui-btn--red' %>
    <div id='delete-permission-modal' class="eui-modal-content">
      <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
      <p>Are you sure you want to delete this permission?</p>
      <p>
        <a href="javascript:void(0)" class="eui-btn modal-close">No</a>
        <%= link_to 'Yes', @permission, method: :delete, class: 'eui-btn--blue spinner' %>
      </p>
    </div>
  </section>
</div>
