<% if available_provider?(permission_provider(@permission)) && !current_provider?(permission_provider(@permission)) %>
  <div class="eui-banner--warn">
    <p class="eui-banner__message">
      <%= link_to("You need to change your current provider to #{request['action']} this permission. Click here to change your provider.",
        "#", id: "change-current-provider-banner-link",
        data: { "provider": permission_provider(@permission), action_link: "change-provider-#{request['action']}-permission" }) %>
    </p>
    <%= link_to 'Show Permission', permission_path(@permission_concept_id),
    class: 'is-invisible', id: 'change-provider-show-permission' %>
    <%= link_to 'Edit Permission', edit_permission_path(@permission_concept_id),
    class: 'is-invisible', id: 'change-provider-edit-permission' %>
  </div>
  <div class="no-access">
    <h3 class="access-title">Not Current Provider</h3>
    <p class="access-message">
      It appears you need to change your current provider to access to this content.<br />
      Please check the message above to access this content.
    </p>
  </div>
<% elsif !available_provider?(permission_provider(@permission)) %>
  <div class="eui-banner--danger">
    <p class="eui-banner__message">
      <%= "You don't have the appropriate permissions to #{request['action']} this permission." %>
    </p>
  </div>
  <div class="no-access">
    <h3 class="access-title">Access Denied</h3>
    <p class="access-message">
      It appears you do not have access to <%= request['action'] %> this content.<br />
      If you feel you should have access, please check with your provider manager or ensure you are logged into the correct provider.
    </p>
  </div>
<% else %>
  <div class="grid-row row-content">
    <section>
      <h2><%= @permission.fetch('catalog_item_identity', {})['name'] %></h2>

      <table class="space-top space-bot align-c" id="permission-groups-table">
        <thead>
          <tr>
            <th class="align-l">Groups</th>
            <th class="align-c">Search</th>
            <th class="align-c">Order</th>
          </tr>
        </thead>
        <tbody>
          <% if @permission.fetch('group_permissions', []).blank? || @permission.fetch('group_permissions', []).all? { |group| group.fetch('permissions', []).blank? } %>
            <tr>
              <td colspan="3">
                No Groups listed.
              </td>
            </tr>
          <% else %>
            <% @permission.fetch('group_permissions', []).select { |permission, groups| (%w(read order) & permission.fetch('permissions', [])).any? }.group_by { |permission| permission.fetch('permissions', []) }.each do |permissions, groups| %>

              <% groups.select { |group| group.key?('user_type') || group.key?('group') }.each do |group| %>
                <tr>
                  <td class="cell-primary-cta">
                    <% if group.key?('group_id') %>
                      <%= link_to group['group']['name'], group_path(group['group_id']) %>

                      <% if check_if_system_group?(group, group['group_id']) %>
                        <span class="eui-badge--sm">SYS</span>
                      <% end %>
                    <% else %>
                      <% if group['user_type'] == 'guest' %>
                      All Guest Users
                      <% elsif group['user_type'] == 'registered' %>
                      All Registered Users
                      <% end %>
                    <% end %>
                  </td>
                  <td>
                    <% if permissions.include?('read') || permissions.include?('order') %>
                      <i class="eui-icon eui-check-o icon-green icon--md"><span class="is-invisible">Search allowed for this group</span></i>
                    <% end %>
                  </td>
                  <td>
                    <% if permissions.include?('order') %>
                      <i class="eui-icon eui-check-o icon-green icon--md"><span class="is-invisible">Order is also allowed for this group</span></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>

            <% end %>
          <% end %>
        </tbody>
      </table>

      <div class="grid-row">
        <div class="grid-col-6" id="collection-constraint-summary">
          <label>Collections</label>
          <p><%= collection_constraint_summary(@permission) %></p>

          <% if @permission.fetch('catalog_item_identity', {}).fetch('collection_identifier', {}).fetch('access_value', {}).any? && permission_concept_ids(@permission).any? %>
            <%# button_tag 'Toggle Collection Highlighting', class: 'eui-btn eui-btn--sm highlight-collections', title: 'Toggle the highlighting of collections that satisfy the constraint filters.', data: @permission.fetch('catalog_item_identity', {}).fetch('collection_identifier', {}).fetch('access_value', {}) %>
          <% end %>
        </div>

        <div class="grid-col-6" id="granule-constraint-summary">
          <label>Granules</label>
          <p><%= granule_constraint_summary(@permission) %></p>
        </div>
      </div>

      <% if permission_concept_ids(@permission).any? %>
      <table id="permission-collection-list">
        <thead>
          <tr>
            <th>Collection</th>
            <th>Short Name</th>
            <th>Version</th>
          </tr>
        </thead>
        <tbody>

          <% permission_collections(@permission).fetch('items', []).each do |collection| %>
          <tr>
            <td><%= link_to collection.fetch('umm', {})['entry-title'], collection_path(collection.fetch('meta', {})['concept-id']) %></td>
            <td><%= collection.fetch('umm', {})['short-name'] %></td>
            <td><%= collection.fetch('umm', {})['version-id'] %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>

      <%= link_to 'Edit', edit_permission_path(@permission_concept_id), class: 'eui-btn' %>

      <%= link_to 'Delete',"#delete-permission-modal", class: 'display-modal eui-btn eui-btn--red' %>
      <div id='delete-permission-modal' class="eui-modal-content">
        <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
        <p>Are you sure you want to delete this permission?</p>
        <p>
          <a href="javascript:void(0)" class="eui-btn modal-close">No</a>
          <%= link_to 'Yes', @permission, method: :delete, class: 'eui-btn--blue spinner' %>
        </p>
      </div>
    </section>
  </div>
<% end %>
