<fieldset class="eui-accordion" id="collection-information">
  <div class="eui-accordion__header disable-toggle">
    <h3 class="eui-accordion__title eui-required-o">Collection Information</h3>
  </div>
  <div class="eui-accordion__body">
    <div class="row">
      <% if Rails.configuration.templates_enabled && resource_name == "collection_template" %>
        <div class="row">
          <div class="col-12">
            <%= mmt_text_field(
              name: 'template_name',
              title: 'Template Name',
              prefix: 'draft_',
              value: draft.draft['TemplateName'],
              help: 'properties/TemplateName',
              validate: true,
              always_required: true,
              help_url: 'Template Name'
             ) %>
          </div>
        </div>
      <% end %>

      <!-- Short Name [r] -->
      <div class="col-6">
        <%= mmt_text_field(
          name: 'short_name',
          title: 'Short Name',
          prefix: 'draft_',
          value: draft.draft['ShortName'],
          help: 'properties/ShortName',
          validate: true,
          always_required: true
         ) %>
      </div>
      <!-- Version [r] -->
      <div class="col-6">
        <%= mmt_text_field(
          name: 'version',
          title: 'Version',
          prefix: 'draft_',
          value: draft.draft['Version'],
          help: 'properties/Version',
          validate: true,
          always_required: true,
          help_url: 'Version'
         ) %>
      </div>
    </div>

    <!-- Version Description -->
    <div class="row">
      <div class="col-12">
        <%= mmt_text_field(
          name: 'version_description',
          title: 'Version Description',
          prefix: 'draft_',
          value: draft.draft['VersionDescription'],
          help: 'properties/VersionDescription',
          validate: true,
          help_url: 'Version+Description'
         ) %>
      </div>
    </div>

    <!-- Entry Title [r] -->
    <div class="row">
      <div class="col-12">
        <%= mmt_text_field(
          name: 'entry_title',
          title: 'Entry Title',
          prefix: 'draft_',
          value: draft.draft['EntryTitle'],
          help: 'properties/EntryTitle',
          validate: true,
          always_required: true,
          help_url: 'Entry+Title'
         ) %>
      </div>
    </div>

    <!-- DOI -->
    <%= mmt_label(
      name: 'doi',
      title: 'DOI',
      prefix: 'draft_',
    ) %>
    <%= mmt_help_icon(
      title: 'DOI',
      help: 'properties/DOI',
      help_url: 'DOI'
    ) %>
    <div class="row sub-fields">
      <%= render partial: 'collection_drafts/forms/type', locals: {
          type: 'doi',
          values: draft.draft['DOI'] || {},
          name_prefix: 'draft_doi_',
          multiple: false,
          options: {} } %>
    </div>


    <!-- Abstract [r] -->
    <div class="row">
      <div class="col-12">
        <%= mmt_text_area(
          name: 'abstract',
          title: 'Abstract',
          prefix: 'draft_',
          value: draft.draft['Abstract'],
          help: 'properties/Abstract',
          validate: true,
          always_required: true,
          help_url: 'Abstract'
         ) %>
      </div>
    </div>


    <!-- Purpose -->
    <div class="row">
      <div class="col-12">
        <%= mmt_text_area(
          name: 'purpose',
          title: 'Purpose',
          prefix: 'draft_',
          value: draft.draft['Purpose'],
          help: 'properties/Purpose',
          help_url: 'Purpose',
          validate: true
         ) %>
      </div>
    </div>


    <!-- Data language -->
    <div class="row">
      <div class="col-12">
        <%= mmt_select(
          name: 'data_language',
          title: 'Data Language',
          prefix: 'draft_',
          value: draft.draft['DataLanguage'],
          options: @language_codes,
          help: 'properties/DataLanguage',
          help_url: 'Data+Language',
          classes: 'mmt-fake-enum'
        ) %>
      </div>
    </div>
  </div>
</fieldset>
