<fieldset class="eui-accordion is-closed" id="data-dates">
  <div class="eui-accordion__header">
    <h3 class="eui-accordion__title">Data Dates</h3>
    <%= mmt_help_icon(
      title: 'Data Dates',
      help: 'properties/DataDates',
      help_url: 'Data+Dates'
    ) %>
    <div class="eui-accordion__icon" tabindex="0">
      <i class="eui-icon eui-fa-chevron-circle-down"></i>
      <span class="eui-sr-only">Toggle Data Dates</span>
    </div>
  </div>
  <div class="eui-accordion__body">
    <!-- DataDates -->
    <div class="grid-row">
      <div class="col-12">
        <%= render partial: 'collection_drafts/forms/type', locals: {
            type: 'date',
            values: draft.draft['DataDates'] || [{}],
            name_prefix: 'draft_|data_dates|_',
            multiple: true } %>
      </div>
    </div>
  </div>
</fieldset>

<fieldset class="eui-accordion is-closed" id="collection-data-type">
  <div class="eui-accordion__header">
    <h3 class="eui-accordion__title">Collection Data Type</h3>
    <%= mmt_help_icon(
      title: 'Collection Data Type',
      help: 'properties/CollectionDataType'
    ) %>
    <div class="eui-accordion__icon" tabindex="0">
      <i class="eui-icon eui-fa-chevron-circle-down"></i>
      <span class="eui-sr-only">Toggle Collection Data Type</span>
    </div>
  </div>
  <div class="eui-accordion__body">
    <div class="grid-row">
      <div class="col-12">
        <!-- Collection Data Type -->
        <%= mmt_select(
          name: 'collection_data_type',
          title: 'Collection Data Type',
          prefix: 'draft_',
          value: draft.draft['CollectionDataType'],
          options: DraftsHelper::CollectionDataTypeOptions,
          help: 'properties/CollectionDataType'
        ) %>
      </div>
    </div>
  </div>
</fieldset>

<fieldset class="eui-accordion is-closed" id="standard-product">
  <div class="eui-accordion__header">
    <h3 class="eui-accordion__title">Standard Product</h3>
    <%= mmt_help_icon(
          title: 'Standard Product',
          help: 'properties/StandardProduct'
        ) %>
    <div class="eui-accordion__icon" tabindex="0">
      <i class="eui-icon eui-fa-chevron-circle-down"></i>
      <span class="eui-sr-only">Toggle Standard Product</span>
    </div>
  </div>
  <div class="eui-accordion__body">
    <!-- Standard Product -->
    <div class="grid-row">
      <div class="col-12">
        <input type='hidden' name='page' value="data-identification" />
        <%= render partial: 'collection_drafts/forms/type', locals: {
          type: 'standard_product',
          values: draft.draft['StandardProduct'],
          name_prefix: 'draft_',
          multiple: false } %>
      </div>
    </div>
  </div>
</fieldset>

<fieldset class="eui-accordion is-closed" id="processing-level">
  <div class="eui-accordion__header">
    <h3 class="eui-accordion__title eui-required-o always-required">Processing Level</h3>
    <%= mmt_help_icon(
      title: 'Processing Level',
      help: 'properties/ProcessingLevel',
      help_url: 'Processing+Level'
    ) %>
    <div class="eui-accordion__icon" tabindex="0">
      <i class="eui-icon eui-fa-chevron-circle-down"></i>
      <span class="eui-sr-only">Toggle Processing Level</span>
    </div>
  </div>
  <div class="eui-accordion__body">
    <!-- Processing Level [r] -->
    <div class="grid-row">
      <div class="grid-row sub-fields">
        <div class="processing-level-fields">
          <div class="grid-col-6">
            <% processing_level = draft.draft['ProcessingLevel'] || {} %>
            <%= mmt_select(
              name: 'id',
              title: 'ID',
              prefix: 'draft_|processing_level|_',
              value: processing_level['Id'],
              options: DraftsHelper::ProcessingLevelIdOptions,
              help: 'definitions/ProcessingLevelType/properties/Id',
              always_required: true,
              classes: 'mmt-fake-enum'
            ) %>
          </div>
          <div class="grid-col-6">
            <%= mmt_text_field(
              name: 'processing_level_description',
              title: 'Processing Level Description',
              prefix: 'draft_|processing_level|_',
              value: processing_level['ProcessingLevelDescription'],
              help: 'definitions/ProcessingLevelType/properties/ProcessingLevelDescription',
              validate: true
             ) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>

<fieldset class="eui-accordion is-closed" id="collection-progress">
  <div class="eui-accordion__header">
    <h3 class="eui-accordion__title eui-required-o always-required">Collection Progress</h3>
    <%= mmt_help_icon(
      title: 'Collection Progress',
      help: 'properties/CollectionProgress'
    ) %>
    <div class="eui-accordion__icon" tabindex="0">
      <i class="eui-icon eui-fa-chevron-circle-down"></i>
      <span class="eui-sr-only">Toggle Collection Progress</span>
    </div>
  </div>
  <div class="eui-accordion__body">
    <!-- Collection Progress -->
    <div class="grid-row">
      <div class="col-12">
        <%= mmt_select(
          name: 'collection_progress',
          title: 'Collection Progress',
          prefix: 'draft_',
          value: draft.draft['CollectionProgress'],
          options: DraftsHelper::CollectionProgressOptions,
          help: 'properties/CollectionProgress',
          always_required: true
        ) %>
      </div>
    </div>
  </div>
</fieldset>

<fieldset class="eui-accordion is-closed" id="quality">
  <div class="eui-accordion__header">
    <h3 class="eui-accordion__title">Quality</h3>
    <%= mmt_help_icon(
      title: 'Quality',
      help: 'properties/Quality',
      help_url: 'Quality'
    ) %>
    <div class="eui-accordion__icon" tabindex="0">
      <i class="eui-icon eui-fa-chevron-circle-down"></i>
      <span class="eui-sr-only">Toggle Quality</span>
    </div>
  </div>
  <div class="eui-accordion__body">
    <!-- Quality -->
    <div class="grid-row">
      <div class="col-12">
        <%= mmt_text_area(
          name: 'quality',
          title: 'Quality',
          prefix: 'draft_',
          value: draft.draft['Quality'],
          help: 'properties/Quality',
          help_url: 'Quality',
          validate: true
         ) %>
      </div>
    </div>
  </div>
</fieldset>

<fieldset class="eui-accordion is-closed" id="use-constraints">
  <div class="eui-accordion__header">
    <h3 class="eui-accordion__title">Use Constraints</h3>
    <%= mmt_help_icon(
      title: 'Use Constraints',
      help: 'properties/UseConstraints',
      help_url: 'Use+Constraints'
    ) %>
    <div class="eui-accordion__icon" tabindex="0">
      <i class="eui-icon eui-fa-chevron-circle-down"></i>
      <span class="eui-sr-only">Toggle Use Constraints</span>
    </div>
  </div>
  <div class="eui-accordion__body">
    <!-- Use Constraints -->
    <div class="grid-row">
      <div class="col-12">
        <%= render partial: 'collection_drafts/forms/type', locals: {
            type: 'use_constraints',
            values: draft.draft['UseConstraints'] || {},
            name_prefix: 'draft_|use_constraints|_',
            multiple: false } %>
      </div>
    </div>
  </div>
</fieldset>

<fieldset class="eui-accordion is-closed" id="access-constraints">
  <div class="eui-accordion__header">
    <h3 class="eui-accordion__title">Access Constraints</h3>
    <%= mmt_help_icon(
      title: 'Access Constraints',
      help: 'properties/AccessConstraints',
      help_url: 'Access+Constraints'
    ) %>
    <div class="eui-accordion__icon" tabindex="0">
      <i class="eui-icon eui-fa-chevron-circle-down"></i>
      <span class="eui-sr-only">Toggle Access Constraints</span>
    </div>
  </div>
  <div class="eui-accordion__body">
    <!-- Access Constraints -->
    <div class="grid-row access-constraints">
      <div class="col-12">
        <div class="grid-row sub-fields">
          <% access_constraints = draft.draft['AccessConstraints'] || {} %>

          <!-- Value -->
          <%= mmt_text_field(
            name: 'value',
            title: 'Value',
            prefix: 'draft_|access_constraints|_',
            value: access_constraints['Value'],
            help: 'definitions/AccessConstraintsType/properties/Value',
            validate: true,
            classes: 'mmt-number'
           ) %>

          <!-- Description -->
          <%= mmt_text_area(
            name: 'description',
            title: 'Description',
            prefix: 'draft_|access_constraints|_',
            value: access_constraints['Description'],
            help: 'definitions/AccessConstraintsType/properties/Description',
            validate: true
           ) %>
        </div>
      </div>
    </div>
  </div>
</fieldset>

<fieldset class="eui-accordion is-closed" id="metadata-associations">
  <div class="eui-accordion__header">
    <h3 class="eui-accordion__title">Metadata Associations</h3>
    <%= mmt_help_icon(
      title: 'Metadata Associations',
      help: 'properties/MetadataAssociations'
    ) %>
    <div class="eui-accordion__icon" tabindex="0">
      <i class="eui-icon eui-fa-chevron-circle-down"></i>
      <span class="eui-sr-only">Toggle Metadata Associations</span>
    </div>
  </div>
  <div class="eui-accordion__body">
    <!-- Metadata Association -->
    <div class="grid-row">
      <div class="col-12">
        <div class="grid-row sub-fields">
          <%= render partial: 'collection_drafts/forms/type', locals: {
              type: 'metadata_association',
              values: draft.draft['MetadataAssociations'] || [{}],
              name_prefix: "draft_|metadata_associations|_",
              multiple: true,
              options: {} } %>
        </div>
      </div>
    </div>
  </div>
</fieldset>

<fieldset class="eui-accordion is-closed" id="publication-references">
  <div class="eui-accordion__header">
    <h3 class="eui-accordion__title">Publication References</h3>
    <%= mmt_help_icon(
      title: 'Publication References',
      help: 'properties/PublicationReferences'
    ) %>
    <div class="eui-accordion__icon" tabindex="0">
      <i class="eui-icon eui-fa-chevron-circle-down"></i>
      <span class="eui-sr-only">Toggle Publication References</span>
    </div>
  </div>
  <div class="eui-accordion__body">
    <!-- Publication Reference -->
    <div class="grid-row">
      <div class="col-12">
        <div class="grid-row sub-fields">
          <%= render partial: 'collection_drafts/forms/type', locals: {
              type: 'publication_reference',
              values: draft.draft['PublicationReferences'] || [{}],
              name_prefix: "draft_|publication_references|_",
              multiple: true,
              options: {} } %>
        </div>
      </div>
    </div>
  </div>
</fieldset>
