<!-- ScienceKeyword [r] -->
<fieldset class="eui-accordion is-closed" id="science-keywords">
  <div class="eui-accordion__header">
    <h3 class="eui-accordion__title eui-required-o always-required">Science Keywords</h3>
    <%= mmt_help_icon(
      title: 'Science Keywords',
      help: 'properties/ScienceKeywords',
      help_url: 'Science+Keywords'
    ) %>
    <div class="eui-accordion__icon" tabindex="0">
      <i class="eui-icon eui-fa-chevron-circle-down"></i>
      <span class="eui-sr-only">Toggle Science Keywords</span>
    </div>
  </div>
  <div class="eui-accordion__body">
    <div class="grid-row taller">
      <div class="col-12">
        <div class="grid-row sub-fields">
          <div class="selected-science-keywords science-keywords">
            <% unless @keyword_recommendations.blank? %>
              <div class="eui-info-box">
                <strong><i class="eui-icon eui-fa-question-circle"></i> Recommended Keywords</strong>
                <p>
                  Based on your Abstract, the MMT automatically suggests recommended keywords <span class="eui-badge--sm recommended-science-keywords">Recommended</span> for your collection. To associate a recommended keyword to your collection, click the <i class="fa fa-plus-circle"></i> icon next to the keyword. Once associated to the collection, the keyword will display a green check <i class="fa fa-check-square"></i>. To remove a keyword once it’s been associated, click the <i class="fa fa-times-circle"></i> icon next to the keyword.
                </p>
              </div>
            <% end %>

            <ul>
              <% science_keywords = draft.draft['ScienceKeywords'] || [] %>
              <% selected_keywords_index = 0 %>
              <% science_keywords.each_with_index do |science_keyword, index| %>
                <li>
                  <%= keyword_string(science_keyword) %>
                  <a class="remove">
                    <i class="fa fa-times-circle"></i>
                    <span class="is-invisible">Remove <%= keyword_string(science_keyword) %></span>
                  </a>

                  <%= hidden_field_tag("draft[science_keywords][#{index}][category]", science_keyword.fetch('Category', '')) %>
                  <%= hidden_field_tag("draft[science_keywords][#{index}][topic]", science_keyword.fetch('Topic', '')) %>
                  <%= hidden_field_tag("draft[science_keywords][#{index}][term]", science_keyword.fetch('Term', '')) %>
                  <%= hidden_field_tag("draft[science_keywords][#{index}][variable_level_1]", science_keyword.fetch('VariableLevel1', '')) %>
                  <%= hidden_field_tag("draft[science_keywords][#{index}][variable_level_2]", science_keyword.fetch('VariableLevel2', '')) %>
                  <%= hidden_field_tag("draft[science_keywords][#{index}][variable_level_3]", science_keyword.fetch('VariableLevel3', '')) %>
                  <%= hidden_field_tag("draft[science_keywords][#{index}][detailed_variable]", science_keyword.fetch('DetailedVariable', '')) %>
                </li>
                <% selected_keywords_index += 1 %>
              <% end %>

              <% unless @keyword_recommendations.blank? %>
                <% @keyword_recommendations.each_with_index do |recommended_keyword, recommendation_index| %>
                  <li id="<%= keyword_recommendation_string(recommended_keyword) %>">
                    <%= keyword_recommendation_string(recommended_keyword) %>
                    <span class="eui-badge--sm recommended-science-keywords"> Recommended</span>
                    <span class="checked-recommendation" hidden><i class="fa fa-check-square"></i></span>
                    <a class="remove-recommendation" hidden>
                      <i class="fa fa-times-circle"></i>
                      <span class="is-invisible">Remove <%= keyword_recommendation_string(recommended_keyword) %></span>
                    </a>
                    <a class="accept-recommendation">
                      <i class="fa fa-plus-circle"></i>
                      <span class="is-invisible">Accept <%= keyword_recommendation_string(recommended_keyword) %></span>
                    </a>
                    <% science_keyword_fields = ['category', 'topic', 'term', 'variable_level_1', 'variable_level_2', 'variable_level_3', 'detailed_variable'] %>
                    <% keyword_recommendation_array(recommended_keyword).each_with_index do |keyword_part, keyword_part_index| %>
                      <%= hidden_field_tag("draft[science_keywords][#{selected_keywords_index + recommendation_index}][#{science_keyword_fields[keyword_part_index]}]", keyword_part) %>
                    <% end %>
                    <%= hidden_field_tag("keyword_uuid[#{recommended_keyword}]", @keyword_uuids[recommended_keyword]) %>
                  </li>
                <% end %>

                <%= hidden_field_tag("gkr_request_id", @gkr_request_id) %>
                <%= hidden_field_tag('recommended_keywords_viewed', false, id: 'recommended-keywords-viewed') %>
                <%= hidden_field_tag("recommended_keyword_list", keyword_recommendation_list(@recommended_keywords)) %>
                <%= hidden_field_tag("accepted_recommended_keywords", '') %>
                <%= hidden_field_tag("keyword_recommendations", keyword_recommendation_list(@keyword_recommendations)) %>
              <% end %>
            </ul>
            <p><%= hidden_field_tag("draft[science_keywords][#{Time.now.to_i}]", "") %></p>
          </div>
          <div class="eui-nested-item-picker">
            <ul class="eui-item-path">
              <li class="list-title">
                <a href="javascript:void(0);">Science Keyword</a>
              </li>
            </ul>
            <div class="eui-item-list-pane">
              <ul>
                <li>
                  <%= text_field_tag 'science-keyword-search', nil, name: nil, class: 'typeahead', placeholder: 'Search for keywords...' %>
                </li>
              </ul>
            </div>
          </div>
          <div class="actions">
            <button type="button" class="eui-btn--blue add-science-keyword" disabled><i class="fa fa-plus-circle"></i> Add Keyword</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>

<!-- AncillaryKeyword -->
<fieldset class="eui-accordion is-closed" id="ancillary-keywords">
  <div class="eui-accordion__header">
    <h3 class="eui-accordion__title">Ancillary Keywords</h3>
    <%= mmt_help_icon(
      title: 'Ancillary Keywords',
      help: 'properties/AncillaryKeywords',
      help_url: 'Ancillary+Keywords'
    ) %>
    <div class="eui-accordion__icon" tabindex="0">
      <i class="eui-icon eui-fa-chevron-circle-down"></i>
      <span class="eui-sr-only">Toggle Ancillary Keywords</span>
    </div>
  </div>
  <div class="eui-accordion__body">
    <div class="grid-row taller">
      <div class="col-12">
        <%= mmt_label(
          name: 'ancillary_keywords_',
          title: 'Ancillary Keywords',
          prefix: 'draft_'
        ) %>
        <%= mmt_help_icon(
          title: 'Ancillary Keywords',
          help: 'properties/AncillaryKeywords',
          help_url: 'Ancillary+Keywords'
        ) %>
        <div class="grid-row">
          <% ancillary_keywords = draft.draft['AncillaryKeywords'] || [nil] # [nil] creates at least one field %>
          <div class="multiple simple-multiple ancillary-keywords">
            <% ancillary_keywords.each_with_index do |ancillary_keyword, index| %>
              <div class="multiple-item multiple-item-<%= index %>">
                <!-- does this need to implement mmt_text_field ? -->
                <%= text_field_tag(name_to_param("draft_|ancillary_keywords|_#{index}"), ancillary_keyword, class: 'half-width ancillary-keyword simple-multiple-field validate', data: { level: 'draft_' }) %>
                <a class="remove">
                  <i class="fa fa-times-circle"></i>
                  <span class="is-invisible">Remove <%= ancillary_keyword %></span>
                </a>
                <div class="actions">
                  <button type="button" class="eui-btn--blue add-new new-simple"><i class="fa fa-plus-circle"></i> Add another Ancillary Keyword</button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>

<!-- AdditionalAttribute -->
<fieldset class="eui-accordion is-closed" id="additional-attributes">
  <div class="eui-accordion__header">
    <h3 class="eui-accordion__title">Additional Attributes</h3>
    <%= mmt_help_icon(
      title: 'Additional Attributes',
      help: 'properties/AdditionalAttributes'
    ) %>
    <div class="eui-accordion__icon" tabindex="0">
      <i class="eui-icon eui-fa-chevron-circle-down"></i>
      <span class="eui-sr-only">Toggle Additional Attributes</span>
    </div>
  </div>
  <div class="eui-accordion__body">
    <div class="grid-row taller">
      <div class="col-12">
        <%= mmt_label(
          name: 'additional_attribute',
          title: 'Additional Attributes',
          help: 'definitions/AdditionalAttributeType/properties/Name',
          prefix: 'draft_'
        ) %>
        <%= mmt_help_icon(
          title: 'Additional Attributes',
          help: 'properties/AdditionalAttributes'
        ) %>
        <%= render partial: 'collection_drafts/forms/type', locals: {
            type: 'additional_attribute',
            values: draft.draft['AdditionalAttributes'] || [{}],
            name_prefix: 'draft_|additional_attributes|_',
            multiple: true,
            options: {} } %>
      </div>
    </div>
  </div>
</fieldset>

<!-- Setup Science Keywords & and pass regex for validation of Value and Data Type fields -->
<script type="text/javascript">
  setupScienceKeywords(<%= raw @science_keywords.to_json %>);

  var floatRegexString = "<%= Regexp.quote  CollectionDraftsController::FLOAT_REGEX %>";
  var intRegexString = "<%= Regexp.quote CollectionDraftsController::INT_REGEX %>";
  var dateRegexString = "<%= Regexp.quote CollectionDraftsController::DATE_REGEX %>";
  var timeRegexString = "<%= Regexp.quote CollectionDraftsController::TIME_REGEX %>";
  var dateTimeRegexString = "<%= Regexp.quote CollectionDraftsController::DATETIME_REGEX %>";
  var boolRegexString = "<%= Regexp.quote CollectionDraftsController::BOOL_REGEX %>";
</script>
