<div class="grid-row align-c metadata-cta nav-<%= location %>">
  <div class="grid-col-2">
    <%= submit_tag 'Previous', class: 'eui-btn save-form' %>
  </div>

  <div class="grid-col-5 form-nav">
    <label for="next-section-<%= location %>">Save &amp; Jump To: </label>

    <%= select_tag 'next_section', options_for_select(unpublished_resource_forms.map{|form| [titleize_form_name(form), form]}, unpublished_resource_form), class: 'next-section', id: "next-section-#{location}" %>
  </div>

  <div class="grid-col-2">
    <%= submit_tag 'Next', class: 'eui-btn save-form' %>
  </div>

  <div class="grid-col-3">
    <%= submit_tag 'Save', class: 'eui-btn save-form' %>
    <%= submit_tag 'Done', class: 'eui-btn--blue save-form' %>
    <% if unpublished_resource.new_record? %>
      <%= link_to 'Cancel', send("new_#{resource_name}_path"), class: 'cancel' %>
    <% else %>
      <%= link_to 'Cancel', send("#{resource_name}_path", unpublished_resource), class: 'cancel' %>
    <% end %>
    <p class="update-timestamp">
      <% unless unpublished_resource.new_record? %>
        Last saved <%= unpublished_resource.updated_at.in_time_zone('Eastern Time (US & Canada)').to_fs(:default_with_time_zone) %>
      <% end %>
    </p>
  </div>
</div>
