<!-- Metadata language -->
<fieldset class="eui-accordion is-closed" id="metadata-language">
  <div class="eui-accordion__header">
    <h3 class="eui-accordion__title">Metadata Language</h3>
    <%= mmt_help_icon(
      title: 'Metadata Language',
      help: 'properties/MetadataLanguage',
      help_url: 'Metadata+Language'
    ) %>
    <div class="eui-accordion__icon" tabindex="0">
      <i class="eui-icon eui-fa-chevron-circle-down"></i>
      <span class="eui-sr-only">Toggle Metadata Language</span>
    </div>
  </div>
  <div class="eui-accordion__body">
    <div class="row taller">
      <div class="col-12">
        <%= mmt_select(
          name: 'metadata_language',
          title: 'Metadata Language',
          prefix: 'draft_',
          value: draft.draft['MetadataLanguage'],
          options: @language_codes,
          help: 'properties/MetadataLanguage',
          help_url: 'Metadata+Language',
          classes: 'mmt-fake-enum'
        ) %>
      </div>
    </div>
  </div>
</fieldset>

<!-- Metadata Dates -->
<fieldset class="eui-accordion is-closed" id="metadata-dates">
  <div class="eui-accordion__header">
    <h3 class="eui-accordion__title">Metadata Dates</h3>
    <%= mmt_help_icon(
      title: 'Metadata Dates',
      help: 'properties/MetadataDates',
      help_url: 'Metadata+Dates'
    ) %>
    <div class="eui-accordion__icon" tabindex="0">
      <i class="eui-icon eui-fa-chevron-circle-down"></i>
      <h3><span class="eui-sr-only">Toggle Metadata Dates</span></h3>
    </div>
  </div>
  <div class="eui-accordion__body">
    <div class="row">
      <div class="col-12">
        <div class="row sub-fields">
          <%= render partial: 'collection_drafts/forms/type', locals: {
              type: 'date',
              values: editable_metadata_dates(draft.draft) || [{}],
              name_prefix: 'draft_|metadata_dates|_',
              multiple: true,
              options: { metadata_date: true }
              } %>
          <%= hidden_metadata_date_fields(draft.draft) %>
        </div>
      </div>
    </div>
  </div>
</fieldset>

<!-- DirectoryNames -->

<!-- fieldset class="eui-accordion is-closed" id="directory-names">
  <div class="eui-accordion__header">
    <h3 class="eui-accordion__title">Directory Names</h3>
    < %= mmt_help_icon(
      title: 'Directory Names',
      help: 'properties/DirectoryNames',
      help_url: 'Directory+Name'
    ) %>
    <div class="eui-accordion__icon" tabindex="0">
      <i class="eui-icon eui-fa-chevron-circle-down"></i>
      <span class="eui-sr-only">Toggle Directory Names</span>
    </div>
  </div>
  <div class="eui-accordion__body">
    <div class="row">
      <div class="col-12">
        <div class="row sub-fields">
          < %= render partial: 'collection_drafts/forms/type', locals: {
              type: 'directory_name',
              values: draft.draft['DirectoryNames'] || [{}],
              name_prefix: 'draft_|directory_names|_',
              multiple: true,
              options: {} } %>
        </div>
      </div>
    </div>
  </div>
</fieldset -->
