<!-- Spatial Extent [r] -->
<fieldset class="eui-accordion is-closed" id="spatial-extent">
  <div class="eui-accordion__header">
    <h3 class="eui-accordion__title eui-required-o always-required">Spatial Extent</h3>
    <%= mmt_help_icon(
      title: 'Spatial Extent',
      help: 'definitions/SpatialExtentType',
      help_url: 'Spatial+Extent'
    ) %>
    <div class="eui-accordion__icon" tabindex="0">
      <i class="eui-icon eui-fa-chevron-circle-down"></i>
      <span class="eui-sr-only">Toggle Spatial Extent</span>
    </div>
  </div>
  <div class="eui-accordion__body">
    <div class="row">
      <div class="col-12">
        <%= render partial: 'collection_drafts/forms/type', locals: {
            type: 'spatial_extent',
            values: draft.draft['SpatialExtent'] || {},
            name_prefix: 'draft_|spatial_extent|_',
            multiple: false,
            options: {} } %>
      </div>
    </div>
  </div>
</fieldset>

<!-- Tiling Identification Systems -->
<fieldset class="eui-accordion is-closed" id="tiling-identification-system">
  <div class="eui-accordion__header">
    <h3 class="eui-accordion__title">Tiling Identification Systems</h3>
    <%= mmt_help_icon(
      title: 'Tiling Identification Systems',
      help: 'properties/TilingIdentificationSystems',
      help_url: 'Tiling+Identification+System'
    ) %>
    <div class="eui-accordion__icon" tabindex="0">
      <i class="eui-icon eui-fa-chevron-circle-down"></i>
      <span class="eui-sr-only">Toggle Tiling Identification Systems</span>
    </div>
  </div>
  <div class="eui-accordion__body">
    <div class="row">
      <div class="col-12">
        <%= render partial: 'collection_drafts/forms/type', locals: {
            type: 'tiling_identification_system',
            values: draft.draft['TilingIdentificationSystems'] || [{}],
            name_prefix: 'draft_|tiling_identification_systems|_',
            multiple: true,
            options: {} } %>
      </div>
    </div>
  </div>
</fieldset>

<!-- Spatial Representation Information -->
<fieldset class="eui-accordion is-closed" id="spatial-representation-information">
  <div class="eui-accordion__header">
    <h3 class="eui-accordion__title">Spatial Representation Information</h3>
    <%= mmt_help_icon(
      title: 'Spatial Representation Information',
      help: 'definitions/SpatialInformationType'
    ) %>
    <div class="eui-accordion__icon" tabindex="0">
      <i class="eui-icon eui-fa-chevron-circle-down"></i>
      <span class="eui-sr-only">Toggle Spatial Representation Information</span>
    </div>
  </div>
  <div class="eui-accordion__body">
    <div class="row">
      <div class="col-12">
        <%= mmt_label(
          name: 'spatial_information',
          title: 'Spatial Representation Information',
          prefix: 'draft_'
        ) %>
        <%= mmt_help_icon(
          title: 'Spatial Representation Information',
          help: 'definitions/SpatialInformationType'
        ) %>
        <%= render partial: 'collection_drafts/forms/type', locals: {
            type: 'spatial_information',
            values: draft.draft['SpatialInformation'] || {},
            name_prefix: 'draft_|spatial_information|_',
            multiple: false,
            options: {} } %>
      </div>
    </div>
  </div>
</fieldset>

<!-- Location Keywords -->
<fieldset class="eui-accordion is-closed" id="location-keywords">
  <div class="eui-accordion__header">
    <h3 class="eui-accordion__title">Location Keywords</h3>
    <%= mmt_help_icon(
      title: 'Location Keywords',
      help: 'properties/LocationKeywords'
    ) %>
    <div class="eui-accordion__icon" tabindex="0">
      <i class="eui-icon eui-fa-chevron-circle-down"></i>
      <span class="eui-sr-only">Toggle Location Keywords</span>
    </div>
  </div>
  <div class="eui-accordion__body">
    <div class="row">
      <div class="col-12">
        <div class="row sub-fields">
          <div class="selected-location-keywords location-keywords">
            <ul>
              <% location_keywords = draft.draft['LocationKeywords'] || [] %>
              <% location_keywords.each_with_index do |location_keyword, index| %>
                <li>
                  <%= keyword_string(location_keyword) %>
                  <a class="remove">
                    <i class="fa fa-times-circle"></i>
                    <span class="is-invisible">Remove <%= keyword_string(location_keyword) %></span>
                  </a>
                  <%= hidden_field_tag("draft[location_keywords][#{index}][category]", location_keyword.fetch('Category', '')) %>
                  <%= hidden_field_tag("draft[location_keywords][#{index}][type]", location_keyword.fetch('Type', '')) %>
                  <%= hidden_field_tag("draft[location_keywords][#{index}][subregion_1]", location_keyword.fetch('Subregion1', '')) %>
                  <%= hidden_field_tag("draft[location_keywords][#{index}][subregion_2]", location_keyword.fetch('Subregion2', '')) %>
                  <%= hidden_field_tag("draft[location_keywords][#{index}][subregion_3]", location_keyword.fetch('Subregion3', '')) %>
                  <%= hidden_field_tag("draft[location_keywords][#{index}][detailed_location]", location_keyword.fetch('DetailedLocation', '')) %>
                </li>
              <% end %>
            </ul>
            <p><%= hidden_field_tag("draft[location_keywords][#{Time.now.to_i}]", "") %></p>
          </div>
          <div class="eui-nested-item-picker">
            <ul class="eui-item-path">
              <li class="list-title"><a href="javascript:void(0);">Location Keyword</a></li>
            </ul>
            <div class="eui-item-list-pane">
              <ul>
                <li>
                  <%= text_field_tag 'location-keyword-search', nil, name: nil, class: 'typeahead', placeholder: 'Search for keywords...' %>
                </li>
              </ul>
            </div>
          </div>
          <div class="actions">
            <button type="button" class="eui-btn--blue add-location-keyword" disabled><i class="fa fa-plus-circle"></i> Add Keyword</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>

<!-- Setup Location Keywords -->
<script type="text/javascript">
  setupLocationKeywords(<%= raw @location_keywords.to_json %>);
</script>
