<fieldset class="eui-accordion is-closed" id="temporal-extents">
  <!-- Temporal Extent [r] -->
  <div class="eui-accordion__header">
    <h3 class="eui-accordion__title eui-required-o always-required">Temporal Extents</h3>
    <%= mmt_help_icon(
      title: 'Temporal Extents',
      help: 'properties/TemporalExtents',
      help_url: 'Temporal+Extent'
    ) %>
    <div class="eui-accordion__icon" tabindex="0">
      <i class="eui-icon eui-fa-chevron-circle-down"></i>
      <span class="eui-sr-only">Toggle Temporal Extents</span>
    </div>
  </div>
  <div class="eui-accordion__body">
    <div class="grid-row">
      <div class="col-12">
        <div class="grid-row sub-fields">
          <%= render partial: 'collection_drafts/forms/type', locals: {
              type: 'temporal_extent',
              values: draft.draft['TemporalExtents'] || [{}],
              name_prefix: 'draft_|temporal_extents|_',
              multiple: true,
              options: {} } %>
        </div>
      </div>
    </div>
  </div>
</fieldset>

<fieldset class="eui-accordion is-closed" id="temporal-keywords">
  <!-- Temporal Keywords -->
  <div class="eui-accordion__header">
    <h3 class="eui-accordion__title">Temporal Keywords</h3>
    <%= mmt_help_icon(
      title: 'Temporal Keywords',
      help: 'properties/TemporalKeywords'
    ) %>
    <div class="eui-accordion__icon" tabindex="0">
      <i class="eui-icon eui-fa-chevron-circle-down"></i>
      <span class="eui-sr-only">Toggle Temporal Keywords</span>
    </div>
  </div>
  <div class="eui-accordion__body">
    <div class="grid-row">
      <div class="col-12">
        <%= mmt_select(
          name: 'temporal_keywords',
          title: 'Temporal Keywords',
          prefix: 'draft_',
          value: draft.draft['TemporalKeywords'],
          options: @temporal_keywords,
          help: 'properties/TemporalKeywords',
          multiple: true,
          classes: 'mmt-fake-enum multi-select'
        ) %>
      </div>
    </div>
  </div>
</fieldset>

<fieldset class="eui-accordion is-closed" id="paleo-temporal-coverage">
  <div class="eui-accordion__header">
    <h3 class="eui-accordion__title">Paleo Temporal Coverage</h3>
    <%= mmt_help_icon(
      title: 'Paleo Temporal Coverages',
      help: 'properties/PaleoTemporalCoverages'
    ) %>
    <div class="eui-accordion__icon" tabindex="0">
      <i class="eui-icon eui-fa-chevron-circle-down"></i>
      <span class="eui-sr-only">Toggle Paleo Temporal Coverage</span>
    </div>
  </div>
  <div class="eui-accordion__body">
    <!-- Paleo Temporal Coverages -->
    <div class="grid-row">
      <div class="col-12">
        <div class="grid-row sub-fields">
          <%= render partial: 'collection_drafts/forms/type', locals: {
              type: 'paleo_temporal_coverage',
              values: draft.draft['PaleoTemporalCoverages'] || [{}],
              name_prefix: 'draft_|paleo_temporal_coverages|_',
              multiple: true,
              options: {} } %>
        </div>
      </div>
    </div>
  </div>
</fieldset>
