<% options = {} unless options %>
<% show_preview = options[:show_preview] ? true : false %>
<% title = (options[:title] || type.titleize).singularize %>
<% title = options[:related_url_title].singularize if type == 'related_url' %>
<% title = options[:associated_doi_title].singularize if type == 'associated_doi' %>
<% options[:required_level] += 1 if options[:required_level] %>

<% if multiple %>
  <div id="<%= remove_pipes(name_prefix).gsub(/_$/, '') %>" class="multiple <%= (options[:type] || type.pluralize).dasherize %>">
    <% values.each_with_index do |value, index| %>
      <div id="<%= remove_pipes(name_prefix).gsub(/_$/, '') + "_#{index}" %>" class="multiple-item multiple-item-<%= index %> eui-accordion <%= 'is-closed' unless value == values.last %>">
        <div class="eui-accordion__header">
          <div class="eui-accordion__icon" tabindex="0">
            <i class="eui-icon eui-fa-chevron-circle-down"></i>
            <span class="eui-sr-only">
              Toggle <%= title %> <%= index + 1 %>
            </span>
          </div>
          <span class="header-title">
            <%= title %>
            <%= index + 1 %>
          </span>
          <div class="actions">
            <a class="remove">
              <i class="fa fa-times-circle"></i>
              <span class="is-invisible">Remove <%= title %></span>
            </a>
          </div>
        </div>
        <div class="eui-accordion__body">
          <%= render partial: "collection_drafts/forms/fields/#{type}_fields", locals: {
              type.to_sym => value,
              name_prefix: "#{name_prefix}#{index}_",
              options: options.clone } %>
          <% if show_preview %>
            <%= link_to edsc_map_path, class: 'spatial-preview-link', target: '_blank' do %>
              <i class="eui-icon eui-fa-globe"></i> Preview on Map
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="actions">
      <button type="button" class="eui-btn--blue add-new add-another-<%= title.downcase.gsub(' ', '-') =%>">
        <i class="fa fa-plus-circle"></i>
        Add another <%= title %>
      </button>
    </div>
  </div>
<% else %>
  <div id="<%= remove_pipes(name_prefix).gsub(/_$/, '') %>" class="<%= (options[:type] || type).dasherize %>">
    <%= render partial: "collection_drafts/forms/fields/#{type}_fields", locals: {
        type.to_sym => values,
        name_prefix: "#{name_prefix}",
        options: options.clone } %>
  </div>
<% end %>
