<main class="dashboard" role="main">
  <article class="row-content flex-row--start" role="article">
    <section class="eui-callout-box">
      <div class="eui-callout-box-content">
        <h3 class="eui-callout-box__title">Provider Information</h3>
        <p><%= link_to 'Holdings Report', provider_holdings_path %></p>
      </div>
    </section>

    <section class="eui-callout-box">
      <div class="eui-callout-box-content">
        <h3 class="eui-callout-box__title">Permissions &amp; Groups</h3>
        <% if @user_is_system_acl_admin %>
          <!-- show this link if user has all system ANY_ACL permissions -->
          <p><%= link_to 'System Object Permissions', system_identity_permissions_path %></p>
        <% end %>
        <% if @user_is_current_provider_acl_admin || @user_is_system_acl_admin %>
          <!-- show this link if user has all PROVIDER_OBJECT_ACL permissions for current provider -->
          <p><%= link_to 'Provider Object Permissions', provider_identity_permissions_path %></p>
        <% end %>
        <p><%= link_to 'Collection Permissions', permissions_path %></p>
        <p><%= link_to 'Groups', groups_path %></p>
      </div>
    </section>

    <section class="eui-callout-box">
      <div class="eui-callout-box-content">
        <h3 class="eui-callout-box__title">Orders</h3>
        <p><%= link_to 'Order Policies', order_policies_path %></p>
        <p><%= link_to 'Track Orders', orders_path %></p>
        <p><%= link_to 'View Order Options', order_options_path %></p>
        <p><%= link_to 'Create an Order Option', new_order_option_path %></p>
        <p><%= link_to 'View Order Option Assignments', order_option_assignments_path %></p>
        <p><%= link_to 'Create an Order Option Assignment', new_order_option_assignment_path %></p>
      </div>
    </section>
  </article>

  <article class="row-content flex-row--start" role="article">
    <section class="eui-callout-box">
      <div class="eui-callout-box-content">
        <h3 class="eui-callout-box__title">Data Quality Summaries</h3>
        <p><%= link_to 'View Summaries', data_quality_summaries_path %></p>
        <p><%= link_to 'Create a Summary', new_data_quality_summary_path %></p>
        <p><%= link_to 'View Summary Assignments', data_quality_summary_assignments_path %></p>
        <p><%= link_to 'Create a Summary Assignment', new_data_quality_summary_assignments_path %></p>
      </div>
    </section>

    <section class="eui-callout-box">
      <div class="eui-callout-box-content">
        <h3 class="eui-callout-box__title">Service Management</h3>
        <p><%= link_to 'View Service Entries', service_entries_path %></p>
        <% if policy(:service_entry).create? %>
          <p><%= link_to 'Create a Service Entry', new_service_entry_path %></p>
        <% end %>
        <p><%= link_to 'View Service Options', service_options_path %></p>
        <p><%= link_to 'Create a Service Option', new_service_option_path %></p>
        <p><%= link_to 'View Service Option Assignments', service_option_assignments_path %></p>
        <% if policy(:service_option_assignment).create? %>
          <p><%= link_to 'Create a Service Option Assignment', new_service_option_assignments_path %></p>
        <% end %>
      </div>
    </section>

    <% if Rails.configuration.email_subscriptions_enabled %>
      <section class="eui-callout-box">
        <div class="eui-callout-box-content">
          <h3 class="eui-callout-box__title">Email Subscriptions</h3>
          <% if policy(:email_subscription).create? %>
            <p><%= link_to 'Create an Email Subscription', new_email_subscription_path %></p>
          <% end %>
        </div>
      </section>
    <% end %>
  </article>
</main>
