<h1 class="styled-heading"><%= "#{@short_name}_#{@version} #{@request_type.titleize}d" %></h1>

<div class="email-message">
  <p>
    <%= @user[:name] %>,
  </p>
<% env = Rails.configuration.cmr_env %>
<% if env.downcase != 'ops'%>
  <p>
    <%= "The collection metadata record #{@short_name}_#{@version} has been successfully #{@request_type == 'delete' ? "deleted from the CMR (#{env.upcase})" : "published to the CMR (#{env.upcase}). The collection's concept ID is #{@concept_id}."}" %>
  </p>
<% else %>
  <p>
    <%= "The collection metadata record #{@short_name}_#{@version} has been successfully #{@request_type == 'delete' ? 'deleted from the CMR' : "published to the CMR. The collection's concept ID is #{@concept_id}."}" %>
  </p>
<% end %>
  <% unless @request_type == 'delete' %>
    <div class="center">
      <%= link_to 'View Collection', collection_url(@concept_id, revision_id: @revision_id), class: 'btn btn-blue' %>
    </div>
  <% end %>
</div>

<div class="email-footer">
  <img src="https://cdn.earthdata.nasa.gov/eui/latest/docs/assets/ed-logos/meatball.png" alt="Meatball" class="image-center" />
</div>
