<h1 class="styled-heading"><%= "#{@short_name}_#{@version} Rejected" %></h1>


<div class="email-message">
  <p>
    <%= @user[:name] %>,
  </p>
  <p>
    <%= "The collection draft proposal #{@short_name}_#{@version} has been reviewed and rejected for the following reasons: '#{@rejected_reasons}'." %>
  </p>
  <p>
    <%= simple_format("Additional feedback was provided: '#{@rejected_note}'") %>
  </p>
  <div class="center">
    <%= link_to 'Revise and Resubmit Collection Metadata Proposal', collection_draft_proposal_url(@id), class: 'btn btn-blue' %>
  </div>
</div>

<div class="email-footer">
  <img src="https://cdn.earthdata.nasa.gov/eui/latest/docs/assets/ed-logos/meatball.png" alt="Meatball" class="image-center" />
</div>
