<div class="row row-content">
  <section>
    <h2>Edit <span class="provider-context"><%= current_user.provider_id %></span> Subscription</h2>

    <%= form_tag(subscription_path(@concept_id), method: :put, class: 'subscription-form edit-subscription-form') do %>
      <%= render partial: 'subscription_fields', locals: { edit_form: true } %>

      <fieldset>
        <%= submit_tag 'Submit', class: 'eui-btn--blue', id: 'update-subscription-submit' %>
        <%= link_to 'Cancel', :back, class: 'eui-btn' %>
        <%= link_to 'Test Subscription', '#test-subscription-modal', class: 'eui-btn display-modal test-subscription' %>
        <%= render partial: 'test_subscription_modal' %>
      </fieldset>
    <% end %>
  </section>
</div>
