<div class="grid_row row-content">
  <section>
    <h2><%= current_user.provider_id %> Subscriptions</h2>

    <% if policy(:subscription).create? %>
      <%= link_to 'Create a Subscription', new_subscription_path, class: 'eui-btn--blue space-bot' %>
    <% end %>

    <% if @subscriptions.any? %>
      <p><%= page_entries_info @subscriptions, entry_name: 'Subscription' %></p>
    <% end %>

    <p>
      <em><span class="fa fa-info-circle"></span> Subscription operations run periodically throughout each day. Email notifications are sent if new data matching your query is available.</em>
    </p>

    <table class="subscriptions-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Collection Concept Id</th>
          <th>Query</th>
          <th>Subscriber</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if @subscriptions.empty? %>
          <tr>
            <td colspan="4">No subscriptions found.</td>
          </tr>
        <% else %>
          <% @subscriptions.each_with_index do |subscription, index| %>
            <tr>
              <td class='wrapping-td'>
                <div class='wrapping-div'>
                  <%= link_to subscription['Name'], subscription_path(subscription['ConceptId']) %>
                </div>
              </td>
              <td><%= subscription['CollectionConceptId'] %></td>
              <td class='wrapping-td'>
                <div class='wrapping-div'>
                  <%= subscription['Query'].truncate(200) %>
                </div>
              </td>
              <td><%= subscription['SubscriberId'] %></td>
              <% if policy(:subscription).edit? %>
                <td><%= link_to 'Edit', edit_subscription_path(subscription['ConceptId']) %></td>
              <% end %>
              <% if policy(:subscription).destroy? %>
                <td>
                  <%= link_to 'Delete', "#delete-subscription-modal-#{index}", class: 'display-modal' %>
                  <div id="delete-subscription-modal-<%= index %>" class="eui-modal-content">
                    <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
                      <p>Are you sure you want to delete the subscription named '<%= subscription['Name'] %>'?</p>
                    <p>
                      <a href="javascript:void(0)" class="eui-btn modal-close">No</a>
                      <%= link_to 'Yes', subscription_path(subscription['ConceptId']), method: :delete, class: 'eui-btn--blue' %>
                    </p>
                  </div>
                </td>
              <% else %>
                <td></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <%= paginate @subscriptions if @subscriptions.any? %>
  </section>
</div>
