<div class="row row-content">
  <section>
    <h2><%= current_user.provider_id %> Subscriptions</h2>

    <%= link_to 'Create a Subscription', new_subscription_path, class: 'eui-btn--blue space-bot' %>

    <% if @subscriptions.any? %>
      <p><%= page_entries_info @subscriptions, entry_name: 'Subscription' %></p>
    <% end %>

    <table class="subscriptions-table">
      <thead>
        <tr>
          <th>Description</th>
          <th>Query</th>
          <th>Subscribers</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if @subscriptions.empty? %>
          <tr>
            <td colspan="4">No subscriptions found.</td>
          </tr>
        <% else %>
          <% @subscriptions.each_with_index do |subscription, index| %>
            <tr>
              <td>
                <%= subscription['description'] %>
              </td>
              <!-- TODO: need to put a limit or char cutoff for query? -->
              <td><%= subscription['metadata'] %></td>
              <td><%= subscription['email_address'] %></td>
              <!-- TODO: Update this path to the correct path -->
              <% if policy(:subscription).edit? %>
                <td><%= link_to 'Edit', subscriptions_path %></td>
              <% end %>
              <% if policy(:subscription).destroy? %>
                <td>
                  <%= link_to 'Delete', "#delete-subscription-modal-#{index}", class: 'display-modal' %>
                  <div id="delete-subscription-modal-<%= index %>" class="eui-modal-content">
                    <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
                      <p>Are you sure you want to delete the subscription named '<%= subscription['description'] %>'?</p>
                    <p>
                      <a href="javascript:void(0)" class="eui-btn modal-close">No</a>
                      <!-- TODO: Update this path to the correct path -->
                      <%= link_to 'Yes', subscriptions_path, class: 'eui-btn--blue' %>
                    </p>
                  </div>
                </td>
              <% else %>
                <td></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <%= paginate @subscriptions if @subscriptions.any? %>
  </section>
</div>
