<div class="row row-content">
  <section>
    <h2>New <span class="provider-context"><%= current_user.provider_id %></span> Subscription</h2>

    <%= form_tag(subscriptions_path, method: :post, class: 'subscription-form') do %>
      <%= render partial: 'subscriptions/forms/subscription_fields' %>

      <fieldset>
        <%= submit_tag 'Submit', class: 'eui-btn--blue', id: 'new-subscription-submit' %>
        <%= link_to 'Cancel', :back, class: 'eui-btn' %>
      </fieldset>
    <% end %>
  </section>
</div>
