<div class="row row-content">
  <section>
    <h2><%= @subscription.fetch('Name')%></h2>
    <p>Collection Concept ID: <%= @subscription.fetch('CollectionConceptId') %></p>
    <p>Query: <%= @subscription.fetch('Query') %></p>

    <h3>Subscriber</h3>
    <table class="space-top space-bot" id="subscriber">
      <thead>
        <tr>
          <th>Subscriber Name</th>
          <th>Email</th>
          <th>Earthdata Login Username</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="align-l"><%= @user %></td>
          <td class="align-l"><%= @subscription['EmailAddress'] %></td>
          <td class="align-l"><%= @subscription['SubscriberId'] %></td>
        </tr>
      </tbody>
    </table>
    <% if policy(:subscription).edit? %>
      <%= link_to 'Edit', edit_subscription_path(@subscription['id'], subscription: @subscription, native_id: @subscription['native_id']), class: 'eui-btn' %>
    <% end %>
    <% if policy(:subscription).destroy? %>
      <%= link_to 'Delete', '#delete-subscription-modal', class: 'display-modal eui-btn eui-btn--red' %>
      <div id='delete-subscription-modal' class="eui-modal-content">
        <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
        <p>Are you sure you want to delete this subscription?</p>
        <p>
          <a href="javascript:void(0)" class="eui-btn modal-close">No</a>
          <%= link_to 'Yes', subscription_path(@subscription['id'], subscription: @subscription, native_id: @subscription['native_id']), method: :delete, class: 'eui-btn--blue spinner' %>
        </p>
      </div>
    <% end %>
  </section>
</div>
