<div class="grid-row row-content">
  <section>
    <h2><%= @group.fetch('name', 'No Name') %> Provider Object Permissions for <%= current_user.provider_id %></h2>

    <%= form_tag(provider_identity_permission_path(@group_id), method: :put, class: 'provider-permissions-form') %>

      <p>
        Set permissions for the <%= @group.fetch('name', 'No Name') %> group by checking the appropriate boxes below and clicking 'Submit'.
      </p>
      <%= render partial: 'form' %>
  </section>
</div>
