<div class="grid-row row-content">
  <section>
    <h2><%= current_user.provider_id %> Bulk Updates</h2>

    <%= link_to 'Initiate a Bulk Update', new_bulk_updates_search_path, class: 'eui-btn--blue space-bot' %>

    <% if @bulk_updates.any? %>
      <p><%= page_entries_info @bulk_updates, entry_name: 'Bulk Updates' %></p>
    <% end %>

    <table class="bulk-updates-list-table">
      <thead>
        <tr>
          <th>Task Name</th>
          <th>Operation</th>
          <th>Status</th>
          <th>Message</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody>
        <% if @bulk_updates.blank? %>
          <tr>
            <td colspan="5">No <%= current_user.provider_id %> Bulk Updates found.</td>
          </tr>
        <% else %>
          <% @bulk_updates.each do |task| %>
            <tr>
              <td><%= link_to task['name'], bulk_update_path(task['task-id']) %></td>
              <td><%= task.fetch('update-type', '').titleize %> <%= task.fetch('update-field', '').titleize %></td>
              <td><%= task['status'] %></td>
              <td><%= task['status-message'] %></td>
              <td><%= DateTime.parse(task['created-at']).to_s %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <%= paginate @bulk_updates %>
  </section>
</div>
