<div class="grid_row row-content">
  <section>
    <h2>New <%= current_user.provider_id %> Bulk Update</h2>

    <%= form_tag(bulk_update_preview_path, method: :post, id: 'bulk-updates-form') do %>

      <% params[:selected_collections].each do |collection| %>
        <%= hidden_field_tag 'concept_ids[]', collection %>
      <% end %>

      <fieldset>
        <div class="grid_row grid-col-6">
          <%= label_tag('name', 'Name') %>
          <%= text_field_tag('name', @task[:name], id: 'bulk_update_name', class: 'full-width bulk-update-name textcounter', maxlength: 255) %>
        </div>
      </fieldset>

      <fieldset>
        <%= label_tag('update_field', 'Field to Update') %>
        <%= select_tag('update_field', options_for_select(BulkUpdatesHelper::UPDATEABLE_FIELDS, update_field_value(@task)), prompt: 'Select a Field to Update') %>
      </fieldset>

      <% BulkUpdatesHelper::UPDATEABLE_FIELDS.each do |field| %>
        <div id="bulk-update-form-<%= field[1] %>" class="bulk-update-partial <%= 'is-hidden' unless show_updateable_field(field[1], @task) %>">
          <%= render partial: "shared/bulk_updates/forms/#{field[1]}" %>
        </div>
      <% end %>

      <fieldset>
        <div class="grid_row">
        <%= submit_tag 'Preview', id: 'bulk-update-preview-button',class: 'eui-btn--blue' %>
        </div>
      </fieldset>
    <% end %>
  </section>
</div>
