<div class="row row-content">
  <section id="bulk-update-preview">
    <!-- Preview of the Bulk Update -->
    <h2>Preview of New <%= current_user.provider_id %> Bulk Update</h2>

    <h3>Bulk Update Operation</h3>
    <h4>Field to Update</h4>
    <p><%= @task['update-field'].titleize %></p>

    <h4>Update Type</h4>
    <p><%= @task['update-type'].titleize %></p>

    <% if @task['update-type'] == 'FIND_AND_REMOVE' || @task['update-type'] == 'FIND_AND_REPLACE' || @task['update-type'] == 'FIND_AND_UPDATE' %>
      <!-- Find Value -->
      <%= display_value_title(@task['update-type'], 'find') %>

      <%= send("display_#{@task['update-field'].singularize.downcase}", @task['find-value']) %>
    <% end %>

    <% unless @task['update-type'] == 'FIND_AND_REMOVE' %>
      <!-- Update Value -->
      <%= display_value_title(@task['update-type'], 'new') %>

      <%= send("display_#{@task['update-field'].singularize.downcase}", @task['update-value']) %>
    <% end %>

    <h4 class="space-top"><%= pluralize(@collections.count, 'Selected Collection') %></h4>
    <table class="bulk-update-preview-table bulk-update-preview-collections">
      <thead>
        <tr>
          <th>Collection</th>
          <th>Short Name</th>
          <th>Version</th>
        </tr>
      </thead>
      <tbody>
        <% if @collections.any? %>
          <% @collections.each do |collection| %>
            <tr>
              <td><%= link_to collection.fetch('umm', {})['entry-title'], collection_path(collection.fetch('meta', {})['concept-id']), class: 'ext', target: '_blank' %></td>
              <td><%= collection.fetch('umm', {})['short-name'] %></td>
              <td><%= collection.fetch('umm', {})['version-id'] %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="3">No collections listed.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>

  <section id="bulk-update-preview-submit">
    <!-- Form submitting data to create the bulk update -->
    <%= form_tag(bulk_updates_path, method: :post, id: 'bulk-update-preview-submit-form') do %>
      <% @task['concept-ids'].each do |collection| %>
        <%= hidden_field_tag 'concept_ids[]', collection %>
      <% end %>

      <%= hidden_field_tag 'update_field', @task['update-field'] %>
      <%= hidden_field_tag 'update_type', @task['update-type'], id: 'bulk-update-type' %>

      <%= render partial: "shared/bulk_updates/forms/preview_#{@task['update-field'].downcase}", locals: {
        value_type: 'find_value', value_hash: @task.fetch('find-value', {})
      } %>
      <%= render partial: "shared/bulk_updates/forms/preview_#{@task['update-field'].downcase}", locals: {
        value_type: 'update_value', value_hash: @task.fetch('update-value', {})
      } %>

      <%= submit_tag 'Submit', class: 'eui-btn--blue' %>
    <% end %>
  </section>
</div>
