<div class="row row-content">
  <section>
    <h2>
      Bulk Update <%= @task_id %>
      <span class="bulk-update-status eui-badge--sm"><%= @task.fetch('task-status') %></span>
    </h2>
    <p class="bulk-update-status-message"><%= @task.fetch('status-message', 'Status not retrieved') %></p>

  </section>

  <section>
    <% unless @task.fetch('collection-statuses', nil).blank? %>
      <h4>Bulk Update Errors</h4>
      <table class="space-top space-bot" id="bulk-update-errors-table">
        <thead>
          <tr>
            <th>Entry Title</th>
            <th>Short Name</th>
            <th>Version</th>
            <th>Status Message</th>
          </tr>
        </thead>

        <tbody>
          <% @task['collection-statuses'].each do |task_error| %>
            <tr>
              <!-- TODO: we are using concept ids for all collection information while
                   the endpoint is still returning dummy data. once there are real concept ids
                   we will populate with actual collection information -->
              <td><%= link_to task_error['concept-id'], collection_path(task_error['concept-id']) %></td>
              <td><%= task_error['concept-id'] %></td>
              <td><%= task_error['concept-id'] %></td>
              <td><%= task_error.fetch('status-message', 'Unknown') %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    <% end %>
  </section>
</div>
