<div class="grid_row row-content">
  <section>
    <h2> <%= @task['name'] %> </h2>

    <div class="grid_row">
      <div class="eui-info-box">
        <div class="grid-col-4 align-c">
          <h3>Status</h3>
          <p><%= @task.fetch('task-status', '').titleize %></p>
        </div>
        <div class="grid-col-4 align-c">
          <h3>Field to Update</h3>
          <p><%= @task.fetch('update-field', '').titleize %></p>
        </div>
        <div class="grid-col-4 align-c">
          <h3>Update Type</h3>
          <p><%= @task.fetch('update-type', '').titleize %></p>
        </div>
      </div>
    </div>

    <div class="grid_row">
      <h4>Created</h4>
      <% unless @task.blank? %>
        <p><%= DateTime.parse(@task['created-at']).to_s %></p>
      <% end %>
    </div>

    <div class="grid_row">
      <h4>Notes</h4>
      <p><%= @task['status-message'] %></p>
    </div>

    <% unless @task.blank? %>
      <div class="grid_row">
        <%= render partial: "shared/bulk_updates/display/#{@task.fetch('request-json-body', {}).fetch('update-field', '').downcase}", locals: { bulk_update: @task } %>
      </div>
    <% end %>
  </section>

  <section>
    <h4>Collection Statuses</h4>
    <table class="space-top space-bot" id="bulk-update-status-table">
      <thead>
        <tr>
          <th>Collection</th>
          <th>Status</th>
          <th>Message</th>
        </tr>
      </thead>

      <tbody>
        <% @task.fetch('collection-statuses', []).each do |task_status| %>
          <tr>
            <td>
              <% if task_status.key?('collection') %>
                <%= link_to task_status.fetch('collection', {}).fetch('umm', {})['entry-title'], collection_path(task_status['concept-id']) %>
              <% else %>
                <%= task_status['concept-id'] %>
              <% end %>
            </td>
            <td><%= task_status['status'] %></td>
            <td><%= task_status['status-message'] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </section>
</div>
