<% title_override = false if title_override.nil? %>
<% options = false if options.nil? %>

<% if !hash_for_key.nil? %>
  <% data_array = hash_for_key[key_name] %>
  <% if !data_array.nil? %>
    <% html_class_name = name_to_class(key_name) %>
    <li class="<%= html_class_name %>">
      <h4><%= key_name %> <%= link_to '<i class="fa fa-edit"></i>'.html_safe, draft_edit_form_path(@draft, form_parent, {anchor: key_name.underscore.dasherize}), {class: 'hash-link'} %></h4>
      <ul class="sub-field">
        <li class="field-name">
          <h6><%= title_override || name_to_title(key_name) %></h6>
        </li>
        <% data_array.each_with_index do |element_of_array, index| %>
          <li class="<%= html_class_name %>-<%= index %>">
            <%= options ? map_value_onto_display_string(element_of_array, options) : element_of_array %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
<% end %>
