<div class="grid-row row-content">
  <section>
    <h2><%= current_user.provider_id %> Service Entries</h2>

    <% if policy(:service_entry).create? %>
      <%= link_to 'Create a Service Entry', new_service_entry_path, class: 'eui-btn--blue space-bot' %>
    <% end %>

    <% if @service_entries.any? %>
      <p><%= page_entries_info @service_entries, entry_name: 'Service Entry' %></p>
    <% end %>

    <table class="service-entries-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>URL</th>
          <th>Type</th>
          <%= actions_table_header(@allowed_actions) %>
        </tr>
      </thead>
      <tbody>
        <% if @service_entries.empty? %>
          <tr>
            <td colspan="<%= 3 + @allowed_actions.count %>">No <%= current_user.provider_id %> Service Entries found.</td>
          </tr>
        <% else %>
          <% @service_entries.each_with_index do |service_entry, index| %>
            <tr>
              <td><%= link_to service_entry['Name'], service_entry_path(service_entry['Guid']) %></td>
              <td><%= service_entry['Url'] %></td>
              <td><%= service_entry.fetch('EntryType', '').titleize %></td>

              <% if @allowed_actions.include?('update') %>
                <td><%= link_to 'Edit', edit_service_entry_path(service_entry.fetch('Guid')) %></td>
              <% end %>

              <% if @allowed_actions.include?('destroy') %>
                <td>
                  <%= link_to 'Delete', "#delete-service_entry-modal-#{index}", class: 'display-modal' %>
                  <div id="delete-service_entry-modal-<%= index %>" class="eui-modal-content">
                    <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
                      <p>Are you sure you want to delete the service entry named '<%= service_entry['Name'] %>'?</p>
                    <p>
                      <a href="javascript:void(0)" class="eui-btn modal-close">No</a>
                      <%= link_to 'Yes', service_entry_path(service_entry['Guid']), method: :delete, class: 'eui-btn--blue spinner' %>
                    </p>
                  </div>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <%= paginate @service_entries %>
  </section>
</div>
