<div class="grid_row row-content">
  <section>
    <h2><%= @service_entry['Name'] %></h2>

    <p>
      <span class="inline-label">Type:</span>
      <%= @service_entry['EntryType'] %>
    </p>

    <% if @service_entry['EntryType'] == 'SERVICE_IMPLEMENTATION' %>
    <p>
      <span class="inline-label">Interface:</span>
      <% tag_guids_for_tag_group(@service_entry, 'SERVICE-INTERFACE').each do |guid| %>
        <% if service_interface_tag_exists(guid) %>
          <%= link_to service_interface_tag(guid)['Value'], service_entry_path(service_tag_parts(service_interface_tag(guid)['Guid']).last) %>
        <% end %>
      <% end %>
    </p>
    <% end %>

    <p>
      <span class="inline-label">URL:</span>
      <%= @service_entry['Url'] %>
    </p>

    <p>
      <span class="inline-label">Description:</span>
      <%= @service_entry['Description'] %>
    </p>

    <table class="space-top space-bot" id="tag-list">
      <thead>
        <tr>
          <th>Collection</th>
          <th>Short Name</th>
          <th>Version</th>
        </tr>
      </thead>
      <tbody>
        <% if collections_from_service_entry_tags(@service_entry).empty? %>
          <tr>
            <td colspan="3">No collections are associated with <%= @service_entry['Name'] %>.</td>
          </tr>
        <% else %>
          <% collections_from_service_entry_tags(@service_entry).each do |collection| %>
            <tr>
              <td><%= link_to collection.fetch('umm', {}).fetch('entry-title'), collection_path(collection.fetch('meta', {}).fetch('concept-id')) %></td>
              <td><%= collection.fetch('umm', {}).fetch('short-name') %></td>
              <td><%= collection.fetch('umm', {}).fetch('version-id') %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <% if policy(:service_entry).edit? %>
      <%= link_to 'Edit', edit_service_entry_path(@service_entry.fetch('Guid')), class: 'eui-btn' %>
    <% end %>

    <% if policy(:service_entry).destroy? %>
      <%= link_to 'Delete', "#delete-service-entry-modal", class: 'display-modal eui-btn eui-btn--red' %>
      <div id="delete-service-entry-modal" class="eui-modal-content">
        <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
        <p>Are you sure you want to delete this service entry?</p>
        <p>
          <a href="javascript:void(0)" class="eui-btn modal-close">No</a>
          <%= link_to 'Yes', service_entry_path(@service_entry.fetch('Guid')), method: :delete, class: 'eui-btn--blue spinner' %>
        </p>
      </div>
    <% end %>
  </section>
</div>
