<!-- new_form is local passed in for new or edit -->

<fieldset>
  <div class="grid-row">
    <div class="grid-col-6">
      <%= label_tag 'permission_name', 'Name', class: 'required eui-required-o' %>
      <%= text_field_tag 'permission_name', @permission.fetch('catalog_item_identity', {})['name'], class: 'full-width', readonly: !new_form, maxlength: 100 %>
    </div>
    <div class="grid-col-6">
      <%= label_tag 'acl_applies_to', 'Apply Permission To:', class: 'required eui-required-o' %>
      <div class="grid-row checkbox-group space-top">
        <div class="grid-col-6">
          <%= label_tag 'collection_applicable' do %>
            <%= check_box_tag 'collection_applicable', true, @permission.fetch('catalog_item_identity', {}).fetch('collection_applicable', false) %>
            Collections
          <% end %>

        </div>
        <div class="grid-col-6">
          <%= label_tag 'granule_applicable' do %>
            <%= check_box_tag 'granule_applicable', true, @permission.fetch('catalog_item_identity', {}).fetch('granule_applicable', false) %>
            Granules
          <% end %>
        </div>
      </div>

    </div>
  </div>
  <%= hidden_field_tag('revision_id', @revision_id) %>
</fieldset>

<fieldset>
  <label class="required eui-required-o">Collection Selection</label>
  <div class="grid-row checkbox-group space-bot">
    <div class="grid-col-6">
      <%= label_tag 'collection_option_all' do %>
        <%= radio_button_tag 'collection_option', 'all', @permission.empty? ? true : permission_concept_ids(@permission).empty? %>
        All Collections
      <% end %>
    </div>

    <div class="grid-col-6">
      <%= label_tag 'collection_option_selected' do %>
        <%= radio_button_tag 'collection_option', 'selected', permission_concept_ids(@permission).any? %>
        Selected Collections
      <% end %>
    </div>
  </div>

  <!-- Hidden fields that represent the underlying array of selected collections -->
  <% Array.wrap(permission_concept_ids(@permission)).each do |collection| %>
    <%= hidden_field_tag('collection_selections[]', collection, class: 'selected-collection') %>
  <% end %>

  <!-- Hidden fields that represent the underlying array of selected collections that the user doesn't have access to -->
  <% Array.wrap(unauthorized_permission_collections(@permission)).each do |collection| %>
    <%= hidden_field_tag('hidden_collections[]', collection, class: 'hidden-collection') %>
  <% end %>
  <div id="chooser-widget"></div>
</fieldset>

<fieldset>
  <h4>Access Constraint Filter</h4>

  <div class="grid-row">
    <div class="grid-col-6">
      <div id="collection-access-constraints-container" class="grouped-fields-parent">
        <h4 class="space-bot"><i class="eui-icon eui-collection"></i> Collections</h4>
        <div class="grid-row">
          <div class="grid-col-6">
            <%= label_tag 'collection_access_value[min_value]', 'Minimum Value', class: 'grouped-field-label' %>
            <%= text_field_tag 'collection_access_value[min_value]', permission_collection_access_constraints(@permission)['min_value'], class: 'full-width min-max-value collection-access-value-group grouped-field' %>
          </div>
          <div class="grid-col-6">
            <%= label_tag 'collection_access_value[max_value]', 'Maximum Value', class: 'grouped-field-label' %>
            <%= text_field_tag 'collection_access_value[max_value]', permission_collection_access_constraints(@permission)['max_value'], class: 'full-width min-max-value collection-access-value-group grouped-field' %>
          </div>
        </div>
        <div class="grid-row checkbox-group space-top">
          <div class="grid-col-6">
          <%= label_tag 'collection_access_value[include_undefined_value]' do %>
            <%= check_box_tag 'collection_access_value[include_undefined_value]', true, permission_collection_access_constraints(@permission)['include_undefined_value'] %>
            Include Undefined
          <% end %>
          </div>
          <div class="grid-col-6 align-r">
            <%= button_tag 'Clear Collection Access Constraint Filter', class: 'eui-btn eui-btn--sm clear-filters', data: { container: 'collection-access-constraints-container' } %>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-col-6">
      <div id="granule-access-constraints-container" class="grouped-fields-parent">
        <h4 class="space-bot"><i class="eui-icon eui-granule"></i> Granules</h4>
        <div class="grid-row">
          <div class="grid-col-6">
            <%= label_tag 'granule_access_value[min_value]', 'Minimum Value', class: 'grouped-field-label' %>
            <%= text_field_tag 'granule_access_value[min_value]', permission_granule_access_constraints(@permission)['min_value'], class: 'full-width min-max-value granule-access-value-group grouped-field' %>
          </div>
          <div class="grid-col-6">
            <%= label_tag 'granule_access_value[max_value]', 'Maximum Value', class: 'grouped-field-label' %>
            <%= text_field_tag 'granule_access_value[max_value]', permission_granule_access_constraints(@permission)['max_value'], class: 'full-width min-max-value granule-access-value-group grouped-field' %>
          </div>
        </div>
        <div class="grid-row checkbox-group space-top">
          <div class="grid-col-6">
          <%= label_tag 'granule_access_value[include_undefined_value]' do %>
            <%= check_box_tag 'granule_access_value[include_undefined_value]', true, permission_granule_access_constraints(@permission)['include_undefined_value'] %>
            Include Undefined
          <% end %>
          </div>
          <div class="grid-col-6 align-r">
            <%= button_tag 'Clear Granule Access Constraint Filter', class: 'eui-btn eui-btn--sm clear-filters', data: { container: 'granule-access-constraints-container' } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>

<fieldset>
  <h4>Temporal Filter</h4>

  <div class="grid-row">
    <div class="grid-col-6">
      <div id="collection-temporal-filter-container">
        <div class="grouped-fields-parent">
          <h4 class="space-bot"><i class="eui-icon eui-collection"></i> Collections</h4>

          <div class="grid-row">
            <div class="grid-col-6">
              <%= label_tag 'collection_temporal_filter[start_date]', 'Start Date', class: 'grouped-field-label' %>
              <%= datetime_field_tag('collection_temporal_filter[start_date]', permission_collection_temporal_filters(@permission)['start_date'], class: 'full-width datetimepicker grouped-field', placeholder: 'YYYY-MM-DDTHH:MM:SSZ', data: { 'date-min-date' => false }).gsub('datetime-local','datetime').html_safe %>
            </div>
            <div class="grid-col-6">
              <%= label_tag 'collection_temporal_filter[stop_date]', 'Stop Date', class: 'grouped-field-label' %>
              <%= datetime_field_tag('collection_temporal_filter[stop_date]', permission_collection_temporal_filters(@permission)['stop_date'], class: 'full-width datetimepicker grouped-field', placeholder: 'YYYY-MM-DDTHH:MM:SSZ', data: { 'date-min-date' => false }).gsub('datetime-local','datetime').html_safe %>
            </div>
          </div>

          <div class="grid-row space-top">
            <div class="grid-col-6">
              <div class="grid-row radio-group">
                <div class="grid-col-4 align-c">
                  <%= label_tag 'collection_temporal_filter[mask]', 'Mask', class: 'grouped-field-label' %>
                </div>

                <div class="grid-col-8">
                  <div class="grid-row">
                    <%= label_tag 'collection_temporal_filter_mask_intersect' do %>
                    <%= radio_button_tag 'collection_temporal_filter[mask]', 'intersect', permission_collection_temporal_filters(@permission)['mask'] == 'intersect', class: 'grouped-field' %>
                    Intersect
                    <% end %>
                  </div>
                  <div class="grid-row">
                    <%= label_tag 'collection_temporal_filter_mask_contains' do %>
                    <%= radio_button_tag 'collection_temporal_filter[mask]', 'contains', permission_collection_temporal_filters(@permission)['mask'] == 'contains', class: 'grouped-field' %>
                    Contains
                    <% end %>
                  </div>
                  <div class="grid-row">
                    <%= label_tag 'collection_temporal_filter_mask_disjoint' do %>
                    <%= radio_button_tag 'collection_temporal_filter[mask]', 'disjoint', permission_collection_temporal_filters(@permission)['mask'] == 'disjoint', class: 'grouped-field' %>
                    Disjoint
                    <% end %>
                  </div>
                </div>

              </div>
            </div>

            <div class="grid-col-6 align-r">
              <%= button_tag 'Clear Collection Temporal Filter', class: 'eui-btn eui-btn--sm clear-filters', data: { container: 'collection-temporal-filter-container' } %>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="grid-col-6">
      <div id="granule-temporal-filter-container">
        <div class="grouped-fields-parent">
          <h4 class="space-bot"><i class="eui-icon eui-granule"></i> Granules</h4>

          <div class="grid-row">
            <div class="grid-col-6">
              <%= label_tag 'granule_temporal_filter[start_date]', 'Start Date', class: 'grouped-field-label' %>
              <%= datetime_field_tag('granule_temporal_filter[start_date]', permission_granule_temporal_filters(@permission)['start_date'], class: 'full-width datetimepicker grouped-field', placeholder: 'YYYY-MM-DDTHH:MM:SSZ', data: { 'date-min-date' => false }).gsub('datetime-local','datetime').html_safe %>
            </div>
            <div class="grid-col-6">
              <%= label_tag 'granule_temporal_filter[stop_date]', 'Stop Date', class: 'grouped-field-label' %>
              <%= datetime_field_tag('granule_temporal_filter[stop_date]', permission_granule_temporal_filters(@permission)['stop_date'], class: 'full-width datetimepicker grouped-field', placeholder: 'YYYY-MM-DDTHH:MM:SSZ', data: { 'date-min-date' => false }).gsub('datetime-local','datetime').html_safe %>
            </div>
          </div>

          <div class="grid-row space-top">
            <div class="grid-col-6">
              <div class="grid-row radio-group">
                <div class="grid-col-4 align-c">
                  <%= label_tag 'granule_temporal_filter[mask]', 'Mask', class: 'grouped-field-label' %>
                </div>

                <div class="grid-col-8">
                  <div class="grid-row">
                    <%= label_tag 'granule_temporal_filter_mask_intersect' do %>
                    <%= radio_button_tag 'granule_temporal_filter[mask]', 'intersect', permission_granule_temporal_filters(@permission)['mask'] == 'intersect', class: 'grouped-field' %>
                    Intersect
                    <% end %>
                  </div>
                  <div class="grid-row">
                    <%= label_tag 'granule_temporal_filter_mask_contains' do %>
                    <%= radio_button_tag 'granule_temporal_filter[mask]', 'contains', permission_granule_temporal_filters(@permission)['mask'] == 'contains', class: 'grouped-field' %>
                    Contains
                    <% end %>
                  </div>
                  <div class="grid-row">
                    <%= label_tag 'granule_temporal_filter_mask_disjoint' do %>
                    <%= radio_button_tag 'granule_temporal_filter[mask]', 'disjoint', permission_granule_temporal_filters(@permission)['mask'] == 'disjoint', class: 'grouped-field' %>
                    Disjoint
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

            <div class="grid-col-6 align-r">
              <%= button_tag 'Clear Granule Temporal Filter', class: 'eui-btn eui-btn--sm clear-filters', data: { container: 'granule-temporal-filter-container' } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</fieldset>

<div>
  <div class="support-text">
    <p><span class="eui-badge--md">NEW</span> If one or more of your selected collections above have metadata that refer to Direct S3 Access, then the users in the <strong>Search, Order, and S3</strong> group below will be able to access the data associated with the collection via the AWS S3 API (if the user is in-region).</p>
     <p>Operators can enable Direct S3 Access for their collections via <u>UMM-C DirectDistributionInformation.</u></p>
  </div>
</div>

<fieldset>
  <table class="align-c" id="permission-form-groups-table">
    <caption class="required space-bot eui-required-o">Group Permissions</caption>
    <thead>
      <tr>
        <th class="align-c half-width"><label for="search_groups_">Search</label></th>
        <th class="align-c half-width"><label for="search_and_order_groups_">Search, Order, and S3 (If Available)</label></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="search_groups_cell">
          <%= select_tag 'search_groups[]', options_for_select(@groups, @permission.fetch('group_permissions', []).reject { |group| group['is_hidden'] == true }.select { |group| group['permissions'].include?('read') && !group['permissions'].include?('order') }.map { |group| group['group_id'] || group['user_type']}), multiple: 'multiple', class: 'permission-group required'  %>
        </td>
        <td id="search_and_order_groups_cell">
          <%= select_tag 'search_and_order_groups[]', options_for_select(@groups, @permission.fetch('group_permissions', []).reject { |group| group['is_hidden'] == true }.select { |group| group['permissions'].include?('order') }.map { |group| group['group_id'] || group['user_type']}), multiple: 'multiple', class: 'permission-group required'  %>
        </td>
      </tr>
    </tbody>
  </table>

  <% @permission.fetch('group_permissions', []).select { |group| group['is_hidden'] == true }.group_by { |permission| permission.fetch('permissions', []).join('|') }.each do |permissions, groups| %>

    <% groups.each do |group| %>
      <% if permissions.split('|').include?('order') %>
        <%= hidden_field_tag('hidden_search_and_order_groups[]', group['group_id']) %>
      <% elsif permissions.split('|').include?('read') && !permissions.split('|').include?('order') %>
        <%= hidden_field_tag('hidden_search_groups[]', group['group_id']) %>
      <% end %>
    <% end %>
  <% end %>
</fieldset>

<fieldset>
  <%= submit_tag 'Submit', class: 'eui-btn--blue' %>
  <%= link_to 'Cancel', :back, class: 'eui-btn' %>
</fieldset>
