<div class="grid-row row-content">
  <section>
    <h2>Collection Permissions</h2>
    <div class="stretch-button-bar">
      <%= link_to 'Create a Permission', new_permission_path, :class=> 'eui-btn--blue space-bot' %>
      <%= link_to 'Download YAML', send('permissions_tea_configuration_path'), class: 'eui-btn--blue space-bot' %>
    </div>
    <% if @permissions.any? %>
      <p><%= page_entries_info @permissions, entry_name: 'Permission' %></p>
    <% end %>

    <table id="custom-permissions-table">
      <thead>
        <tr>
          <th>Permission Name</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if @permissions.blank? %>
          <tr>
            <td colspan="3">No permissions found.</td>
          </tr>
        <% else %>
          <% @permissions.each_with_index do |permission, index| %>
            <tr>
              <td>
                <%= link_to permission['name'], permission_path(permission['concept_id'])  %>
              </td>
              <td class="align-c"><%= link_to 'Edit', edit_permission_path(permission['concept_id']) %></td>
              <td class="align-c">
                <%= link_to 'Delete', "#delete-permission-modal-#{index}", class: 'display-modal' %>

                <div id='delete-permission-modal-<%= index %>' class="eui-modal-content">
                  <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
                  <p>Are you sure you want to delete the permission named '<%= permission['name'] %>'?</p>
                  <p>
                    <a href="javascript:void(0)" class="eui-btn modal-close">No</a>
                    <%= link_to 'Yes', permission_path(permission['concept_id']), method: :delete, class: 'eui-btn--blue spinner' %>
                  </p>
                </div>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <%= paginate @permissions %>
  </section>
</div>
