<% if @old_revision %>
  <div class="eui-banner--info">
    <p class="eui-banner__message">
      <%= link_to 'You are viewing an older revision of this collection. Click here to view the latest published version.', collection_path %>
    </p>
  </div>
<% end %>

<div class="row row-content">
  <% if @error %>
    <div class="eui-banner--info">
      <p class="eui-banner__message">
        <%= @error %>
      </p>
    </div>
  <% else %>
    <section class="action wide-content">
      <div class="wide-content-inside">
        <span>
          <%= link_to 'Create Update Request', '#update-request-modal', class: 'display-modal eui-btn--link bar-after' %>
          <%= link_to 'Submit Delete Request', '#delete-request-modal', class: 'display-modal eui-btn--link' %>
        </span>
      </div>
    </section>


    <div id="update-request-modal" class="eui-modal-content">
      <a href="javascript:void(0);" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
      <p>Are you sure you want to create a request to update this record?</p>
      <p>
        <a href="javascript:void(0)" class="eui-btn modal-close">No</a>
        <%= link_to 'Yes', create_update_proposal_collection_path(revision_id: @revision_id), class: 'eui-btn--blue spinner' %>
      </p>
    </div>

    <div id="delete-request-modal" class="eui-modal-content">
      <a href="javascript:void(0);" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
      <p>Are you sure you want to request this record be deleted?</p>
      <p>
        <a href="javascript:void(0)" class="eui-btn modal-close">No</a>
        <%= link_to 'Yes', create_delete_proposal_collection_path(revision_id: @revision_id), class: 'eui-btn--blue spinner' %>
      </p>
    </div>

    <% if Rails.env.test? %>
      <div id="metadata-preview">
        <%= @collection.to_json  %>
      </div>
    <% else %>
      <div id="metadata-preview">
      </div>
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          const element = document.getElementById('metadata-preview');
          const config = { conceptId: '<%= @concept_id %>', conceptType: 'collection', token: '<%= @preview_token %>', graphQlHost: '<%= Rails.configuration.graphql_server %>' }
          MetadataPreview.init(config, element);
        });
      </script>
    <% end %>
    <%= render partial: 'shared/download_xml', locals: {
      concept_id: @concept_id,
      revision_id: @revision_id,
      download_xml_options: @download_xml_options
    } %>
  <% end %>
</div>
