<p><%= provider['description_of_holdings'] %></p>

<% if collections.any? %>
<h4 class="space-bot">There are <%= collections.count %> collections for <%= provider['provider_id'] %>.</h4>

<fieldset>
  <%= button_tag 'Reset All Filters', class: 'eui-btn reset-filters' %>
</fieldset>
<% end %>

<table id="provider-holdings" class="tablesorter">
  <thead>
  <tr>
    <th>Collection</th>
    <th width="20%">Short Name</th>
    <th width="10%">Version</th>
    <th class="filter-false" width="10%">Granules</th>
  </tr>
  </thead>
  <tbody>
  <% if collections.any? %>
    <% collections.each do |collection| %>
      <tr>
        <td><%= link_to collection['title'], collection_path(collection['id']) %></td>
        <td><%= collection['short_name'] %></td>
        <td><%= collection['version'] %></td>
        <td><%= number_with_delimiter(collection['granules']) %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="4">
        No <%= provider['provider_id'] %> collections found.
      </td>
    </tr>
  <% end %>
  </tbody>
</table>