<table id="data-providers">
  <thead>
  <tr>
    <th>Provider Name</th>
    <th>Collections</th>
    <th>Granules</th>
  </tr>
  </thead>
  <tbody>
  <% if providers.blank? %>
    <tr>
      <td colspan="4">
        No providers found.
      </td>
    </tr>
  <% else %>
    <% providers.each do |provider| %>
      <tr class='<%= cycle("alt", "") %>'>
        <td>
          <% if @current_user %>
            <%= link_to provider['short-name'], provider_holding_path(provider['provider-id']) %>
          <% else %>
            <%= link_to provider['short-name'], data_provider_collections_path(provider['provider-id']) %>
          <% end %>
        </td>
        <td class="align-r">
          <%= number_with_delimiter(provider['collection_count']) %>
        </td>
        <td class="align-r">
          <%= number_with_delimiter(provider['granule_count']) %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>