<table>
  <tbody>
    <tr>
      <td>Role:</td>
      <td><%= contact_information.role %></td>
    </tr>
    <tr>
      <td>Name:</td>
      <td><%= contact_information.name %></td>
    </tr>
    <tr>
      <td>Organization:</td>
      <td><%= contact_information.organization %></td>
    </tr>
    <tr>
      <td>Address:</td>
      <td>
        <p>
          <%= contact_information.street_1 %>
        </p>

        <p>
          <%= contact_information.street_2 %>
        </p>

        <p>
          <%= contact_information.street_3 %>
        </p>

        <p>
          <%= contact_information.city %>
          <%= contact_information.state %>
          <%= contact_information.zip %>
        </p>

        <p>
          <%= contact_information.country %>
        </p>
      </td>
    </tr>
    <tr>
      <td>Phone:</td>
      <td><%= contact_information.phone_and_type %></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><%= contact_information.email %></td>
    </tr>
  </tbody>
</table>
