<div class="grid-row row-content">
  <section>
    <h2>Order Information</h2>

    <table>
      <tbody>
      <tr>
        <td>Order GUID:</td>
        <td><%= @order.fetch('id') %>
        </td>
      </tr>
      <tr>
        <td>State:</td>
        <td><%= @order.fetch('state') %></td>
      </tr>
      <tr>
        <td>Created:</td>
        <td><%= @order.fetch('createdAt', '') %></td>
      </tr>
      <tr>
        <td>Submitted:</td>
        <td><%= @order.fetch('submittedAt', '') %></td>
      </tr>
      <tr>
        <td>Updated:</td>
        <td><%= @order.fetch('updatedAt', '') %></td>
      </tr>
      <tr>
        <td>Owner:</td>
        <% contact = @order.fetch('contact', {}) %>
        <td><%= contact.fetch('firstName', '').concat(' ').concat(contact.fetch('lastName', '')) %></td>
      </tr>
      <tr>
        <td>Contact Email:</td>
        <td><%= contact.fetch('email', '') %></td>
      </tr>
      <tr>
        <td>Notification Level:</td>
        <td><%= @order.fetch('notificationLevel', '') %></td>
      </tr>
      <tr>
        <td>Affiliation:</td>
        <td><%= @order.fetch('contact', {}).fetch('userDomain', '') %></td>
      </tr>
      <tr>
        <td>User Region:</td>
        <td><%= @order.fetch('contact', {}).fetch('userRegion', '') %></td>
      </tr>
      <tr>
        <td>Client Identity:</td>
        <td><%= @order.fetch('clientIdentity', '') %></td>
      </tr>
      </tbody>
    </table>
    <% if policy(:provider_order).resubmit? && state_is_terminal(@order.fetch('state')) %>
      <%= link_to 'Resubmit Order', resubmit_order_path(@order.fetch('id')), method: :post, class: 'eui-btn--blue' %>
    <% end %>

    <h3>Order Items</h3>
    <table id="catalog-items-table">
      <thead>
      <tr>
        <th>Order Item</th>
        <th>Granule Concept ID</th>
        <th>Granule UR</th>
        <th>Producer Granule ID</th>
      </tr>
      </thead>
      <tbody>
      <% orderItems = @order.fetch('orderItems', []) %>
      <% if orderItems.empty? %>
        <tr>
          <td colspan="8">No order items found.</td>
        </tr>
      <% else %>
        <% orderItems.each_with_index do |orderItem| %>
          <tr>
            <td><%= orderItem.fetch('id', '') %></td>
            <td><%= orderItem.fetch('granuleConceptId', '') %></td>
            <td><%= orderItem.fetch('granuleUr', '') %></td>
            <td><%= orderItem.fetch('producerGranuleId', '') %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>

  </section>
</div>

