<h2>Data Centers</h2>

<fieldset>
  <%= update_type_select('data_centers', @task) %>
</fieldset>

<fieldset class="bulk-updates-find <%= 'is-hidden' unless show_find_value('data_centers', @task) %>">
  <h4 class="title">Find Data Center</h4>
  <p class="form-description space-bot">Update all collections that have data centers that match the criteria specified below.</p>

  <div class="row">
    <div class="col-6">
      <%= label_tag 'find_value[ShortName]', 'Short Name' %>
      <%= text_field_tag('find_value[ShortName]',
                         repopulate_find_value(@task, 'data_centers', 'ShortName'),
                         class: 'full-width required') %>
    </div>
  </div>
</fieldset>

<fieldset class="bulk-updates-value <%= 'is-hidden' unless show_update_value('data_centers', @task) %>">
  <h4 class="title">New Data Center</h4>
  <p class="form-description space-bot"></p>

  <div class="row">
    <!-- ShortName [r] -->
    <div class="col-6">
      <% # Need to pass unique IDs for select2 to properly generate %>
      <%= mmt_select(
        name: 'short_name',
        id: 'data_center_short_name',
        title: 'Short Name',
        prefix: '|update_value|_',
        value: repopulate_update_value(@task, 'data_centers', 'ShortName'),
        options: @data_centers,
        classes: 'data-center-short-name-select required bulk-updates-data-center select2-select',
        required: true
      ) %>
    </div>

    <!-- LongName -->
    <div class="col-6">
      <%= mmt_text_field(
        name: 'long_name',
        title: 'Long Name',
        prefix: '|update_value|_',
        value: repopulate_update_value(@task, 'data_centers', 'LongName'),
        classes: 'data-center-long-name readonly',
        readonly: true
      ) %>
    </div>
  </div>

  <div class="row related-url">
    <div class="row">
      <div class="col-6">
        <%= mmt_select(
          name: 'url_content_type',
          title: 'URL Content Type',
          prefix: '|update_value|_|contact_information|_|related_urls|__',
          value: repopulate_update_value(@task, 'data_centers', 'URLContentType'),
          options: @data_center_related_url_content_type_options || [],
          classes: 'bulk-updates-related-url-content-type-select'
        ) %>

        <%= mmt_select(
          name: 'type',
          title: 'Type',
          prefix: '|update_value|_|contact_information|_|related_urls|__',
          value: repopulate_update_value(@task, 'data_centers', 'Type'),
          options: @data_center_related_url_type_options || [],
          classes: 'bulk-updates-related-url-type-select'
        ) %>
      </div>
    </div>

    <div class="row">
      <%= mmt_text_field(
        name: 'url',
        title: 'URL',
        prefix: '|update_value|_|contact_information|_|related_urls|__',
        value: repopulate_update_value(@task, 'data_centers', 'URL'),
        classes: 'bulk-updates-url readonly',
        readonly: true
      ) %>
    </div>
  </div>
</fieldset>
