<h2>Platforms</h2>

<fieldset>
  <%= update_type_select('instruments', @task) %>
</fieldset>

<fieldset class="bulk-updates-find <%= 'is-hidden' unless show_find_value('instruments', @task) %>">
  <h4 class="title">Find Instrument</h4>
  <p class="form-description space-bot"> Update all collections that have instruments that match the criteria specified below.</p>

  <div class="grid-row">
    <div class="grid-col-6">
      <%= label_tag 'find_value[ShortName]', 'Short Name' %>
      <%= text_field_tag('find_value[ShortName]',
                         repopulate_find_value(@task, 'instruments', 'ShortName'),
                         class: 'full-width required') %>
    </div>
  </div>
</fieldset>

<fieldset class="bulk-updates-value <%= 'is-hidden' unless show_update_value('instruments', @task) %>">
  <h4 class="title">New Instrument</h4>
  <p class="form-description space-bot"></p>

  <!-- Short Name [r] -->
  <div class="grid-col-6">
    <% # Need to pass unique IDs for select2 to properly generate %>
    <%= mmt_select(
      name: 'short_name',
      id: 'instrument_short_name',
      title: 'Short Name',
      prefix: '|update_value|_',
      value: repopulate_update_value(@task, 'instruments', 'ShortName'),
      options: @instruments,
      classes: 'select2-select instrument-short-name-select',
      always_required: true
    ) %>
  </div>
  <!-- Long Name -->
  <div class="grid-col-6">
    <%= mmt_text_field(
      name: 'long_name',
      title: 'Long Name',
      prefix: '|update_value|_',
      value: repopulate_update_value(@task, 'instruments', 'LongName'),
      classes: 'instrument-long-name readonly',
      readonly: true
     ) %>
  </div>
</fieldset>
