<h2>Location Keywords</h2>

<fieldset>
  <%= update_type_select('location_keywords', @task) %>
</fieldset>

<fieldset class="bulk-updates-find <%= 'is-hidden' unless show_find_value('location_keywords', @task) %>">
  <h4 class="title">Find Location Keyword</h4>
  <p class="form-description space-bot">Update all collections that have location keywords that match the criteria specified below.</p>

  <div class="grid_row">
    <div class="grid-col-6">
      <%= label_tag 'location_category', 'Category' %>
      <%= text_field_tag('find_value[LocationCategory]',
                         repopulate_find_value(@task, 'location_keywords', 'Category'),
                         id: 'location_category',
                         class: 'full-width location-keyword-find') %>
    </div>
    <div class="grid-col-6">
      <%= label_tag 'type', 'Type' %>
      <%= text_field_tag('find_value[Type]',
                         repopulate_find_value(@task, 'location_keywords', 'Type'),
                         id: 'type',
                         class: 'full-width location-keyword-find') %>
    </div>
  </div>

  <div class="grid_row space-top">
    <h5 class="space-bot">Subregions</h5>

    <div class="grid-col-3">
      <%= label_tag 'subregion_1', 'Subregion 1' %>
      <%= text_field_tag('find_value[Subregion1]',
                         repopulate_find_value(@task, 'location_keywords', 'Subregion1'),
                         id: 'subregion_1',
                         class: 'full-width location-keyword-find') %>
    </div>

    <div class="grid-col-3">
      <%= label_tag 'subregion_2', 'Subregion 2' %>
      <%= text_field_tag('find_value[Subregion2]',
                         repopulate_find_value(@task, 'location_keywords', 'Subregion2'),
                         id: 'subregion_2',
                         class: 'full-width location-keyword-find') %>
    </div>

    <div class="grid-col-3">
      <%= label_tag 'subregion_3', 'Subregion 3' %>
      <%= text_field_tag('find_value[Subregion3]',
                         repopulate_find_value(@task, 'location_keywords', 'Subregion3'),
                         id: 'subregion_3',
                         class: 'full-width location-keyword-find') %>
    </div>

    <div class="grid-col-3">
      <%= label_tag 'detailed_location', 'Detailed Location' %>
      <%= text_field_tag('find_value[DetailedLocation]',
                         repopulate_find_value(@task, 'location_keywords', 'DetailedLocation'),
                         id: 'detailed_location',
                         class: 'full-width location-keyword-find') %>
    </div>
  </div>
</fieldset>

<fieldset class="bulk-updates-value <%= 'is-hidden' unless show_update_value('location_keywords', @task) %>">
  <h4 class="title">New Location Keyword</h4>
  <p class="form-description space-bot"></p>

  <div id="location-keyword-picker">
    <div class="grid_row">
      <div class="col-12">
        <div class="eui-nested-item-picker location-keywords-picker">
          <ul class="eui-item-path">
            <li class="list-title">
              <a href="javascript:void(0);">Location Keyword</a>
            </li>
          </ul>
          <div class="eui-item-list-pane">
            <ul>
              <li>
                <%= text_field_tag 'location-keyword-search', nil, name: nil, class: 'typeahead', placeholder: 'Search for keywords...' %>
              </li>
            </ul>
          </div>
        </div>

        <button type="button" class="eui-btn--blue select-location-keyword" disabled><i class="fa fa-check"></i> Select Keyword</button>
      </div>
    </div>
  </div>

  <div id="new-location-keyword-container" class="space-top <%= 'is-hidden' unless show_update_value('location_keywords', @task) %>">
    <div class="grid_row">
      <div class="grid-col-6">
        <%= label_tag 'location_category', 'Category' %>
        <%= text_field_tag('update_value[LocationCategory]',
                           repopulate_update_value(@task, 'location_keywords', 'Category'),
                           id: 'new_location_category',
                           class: 'full-width location-keyword-value',
                           readonly: true) %>
      </div>
      <div class="grid-col-6">
        <%= label_tag 'type', 'Type' %>
        <%= text_field_tag('update_value[Type]',
                           repopulate_update_value(@task, 'location_keywords', 'Type'),
                           id: 'new_type',
                           class: 'full-width location-keyword-value',
                           readonly: true) %>
      </div>
    </div>

    <div class="grid_row space-top">
      <h5 class="space-bot">Subregions</h5>

      <div class="grid-col-3">
        <%= label_tag 'subregion_1', 'Subregion 1' %>
        <%= text_field_tag('update_value[Subregion1]',
                           repopulate_update_value(@task, 'location_keywords', 'Subregion1'),
                           id: 'new_subregion_1',
                           class: 'full-width location-keyword-value',
                           readonly: true) %>
      </div>

      <div class="grid-col-3">
        <%= label_tag 'variablelevel2', 'Subregion 2' %>
        <%= text_field_tag('update_value[Subregion2]',
                           repopulate_update_value(@task, 'location_keywords', 'Subregion2'),
                           id: 'new_subregion_2',
                           class: 'full-width location-keyword-value',
                           readonly: true) %>
      </div>

      <div class="grid-col-3">
        <%= label_tag 'variablelevel3', 'Subregion 3' %>
        <%= text_field_tag('update_value[Subregion3]',
                           repopulate_update_value(@task, 'location_keywords', 'Subregion3'),
                           id: 'new_subregion_3',
                           class: 'full-width location-keyword-value',
                           readonly: true) %>
      </div>

      <div class="grid-col-3">
        <%= label_tag 'detailed_location', 'Detailed Location' %>
        <%= text_field_tag('update_value[DetailedLocation]',
                           repopulate_update_value(@task, 'location_keywords', 'DetailedLocation'),
                           id: 'new_detailed_location',
                           class: 'full-width location-keyword-value',
                           readonly: true) %>
      </div>
    </div>
  </div>
</fieldset>

<!-- Setup Location Keywords -->
<script type="text/javascript">
  setupBulkEditLocationKeywords(<%= raw @location_keywords.to_json %>);
</script>
