<h2>Platforms</h2>

<fieldset>
  <%= update_type_select('platforms', @task) %>
</fieldset>

<fieldset class="bulk-updates-find <%= 'is-hidden' unless show_find_value('platforms', @task) %>">
  <h4 class="title">Find Platform</h4>
  <p class="form-description space-bot">Update all collections that have platforms that match the criteria specified below.</p>

  <div class="row">
    <div class="col-6">
      <%= label_tag 'find_value[ShortName]', 'Short Name' %>
      <%= text_field_tag('find_value[ShortName]',
                          repopulate_find_value(@task, 'platforms', 'ShortName'),
                          class: 'full-width required') %>
    </div>
  </div>
</fieldset>

<fieldset class="bulk-updates-value <%= 'is-hidden' unless show_update_value('platforms', @task) %>">
  <h4 class="title">New Platform</h4>
  <p class="form-description space-bot"></p>

  <div class="row platform-fields">
    <!-- Type -->
    <div style="margin-bottom: 10px;">
      <%= label_tag('Type:') %>
      <span class="platform-type default">
        <% if @task.blank? %>
          Please select a Short Name
        <% else %>
          <%= repopulate_update_value(@task, 'platforms', 'Type') %>
        <% end %>
      </span>

      <%= hidden_field_tag(
        name_to_param('|update_value|_type'),
        repopulate_update_value(@task, 'platforms', 'Type'),
        class: 'platform-type'
      ) %>
    </div>

    <!-- Short Name [r] -->
    <div class="col-6">
      <% # Need to pass unique IDs for select2 to properly generate %>
      <%= mmt_select(
      name: 'short_name',
      id: 'platform_short_name',
      title: 'Short Name',
      prefix: '|update_value|_',
      value: repopulate_update_value(@task, 'platforms', 'ShortName'),
      options: @platform_types,
      grouped: true,
      classes: 'mmt-fake-enum select2-select platform-short-name-select required',
      required: true,
      always_required: true
      ) %>
    </div>

    <!-- Long Name -->
    <div class="col-6">
      <%= mmt_text_field(
      name: 'long_name',
      title: 'Long Name',
      prefix: '|update_value|_',
      value: repopulate_update_value(@task, 'platforms', 'LongName'),
      classes: 'platform-long-name readonly',
      readonly: true
      ) %>
    </div>
  </div>

</fieldset>
