<h2>Science Keywords</h2>

<fieldset>
  <%= update_type_select('science_keywords', @task) %>
</fieldset>

<fieldset class="bulk-updates-find <%= 'is-hidden' unless show_find_value('science_keywords', @task) %>">
  <h4 class="title">Find Science Keyword</h4>
  <p class="form-description space-bot">Update all collections that have science keywords that match the criteria specified below.</p>

  <div class="grid-row">
    <div class="grid-col-4">
      <div class="grid-row">
        <%= label_tag 'Category' %>
      </div>
      <div id="category-select" class="grid-row">
        <%= select_tag('find_value[Category]',
                       options_for_select(@science_keyword_facets.fetch('category', []).map { |category| [category[:value], { 'data-parent': category[:parent] }] }.sort_by { |option| option[0] }, repopulate_find_value(@task, 'science_keywords', 'Category')),
                       id: 'Category',
                       class: 'full-width science-keyword-find science-keyword-find-select-2',
                       prompt: 'Select a Category') %>
      </div>
    </div>
    <div class="grid-col-4">
      <div class="grid-row">
        <%= label_tag 'Topic' %>
      </div>
      <div id="topic-select" class="grid-row">
        <%= select_tag('find_value[Topic]',
                       options_for_select(@science_keyword_facets.fetch('topic', []).map { |topic| [topic[:value], { 'data-parent': topic[:parent] }] }.sort_by { |option| option[0] }, repopulate_find_value(@task, 'science_keywords', 'Topic')),
                       id: 'Topic',
                       class: 'full-width science-keyword-find science-keyword-find-select-2',
                       prompt: 'Select a Topic') %>
      </div>
    </div>
    <div class="grid-col-4">
      <div class="grid-row">
        <%= label_tag 'Term' %>
      </div>
      <div id="term-select" class="grid-row">
        <%= select_tag('find_value[Term]',
                       options_for_select(@science_keyword_facets.fetch('term', []).map { |term| [term[:value], { 'data-parent': term[:parent] }] }.sort_by { |option| option[0] }, repopulate_find_value(@task, 'science_keywords', 'Term')),
                       id: 'Term',
                       class: 'full-width science-keyword-find science-keyword-find-select-2',
                       prompt: 'Select a Term') %>
      </div>
    </div>
  </div>

  <div class="grid-row space-top">
    <h5 class="space-bot">Variable Levels</h5>

    <div class="grid-col-3">
      <div class="grid-row">
        <%= label_tag 'VariableLevel1', 'Level 1' %>
      </div>
      <div id="variable_level_1-select" class="grid-row">
        <%= select_tag('find_value[VariableLevel1]',
                       options_for_select(@science_keyword_facets.fetch('variable_level_1', []).map { |variable_level_1| [variable_level_1[:value], { 'data-parent': variable_level_1[:parent] }] }.sort_by { |option| option[0] }, repopulate_find_value(@task, 'science_keywords', 'VariableLevel1')),
                       id: 'VariableLevel1',
                       class: 'full-width science-keyword-find science-keyword-find-select-2',
                       prompt: 'Select a Level 1') %>
      </div>
    </div>

    <div class="grid-col-3">
      <div class="grid-row">
        <%= label_tag 'VariableLevel2', 'Level 2' %>
      </div>
      <div id="variable_level_2-select" class="grid-row">
        <%= select_tag('find_value[VariableLevel2]',
                       options_for_select(@science_keyword_facets.fetch('variable_level_2', []).map { |variable_level_2| [variable_level_2[:value], { 'data-parent': variable_level_2[:parent] }] }.sort_by { |option| option[0] }, repopulate_find_value(@task, 'science_keywords', 'VariableLevel2')),
                       id: 'VariableLevel2',
                       class: 'full-width science-keyword-find science-keyword-find-select-2',
                       prompt: 'Select a Level 2') %>
      </div>
    </div>

    <div class="grid-col-3">
      <div class="grid-row">
        <%= label_tag 'VariableLevel3', 'Level 3' %>
      </div>
      <div id="variable_level_3-select" class="grid-row">
        <%= select_tag('find_value[VariableLevel3]',
                       options_for_select(@science_keyword_facets.fetch('variable_level_3', []).map { |variable_level_3| [variable_level_3[:value], { 'data-parent': variable_level_3[:parent] }] }.sort_by { |option| option[0] }, repopulate_find_value(@task, 'science_keywords', 'VariableLevel3')),
                       id: 'VariableLevel3',
                       class: 'full-width science-keyword-find science-keyword-find-select-2',
                       prompt: 'Select a Level 3') %>
      </div>
    </div>

    <div class="grid-col-3">
      <div class="grid-row">
        <%= label_tag 'DetailedVariable', 'Detailed Variable' %>
      </div>
      <div id="detailed_variable-select" class="grid-row">
        <%= select_tag('find_value[DetailedVariable]',
                       options_for_select(@science_keyword_facets.fetch('detailed_variable', []).map { |detailed_variable| [detailed_variable[:value], { 'data-parent': detailed_variable[:parent] }] }.sort_by { |option| option[0] }, repopulate_find_value(@task, 'science_keywords', 'DetailedVariable')),
                       id: 'DetailedVariable',
                       class: 'full-width science-keyword-find science-keyword-find-select-2',
                       prompt: 'Select a Detailed Variable') %>
      </div>
    </div>
  </div>
</fieldset>

<fieldset class="bulk-updates-value <%= 'is-hidden' unless show_update_value('science_keywords', @task) %>">
  <h4 class="title">New Science Keyword</h4>
  <p class="form-description space-bot">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua.</p>

  <div id="science-keyword-picker">
    <div class="grid-row">
      <div class="grid-col-12">
        <div class="eui-nested-item-picker science-keywords-picker">
          <ul class="eui-item-path">
            <li class="list-title">
              <a href="javascript:void(0);">Science Keyword</a>
            </li>
          </ul>
          <div class="eui-item-list-pane">
            <ul>
              <li>
                <%= text_field_tag 'science-keyword-search', nil, name: nil, class: 'typeahead', placeholder: 'Search for keywords...' %>
              </li>
            </ul>
          </div>
        </div>

        <button type="button" class="eui-btn--blue select-science-keyword" disabled><i class="fa fa-check"></i> Select Keyword</button>
      </div>
    </div>
  </div>

  <div id="new-science-keyword-container" class="space-top <%= 'is-hidden' unless show_update_value('science_keywords', @task) %>">
    <div class="grid-row">
      <div class="grid-col-4">
        <%= label_tag 'category', 'Category' %>
        <%= text_field_tag('update_value[Category]',
                           repopulate_update_value(@task, 'science_keywords', 'Category'),
                           id: 'new_category',
                           class: 'full-width science-keyword-value',
                           readonly: true) %>
      </div>
      <div class="grid-col-4">
        <%= label_tag 'topic', 'Topic' %>
        <%= text_field_tag('update_value[Topic]',
                           repopulate_update_value(@task, 'science_keywords', 'Topic'),
                           id: 'new_topic',
                           class: 'full-width science-keyword-value',
                           readonly: true) %>
      </div>
      <div class="grid-col-4">
        <%= label_tag 'term', 'Term' %>
        <%= text_field_tag('update_value[Term]',
                           repopulate_update_value(@task, 'science_keywords', 'Term'),
                           id: 'new_term',
                           class: 'full-width science-keyword-value',
                           readonly: true) %>
      </div>
    </div>

    <div class="grid-row space-top">
      <h5 class="space-bot">Variable Levels</h5>

      <div class="grid-col-3">
        <%= label_tag 'variablelevel1', 'Level 1' %>
        <%= text_field_tag('update_value[VariableLevel1]',
                           repopulate_update_value(@task, 'science_keywords', 'VariableLevel1'),
                           id: 'new_variablelevel1',
                           class: 'full-width science-keyword-value',
                           readonly: true) %>
      </div>

      <div class="grid-col-3">
        <%= label_tag 'variablelevel2', 'Level 2' %>
        <%= text_field_tag('update_value[VariableLevel2]',
                           repopulate_update_value(@task, 'science_keywords', 'VariableLevel2'),
                           id: 'new_variablelevel2',
                           class: 'full-width science-keyword-value',
                           readonly: true) %>
      </div>

      <div class="grid-col-3">
        <%= label_tag 'variablelevel3', 'Level 3' %>
        <%= text_field_tag('update_value[VariableLevel3]',
                           repopulate_update_value(@task, 'science_keywords', 'VariableLevel3'),
                           id: 'new_variablelevel3',
                           class: 'full-width science-keyword-value',
                           readonly: true) %>
      </div>

      <div class="grid-col-3">
        <%= label_tag 'detailedvariable', 'Detailed Variable' %>
        <%= text_field_tag('update_value[DetailedVariable]',
                           repopulate_update_value(@task, 'science_keywords', 'DetailedVariable'),
                           id: 'new_detailedvariable',
                           class: 'full-width science-keyword-value',
                           readonly: true) %>
      </div>
    </div>
  </div>
</fieldset>

<%= javascript_tag do %>
  <!-- Pass in Science Keywords hierarchy -->
  window.scienceKeywordsHierarchy = <%= raw BulkUpdatesHelper::SCIENCE_KEYWORDS_HIERARCHY.to_json %>

  <!-- Setup Science Keywords -->
  setupBulkEditScienceKeywords(<%= raw @science_keywords.to_json %>);
<% end %>
