<div class="grid-row row-content">
  <section>
    <h2><%= current_user.provider_id %> <%= plural_resource_name.titleize %></h2>

    <%= link_to "Create a #{resource_name.titleize}", send("new_#{resource_name}_path"), class: 'eui-btn--blue space-bot' %>

    <% if get_resources.any? %>
      <p><%= page_entries_info get_resources, entry_name: resource_name.titleize %></p>
    <% end %>

    <table id="open_templates">
      <thead>
        <tr>
          <th>Title</th>
          <th colspan="2">Actions</th>
          <th>Last Modified</th>
        </tr>
      </thead>
      <tbody>

      <% if get_resources.blank? %>
        <tr>
          <td colspan="4">
            No <%= current_user.provider_id %> Templates found
          </td>
        </tr>
      <% else %>
        <% get_resources.each_with_index do |template, index| %>
          <tr class='<%= cycle("alt", "") %>'>
            <td>
              <%= link_to template.display_template_name, send("#{resource_name}_path", template) %>
            </td>
            <td>
              <%= link_to 'Edit', send("edit_#{resource_name}_path", template) %>
            </td>
            <td>
              <%= link_to 'Delete', "#delete-template-modal-#{index}", class: 'display-modal' %>
              <div id='delete-template-modal-<%= index %>' class="eui-modal-content">
                <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
                <p>Are you sure you want to delete this template?</p>
                <p>
                  <a href="javascript:void(0)" class="eui-btn modal-close">No</a>
                  <%= link_to 'Yes', collection_template_path(template['id']), method: :delete, class: 'eui-btn--blue spinner' %>
                </p>
              </div>
            </td>
            <td>
              <%= template.updated_at.to_fs(:date) %>
            </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>

    <%= paginate get_resources %>
  </section>
</div>
