<h4>Data Identification Fields:</h4>

<!-- Entry ID [r] -->
<%= render :partial=>'drafts/previews/types/entry_id_type', :locals=>{entry_id: @draft.draft['EntryId'], title:'Entry ID'} %>

<!-- Entry Title [r] -->
<%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'EntryTitle', :hash_for_key=>@draft.draft, :title_override=>'Title'} %>

<!-- Abstract [r] -->
<%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'Abstract', :hash_for_key=>@draft.draft} %>

<!-- Purpose -->
<%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'Purpose', :hash_for_key=>@draft.draft} %>

<!-- Data language -->
<%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'DataLanguage', :hash_for_key=>@draft.draft} %>

<!-- Data dates [r] -->
<!-- DataLineage -->
<% if !@draft.draft['DataLineage'].blank? %>
  <ul class="<%= name_to_class('DataLineage')%>">
    <li>
      <%= 'Data Lineage'.pluralize(@draft.draft['DataLineage'].count)%>
      <% @draft.draft['DataLineage'].each_with_index do |lineage, index| %>
        <%= render :partial=>'drafts/previews/types/lineage_type', :locals=>{lineage: lineage, index: index} %>
      <% end %>
    </li>
  </ul>
<% end %>

<!-- Organization [r] -->
<!-- show orgs -->
<% if !@draft.draft['ResponsibleOrganization'].blank? %>
  <ul class="<%= name_to_class('ResponsibleOrganization')%>">
    <li>
      <% title = 'Organization' %>
      <%= title.pluralize(@draft.draft['ResponsibleOrganization'].count)%>
      <% @draft.draft['ResponsibleOrganization'].each_with_index do |responsibility, index| %>
        <%= render :partial=>'drafts/previews/types/responsibility_type', :locals=>{responsibility: responsibility, index: index, title_override: title} %>
      <% end %>
    </li>
  </ul>
<% end %>

<!-- Personnel -->
<!-- responsibility: display form when no people added -->
<!-- person: shows full form (address, hours, etc.) -->
<% if !@draft.draft['ResponsiblePersonnel'].blank? %>
  <ul class="<%= name_to_class('ResponsiblePersonnel')%>">
    <li>
      <% title = 'Personnel' %>
      <%= title.pluralize(@draft.draft['ResponsiblePersonnel'].count)%>
      <% @draft.draft['ResponsiblePersonnel'].each_with_index do |responsibility, index| %>
        <%= render :partial=>'drafts/previews/types/responsibility_type', :locals=>{responsibility: responsibility, index: index, title_override: title} %>
      <% end %>
    </li>
  </ul>
<% end %>

<!-- Collection Data Type -->
<!-- Dropdown with ["SCIENCE_QUALITY", "NEAR_REAL_TIME", "OTHER"] -->
<%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'CollectionDataType', :hash_for_key=>@draft.draft} %>

<!-- ProcessingLevel -->
<%= render :partial=>'drafts/previews/types/processing_level_type', :locals=>{processing_level: @draft.draft['ProcessingLevel'], title:'Processing Level'} %>

<!-- Resource Citation -->
<!-- CollectionCitation -->
<!-- Array of ResourceCitationType -->
<% if !@draft.draft['CollectionCitation'].blank? %>
  <ul class="<%= name_to_class('CollectionCitation')%>">
    <li>
      <% title = 'Collection Citation' %>
      <%= title.pluralize(@draft.draft['CollectionCitation'].count)%>
      <% @draft.draft['CollectionCitation'].each_with_index do |resource_citation, index| %>
        <%= render :partial=>'drafts/previews/types/resource_citation_type', :locals=>{resource_citation: resource_citation, index: index, title_override: title} %>
      <% end %>
    </li>
  </ul>
<% end %>

<!-- Collection Progress -->
<%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'CollectionProgress', :hash_for_key=>@draft.draft} %>

<!-- Quality -->
<%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'Quality', :hash_for_key=>@draft.draft} %>

<!-- Use Constraints -->
<%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'UseConstraints', :hash_for_key=>@draft.draft} %>

<!-- Access Constraints -->
<%= render :partial=>'drafts/previews/types/access_constraints_type', :locals=>{access_constraints: @draft.draft['AccessConstraints'], title:'Access Constraints'} %>

<!-- Metadata Association -->
<% if !@draft.draft['MetadataAssociation'].blank? %>
  <ul class="<%= name_to_class('MetadataAssociation')%>">
    <li>
      <%= 'Metadata Association'.pluralize(@draft.draft['MetadataAssociation'].count)%>
      <% @draft.draft['MetadataAssociation'].each_with_index do |metadata_association, index| %>
        <%= render :partial=>'drafts/previews/types/metadata_association_type', :locals=>{metadata_association: metadata_association, index: index} %>
      <% end %>
    </li>
  </ul>
<% end %>

<!-- Publication Reference -->
<% if !@draft.draft['PublicationReference'].blank? %>
  <ul class="<%= name_to_class('PublicationReference')%>">
    <li>
      <%= 'Publication Reference'.pluralize(@draft.draft['PublicationReference'].count)%>
      <% @draft.draft['PublicationReference'].each_with_index do |publication_reference, index| %>
        <%= render :partial=>'drafts/previews/types/publication_reference_type', :locals=>{publication_reference: publication_reference, index: index} %>
      <% end %>
    </li>
  </ul>
<% end %>

<hr>
