<div class="preview-collection accordion is-closed">
  <div class="accordion-header">
    <i class="fa fa-angle-down toggle"></i>
    <h4>Data Identification Fields:</h4>
  </div>
  <div class="accordion-body">
    <ul class="data-identification-preview">

      <%= render partial: 'drafts/previews/fields/display_field_line', locals: {
        key_name: 'EntryId',
        hash_for_key: draft
      } %>

      <%= render partial: 'drafts/previews/fields/display_field_line', locals: {
        key_name: 'Version',
        hash_for_key: draft
      } %>

      <%= render partial: 'drafts/previews/fields/display_field_line', locals: {
        key_name: 'EntryTitle',
        hash_for_key: draft
      } %>

      <%= render partial: 'drafts/previews/fields/display_field_line', locals: {
        key_name: 'Abstract',
        hash_for_key: draft
      } %>

      <%= render partial: 'drafts/previews/fields/display_field_line', locals: {
        key_name: 'Purpose',
        hash_for_key: draft
      } %>

      <%= render partial: 'drafts/previews/fields/display_field_line', locals: {
        key_name: 'DataLanguage',
        hash_for_key: draft
      } %>

      <%= render partial: 'drafts/previews/preview_type', locals: {
          data: draft['DataDates'],
          name: 'DataDates',
          type: TypesHelper::DateType
      } %>

      <%= render partial: 'drafts/previews/preview_type', locals: {
          data: draft['Organizations'],
          name: 'Organizations',
          type: TypesHelper::ResponsibilityType
      } %>

      <%= render partial: 'drafts/previews/preview_type', locals: {
          data: draft['Personnel'],
          name: 'Personnel',
          type: TypesHelper::ResponsibilityType
      } %>

      <%= render partial: 'drafts/previews/fields/display_single_select_field_line', locals: {
          key_name: 'CollectionDataType',
          hash_for_key: draft,
          options: DraftsHelper::CollectionDataTypeOptions
      } %>

      <%= render partial: 'drafts/previews/preview_type', locals: {
          data: draft['ProcessingLevel'],
          name: 'ProcessingLevel',
          type: TypesHelper::ProcessingLevelType
      } %>

      <%= render partial: 'drafts/previews/preview_type', locals: {
          data: draft['CollectionCitations'],
          name: 'CollectionCitations',
          type: TypesHelper::ResourceCitationType
      } %>

      <%= render partial: 'drafts/previews/fields/display_single_select_field_line', locals: {
          key_name: 'CollectionProgress',
          hash_for_key: draft,
          options: DraftsHelper::CollectionProgressOptions
      } %>

      <%= render partial: 'drafts/previews/fields/display_field_line', locals: {
        key_name: 'Quality', hash_for_key: draft
      } %>

      <%= render partial: 'drafts/previews/fields/display_field_line', locals: {
        key_name: 'UseConstraints', hash_for_key: draft
      } %>

      <%= render partial: 'drafts/previews/preview_type', locals: {
          data: draft['AccessConstraints'],
          name: 'AccessConstraints',
          type: TypesHelper::AccessConstraintsType
      } %>

      <%= render partial: 'drafts/previews/preview_type', locals: {
          data: draft['MetadataAssociations'],
          name: 'MetadataAssociations',
          type: TypesHelper::MetadataAssociationsType
      } %>

      <%= render partial: 'drafts/previews/preview_type', locals: {
          data: draft['PublicationReferences'],
          name: 'PublicationReferences',
          type: TypesHelper::PublicationReferencesType
      } %>

    </ul>
  </div>
</div>
