<div class="preview-collection accordion is-closed">
  <div class="accordion-header">
    <i class="fa fa-angle-down toggle"></i>
    <h4>Data Identification Fields:</h4>
  </div>
  <div class="accordion-body">
    <ul class="data-identification-preview">

      <%= render partial: 'drafts/previews/preview_type', locals: {
          data: draft['EntryId'],
          name: 'EntryId',
          type: TypesHelper::EntryIdType
      } %>

      <%= render partial: 'drafts/previews/fields/display_field_line', locals: {
        key_name: 'EntryTitle',
        hash_for_key: draft,
        title_override: 'Title'
      } %>

      <%= render partial: 'drafts/previews/fields/display_field_line', locals: {
        key_name: 'Abstract',
        hash_for_key: draft
      } %>

      <%= render partial: 'drafts/previews/fields/display_field_line', locals: {
        key_name: 'Purpose',
        hash_for_key: draft
      } %>

      <%= render partial: 'drafts/previews/fields/display_field_line', locals: {
        key_name: 'DataLanguage',
        hash_for_key: draft
      } %>

      <%= render partial: 'drafts/previews/preview_type', locals: {
          data: draft['DataLineage'],
          name: 'DataLineage',
          type: TypesHelper::LineageType
      } %>

      <%= render partial: 'drafts/previews/preview_type', locals: {
          data: draft['ResponsibleOrganization'],
          name: 'ResponsibleOrganization',
          type: TypesHelper::ResponsibilityType
      } %>

      <%= render partial: 'drafts/previews/preview_type', locals: {
          data: draft['ResponsiblePersonnel'],
          name: 'ResponsiblePersonnel',
          type: TypesHelper::ResponsibilityType
      } %>

      <%= render partial: 'drafts/previews/fields/display_single_select_field_line', locals: {
          key_name: 'CollectionDataType',
          hash_for_key: draft,
          options: DraftsHelper::CollectionDataTypeOptions
      } %>

      <%= render partial: 'drafts/previews/preview_type', locals: {
          data: draft['ProcessingLevel'],
          name: 'ProcessingLevel',
          type: TypesHelper::ProcessingLevelType
      } %>

      <%= render partial: 'drafts/previews/preview_type', locals: {
          data: draft['CollectionCitation'],
          name: 'CollectionCitation',
          type: TypesHelper::ResourceCitationType
      } %>

      <%= render partial: 'drafts/previews/fields/display_single_select_field_line', locals: {
          key_name: 'CollectionProgress',
          hash_for_key: draft,
          options: DraftsHelper::CollectionProgressOptions
      } %>

      <%= render partial: 'drafts/previews/fields/display_field_line', locals: {
        key_name: 'Quality', hash_for_key: draft
      } %>

      <%= render partial: 'drafts/previews/fields/display_field_line', locals: {
        key_name: 'UseConstraints', hash_for_key: draft
      } %>

      <%= render partial: 'drafts/previews/preview_type', locals: {
          data: draft['AccessConstraints'],
          name: 'AccessConstraints',
          type: TypesHelper::AccessConstraintsType
      } %>

      <%= render partial: 'drafts/previews/preview_type', locals: {
          data: draft['MetadataAssociation'],
          name: 'MetadataAssociation',
          type: TypesHelper::MetadataAssociationType
      } %>

      <%= render partial: 'drafts/previews/preview_type', locals: {
          data: draft['PublicationReference'],
          name: 'PublicationReference',
          type: TypesHelper::PublicationReferenceType
      } %>

    </ul>
  </div>
</div>
