<h4>Descriptive Keyword Fields:</h4>

<!-- ISOTopicCategory -->
<% if !@draft.draft['ISOTopicCategory'].blank? %>
  <h4>ISO Topic Category</h4>
  <p>
    <% @draft.draft['ISOTopicCategory'].each do |r| %>
      <%= r %>
      </br>
    <% end %>
  </p>
<% end %>

<!-- ScienceKeyword [r] -->
<% if !@draft.draft['ScienceKeywords'].blank? %>
  <h4>Science Keywords</h4>
  <p>
    <% @draft.draft['ScienceKeywords'].each do |r| %>
      <%= construct_keyword_string(r, '').titleize %>
      </br>
    <% end %>
  </p>
<% end %>

<!-- AncillaryKeyword -->
<% if !@draft.draft['AncillaryKeyword'].blank? %>
  <h4>Ancillary Keyword</h4>
  <p>
    <% @draft.draft['AncillaryKeyword'].each do |r| %>
      <%= r %>
      </br>
    <% end %>
  </p>
<% end %>

<!-- AdditionalAttribute -->
<% if !@draft.draft['AdditionalAttribute'].blank? %>
  <h4>Additional Attributes</h4>
  <p>
    <% @draft.draft['AdditionalAttribute'].each do |r| %>
      <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'Name', :hash_for_key=>r} %>
      <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'Description', :hash_for_key=>r} %>
      <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'Value', :hash_for_key=>r} %>
      <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'DataType', :hash_for_key=>r} %>
      <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'MeasurementResolution', :hash_for_key=>r} %>
      <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'ParameterRangeBegin', :hash_for_key=>r} %>
      <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'ParameterRangeEnd', :hash_for_key=>r} %>
      <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'ParameterUnitsOfMeasure', :hash_for_key=>r} %>
      <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'ParameterValueAccuracy', :hash_for_key=>r} %>
      <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'ValueAccuracyExplanation', :hash_for_key=>r} %>
      <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'Group', :hash_for_key=>r} %>
      <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'UpdateDate', :hash_for_key=>r} %>
      <%= raw((r == @draft.draft['AdditionalAttribute'].last) ? '' : '</br>') %>
    <% end %>
  </p>
<% end %>
<hr>