<div class="preview-collection accordion is-closed">
  <div class="accordion-header">
    <i class="fa fa-angle-down toggle"></i>
    <h4>Distribution Information Fields:</h4>
  </div>
  <div class="accordion-body">
    <ul class="distribution-information-preview">
      <li>

        <% if !draft['RelatedUrl'].blank? %>
          <ul class="<%= name_to_class('RelatedUrl')%>">
            <li>
              <h4><%= 'Related URL'.pluralize(draft['RelatedUrl'].count)%></h4>
              <% draft['RelatedUrl'].each_with_index do |related_url, index| %>
                <%= render :partial=>'drafts/previews/types/related_url_type', :locals=>{related_url: related_url, index: index} %>
              <% end %>
            </li>
          </ul>
        <% end %>

        <% if !draft['Distribution'].blank? %>
          <ul class="<%= name_to_class('Distribution')%>">
            <li>
              <h4><%= 'Distribution'.pluralize(draft['Distribution'].count)%></h4>
              <% draft['Distribution'].each_with_index do |distribution, index| %>
                <%= render :partial=>'drafts/previews/types/distribution_type', :locals=>{distribution: distribution, index: index} %>
              <% end %>
            </li>
          </ul>
        <% end %>

      </li>
    </ul>
  </div>
</div>
