<h4>Distribution Information Fields:</h4>

<!-- Related URL [r] -->
<% if !@draft.draft['RelatedUrl'].blank? %>
  <ul class="<%= name_to_class('RelatedUrl').pluralize%>">
    <li>
      <%= 'Related URL'.pluralize(@draft.draft['RelatedUrl'].count)%>
      <% @draft.draft['RelatedUrl'].each_with_index do |related_url, index| %>
        <%= render :partial=>'drafts/previews/types/related_url_type', :locals=>{related_url: related_url, index: index} %>
      <% end %>
    </li>
  </ul>
<% end %>

<!-- Distribution -->
<% if !@draft.draft['Distribution'].blank? %>
  <ul class="<%= name_to_class('Distribution').pluralize%>">
    <li>
      <%= 'Distribution'.pluralize(@draft.draft['Distribution'].count)%>
      <% @draft.draft['Distribution'].each_with_index do |distribution, index| %>
        <%= render :partial=>'drafts/previews/types/distribution_type', :locals=>{distribution: distribution, index: index} %>
      <% end %>
    </li>
  </ul>
<% end %>
<hr>
