<h4>Temporal Extent Fields:</h4>

<!-- Temporal Extent [r] -->
<% if !@draft.draft['TemporalExtent'].blank? %>
  <ul class="<%= name_to_class('TemporalExtent')%>">
    <li>
      <h4><%= 'Temporal Extent'.pluralize(@draft.draft['TemporalExtent'].count)%></h4>
      <% @draft.draft['TemporalExtent'].each_with_index do |temporal_extent, index| %>
        <%= render :partial=>'drafts/previews/types/temporal_extent_type', :locals=>{temporal_extent: temporal_extent, index: index} %>
      <% end %>
    </li>
  </ul>
<% end %>

<!-- Temporal Keywords -->
<% if !@draft.draft['TemporalKeyword'].blank? %>
  <%= render :partial=>'drafts/previews/fields/display_array_with_header', :locals=>{:key_name=>'TemporalKeyword', :hash_for_key=>@draft.draft} %>
<% end %>

<!-- Paleo Temporal Coverage -->
<% if !@draft.draft['PaleoTemporalCoverage'].blank? %>
  <%= render :partial=>'drafts/previews/types/paleo_temporal_coverage_type', :locals=>{paleo_temporal_coverage: @draft.draft['PaleoTemporalCoverage'], title:'Paleo Temporal Coverage'} %>
<% end %>

<hr>
