
<% if @is_update %>
  <h1 class="styled-heading"><%= "#{@short_name}_#{@version} Updated" %></h1>
<% else %>
  <h1 class="styled-heading"><%= "#{@short_name}_#{@version} Published" %></h1>
<% end %>

<div class="email-message">
  <p>
    <%= @user[:name] %>,
  </p>
<% env = Rails.configuration.cmr_env.upcase %>
<% if env != 'OPS'%>
  <p>
    <%= "Your collection metadata record #{@short_name}_#{@version} has been successfully #{ @is_update ? 'updated' : "published to the CMR (#{env})"}. Your collection's concept ID is #{@concept_id}." %>
  </p>
<% else %>
  <p>
    <%= "Your collection metadata record #{@short_name}_#{@version} has been successfully #{ @is_update ? 'updated' : 'published to the CMR'}. Your collection's concept ID is #{@concept_id}." %>
  </p>
<% end %>
  <div class="center">
    <%= link_to 'View Collection', collection_url(@concept_id, revision_id: @revision_id), class: 'btn btn-blue' %>
  </div>
</div>

<div class="email-footer">
  <img src="https://cdn.earthdata.nasa.gov/eui/latest/docs/assets/ed-logos/meatball.png" alt="Meatball" class="image-center" />
</div>
