<% content_for :header_title do %>
  <h2><%= fetch_entry_id(get_resource, @published_resource_name) %></h2>
  <p class="subtitle"><%= display_header_subtitle(get_resource, @published_resource_name) %></p>
<% end %>

<%= render partial: 'base_published_record/direct_access_without_permissions' %>
<%= render partial: 'base_published_record/unsupported_version' %>
<%= render partial: 'base_published_record/unconfirmed_version' %>

<% if @user_permissions != 'none' && !@unconfirmed_version %>
  <%= render partial: 'base_published_record/old_revision' %>
  <%= render partial: 'base_published_record/existing_draft' %>

  <div class="grid_row row-content">
    <section class="action">
      <p>
        <%= render partial: 'base_published_record/edit_link' %>
        <%= render partial: 'base_published_record/clone_link' %>

        <%= link_to 'Download JSON', send("download_json_#{@published_resource_name}_path", @concept_id, revision_id: @revision_id), class: 'eui-btn--link', target: '_blank' %>

        <%= render partial: 'base_published_record/delete_link' %>
        <%= render partial: 'base_published_record/manage_collection_associations' if ['variable', 'service'].include? @published_resource_name %>

        <%= render partial: 'base_published_record/delete_modal' %>
        <%= render partial: 'shared/not_current_provider_modal', locals: {
          options: {
            @published_resource_name.to_sym => get_resource,
            concept_id: @concept_id,
            revision_id: @revision_id,
            draft: @draft,
            draft_id: @draft.try(:id)
          }
        } %>
      </p>
      <p>
        <%= link_to "Revisions (#{@revisions.size})", send("#{@published_resource_name}_revisions_path"), class: 'eui-btn--link' %>
      </p>
    </section>

    <div class="grid_row content">
      <%= render partial: 'shared/schema_preview', locals: { with_sidebar: true } %>

      <aside class="umm-preview-sidebar">
        <% @preview.sidebars.each do |sidebar| %>
          <%= sidebar.render_sidebar %>
        <% end %>
      </aside>
    </div>
  </div>
<% end %>
