<div class="grid-row row-content">
  <section>
    <h2>Provider Object Permissions for <%= current_user.provider_id %></h2>

    <p>Click on a Group to access the provider object permissions for that group.</p>

    <% if @groups.any? %>
      <%= page_entries_info @groups, entry_name: 'Group' %>
    <% end %>

    <table class="provider-permissions-group-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Provider</th>
          <th>Members</th>
        </tr>
      </thead>

      <tbody>
        <% if @groups.blank? %>
          <tr>
            <td colspan="4">
              There are no Provider Groups available at this time or you do not have the right permissions.
            </td>
          </tr>
        <% else %>
          <% @groups.each do |group| %>
            <tr>
              <td>
                <%= link_to group['name'], edit_provider_identity_permission_path(group['group_id'], redirect_to: request.fullpath) %>
                <% if check_if_system_group?(group, group['group_id']) %>
                  <span class="eui-badge--sm">SYS</span>
                <% end %>
              </td>
              <td><%= group['description'] %></td>
              <td><%= group_provider(group) %></td>
              <td><%= group['member_count'] %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <%= paginate @groups %>
  </section>
</div>
