<%= hidden_field_tag 'commit' %>
<%= hidden_field_tag 'form', @current_form %>

<% if resource_name != 'tool_draft' or not Rails.configuration.react_forms_enabled %>
  <%= render partial: 'drafts/forms/form_navigation', locals: {
    location: 'top',
    draft: resource,
    draft_form: json_form.get_form(current_form),
    draft_forms: json_form.forms } %>

  <div id="umm-form-errors" class="eui-banner--danger space-top is-hidden">
    <h4><i class="fa fa-exclamation-triangle"></i> This draft has the following errors:</h4>
    <ul class="no-bullet">
    </ul>
  </div>

  <div class="grid_row">
    <div class="grid-col-6">
      <p class="eui-required-o">Indicates required field</p>
    </div>

    <!-- TODO This shouldn't show on forms without multiple top level accordions? -->
    <% if json_form.get_form(current_form).expandable? %>
      <div class="grid-col-6">
        <p class="align-r">
          <a href="#" class="expand-accordions">Expand All</a>
          <a href="#" class="is-invisible collapse-accordions">Collapse All</a>
        </p>
      </div>
    <% end %>
  </div>

  <%= json_form.get_form(current_form).render_markup %>

  <br/>

  <%= render partial: 'drafts/forms/form_navigation', locals: {
    location: 'bottom',
    draft: resource,
    draft_form: json_form.get_form(current_form),
    draft_forms: json_form.forms } %>

  <%= render partial: 'shared/help_modal' %>
  <%= render partial: 'drafts/shared/invalid_modal' %>

<% end %>
