<main class="internal">
  <%= form_for(@draft) do |f| %>

    <section class="content-header">
      <div class="content">
        <div class="breadcrumb">
          <ol>
            <li><%= link_to 'Manage Metadata Dashboard', dashboard_path %></li>
            <li><%= link_to (@draft.title.blank? ? nil : @draft.title) || '<Untitled Collection Record>', draft_path(@draft) %></li>
            <li><%= @draft_form.titleize %></li>
          </ol>
        </div>
        <h2><%= @draft_form.titleize %></h2>
      </div>
    </section>

    <% if @draft.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@draft.errors.count, 'error') %>) prohibit this draft from being saved:</h2>
        <ul>
          <% @draft.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <section>

      <input type="hidden" name='new_form_name' id="new_form_name" />

      <%= render :partial => 'form_navigation', :locals=>{:location=>'top'} %>

      <div class="row">
        <div class="col-12">
          <p class="icon-required">Indicates required field</p>
        </div>
      </div>

      <%= render @draft_form, object: @draft, as: 'draft' %>

      </br>

      <%= render :partial => 'form_navigation', :locals=>{:location=>'bottom'} %>

    </section>
  <% end %>>
</main>


<script type="text/javascript" charset="utf-8">

  function go_to_form(location) {

    calling_selector = (location == 'top') ? "#next-section-top" : "#next-section-bottom"
    $("#new_form_name").val($(calling_selector).val());

    // Handle any JS validation and related issues for @content_partial_name
    //   Call page specific JS validations & handle findings
    // If ready, go to server to take next appropriate action
    document.forms["edit_draft_<%= @draft_id %>"].submit();
  }

</script>

