<% content_for :header_title do %>
  <h2><%= titleize_form_name(@current_form) %></h2>
<% end %>

<div class="row row-content">
  <section>
    <%= form_tag(send("#{resource_name}_path", get_resource), method: :put, id: 'umm_form', class: 'umm-form', novalidate: 'novalidate') do %>
      <%= render partial: 'form', locals: { resource: get_resource, json_form: @json_form, current_form: @current_form } %>
    <% end %>
  </section>
</div>

<%= render partial: 'drafts/shared/javascript' %>

<script>
  var urlContentTypeMap = <%= raw DraftsHelper::URLContentTypeMap.to_json %>;
</script>
