<main class="internal">
  <%= form_tag(draft_path(@draft), method: 'put', class: 'metadata-form', enforce_utf8: false) do %>

    <section class="content-header">
      <div class="content">
        <div class="breadcrumb">
          <ol>
            <li><%= link_to 'Manage Metadata Dashboard', dashboard_path %></li>
            <li><%= link_to @draft.title, draft_path(@draft) %></li>
            <li><%= @draft_form.titleize %></li>
          </ol>
        </div>
        <h2><%= @draft_form.titleize %></h2>
      </div>
    </section>

    <% if @draft.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@draft.errors.count, 'error') %>) prohibit this draft from being saved:</h2>
        <ul>
          <% @draft.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <section>

      <input type="hidden" name='new_form_name' id="new_form_name" />

      <%= render :partial => 'drafts/forms/form_navigation', :locals => { :location => 'top' } %>

      <div class="row">
        <div class="col-12">
          <p class="icon-required">Indicates required field</p>
        </div>
      </div>

      <%= render :partial => "drafts/forms/#{@draft_form}", :locals => { :draft => @draft } %>

      </br>

      <%= render :partial => 'drafts/forms/form_navigation', :locals => { :location => 'bottom' } %>

    </section>
  <% end %>
</main>
