<% content_for :header_title do %>
  <h2><%= titleize_form_name(@current_form) %></h2>
<% end %>

<div class="row row-content">
  <section>
    <%= form_tag(send("#{resource_name}_path", get_resource), method: :put, id: 'umm_form', class: 'umm-form', novalidate: 'novalidate') do %>
      <%= render partial: 'form', locals: { resource: get_resource, json_form: @json_form, current_form: @current_form } %>
    <% end %>
  </section>
</div>

<%= render partial: 'drafts/shared/javascript' %>

<script>
  <% if @current_form == 'service_keywords' %>
    // Setup Service Keywords
    setupServiceKeywords(<%= raw @service_keywords.to_json %>, { field_prefix: '<%= resource_name %>/draft' });
  <% elsif ['science_keywords', 'science_and_ancillary_keywords'].include? @current_form %>
    // Setup Science Keywords
    setupScienceKeywords(<%= raw @science_keywords.to_json %>, { field_prefix: '<%= resource_name %>/draft' });
  <% end %>
  var urlContentTypeMap = <%= raw DraftsHelper::URLContentTypeMap.to_json %>;
</script>
