<main class="internal">
  <%= render 'form_header' %>

  <section>
    <form action="" class="metadata-form">

      <%= render 'form_navigation' %>

      <%= render 'form_required_field_notice' %>

      <%= render @content_partial_name %>

      <%= render 'form_navigation' %>

    </form>
  </section>
</main>
