<div class="row row-content">
  <section>
    <h2><%= current_user.provider_id %> Drafts</h2>

    <% if @drafts.any? %>
      <p><%= page_entries_info @drafts, entry_name: 'Draft' %></p>
    <% end %>

    <table id="open_drafts">
      <thead>
        <tr>
          <th>Short Name</th>
          <th>Entry Title</th>
          <th>Last Modified</th>
        </tr>
      </thead>
      <tbody>

      <% if @drafts.blank? %>
        <tr>
          <td colspan="4">
            No <%= current_user.provider_id %> Drafts found
          </td>
        </tr>
      <% else %>
        <% @drafts.each do |draft| %>
          <tr class='<%= cycle("alt", "") %>'>
            <td>
              <%= link_to draft.display_short_name, draft_path(draft) %>
            </td>
            <td>
              <%= draft.display_entry_title %>
            </td>
            <td>
              <%= draft.updated_at.strftime("%Y-%m-%d") %>
            </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>

    <%= paginate @drafts %>
  </section>
</div>
