<div class="grid-row row-content">
  <section>
    <h2><%= current_user.provider_id %> <%= plural_resource_name.titleize %></h2>

    <%= link_to "Create a #{resource_name.titleize}", send("new_#{resource_name}_path"), class: 'eui-btn--blue space-bot' %>

    <% if get_resources.any? %>
      <p><%= page_entries_info get_resources, entry_name: resource_name.titleize %></p>
    <% end %>

    <table id="open_drafts">
      <thead>
        <tr>
          <th><%= short_name_header(resource_name) %></th>
          <th><%= entry_title_header(resource_name) %></th>
          <th>Last Modified</th>
          <th>Download JSON</th>
        </tr>
      </thead>
      <tbody>

      <% if get_resources.blank? %>
        <tr>
          <td colspan="4">
            No <%= current_user.provider_id %> Drafts found
          </td>
        </tr>
      <% else %>
        <% get_resources.each do |draft| %>
          <tr class='<%= cycle("alt", "") %>'>
            <td>
              <%= link_to draft.display_short_name, send("#{resource_name}_path", draft) %>
            </td>
            <td>
              <%= draft.display_entry_title %>
            </td>
            <td>
              <%= draft.updated_at.to_fs(:date) %>
            </td>
            <td class="download_json_link">
            <%= link_to "Download JSON", "/#{resource_name}s/#{draft.id}.json", download: "#{draft.display_short_name}-#{draft.id}.json", id: 'download_link', class: 'eui-btn--link'%>
              <span id="hidden-downloading-msg" style="color: rgb(31,107,162); display: none">Downloading...</span>
              <span id="spinner-animation" class="fa fa-circle-o-notch fa-spin" style="display: none"></span>
            </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>

    <%= paginate get_resources %>
  </section>
</div>
