<div class="row row-content">
  <section>
    <h2><%= current_user.provider_id %> <%= params[:draft_type].titleize.pluralize %></h2>

    <%= link_to "Create a #{resource_name.titleize}", send("new_#{resource_name}_path"), class: 'eui-btn--blue space-bot' %>

    <% if get_resources.any? %>
      <p><%= page_entries_info get_resources, entry_name: resource_name.titleize %></p>
    <% end %>

    <table id="open_drafts">
      <thead>
        <tr>
          <th>Short Name</th>
          <th>Entry Title</th>
          <th>Last Modified</th>
        </tr>
      </thead>
      <tbody>

      <% if get_resources.blank? %>
        <tr>
          <td colspan="4">
            No <%= current_user.provider_id %> Drafts found
          </td>
        </tr>
      <% else %>
        <% get_resources.each do |draft| %>
          <tr class='<%= cycle("alt", "") %>'>
            <td>
              <%= draft.display_short_name %>
            </td>
            <td>
              <%= draft.display_entry_title %>
            </td>
            <td>
              <%= draft.updated_at.strftime("%Y-%m-%d") %>
            </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>

    <%= paginate get_resources %>
  </section>
</div>
