<% content_for :header_title do %>
  <h2><%= titleize_form_name(@current_form) %></h2>
<% end %>

<div class="grid-row row-content">
  <% if Rails.configuration.react_forms_enabled %>
    <section id="react-editor-form" class="metadata">
      <% if (resource_name == 'tool_draft') %>
        <%= react_component("editor/UmmToolsForm", {heading: "Create Tool Record", token: @react_token, user: @react_user, provider: @react_provider}) %>
      <% end %>
      <% if (resource_name == 'variable_draft') %>
        <%= react_component("editor/UmmVarForm", {heading: "Create Variable Record", token: @react_token, user: @react_user, provider: @react_provider}) %>
      <% end %>
      <% if (resource_name == 'service_draft') %>
        <%= react_component("editor/UmmServicesForm", {heading: "Create Service Record", token: @react_token, user: @react_user, provider: @react_provider}) %>
      <% end %>
    </section>
  <% else %>
    <section>
      <%= form_tag(send("#{plural_resource_name}_path", associated_collection_id: @associated_collection_id), method: :post, id: 'umm_form', class: "umm-form #{published_resource_name}-form", novalidate: 'novalidate') do %>
        <%= render partial: 'form', locals: { resource: get_resource, json_form: @json_form, current_form: @current_form } %>
      <% end %>
    </section>
    <%= render partial: 'drafts/shared/javascript', locals: { current_form: @current_form } %>
<% end %>
</div>

