<main class="internal record" role="main">
  <header>
    <div class="content">
      <div class="breadcrumb">
        <ol>
          <li><%= link_to 'Dashboard', dashboard_path %></li>
          <li><%= link_to 'Drafts', drafts_path %></li>
          <li><%= display_entry_id(@draft.draft, 'draft') %></li>
        </ol>
      </div>
      <h2><%= display_entry_id(@draft.draft, 'draft') %></h2>
      <p class="subtitle"><%= @draft.display_entry_title %></p>
      <p class="subnav current">Draft Record</p>
    </div>
  </header>

  <%= render 'shared/flash_messages' %>

  <div class="row row-content">
    <section class="action">
      <div class="cta">
        <% if @draft.new_record? || (@errors && @errors.size > 0) %>
          <%= link_to 'Publish Draft', '#invalid-draft-modal', class: 'btn btn-blue display-modal' %>
          <div id="invalid-draft-modal" class="modal-content">
            <p>This draft is not ready to be published. Please use the progress indicators on the draft preview page to address incomplete or invalid fields.</p>
            <p>
              <a href="javascript:void(0)" class="btn btn-default modal-close">Ok</a>
            </p>
          </div>
        <% else %>
          <%= link_to 'Publish Draft', draft_publish_path(@draft), method: :post, class: 'btn btn-blue spinner' %>
        <% end %>
        <%= link_to 'Delete Draft', "#delete-draft-modal", class: 'display-modal' %>
        <div id="delete-draft-modal" class="modal-content">
          <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-hidden">Close</span></a>
          <p>Are you sure you want to delete this draft?</p>
          <p>
            <a href="javascript:void(0)" class="btn btn-default modal-close">No</a>
            <%= link_to 'Yes', "/drafts/#{@draft.id}", method: :delete, class: 'btn btn-blue spinner' %>
          </p>
        </div>
      </div>
      <div class="quality-score disabled">
        <div class="badges">
          <i class="fa fa-star fa-lg"></i>
          <i class="fa fa-star fa-lg"></i>
          <i class="fa fa-star fa-lg"></i>
          <i class="fa fa-star fa-lg"></i>
          <i class="fa fa-star-o fa-lg"></i>
        </div>
        <div class="score-info">
          <p>Quality Score: <strong>20</strong></p>
          <p>Required fields not complete</p>
        </div>
      </div>

    </section>

    <% if @ingest_errors && !@ingest_errors.empty? %>
      <section class="errors">
        <div class="banner banner-danger">
          <i class="fa fa-exclamation-triangle"></i> This draft has the following errors:
          <ul class="no-bullet">
            <% @ingest_errors.each do |error| %>
              <li>
                <% if error[:field] && error[:page] %>
                  <%= link_to name_to_title(error[:field]), draft_edit_form_path(@draft, error[:page]) %>
                <% else %>
                  <%= "#{error[:field]}," if error[:field] %>
                <% end %>
                <%= error[:error] %>
                <% if error[:request_id] %>
                  <a href="javascript:feedback.showForm({details: '\nFill in details above this line. Please try to be as specific as possible.\n--------------------\n\nRequest ID: <%= error[:request_id] %>'});">Click here to submit feedback</a>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </section>
    <% end %>

    <%= render partial: 'drafts/progress/preview_progress', locals: { draft: @draft, metadata_errors: @errors || @ingest_errors } %>

    <%= render partial: 'shared/preview/metadata_preview', locals: { metadata: @draft.draft } %>

  </div>
</main>
