<% content_for :header_title do %>
  <h2><%= fetch_entry_id(get_resource.draft, resource_name) %></h2>
  <p class="subtitle"><%= display_header_subtitle(get_resource.draft, resource_name) %></p>
<% end %>

<% if !current_provider?(get_resource.provider_id) %>
  <div class="eui-banner--warn">
    <p class="eui-banner__message">
      <%= link_to("You need to change your current provider to #{@not_authorized_request['action']} this #{resource_name.titleize}. Click here to change your provider.",
                  "#", id: "change-current-provider-banner-link",
                  data: { "provider": get_resource.provider_id, action_link: "change-provider-#{@not_authorized_request['action']}-draft" }) %>
    </p>
    <%= link_to 'Show Draft', send("#{resource_name}_path", get_resource),
                class: 'is-invisible', id: 'change-provider-show-draft' %>
    <%= link_to 'Edit Draft', send("edit_#{resource_name}_path", get_resource, form: @not_authorized_request['form']),
                class: 'is-invisible', id: 'change-provider-edit-draft' %>
  </div>
  <div class="no-access">
    <h3 class="access-title">Not Current Provider</h3>
    <p class="access-message">
      It appears you need to change your current provider to access to this content.<br/>
      Please check the message above to access this content.
    </p>
  </div>
<% elsif @unsupported_version %>
  <%= render partial: 'drafts/shared/unsupported_version' %>
<% elsif @unconfirmed_version %>
  <%= render partial: 'drafts/shared/unconfirmed_version' %>
<% else %>
  <div class="grid-row row-content">
    <section class="action">
      <% if @json_form.invalid_keys(ignore_required_fields: false).any? || (resource_name == 'variable_draft' && get_resource.collection_concept_id.blank?) %>
        <%= link_to I18n.t("helpers.#{resource_name}.publish", model: resource_name.titleize), '#invalid-draft-modal', class: 'eui-btn--blue display-modal' %>
        <div id="invalid-draft-modal" class="eui-modal-content">
          <p>This <%= published_resource_name %> draft is not ready to be published. Please use the progress indicators
            on the draft preview page to address incomplete or invalid fields.</p>
          <p>
            <a href="javascript:void(0)" class="eui-btn modal-close">Ok</a>
          </p>
        </div>
      <% else %>
        <%= link_to I18n.t("helpers.#{resource_name}.publish", model: resource_name.titleize), send("#{plural_published_resource_name}_path", id: get_resource), method: :post, class: 'eui-btn--blue spinner' %>
      <% end %>

      <%= link_to I18n.t("helpers.#{resource_name}.delete", model: resource_name.titleize), "#delete-draft-modal", class: 'display-modal' %>
      <div id="delete-draft-modal" class="eui-modal-content">
        <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
        <p>Are you sure you want to delete this <%= resource_name.titleize %>?</p>
        <p>
          <a href="javascript:void(0)" class="eui-btn modal-close">No</a>
          <%= link_to 'Yes', send("#{resource_name}_path", get_resource), method: :delete, class: 'eui-btn--blue spinner' %>
        </p>
      </div>
    </section>

    <% if @ingest_errors && !@ingest_errors.empty? %>
      <section class="errors">
        <div class="eui-banner--danger">
          <div class="eui-banner__message">
            <h4><i class="fa fa-exclamation-triangle"></i> This draft has the following errors:</h4>
            <ul class="no-bullet">
              <% @ingest_errors.each do |error| %>
                <li>
                  <% if error[:field] && error[:page] %>
                    <%= link_to name_to_title(error[:field].to_s), send("edit_#{published_resource_name}_draft_path", id: get_resource, form: error[:page]) %>
                  <% else %>
                    <%= "#{error[:field]}," if error[:field] %>
                  <% end %>
                  <%= error[:error] %>
                  <% if error[:request_id] %>
                    <a href="javascript:feedback.showForm({details: '\nFill in details above this line. Please try to be as specific as possible.\n--------------------\n\nRequest ID: <%= error[:request_id] %>'});">Click
                      here to submit feedback</a>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </section>
    <% end %>
    <% if resource_name == 'tool_draft' and Rails.configuration.react_forms_enabled %>
      <section id="react-editor-form" class="metadata">
        <%= react_component("editor/UmmToolsForm", {token: @react_token, user: @react_user, provider: @react_provider}) %>
      </section>
    <% else %>
        <% if resource_name == 'variable_draft' %>
          <%= render partial: 'drafts/shared/collection_association_progress_panel' %>
        <% end %>
        <%= render partial: 'drafts/shared/form_progress_panel', locals: { schema: @schema, json_form: @json_form, resource: get_resource } %>
    <% end %>
      <div class="grid-row content">
        <% if @preview.sidebars.blank? %>
          <!-- No sidebar -->
          <section class="umm-preview">
            <% @preview.forms.each do |form| %>
              <%= form.render %>
            <% end %>
          </section>
        <% else %>
          <!-- With sidebar -->
          <section class="preview">
            <% @preview.forms.each do |form| %>
              <%= form.render %>
            <% end %>
          </section>

          <aside class="umm-preview-sidebar">
            <% @preview.sidebars.each do |sidebar| %>
              <%= sidebar.render_sidebar %>
            <% end %>
          </aside>
        <% end %>
    </div>
  </div>
<% end %>
