<main class="dashboard" role="main">
  <article id="metadata" class="row-content flex-row--start" role="article">
    <section class="eui-callout-box col-left">
      <h3 class="eui-callout-box__title green">Create Variable Record</h3>
      <div class="eui-callout-box__list">
        <div class="question-group">
          <%= form_tag(new_variable_draft_path, method: :get, id: 'new-draft-form') do %>
            <%= submit_tag('Create New Record', class: 'eui-btn--blue submit') %>
            <p>(Optional) Enter the Concept ID of the collection to associate this variable:</p>
            <%= text_field_tag('associated_collection_id', nil, placeholder: 'Concept ID', class: 'full-width', title: 'Associated Concept ID Search') %>
          <% end %>
        </div>
        <div class="question-group">
          <div class="grid-row">
            <p><strong>OR</strong> use the <a id="search-focus" href="#">search</a> in the top right corner to find published variables to clone or edit.</p>
          </div>
        </div>
        <div class="question-group">
          <div class="grid-row">
            <p>A Collection Association must be selected in order to publish Variable Drafts.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="eui-callout-box col-left">
      <div class="open-drafts">
        <h3 class="eui-callout-box__title green"><%= current_user.provider_id %> Variable Drafts</h3>
        <div class="eui-callout-box__list">
          <ul>
            <% unless @drafts.any? %>
              <%= current_user.provider_id %> has no drafts to display.
            <% end %>
            <% @drafts[0..@draft_display_max_count-1].each do |draft| %>
              <li>
                <p class="drafts">
                  <%= time_tag draft.updated_at, draft.updated_at.to_fs(:date) %> |
                  <%= link_to draft.display_short_name, variable_draft_path(draft), title: draft.display_short_name %>
                  <br>
                  <%= content_tag(:span, draft.display_entry_title, title: draft.display_entry_title) %>
                </p>
              </li>
            <% end %>
            <% if @drafts.size > @draft_display_max_count %>
              <li>
                <%= link_to 'More', variable_drafts_path %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </section>

    <% if Rails.configuration.uvg_enabled %>
      <section class="eui-callout-box col-left">
        <h3 class="eui-callout-box__title green">UMM Variable Generation</h3>
        <div class="eui-callout-box__list bulk-update-callout">
          <div class="question-group">
            <div class="grid-row">
              <%= link_to 'Initiate Variable Generation', new_variable_generation_processes_search_path, class: 'eui-btn--blue space-top' %>
            </div>
          </div>
        </div>
      </section>
    <% end %>
  </article>
</main>
