<main class="internal" role="main">
  <header>
    <div class="content">
      <div class="eui-breadcrumbs">
        <ol class="eui-breadcrumbs__list">
          <li class="eui-breadcrumbs__item"><%= link_to 'Manage CMR', manage_cmr_path %></li>
          <li class="eui-breadcrumbs__item"><%= link_to 'Order Option Assignments', order_option_assignments_path %></li>
        </ol>
      </div>
    </div>
  </header>

  <%= render 'shared/flash_messages' %>

  <div class="row row-content">
    <section>
      <h2>Option Assignments</h2>

      <div id="edit-order-option-assignments-page">

        <%= form_tag(order_option_assignments_path, method: :delete, id: 'edit-order-option-assignments-form') %>

        <%= check_box_tag 'show-no-assigned-options', id: 'show-no-assigned-options'%>
        <%= label_tag 'show-no-assigned-options', 'Include selected collections with no assigned options?' %>

        <fieldset>
          <table id="collections-table">
            <thead>
              <tr>
                <th class="align-c">
                  <input type="checkbox" name="checkall" class="checkall" data-group="order_option_assignment[]" />
                </th>
                <th>
                  Collection
                </th>
                <th>
                  Short Name
                </th>
                <th>
                  Version ID
                </th>
                <th>
                  Option Definition Name
                </th>
              </tr>
            </thead>

            <tbody>
              <%if @all_empty_assignments %>
                <tr id="no-assignments-msg" >
                  <td colspan="7">
                    No assignments found for the selected collections
                  </td>
                </tr>
                <% end %>
              <% @collections_to_list.each do |collection| %>
                  <tr <%= collection['option-def'].nil? ? 'class=hidden-row' : '' %>>
                    <td class="align-c">
                      <% unless collection['option-def'].nil? %>
                          <%= check_box_tag('order_option_assignment[]', collection['option-assignment-guid'], false) %>
                      <% end %>
                    </td>
                    <td>
                      <%=collection['umm']['entry-title']%>
                    </td>
                    <td>
                      <%=collection['umm']['short-name']%>
                    </td>
                    <td>
                      <%=collection['umm']['version-id']%>
                    </td>
                    <td>
                      <%=collection.fetch('option-def',{}).fetch('Name','') %>
                    </td>
                  </tr>
              <%end %>
            </tbody>
          </table>
        </fieldset>

        <fieldset>

          <%= submit_tag 'Delete Selected Assignments', class: 'eui-btn--red', id: 'pre-delete-options-modal' %>

          <%= link_to '', '#delete-options-modal', id: 'delete-options-modal-invoker',  class: 'display-modal', stye: 'display: none' %>

          <div id='delete-options-modal' class="eui-modal-content">
            <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
            <p>Are you sure you want to delete the option assignments for the selected collections?</p>
            <p>
              <a href="javascript:void(0)" class="eui-btn modal-close">No</a>
              <%= submit_tag 'Yes', id: 'submit-delete-options', class: 'eui-btn--blue spinner'%>
            </p>
          </div>



        </fieldset>

      </div>

    </section>
  </div>
</main>
