<div class="grid-row row-content">
  <section>
    <h2>New <%= current_user.provider_id %> Order Option Assignments</h2>

    <%= form_tag(order_option_assignments_path, method: :post, id: 'new-order-option-assignment-form') do %>
      <%= render partial: 'form' %>

      <fieldset>
        <%= submit_tag('Submit', class: 'eui-btn--blue') %>
        <%= link_to 'Cancel', :back, class: 'eui-btn' %>
      </fieldset>
    <% end %>
  </section>
</div>
