<main class="internal" role="main">
  <header>
    <div class="content">
      <div class="eui-breadcrumbs">
        <ol class="eui-breadcrumbs__list">
          <li class="eui-breadcrumbs__item"><%= link_to 'Manage CMR', manage_cmr_path %></li>
          <li class="eui-breadcrumbs__item"><%= link_to 'Order Option Assignments', order_option_assignments_path %></li>
        </ol>
      </div>
    </div>
  </header>

  <%= render 'shared/flash_messages' %>

  <div class="row row-content">
    <section>
      <h2>New Option Assignment</h2>

      <%= form_tag(order_option_assignments_path, method: :post, id: 'new-order-option-assignment-form') %>


      Select one or more collections.

      <table>
        <tr>
          <th>
            <%= check_box_tag 'order-option-all-checkbox[]' %>
          </th>
          <th>
            Collection
          </th>
          <th>
            Short Name
          </th>
          <th>
            Version ID
          </th>
        </tr>
        <%@collections.each do |collection| %>
            <tr>
              <td>
                <%= check_box_tag 'collection-checkbox[]', collection['umm']['entry-title'] %>
              </td>
              <td>
                <%=collection['umm']['entry-title']%>
              </td>
              <td>
                <%=collection['umm']['short-name']%>
              </td>
              <td>
                <%=collection['umm']['version-id']%>
              </td>
            </tr>
        <%end %>
      </table>

      <div class="row space-top"></div>

      <div class="row space-top">
        <div class="col-2">
          <%= label_tag 'order-options', 'Option Definition'  %>
        </div>
        <div class="col-4">
          <%= select_tag 'order-options', options_for_select(@order_option_select_values), id: 'order-options', class: 'half-width' %>
        </div>
      </div>


      <div class="row space-top">
        <div class="col-2">
          <%= label_tag 'filter-xpath', 'Filter XPath' %>
        </div>
        <div class="col-4">
          <%= text_field_tag 'filter-xpath' %>
        </div>
      </div>

      <div class="row space-top">
        <div class="col-4">
        <%= submit_tag 'Submit', class: 'eui-btn--green' %>
          <%= link_to 'Cancel', order_option_assignments_path %>
        </div>
      </div>

    </section>
  </div>
</main>
