<main class="internal" role="main">
  <header>
    <div class="content">
      <div class="eui-breadcrumbs">
        <ol class="eui-breadcrumbs__list">
          <li class="eui-breadcrumbs__item"><%= link_to 'Manage CMR', manage_cmr_path %></li>
          <li class="eui-breadcrumbs__item"><%= link_to 'Order Option Assignments', order_option_assignments_path %></li>
        </ol>
      </div>
    </div>
  </header>

  <%= render 'shared/flash_messages' %>

  <div class="row row-content">
    <section>
      <h2>Option Assignment</h2>


      <div class="row">
        <div class="col-2">
          <label>Collection:</label>
        </div>
        <div class="col-8">
          <%=params[:entry_title] %>
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          <label>Option Definition:</label>
        </div>
        <div class="col-8">
          <%=params[:option_def_name] %>
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          <label>Filter XPath:</label>
        </div>
        <div class="col-8">
          <%=params[:filter_xpath] %>
        </div>
      </div>

      <div class="row space-top">
        <%= link_to 'Cancel',  "javascript:history.back()", class: 'eui-btn' %>
      </div>

    </section>
  </div>
</main>
