<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"  lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"  lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"  lang="en"> <![endif]-->
<!--[if gt IE 8]><html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <title>Metadata Management Tool</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">

  <%= csrf_meta_tag %>

  <%= render partial: 'shared/assets' %>
</head>

<body>
  <a href="#main-content" class="skip-nav">Skip to main content</a>

  <div class="wrapper">
    <%= render 'shared/header' %>

    <div id="main-content">
      <main class="internal" role="main">
        <%= yield %>
      </main>
    </div>

    <div class="push">
      <!-- For pushing the footer to the bottom of a page with minimal content -->
    </div>
  </div>

  <%= render 'shared/footer' %>

  <%= javascript_include_tag "netinsight_2.3/ntpagetag" unless Rails.env.test? || Rails.env.development? %>
</body>
</html>
