<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Metadata Management Tool</title>
  <meta name="description" content="">
  <%= csrf_meta_tag %>

  <!-- Open Sans Font - Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
  <!-- Font Awesome: Use this link for development since icons do not show up properly on local dev -->
  <!-- TODO huh? fix this ^ -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- Font Awesome: Local file linked below for production -->
  <!--<link rel="stylesheet" href="/dist/stylesheets/font-awesome.min.css">-->
  <!--link rel="stylesheet" href="/dist/stylesheets/mmt.css"-->

  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= javascript_include_tag 'application' %>
  <script src="//cdn.rawgit.com/bugventure/jsen/v0.6.0/dist/jsen.js"></script>

</head>

<body class="<%= (controller.action_name == 'dashboard' ? "home" : "") %>">
  <div class="wrapper">

    <%= render 'shared/header' %>
    <%= yield %>

    <div class="push">
      <!-- For pushing the footer to the bottom of a page with minimal content -->
    </div>
  </div>

  <%= render 'shared/footer' %>

</body>
</html>
