<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Metadata Management Tool</title>
  <meta name="description" content="">
  <%= csrf_meta_tag %>

  <!-- EUI Production -->
  <link rel="stylesheet" href="<%= Rails.application.config.eui_css %>">
  <!-- Open Sans Font - Google Font -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">
  <!-- Font Awesome: Use this link for development since icons do not show up properly on local dev -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- Font Awesome: Local file linked below for production -->
  <!--<link rel="stylesheet" href="/dist/stylesheets/font-awesome.min.css">-->
  <!--link rel="stylesheet" href="/dist/stylesheets/mmt.css"-->

  <!-- Added as a stop gap in order to get jquery to work -->
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <script src="<%= Rails.application.config.eui_javascript %>"></script>

</head>

<body class="<%= (controller.action_name == 'dashboard' ? "home" : "") %>">

<%= render 'shared/header' %>
<%= yield %>

</body>
</html>
