<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"  lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"  lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"  lang="en"> <![endif]-->
<!--[if gt IE 8]><html class="no-js" lang="en"> <!--<![endif]-->
<html lang="en">
<head>
  <title>Metadata Management Tool</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= csrf_meta_tag %>

  <%= render partial: 'shared/assets' %>
  <%= render partial: 'shared/google_tag_manager_head' %>

</head>

<body class="application-layout <%= 'proposal-mode-body' if Rails.configuration.proposal_mode %>">
  <%= render partial: 'shared/google_tag_manager_body' %>

  <div class="th-wrapper">
    <header id="earthdata-tophat2" />
  </div>

  <a href="#main-content" class="skip-nav">Skip to main content</a>

  <div class="wrapper">
    <%= render partial: 'shared/header', locals: { hide_search: true } %>

    <div id="main-content">
      <main class="internal" role="main">
        <% if both_login_methods_off? %>
          <div class="eui-banner--danger">
            An error has occurred with our login system. Please contact <%= mail_to('support@earthdata.nasa.gov', 'Earthdata Support') %>.
          </div>
        <% end %>
        <%= render 'shared/flash_messages' %>

        <%= yield %>
      </main>
    </div>

    <div class="push">
      <!-- For pushing the footer to the bottom of a page with minimal content -->
    </div>
  </div>

  <%= render 'shared/footer' %>

  <% unless Rails.env.test? %>
    <script src="<%=Rails.configuration.tophat_url%>"
            id="earthdata-tophat-script"
            data-show-fbm="true"
            data-show-status="true"
            data-status-api-url="https://status.earthdata.nasa.gov/api/v1/notifications">
    </script>
  <% end %>

  <%= javascript_include_tag "netinsight_2.3/ntpagetag" unless Rails.env.test? || Rails.env.development? %>

  <%= render 'layouts/set_remaining_session_time' %>
</body>
</html>
