<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"  lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"  lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"  lang="en"> <![endif]-->
<!--[if gt IE 8]><html class="no-js" lang="en"> <!--<![endif]-->
<html lang="en">
<head>
  <title>Error | Metadata Management Tool</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= csrf_meta_tag %>

  <%= render partial: 'shared/assets' %>
</head>

<body class="error-page-body">
  <div class="th-wrapper">
    <header id="earthdata-tophat2" />
  </div>

  <div class="wrapper">
    <header class="mmt-header" role="eui-banner">
      <div class="content">
        <div class="col-6">
          <div class="eui-masthead-logo eui-application-logo" id="masthead-logo">
            <%= link_to root_path do %>
                <h1>Metadata Management Tool</h1>
            <% end %>
          </div>
        </div>
        <div class="col-6">

        </div>
      </div>
    </header>

    <noscript>
      <div id='javascript_warning' class="eui-banner--danger">
        <p class="eui-banner__message">
          <strong> JavaScript is disabled! </strong> JavaScript must be enabled for some features to work.
        </p>
      </div>
    </noscript>

    <div id="main-content">
      <main class="internal" role="main">
        <%= yield %>
      </main>
    </div>
  </div>

  <%= render 'shared/footer' %>

  <% unless Rails.env.test? %>
    <script src="<%=Rails.configuration.tophat_url%>"
            id="earthdata-tophat-script"
            data-show-fbm="true"
            data-show-status="true"
            data-status-api-url="https://status.earthdata.nasa.gov/api/v1/notifications">
    </script>
  <% end %>

  <%= javascript_include_tag "netinsight_2.3/ntpagetag" unless Rails.env.test? || Rails.env.development? %>

  <%= render 'layouts/set_remaining_session_time' %>
</body>
</html>
