<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"  lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"  lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"  lang="en"> <![endif]-->
<!--[if gt IE 8]><html class="no-js" lang="en"> <![endif]-->
<html lang="en">
<head>
  <title>Metadata Management Tool</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">

  <% unless Rails.env.test? %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  <% end %>

  <%= csrf_meta_tag %>

  <%= render partial: 'shared/assets' %>
  <%= render partial: 'shared/google_tag_manager_head' %>

  <script defer src="<%= Rails.configuration.metadata_preview_js_url %>"></script>
  <link href="<%= Rails.configuration.metadata_preview_css_url %>" rel="stylesheet" type="text/css">

  <script>
    function metadataPreview(conceptId, conceptType, element){
      const config = {
        conceptId,
        conceptType,
        conceptUrlTemplate: '/{conceptType}/{conceptId}',
        token: "<%= @preview_token %>",
        graphQlHost: 'http://localhost:6005/dev/api'
      }
      MetadataPreview.init(config, element)
    }
  </script>

</head>

<body class="dashboard <%= 'proposal-mode-body offset-background-image' if Rails.configuration.proposal_mode %>">

  <%= render partial: 'shared/google_tag_manager_body' %>
  <div class="th-wrapper">
    <header id="earthdata-tophat2"></header>
  </div>

  <a href="#main-content" class="skip-nav">Skip to main content</a>

  <div class="wrapper">
    <%= render partial: 'shared/header', locals: { hide_search: false } %>

    <div id="main-content">
      <main class="internal" role="main">
        <header>
          <div class="grid-row content">

            <div class="collection-basics">
              <%= render_breadcrumbs builder: ::EuiBreadcrumbsBuilder %>

              <%= yield :header_title %>

              <%= render 'layouts/manage_nav' %>
            </div>
          </div>
        </header>

        <%= render 'shared/flash_messages' %>

        <%= yield %>

      </main>
    </div>

    <div class="push">
      <!-- For pushing the footer to the bottom of a page with minimal content -->
    </div>
  </div>

  <%= render 'shared/footer' %>

  <% unless Rails.env.test? %>
    <script src="<%=Rails.configuration.tophat_url%>"
            id="earthdata-tophat-script"
            data-show-fbm="true"
            data-show-status="true"
            data-status-api-url="https://status.earthdata.nasa.gov/api/v1/notifications">
    </script>
  <% end %>

  <%= render 'layouts/set_remaining_session_time' %>
</body>
</html>
