<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"  lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"  lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"  lang="en"> <![endif]-->
<!--[if gt IE 8]><html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <title>Metadata Management Tool</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">

  <%= csrf_meta_tag %>

  <!-- Stylesheets -->
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Open+Sans:400,700', media: 'all' %>

  <!-- Javascripts -->
  <%= javascript_include_tag 'application' -%>

  <% if Rails.configuration.respond_to?(:analytics_id) -%>
    <!-- Google Analytics -->
    <%= render 'shared/google_analytics' %>
  <% end -%>

  <% if Rails.env.test? %>
  <!-- Prevent CSS animations in test -->
  <style type="text/css">
    * {
     transition-property: none !important;
     -o-transition-property: none !important;
     -moz-transition-property: none !important;
     -ms-transition-property: none !important;
     -webkit-transition-property: none !important;

     transform: none !important;
     -o-transform: none !important;
     -moz-transform: none !important;
     -ms-transform: none !important;
     -webkit-transform: none !important;

     animation: none !important;
     -o-animation: none !important;
     -moz-animation: none !important;
     -ms-animation: none !important;
     -webkit-animation: none !important;
    }
  </style>

  <!-- Prevent jQuery animations in tests -->
  <%= javascript_tag '$.fx.off = true;' if Rails.env.test? -%>
  <% end -%>
</head>

<body class="dashboard">
  <a href="#main-content" class="skip-nav">Skip to main content</a>
  
  <div class="wrapper">
    <%= render 'shared/header' %>

    <div id="main-content">
      <main class="internal" role="main">
        <header>
          <%= render_breadcrumbs builder: ::EuiBreadcrumbsBuilder %>

          <nav>
            <div class="content">
              <h2><%= link_to 'Manage Metadata', manage_metadata_path %></h2>
              <% if Rails.configuration.groups_enabled %>
              <h2 class="current"><%= link_to 'Manage CMR', manage_cmr_path %></h2>
              <% end %>
            </div>
          </nav>
        </header>

        <%= render 'pages/notifications' %>

        <%= render 'shared/flash_messages' %>

        <%= yield %>
      </main>
    </div>

    <div class="push">
      <!-- For pushing the footer to the bottom of a page with minimal content -->
    </div>
  </div>

  <%= render 'shared/footer' %>

  <%= javascript_include_tag "netinsight_2.3/ntpagetag" unless Rails.env.test? %>
</body>
</html>